{% if nivel %}
<table>
  {% include "layout/html_thead.html" with data=l_headers only %}
  {% include "layout/html_tbody.html" with fields=l_fields data=l_data only %}
</table>
<table>
  {% include "layout/html_thead.html" with data=o_headers only %}
  {% include "layout/html_tbody.html" with fields=o_fields data=o_data only %}
</table>
<table>
  {% include "layout/html_thead.html" with data=i_headers only %}
  {% include "layout/html_tbody.html" with fields=i_fields data=i_data only %}
</table>
{% endif %}
