<ul>
  <li><a href="{% url 'systextil' %}" target="_blank"><span class="stnavbar stlogo">Systêxtil<b>ERP</b></span></a></li>
  <br>
  <li><a href="{% url 'apoio_ao_erp' %}">Apoio ao ERP</a></li>
  <br>
  <li>Sessões</li>
  <ul>
    <li><a 
      {% if externo %}
        {%comment%}
        {%if alter_db%}
          href="http://systextil.tussor.com.br:8045/systextil/sessions"
        {% else %}
        {%endcomment%}
          href="http://tussor.systextil.com.br/systextil/sessions"
        {%comment endif%}{%endcomment%}
      {% else %}
        {%comment%}
        {%if alter_db%}
          href="http://systextil.tussor.com.br/systextil/sessions"
        {% else %}
        {%endcomment%}
          href="http://oc.tussor.com.br/systextil/sessions" 
        {%comment endif%}{%endcomment%}
      {% endif %}
      target="_blank">JSON</a>
    </li>
    <li><a href="{% url 'systextil:sessions' %}">Detalhado</a></li>
  </ul>
  {% if perms.systextil.can_be_dba %}
  <li>DBA</li>
  <ul>
    <li><a href="{% url 'systextil:demorada__get' 60 %}">Queries demoradas</a></li>
    <li><a href="{% url 'systextil:travadora' %}">Sessões travadoras</a></li>
    <li><a href="{% url 'systextil:info_sessao' %}">Informação sobre sessão</a></li>
  </ul>
  {% endif %}
  <li>Na internet</li>
  <ul>
    <li><a href="https://www.systextil.com.br/" target="_blank">Systêxtil</a></li>
    <ul>
      <li><a href="https://systextil.movidesk.com/" target="_blank">Área do cliente (Ticket)</a></li>
      <li>Base de conhecimento</li>
      <ul>
        <li><a href="https://devsystextil.atlassian.net/wiki/spaces/BCST/overview" target="_blank">Pesquise</a></li>
        <li><a href="https://devsystextil.atlassian.net/wiki/spaces/BCST/pages/6202151" target="_blank">Bugs corrigidos</a></li>
        <li><a href="https://devsystextil.atlassian.net/wiki/spaces/BCST/pages/296976389" target="_blank">Dúvidas e soluções</a></li>
      </ul>
    </ul>
    <li><a href="https://www.infraworld.com.br/" target="_blank">InfraWorld</a></li>
    <ul>
      <li><a href="https://suporte.infraworld.com.br/" target="_blank">Suporte</a></li>
    </ul>
  </ul>
</ul>
