{% extends 'systextil/index.html' %}
{% load static %}

{% block title.content %}{{ block.super }} &rsaquo; {{ titulo }}{% endblock title.content %}

{% block header.content %}{{ block.super }} &rsaquo; <a href="{% url 'systextil:sessions' %}">{{ titulo }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <h4>{{ dados|length }} sess{{ dados|length|pluralize:"ão,ões" }}</h4>
  <table>
    {% include "layout/html_thead.html" with data=headers only %}
    {% include "layout/html_tbody.html" with fields=fields data=dados only %}
  </table>
{% endblock %}
