{% extends 'systextil/index.html' %}

{% block title.content %}{{ block.super }} &rsaquo; {{ titulo }}{% endblock title.content %}

{% block header.content %}{{ block.super }} &rsaquo; <a href="{% url 'systextil:demorada' %}">{{ titulo }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'systextil:demorada' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
  </form>
  {% if request.POST %}
    {% if data %}
      <table>
        {% include "layout/thead_generic.html" with data=headers only %}
        {% include "layout/tbody_generic.html" with fields=fields data=data pre=pre only %}
      </table>
    {% else %}
      <h4>Nenhuma query demorada encontrada</h4>
    {% endif %}
  {% endif %}
{% endblock %}
