{% extends 'systextil/index.html' %}

{% block title.content %}{{ block.super }} &rsaquo; {{ titulo }}{% endblock title.content %}

{% block header.content %}{{ block.super }} &rsaquo; <a href="{% url 'systextil:locks' %}">{{ titulo }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}

    td:not(.sql)  {
      vertical-align: top;
      padding: 2em 0 0 0;
    }
  </style>
{% endblock %}

{% block content %}
  {% if data is not None %}
    <h4><i>Locks</i></h4>
    {% if data %}
      <table>
        {% include "layout/thead_generic.html" with data=headers only %}
        <tbody>
          {% for row in data %}
            <tr>
              <td>{{ row.username }}&nbsp;</td>
              <td>{{ row.sid }}&nbsp;</td>
              <td>{{ row.serial }}&nbsp;</td>
              <td>{{ row.mins }}</td>
              <td class="sql">
                <button onclick="javascript:showPre(0, {{forloop.counter}});">Original</button>
                <button onclick="javascript:showPre(1, {{forloop.counter}});">Formatar</button>
                <button onclick="javascript:showPre(2, {{forloop.counter}});">Alinhar</button>
                <pre id="pre0_{{forloop.counter}}" style="display: block">{{ row.sql_text }}</pre>
                <pre id="pre1_{{forloop.counter}}" style="display: none">{{ row.sql_text_parse }}</pre>
                <pre id="pre2_{{forloop.counter}}" style="display: none">{{ row.sql_text_fo2 }}</pre>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h4>Nenhum encontrado</h4>
    {% endif %}
  {% endif %}
{% endblock %}

{% block javascript %}
<script>

  function showPre(pre_num, for_num) {
    for (i=0; i<3; i++) {
      pre_id = 'pre'+i+'_'+for_num
      el = document.getElementById(pre_id)
      if (i == pre_num) {
        el.style.display = 'block';
      } else {
        el.style.display = 'none';
      }
    }
  }

</script>
{% endblock javascript %}
