<ul>
  <li>Regulamento interno</li>
  <ul>
    <li><a href="/media/dp/Regulamento_interno.pdf" target="_blank">
      Slides da apresentação  
    </a></li>
  </ul>
  <li>Procedimentos</li>
  <ul>
    <li><a href="{% url 'geral:pop' 'rh' %}">POPs do RH</a></li>
  </ul>
  <li><a href="{% url 'dp:gera_movi_premio' %}">Gera movimento prêmio</a></li>
</ul>
