{% extends 'estoque/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'estoque:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block content %}
<h3>Ajusta estoque de referência/cor/tamanho em depósito</h3>
{% if deposito %}
  <h4>Depósito: {{ deposito }}</h4>
{% endif %}
{% if ref %}
  <h4>Referência: {{ ref }}</h4>
{% endif %}
{% if cor %}
  <h4>Cor: {{ cor }}</h4>
{% endif %}
{% if tam %}
  <h4>Tamanho: {{ tam }}</h4>
{% endif %}
{% if mensagem %}
  <h4>{{ mensagem }}</h4>
{% endif %}
<a href="{% url 'estoque:edita_estoque__get' deposito ref %}">Volta para tela de estoque de referência em depósito</a>
{% endblock %}
