{% extends 'estoque/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'estoque:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block content %}
<h3>Edita estoque de referência/cor/tamanho em depósito</h3>
<p>
  {% if anterior %}
    <a href="{% url 'estoque:edita_estoque__get' deposito ref anterior.cor anterior.tam %}">Anterior {{ anterior.item }}</a>
    {% if qtd %}
      -
      <a href="{% url 'estoque:edita_estoque__get' deposito ref anterior.cor anterior.tam qtd %}">Qtd. {{ qtd }}</a>
    {% endif %}
  {% else %}
    Sem anterior
  {% endif %}
  ||
  {% if posterior %}
    <a href="{% url 'estoque:edita_estoque__get' deposito ref posterior.cor posterior.tam %}">Posterior {{posterior.item}}</a>
    {% if qtd %}
      -
      <a href="{% url 'estoque:edita_estoque__get' deposito ref posterior.cor posterior.tam qtd %}">Qtd. {{ qtd }}</a>
    {% endif %}
  {% else %}
    Sem posterior
  {% endif %}
</p>
<table>
  <tr>
    <td style="vertical-align: top;">
      {% if ref %}
        <h3>Item: 1.{{ ref }}.{{ tam }}.{{ cor }}</h3>
      {% endif %}
      {% if deposito %}
        <h3>Depósito: {{ deposito }}</h3>
      {% endif %}
      {% if estoque is not None %}
        <h4>Quantidade no estoque no Systêxtil: {{ estoque }}</h4>
      {% endif %}
      <form action="{% url 'estoque:edita_estoque__get' deposito ref cor tam %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Ajusta"/>
      </form>
    </td>
    <td>
      &nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td style="border-left: thin solid lightgrey; padding=10px">
      &nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td style="vertical-align: top;">
      {% if qtd is not None %}
        <h3>Quantidade inventariada: {{ qtd }}</h3>
      {% endif %}
      {% if data is not None %}
        <h3>Data do inventario: {{ data }}</h3>
        {% if hora is not None %}
          <h3>Hora do inventario: {{ hora }}</h3>
        {% endif %}
        {% if movimento %}
          <h3>Movimento total após inventário:{% if movimento > 0 %}
            Entrada de {{ movimento }} {% else %} Saída de {{ movimento_neg }} {% endif %} peças (exceto ajustes via Apoio)</h3>
        {% endif %}
      {% endif %}
      {% if mensagem %}
        <h3>{{ mensagem }}</h3>
      {% endif %}
      {% if trail %}
        <h3><a class="btn btn-primary" onclick="return confirma_gravar();" href="{% url 'estoque:edita_estoque__get' deposito ref cor tam qtd trail %}">Executa a transação</a></h3>
      {% endif %}
    </td>
  </tr>
</table>
<p></p>
{% if deposito and ref %}
  <a href="{% url 'estoque:mostra_estoque__get' deposito ref %}">Volta para tela de estoque de referência em depósito</a>
{% endif %}
{% endblock %}

{% block javascript %}
{% block javascript.pos %}
<script >

  function confirma_gravar() {
    opcao = prompt("Digite S para executar transação");
    if ( opcao == "" ) {
      return false;
    }
    var pos = "sS".indexOf( opcao );
    if ( pos > -1 ) {
      return true;
    }
    return false;
  }

</script>
{% endblock javascript.pos %}
{% endblock javascript %}
