<ul>
  <li><a href="{% url 'estoque:posicao_estoque' %}">Posição de estoque</a></li>
  <li><a href="{% url 'estoque:valor_mp' %}">Valor de MP</a></li>
  <li><a href="{% url 'estoque:referencia_deposito' %}">Em depósito</a></li>
  <li><a href="{% url 'estoque:estoque_na_data' %}">Estoque na data (PA/PB/PG)</a></li>
  <li><a href="{% url 'estoque:item_no_tempo' %}">Item no tempo</a></li>
  <li>Movimentações</li>
  <ul>
    <li><a href="{% url 'estoque:lista_docs_mov' %}">Lista documentos de movimentações</a></li>
    <li><a href="{% url 'estoque:lista_movs' %}">Lista movimentações</a></li>
    <li><a href="{% url 'estoque:transferencia' %}">Transferência entre depósitos</a></li>
  </ul>
  <li>Manutenções</li>
  <ul>
    <li><a href="{% url 'estoque:refs_com_movimento' %}">Referências com movimento</a></li>
    <li><a href="{% url 'estoque:confronta_estoque' %}">Confronta estoque e transações</a></li>
  </ul>
</ul>
