<ul>
  <li><a href="{% url 'estoque:posicao_estoque' %}">Posição de estoque</a></li>
  <li><a href="{% url 'estoque:estoque_na_data' %}">Estoque na data</a></li>
  <li><a href="{% url 'estoque:valor_mp' %}">Valor de MP</a></li>
  <li><a href="{% url 'estoque:refs_com_movimento' %}">Referências com movimento</a></li>
  <li><a href="{% url 'estoque:referencia_deposito' %}">Por referência em depósito</a></li>
  <li><a href="{% url 'estoque:confronta_estoque' %}">Confronta estoque e transações</a></li>
</ul>
