{% extends 'estoque/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'estoque:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<h3>Estoque de referência em depósito</h3>
<form id="form" action="{% url 'estoque:mostra_estoque__get' deposito ref modelo|safe %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Lista"/>
</form>
{% if deposito %}
  <h4>Depósito: {{ deposito }}</h4>
{% endif %}
<table class="layout">
  <tr>
    <td>
      {% if ref and ref != '-' %}
        <h4>Referência: {{ ref }}</h4>
      {% endif %}
      {% if modelo and modelo != '-' %}
        <h4>Modelo: {{ modelo }}</h4>
      {% endif %}
    </td>
    <td>
      {% if anterior or posterior %}
        <p align="right">
        {% if anterior %}
          {% if ref and ref != '-' %}
            <a title="Referência anterior"
               href="javascript:void(0);"
               onclick="alterForm('{{ ref }}', '{{ anterior }}');"
            >
          {% else %}
            <a title="Modelo anterior"
               href="javascript:void(0);"
               onclick="alterForm('{{ modelo }}', '{{ anterior|safe }}');"
            >
          {% endif %}
            Anterior: {{ anterior|safe }}
          </a>
        {% endif %}
        {% if anterior and posterior %}
          -
        {% endif %}
        {% if posterior %}
          {% if ref and ref != '-' %}
            <a title="Próxima referência"
               href="javascript:void(0);"
               onclick="alterForm('{{ ref }}', '{{ posterior }}');"
            >
          {% else %}
            <a title="Próximo modelo"
               href="javascript:void(0);"
               onclick="alterForm('{{ modelo }}', '{{ posterior|safe }}');"
            >
          {% endif %}
            Posterior: {{ posterior|safe }}
          </a>
        {% endif %}
        </p>
      {% endif %}
    </td>
  </tr>
</table>
{% if idata is not None %}
  {% if qtd is not None %}
    <h3>Quantidade inventariada: <span id="qtd_inv">{{ qtd }}</span></h3>
  {% endif %}
  <h3>Data/hora do inventário: {{ idata }}
  {% if hora is None %}
    00:00
  {% else %}
    {{ hora }}
  {% endif %}
  ({{ num_doc }})
  </h3>
{% endif %}
{% if erro %}
  <h4>{{ erro }}</h4>
{% endif %}
{% if data %}
  {% if count_btn_executa > 0 %}
    <div class="exec_all_ajuste" align="right">
      <a title="Executa todos os ajustes indicados pelo inventário"
         class="btn btn-primary"
         style="padding: 0px 12px;"
         href="javascript:void(0);"
         onclick="clickAll();"
      >Ajusta todos</a>
    </div>
  {% endif %}
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data style=style safe=safe only %}
  </table>
{% endif %}
{% if t_data %}
  <h3>Transações de ajuste de referência em depósito (feitas no Apoio)</h3>
  <h4 id='trans_recarregar' style='display: none;'>Recarregue a página para visualizar aqui as últimas transações inseridas!</h4>
  <table>
    {% include "layout/thead_generic.html" with data=t_headers style=t_style only %}
    {% include "layout/tbody_generic.html" with fields=t_fields data=t_data style=t_style only %}
  </table>
{% endif %}
{% endblock %}

{% block javascript %}
{% block javascript.pos %}
<script >

  function confirma_gravar() {
    return true;
    opcao = prompt("Digite S para executar todos os ajustes");
    if ( opcao == "" ) {
      return false;
    }
    var pos = "sS".indexOf( opcao );
    if ( pos > -1 ) {
      return true;
    }
    return false;
  }

  function exec_ajuste(
      elem,
      ajuste,
      url) {
    if (! confirma_gravar()) {
      return;
    }
    $.ajax({
      type: 'GET',
      url: url,
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        if (data) {
          if (data['result'] == 'OK') {
            aux_col = {% if modelo == '-' %}
                        0
                      {% else %}
                        1
                      {% endif %};
            var qtd_inv = document.getElementById('qtd_inv');
            elem.parentElement.parentElement.cells[2+aux_col].innerHTML = qtd_inv.innerHTML;

            var v_ajuste = parseInt(ajuste.replace(/\./g, ""));
            var estoque = elem.parentElement.parentElement.cells[4+aux_col];
            var v_estoque = parseInt(estoque.innerHTML.replace(/\./g, ""));
            elem.parentElement.parentElement.cells[4+aux_col].innerHTML =
              v_estoque + v_ajuste;

            elem.parentElement.parentElement.cells[6+aux_col].innerHTML = '0';

            elem.parentElement.parentElement.cells[7+aux_col].innerHTML = '-';

            var trans_recarregar = document.getElementById('trans_recarregar');
            if (trans_recarregar != null) {
              trans_recarregar.style.display = 'block';
            }

            var x = document.getElementsByClassName("exec_ajuste");
            if (x.length == 0) {
              var xx = document.getElementsByClassName("exec_all_ajuste");
              xx[0].outerHTML = '';
            }
          } else {
            alert('Erro: '+data['descricao_erro']);
          }
        } else {
          alert('Não executado');
        }
      }
    });
  }

  function clickAll() {
    if (! confirma_gravar()) {
      return;
    }
    var x = document.getElementsByClassName("exec_ajuste");
    var i;
    for (i = 0; i < x.length; i++) {
      x[i].style.backgroundColor = "darkred";
      x[i].click();
    }
  }

  // window.addEventListener("load", link2ajax, false);

  function alterForm(ref, newref) {
    var form = document.getElementById("form");
    if (form.action.slice(-1) != "/") {
      form.action = form.action + "/";
    }
    form.action = form.action.replace("/"+ref+"/", "/"+newref+"/");
    form.submit();
  }

</script>
{% endblock javascript.pos %}
{% endblock javascript %}
