{% extends 'estoque/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'estoque:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}

    .rotate {
      animation: rotation 2s infinite linear;
    }
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }

  </style>
{% endblock %}

{% block content %}
  <form action="" method="post" name="formName">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca" onclick="page1()"/>
  </form>
  {% if request.POST %}
    {% include "layout/form_inputs_report.html" with form=form h=5 only %}

    {% if data %}

      {% for i in "d_" %}

        {% with pag_neib=data.paginator.pag_neib|stringformat:"i" %}
          {% with pag_neibn="-"|add:pag_neib %}
            {% if data.paginator.num_pages != 1 %}
              <ul class="pagination">
                {% if data.number > 1 %}
                  <li title="Anterior {{ data.number|add:-1 }}"><a href="#" onclick="setPageAndSubmit({{ data.number|add:-1|safe }})">
                    <span class="glyphicon glyphicon-step-backward"></span>
                  </a></li>
                {% else %}
                  <li><a href="#" onclick="false">
                    <span class="glyphicon glyphicon-step-backward" style="color: gray;"></span>
                  </a></li>
                {% endif %}
                {% if data.number < data.paginator.num_pages %}
                  <li title="Próxima {{ data.number|add:1 }}"><a href="#" onclick="setPageAndSubmit({{ data.number|add:1|safe }})">
                    <span class="glyphicon glyphicon-step-forward"></span>
                  </a></li>
                {% else %}
                  <li><a href="#" onclick="false">
                    <span class="glyphicon glyphicon-step-forward" style="color: gray;"></span>
                  </a></li>
                {% endif %}
              </ul>
              <ul class="pagination">
                {% if data.number > pag_neib|add:1 %}
                  <li><a href="#" onclick="setPageAndSubmit(1)">
                    <span>1
                      {% if data.number > pag_neib|add:2 %}
                        <span class="glyphicon glyphicon-fast-backward"></span>
                      {% endif %}
                    </span>
                  </a></li>
                {% endif %}
                {% for i in data.paginator.page_range %}
                  {% if i >= data.number|add:pag_neibn %}
                    {% if i <= data.number|add:pag_neib %}
                      {% if data.number == i %}
                        <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="#" onclick="setPageAndSubmit({{ i|safe }})">{{ i }}</a></li>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
                {% if data.number < data.paginator.num_pages|add:pag_neibn %}
                  <li><a href="#" onclick="setPageAndSubmit({{ data.paginator.num_pages|safe }})">
                    <span>
                      {% if data.number < data.paginator.num_pages|add:pag_neibn|add:"-1" %}
                        <span class="glyphicon glyphicon-fast-forward"></span>
                      {% endif %}
                    {{ data.paginator.num_pages }}</span>
                  </a></li>
                {% endif %}
              </ul>
            {% endif %}
          {% endwith %}
        {% endwith %}

        {% if i == "d" %}
          <table>
            {% include "layout/thead_generic.html" with data=headers style=style only %}
            {% include "layout/tbody_generic.html" with fields=fields data=data style=style decimals=decimals only %}
          </table>
        {% endif %}

      {% endfor %}

    {% else %}
      <h4>Nada selecionado</h4>
    {% endif %}

  {% endif %}
{% endblock %}

{% block javascript %}
  <script type="text/javascript">

    var intervalo = 500;
    var a_zera_els;

    function setPageAndSubmit(page) {
      document.getElementById('id_page').value = page;
      document.formName.submit();
    }

    function page1() {
      document.getElementById('id_page').value = '1';
      document.formName.submit();
    }

    function do_zera(ref, dep) {
      var a_el = document.getElementById('a_'+ref+'_'+dep);
      var run_el = document.getElementById('run_'+ref+'_'+dep);
      var runok_el = document.getElementById('runok_'+ref+'_'+dep);
      var runerr_el = document.getElementById('runerr_'+ref+'_'+dep);
      a_el.style.display = "none";
      run_el.style.display = "block";
      runok_el.style.display = "none";
      runerr_el.style.display = "none";

      var link = '{% url 'estoque:zera_ref' 'referencia' 'deposito' %}';
      link = link.replace('referencia', ref);
      link = link.replace('deposito', dep);
      console.log(link);

      $.ajax({
        type: 'GET',
        url: link,
        data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success : function(data) {
          erro = '';
          if (data) {
            if (data['status'] == 'ERRO') {
              console.log(data['status']);
              runerr_el.style.display = "inline";
            } else {
              console.log(data['status']);
              runok_el.style.display = "inline";
            }
          } else {
            console.log('Sem retorno');
            runerr_el.style.display = "inline";
          }
          run_el.style.display = "none";
        },
        error : function(data) {
          console.log('Erro na requisição');
          runerr_el.style.display = "inline";
          run_el.style.display = "none";
        }
      });

      return false;
    }

    function mountZeraButtons() {
      var zera_spans = document.querySelectorAll('.zera');
      var i;
      for (i = 0; i < zera_spans.length; ++i) {
        const myCodes = zera_spans[i].id.split("_");
        let ref1 = myCodes[1];
        let dep1 = myCodes[2];
        on_click = 'do_zera("'+ref1+'", "'+dep1+'");';
        console.log(zera_spans[i].id, ref1, dep1, on_click);
        zera_spans[i].outerHTML = 
          '<a title="Zera '+ref1+' no depósito '+dep1+'" '+
          'class="a_zera" '+
          'href="#" id="a_'+ref1+'_'+dep1+'">'+
          '<span '+
          'class="glyphicon glyphicon-minus-sign" '+
          'aria-hidden="true"></span></a>'+
          '<span id="run_'+ref1+'_'+dep1+'" '+
          'style="display:none;color:brown" '+
          'class="rotate glyphicon glyphicon-repeat" '+
          'aria-hidden="true"></span>'+
          '<span id="runok_'+ref1+'_'+dep1+'" '+
          'style="display:none;color:darkgreen" '+
          'class="glyphicon glyphicon-ok-sign" '+
          'aria-hidden="true"></span>'+
          '<span id="runerr_'+ref1+'_'+dep1+'" '+
          'style="display:none;color:darkred" '+
          'class="glyphicon glyphicon-alert" '+
          'aria-hidden="true"></span>'+
          '';
        document.getElementById('a_'+ref1+'_'+dep1).onclick = function() { return do_zera(ref1, dep1); };
      }

      span_zera_tudo_el = document.getElementById('span_zera_tudo');
      span_zera_tudo_el.outerHTML = 
        '<a id="a_zera_tudo" title="Zera todos listados na página" href="#" onclick="return zera_tudo();">'+
        '<span class="glyphicon glyphicon-minus-sign" style="color:orange" aria-hidden="true"></span>'+
        '</a>';

    }

    function zera_tudo() {
      document.getElementById('a_zera_tudo').style.display = "none";
      a_zera_els = document.querySelectorAll('.a_zera');
      setTimeout(() => { zera_by_idx(0); }, intervalo);
      return false;
    }

    function zera_by_idx(idx) {
      console.log('idx: '+idx);
      console.log('id: '+a_zera_els[idx].id)
      a_zera_els[idx].click();
      if (idx < a_zera_els.length) {
        setTimeout(() => { zera_by_idx(idx+1); }, intervalo);
      }
    }

    window.onload = function() {
      mountZeraButtons();
    }

  </script>
{% endblock %}
