{% extends 'estoque/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'estoque:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if nivel %}
  <h4>Nível: {{ nivel }}</h4>
{% endif %}
{% if ref %}
  <h4>Referência: {{ ref }}</h4>
{% endif %}
{% if modelo %}
  <h4>Modelo: {{ modelo }}</h4>
{% endif %}
{% if tam %}
  <h4>Tamanho: {{ tam }}</h4>
{% endif %}
{% if cor %}
  <h4>Cor: {{ cor }}</h4>
{% endif %}
{% if deposito %}
  {% if deposito < '999' %}
    <h4>Depósito: {{ deposito }}</h4>
  {% elif deposito == 'A00' %}
    <h4>Depósitos: 101, 102, 122 e 231</h4>
  {% endif %}
{% endif %}
{% if agrupamento == 'r' %}
  <h4>Agrupado por referência e depósito</h4>
{% elif agrupamento == 'tc' %}
  <h4>Agrupado por tamanho e cor</h4>
{% endif %}
{% if tipo %}
  {% if tipo != 't' %}
    <h4>Tipo de produto:
      {% if tipo == 'a' %}
        PA
      {% elif tipo == 'g' %}
        PG
      {% elif tipo == 'b' %}
        PB
      {% elif tipo == 'p' %}
        PG/PB
      {% elif tipo == 'v' %}
        PA/PG/PB
      {% elif tipo == 'm' %}
        MD
      {% endif %}
    </h4>
  {% endif %}
{% endif %}
{% if erro %}
  <h4>{{ erro }}</h4>
{% endif %}
{% if data %}
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
  </table>
  {% if soma %}
    <div style="text-align: right">
      <b>Soma dos totais: {{ soma }}</b>
    </div>
  {% endif %}
{% endif %}
{% endblock %}
