{% extends 'estoque/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'estoque:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<h3>Busca referencias/depósitos com alguma movimentação</h3>
<h4>Depósitos: {{str_depositos}}</h4>
<h4>Tipo de produto: PA/PG/PB</h4>
<form id="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
<h4>Depósito:
  {% if deposito == '-' %}
    TODOS (101, 102, 231)
  {% elif deposito == '101' %}
    101-PA ATACADO PRIMEIRA QUALIDADE
  {% elif deposito == '102' %}
    102-PA VAREJO PRIMEIRA QUALIDADE
  {% elif deposito == '231' %}
    231-MAT PRIMA ESTOQUE
  {% endif %}
</h4>
<table>
  <tr>
    <td>
      {% if modelo %}
       <h4>Modelo:
           {% if deposito != '-' %}
           <a title="Referência anterior"
              href="{% url 'estoque:mostra_estoque__get' deposito '-' modelo %}"
              target="_blank"
           > {{ modelo }}
           </a>
           {% else %}
             {{ modelo }}
           {% endif %}
       </h4>
      {% endif %}
    </td>
    <td>
      {% if anterior or posterior %}
        <p align="right">
        {% if anterior %}
          <a title="Referência anterior"
             href="javascript:void(0);"
             onclick="alterInputSubmit('{{ anterior|safe }}');"
          >
            Anterior: {{ anterior|safe }}
          </a>
        {% endif %}
        {% if anterior and posterior %}
          -
        {% endif %}
        {% if posterior %}
          <a title="Próxima referência"
             href="javascript:void(0);"
             onclick="alterInputSubmit('{{ posterior|safe }}');"
          >
            Posterior: {{ posterior|safe }}
          </a>
        {% endif %}
        </p>
      {% endif %}
    </td>
  </tr>
</table>
{% if erro %}
  <h4>{{ erro }}</h4>
{% endif %}
{% if data %}
  <h4>Clique no modelo para acessar tela de calculo de ajuste de estoque</h4>
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data group=group style=style only %}
  </table>
{% endif %}
{% endblock %}

{% block javascript %}
{% block javascript.pos %}
<script>

  function alterInputSubmit(modelo) {
    var input = document.getElementById("id_modelo");
    input.value = modelo;
    var form = document.getElementById("form");
    form.submit();
  }

</script>
{% endblock javascript.pos %}
{% endblock javascript %}
