{% extends 'estoque/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'estoque:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
  {% include 'layout/simple_table.css' %}

  table { page-break-inside:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
</style>
{% endblock %}

{% block content %}
<form action="" method="post" class="noprint">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if data_ini %}
  <h4>Referências com movimento a partir de: {{ data_ini }}</h4>
  <h4>No depósitos: 101, 102 e 231</h4>
{% endif %}
{% if erro %}
  <h4>{{ erro }}</h4>
{% endif %}
{% if refs %}
  {% for ref in refs %}
    <h3>Referência {{ ref.ref }}</h3>
    {% for dep in ref.deps %}
      <h4>Depósito {{ dep.dep }}</h4>
      <table>
        {% include "layout/thead_generic.html" with data=dep.grade.headers style=dep.grade.style only %}
        {% include "layout/tbody_generic.html" with fields=dep.grade.fields data=dep.grade.data style=dep.grade.style only %}
      </table>
    {% endfor %}
  {% endfor %}
{% endif %}
{% endblock %}
