{% extends 'estoque/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'estoque:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
.qtd_old {
  {% if request.POST.executa and not erro_exec  %}
    color: darkgray;
    font-style: italic;
  {% else %}
    color: darkblue;
    font-weight: bold;
  {% endif %}
}
.qtd_new {
  {% if request.POST.executa and not erro_exec %}
    color: darkblue;
    font-weight: bold;
  {% else %}
    color: darkgray;
    font-style: italic;
  {% endif %}
}
.qtd_atual {
  color: darkblue;
  font-weight: bold;
}
.arrow {
  color: darkgray;
}
.ok {
  color: darkgreen;
}
.bad {
  color: darkred;
}
</style>
{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  {% if form %}
    <input type="submit" name="analisa" value="Analisa"/>
  {% endif %}
  {% if request.POST.analisa or request.POST.executa %}
    <a class="btn btn-primary" href="{% url 'estoque:transferencia' tipo %}">Limpa</a>
  {% endif %}
  {% if erro_msg %}
    <h4 class="bad">
      {% if erro_input %}
        Erro nos dados:
      {% else %}
        Erro de execução:
      {% endif %}
      {{ erro_msg }}
    </h4>
  {% endif %}
  {% if sucesso_msg %}
    <h4 class="ok">Sucesso: {{ sucesso_msg }}</h4>
  {% endif %}
  {% if request.POST.analisa or request.POST.executa %}
    {% include "layout/form_inputs_report.html" with form=form h=5 only %}
    {% if not erro_input %}
      {% if request.POST.analisa or erro_exec %}
        <h4>Movimentações a fazer.</h4>
      {% else %}
        <h4>Movimentações feitas!</h4>
      {% endif %}
      {% if mov_origem %}
        <h4>Estoque no depósito de origem:
          <span class='qtd_old'>{{ estoque_origem }}
          {% if request.POST.analisa or erro_exec %}(atual){% endif %}</span>
          <span class='arrow'>&rarr;</span>
          <span class='qtd_new'>{{ novo_estoque_origem }}
          {% if not request.POST.analisa and not erro_exec %}(atual){% endif %}</span>
        </h4>
      {% endif %}
      {% if mov_destino %}
        <h4>Estoque no depósito de destino:
          <span class='qtd_old'>{{ estoque_destino }}
          {% if request.POST.analisa or erro_exec %}(atual){% endif %}</span>
          <span class='arrow'>&rarr;</span>
          <span class='qtd_new'>{{ novo_estoque_destino }}
          {% if not request.POST.analisa and not erro_exec %}(atual){% endif %}</span>
        </h4>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if request.POST.analisa and not erro_input %}
    <input class="btn btn-primary" type="submit" name="executa" value="Executa"/>
  {% endif %}
</form>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">

    var n_d = document.getElementById('id_num_doc');
    var descr = document.getElementById('id_descricao');

    function descricao_disabled() {
      descr.disabled = (n_d.value != '0');
    }

    window.onload = function() {
      descricao_disabled();
      n_d.addEventListener('change', descricao_disabled);
    }

  </script>
{% endblock %}
