{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'estoque:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if nivel == '2' %}
  <h4>Nível: 2 = Tecidos/malhas</h4>
{% elif nivel == '9' %}
  <h4>Nível: 9 = Demais materiais</h4>
{% endif %}
{% if positivos == 'n' %}
  <h4>Não apresenta quantidades positivas</h4>
{% endif %}
{% if zerados == 'n' and negativos == 'n' %}
  <h4>Não apresenta quantidades zeradas nem negativas</h4>
{% else %}
  {% if zerados == 'n' %}
    <h4>Não apresenta quantidades zeradas</h4>
  {% endif %}
  {% if negativos == 'n' %}
    <h4>Não apresenta quantidades negativas</h4>
  {% endif %}
{% endif %}
{% if preco_zerado == 'n' %}
  <h4>Não apresenta preços zerados</h4>
{% endif %}
{% if deposito_compras == 'a' %}
  <h4>Apenas os depósitos indicados pelo Compras</h4>
{% elif deposito_compras == 't' %}
  <h4>Todos os depósitos</h4>
{% endif %}
{% if erro %}
  <h4>{{ erro }}</h4>
{% endif %}
{% if data %}
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
  </table>
{% endif %}
{% endblock %}
