{% extends 'base/index.html' %}
{% load static %}

{% block title.content %}{{ block.super }} &sol; {{ titulo }}{% endblock title.content %}

{% block header.content %}{{ block.super }} &sol; <a href="{% url 'base:testa_db' %}">{{ titulo }}</a>{% endblock header.content %}

{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  {% if msgs_ok %}
    {% for msg in msgs_ok %}
      <h4>{{ msg }}</h4>
    {% endfor %}
  {% endif %}
  {% if msgs_erro %}
    <h3>Erros</h3>
    {% for msg in msgs_erro %}
      <h4>{{ msg }}</h4>
    {% endfor %}
  {% endif %}
{% endblock %}
