{% extends 'base/index.html' %}
{% load static %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'base:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  {% if msgs_ok %}
    {% for msg in msgs_ok %}
      <h4>{{ msg }}</h4>
    {% endfor %}
  {% endif %}
  {% if msgs_erro %}
    <h3>Erros</h3>
    {% for msg in msgs_erro %}
      <h4>{{ msg }}</h4>
    {% endfor %}
  {% endif %}
{% endblock %}
