{% extends 'comercial/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'comercial:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  {% if msg_erro %}
    <h4>{{ msg_erro }}</h4>
  {% endif %}
  {% if modref %}
    <a href="{% url 'comercial:analise_vendas' %}">Voltar para a lista de modelos</a><br />
    <a href="{% url 'comercial:ponderacao' %}" target="_blank">Visualiza ponderação aplicada</a>
    <h3>Modelo {{ modref }}</h3>
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-toggle="tab" href="#vendas">Vendas</a></li>
      <li><a data-toggle="tab" href="#param">Meta de estoque</a></li>
    </ul>
    <div class="tab-content">
      <div id="vendas" class="tab-pane fade in active">
        {% if modelo_ponderado %}
          {% if modelo_ponderado.data %}
            <h4>Vendas do modelo</h4>
            <table>
              {% include "layout/thead_generic.html" with data=modelo_ponderado.headers style=modelo_ponderado.style only %}
              {% include "layout/tbody_generic.html" with fields=modelo_ponderado.fields data=modelo_ponderado.data style=modelo_ponderado.style only %}
            </table>
          {% endif %}
        {% endif %}
        {% if tamanho_ponderado %}
          {% if tamanho_ponderado.data %}
            <h4>Vendas por tamanho</h4>
            <table>
              {% include "layout/thead_generic.html" with data=tamanho_ponderado.headers style=tamanho_ponderado.style only %}
              {% include "layout/tbody_generic.html" with fields=tamanho_ponderado.fields data=tamanho_ponderado.data style=tamanho_ponderado.style only %}
            </table>
          {% endif %}
        {% endif %}
        {% if cor_ponderada %}
          {% if cor_ponderada.data %}
            <h4>Vendas por cor</h4>
            <table>
              {% include "layout/thead_generic.html" with data=cor_ponderada.headers style=cor_ponderada.style only %}
              {% include "layout/tbody_generic.html" with fields=cor_ponderada.fields data=cor_ponderada.data style=cor_ponderada.style only %}
            </table>
          {% endif %}
        {% endif %}
        {% if por_ref %}
          {% if por_ref.data %}
            <h4>Vendas por referência</h4>
            <table>
              {% include "layout/thead_generic.html" with data=por_ref.headers style=por_ref.style only %}
              {% include "layout/tbody_generic.html" with fields=por_ref.fields data=por_ref.data style=por_ref.style only %}
            </table>
          {% endif %}
        {% endif %}
      </div>
      <div id="param" class="tab-pane fade">

        <h4>Parâmetros para cálculo da grade de estoque ideal</h4>
        {{ form.venda.label_tag }} {{ form.venda }} |
        {{ form.multiplicador.label_tag }} {{ form.multiplicador }} |
        <label>Estoque ideal:</label> <span id="id_estoque_ideal">0</span> (Múltiplo da grade de tamanhos)

        {% if tam_form %}
          <p>Grade de tamanhos</p>
          {{ tam_form.as_p }}
          <label>Quantidade total da grade:</label> <span id="id_tot_grade_tamanhos">0</span>
        {% endif %}

        {% if cor_form %}
          <p>Distribuição das cores</p>
          {{ cor_form.as_p }}
          <label>Quantidade total da distribuição:</label> <span id="id_tot_grade_cores">0</span>
        {% endif %}

        <table id="t_grade">
          <thead>
            <tr>
              <th>Cor/Tamanho</th>
              {% for tam in tamanho_ponderado.data %}
                <th>{{ tam.tam }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for cor in cor_ponderada.data %}
              <tr>
                <td>{{ cor.cor }}</td>
                {% for tam in tamanho_ponderado.data %}
                  <td id="item_{{ tam.tam }}_{{ cor.cor }}">{{ tam.tam }}_{{ cor.cor }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  {% else %}
    <h3>Selecione o modelo a detalhar</h3>
    <h4>Médias mensais das quantidades faturadas nos períodos de ponderação, por modelo</h4>
    {% if data %}
      <table>
        {% include "layout/thead_generic.html" with data=headers style=style only %}
        {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
      </table>
    {% endif %}
  {% endif %}
{% endblock %}

{% block javascript %}
{% block javascript.pos %}
<script>

  const tot_arr = arr => arr.reduce((a,b) => a + b, 0);

  var grade_tamanhos = [
    {% for tam in tamanho_ponderado.data %}
      {% if forloop.counter != 1 %}, {% endif %}{{ tam.grade }}
    {% endfor %}
  ];
  var tot_grade_tamanhos = 0;
  var grade_cores = [
    {% for cor in cor_ponderada.data %}
      {% if forloop.counter != 1 %}, {% endif %}{{ cor.distr }}
    {% endfor %}
  ];
  var tot_grade_cores = 0;

  var venda_mensal = document.getElementById('id_venda').value;
  var multiplicador = document.getElementById('id_multiplicador').value;
  var estoque_ideal = 0;
  var estoque_ideal_cores = [];

  function calc_tot_grade_tamanho() {
    var e_tot_grade_tamanhos = document.getElementById('id_tot_grade_tamanhos');
    tot_grade_tamanhos = tot_arr(grade_tamanhos)
    e_tot_grade_tamanhos.innerText = tot_grade_tamanhos;
  }

  calc_tot_grade_tamanho();

  function calc_estoque() {
    var e_estoque_ideal = document.getElementById('id_estoque_ideal');
    estoque_ideal = venda_mensal * multiplicador;
    resto = estoque_ideal % tot_grade_tamanhos;
    if ( resto == 0 ) {
      e_estoque_ideal.innerText = estoque_ideal;
    } else {
      e_estoque_ideal.innerText = estoque_ideal + tot_grade_tamanhos - resto;
    }
  }

  calc_estoque();

  function calc_tot_grade_cor() {
    var e_tot_grade_cores = document.getElementById('id_tot_grade_cores');
    tot_grade_cores = tot_arr(grade_cores);
    e_tot_grade_cores.innerText = tot_grade_cores;

    // estoque_ideal_cores = [];
    // grade_cores.forEach(q => estoque_ideal_cores);
  }

  calc_tot_grade_cor();

  function calc_grade() {
    var table = document.getElementById('t_grade'),
    rows = table.rows, rowcount = rows.length, r,
    cells, cellcount, c, cell;
    for( r=0; r<rowcount; r++) {
      cells = rows[r].cells;
      cellcount = cells.length;
      for( c=0; c<cellcount; c++) {
        cell = cells[c];
        if ( cell.id.startsWith('item_') ) {
          cell_id = cell.id.split('_');
          cell.innerHTML = cell_id[2];
        }
      }
    }
  }

  function calc_tudo() {
    calc_tot_grade_tamanho();
    calc_estoque();
    calc_tot_grade_cor();
    calc_grade();
  }

  calc_tudo();

</script>
{% endblock javascript.pos %}
{% endblock javascript %}
