{% extends 'comercial/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'comercial:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  {% if msg_erro %}
    <h4>{{ msg_erro }}</h4>
  {% endif %}
  {% if modref %}
    <a href="{% url 'comercial:analise_vendas' %}">Voltar para a lista de modelos</a><br />
    <a href="{% url 'comercial:ponderacao' %}" target="_blank">Visualiza ponderação aplicada</a>
    <h3>Modelo {{ modref }}</h3>
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-toggle="tab" href="#vendas">Vendas</a></li>
      <li><a data-toggle="tab" href="#param">Meta de estoque</a></li>
    </ul>
    <div class="tab-content">
      <div id="vendas" class="tab-pane fade in active">
        {% if modelo_ponderado %}
          {% if modelo_ponderado.data %}
            <h4>Vendas do modelo</h4>
            <table>
              {% include "layout/thead_generic.html" with data=modelo_ponderado.headers style=modelo_ponderado.style only %}
              {% include "layout/tbody_generic.html" with fields=modelo_ponderado.fields data=modelo_ponderado.data style=modelo_ponderado.style only %}
            </table>
          {% endif %}
        {% endif %}
        {% if tamanho_ponderado %}
          {% if tamanho_ponderado.data %}
            <h4>Vendas por tamanho</h4>
            <table>
              {% include "layout/thead_generic.html" with data=tamanho_ponderado.headers style=tamanho_ponderado.style only %}
              {% include "layout/tbody_generic.html" with fields=tamanho_ponderado.fields data=tamanho_ponderado.data style=tamanho_ponderado.style only %}
            </table>
          {% endif %}
        {% endif %}
        {% if cor_ponderada %}
          {% if cor_ponderada.data %}
            <h4>Vendas por cor</h4>
            <table>
              {% include "layout/thead_generic.html" with data=cor_ponderada.headers style=cor_ponderada.style only %}
              {% include "layout/tbody_generic.html" with fields=cor_ponderada.fields data=cor_ponderada.data style=cor_ponderada.style only %}
            </table>
          {% endif %}
        {% endif %}
        {% if por_ref %}
          {% if por_ref.data %}
            <h4>Vendas por referência</h4>
            <table>
              {% include "layout/thead_generic.html" with data=por_ref.headers style=por_ref.style only %}
              {% include "layout/tbody_generic.html" with fields=por_ref.fields data=por_ref.data style=por_ref.style only %}
            </table>
          {% endif %}
        {% endif %}
      </div>
      <div id="param" class="tab-pane fade">

        <h4>Parâmetros para cálculo da grade de estoque ideal</h4>
        {{ form.venda.label_tag }} {{ form.venda }} |
        {{ form.multiplicador.label_tag }} {{ form.multiplicador }} |
        <label>Estoque ideal: </label><label for="estoque_ideal">0</label>

        {% if tam_form %}
          <p>Grade de tamanhos</p>
          {{ tam_form.as_p }}
          <label>Quantidade total da grade: </label><label for="tot_grade_tamanho">0</label>
        {% endif %}

        {% if cor_form %}
          <p>Distribuição das cores</p>
          {{ cor_form.as_p }}
        {% endif %}

        <table id="my-table">
          <thead>
            <tr>
              <th>Cor/Tamanho</th>
              {% for tam in tamanho_ponderado.data %}
                <th>{{ tam.tam }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for cor in cor_ponderada.data %}
              <tr>
                <td>{{ cor.cor }}</td>
                {% for tam in tamanho_ponderado.data %}
                  <td>-</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  {% else %}
    <h3>Selecione o modelo a detalhar</h3>
    <h4>Médias mensais das quantidades faturadas nos períodos de ponderação, por modelo</h4>
    {% if data %}
      <table>
        {% include "layout/thead_generic.html" with data=headers style=style only %}
        {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
      </table>
    {% endif %}
  {% endif %}
{% endblock %}

{% block javascript %}
{% block javascript.pos %}
<script>
  // append row to the HTML table
  function appendRow() {
      var tbl = document.getElementById('my-table'), // table reference
          row = tbl.insertRow(tbl.rows.length),      // append table row
          i;
      // insert table cells to the new row
      for (i = 0; i < tbl.rows[0].cells.length; i++) {
          createCell(row.insertCell(i), i, 'row');
      }
  }

  // create DIV element and append to the table cell
  function createCell(cell, text, style) {
      var div = document.createElement('div'), // create DIV element
          txt = document.createTextNode(text); // create text node
      div.appendChild(txt);                    // append text node to the DIV
      div.setAttribute('class', style);        // set DIV class attribute
      div.setAttribute('className', style);    // set DIV class attribute for IE (?!)
      cell.appendChild(div);                   // append DIV to the table cell
  }

  function get_grade_tamanho() {

  }

  function calc_estoque(venda_mensal, multiplicador, tamanhos) {
    venda_mensal = document.getElementById('id_venda_mensal');
  }

</script>
{% endblock javascript.pos %}
{% endblock javascript %}
