{% extends 'comercial/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'comercial:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  {% if msg_erro %}
    <h4>{{ msg_erro }}</h4>
  {% endif %}
  {% if modref %}
    <h3>Modelo {{ modref }}</h3>
  {% else %}
    <h3>Selecione o modelo a detalhar</h3>
    <h4>Média mensal das quantidades faturadas nos períodos de ponderação, por modelo</h4>
  {% endif %}
  {% if data %}
    <table>
      {% include "layout/thead_generic.html" with data=headers style=style only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
    </table>
  {% endif %}
  {% if por_cor %}
    {% if por_cor.data %}
      <h4>Por cor</h4>
      <table>
        {% include "layout/thead_generic.html" with data=por_cor.headers style=por_cor.style only %}
        {% include "layout/tbody_generic.html" with fields=por_cor.fields data=por_cor.data style=por_cor.style only %}
      </table>
    {% endif %}
  {% endif %}
  {% if por_tam %}
    {% if por_tam.data %}
      <h4>Por tamanho</h4>
      <table>
        {% include "layout/thead_generic.html" with data=por_tam.headers style=por_tam.style only %}
        {% include "layout/tbody_generic.html" with fields=por_tam.fields data=por_tam.data style=por_tam.style only %}
      </table>
    {% endif %}
  {% endif %}
  {% if por_ref %}
    {% if por_ref.data %}
      <h4>Por referência</h4>
      <table>
        {% include "layout/thead_generic.html" with data=por_ref.headers style=por_ref.style only %}
        {% include "layout/tbody_generic.html" with fields=por_ref.fields data=por_ref.data style=por_ref.style only %}
      </table>
    {% endif %}
  {% endif %}
{% endblock %}
