{% extends 'comercial/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'comercial:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  {% if msg_erro %}
    <h4>{{ msg_erro }}</h4>
  {% endif %}
  {% if modref %}
    <h3>Modelo {{ modref }}</h3>
  {% else %}
    <h3>Selecione o modelo a detalhar</h3>
    <h4>Médias mensais das quantidades faturadas nos períodos de ponderação, por modelo</h4>
    {% if data %}
      <table>
        {% include "layout/thead_generic.html" with data=headers style=style only %}
        {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
      </table>
    {% endif %}
  {% endif %}
  {% if modelo_ponderado %}
    {% if modelo_ponderado.data %}
      <h4>Venda ponderada do modelo</h4>
      <table>
        {% include "layout/thead_generic.html" with data=modelo_ponderado.headers style=modelo_ponderado.style only %}
        {% include "layout/tbody_generic.html" with fields=modelo_ponderado.fields data=modelo_ponderado.data style=modelo_ponderado.style only %}
      </table>
    {% endif %}
  {% endif %}
  {% if tamanho_ponderado %}
    {% if tamanho_ponderado.data %}
      <h4>Venda ponderada do tamanho</h4>
      <table>
        {% include "layout/thead_generic.html" with data=tamanho_ponderado.headers style=tamanho_ponderado.style only %}
        {% include "layout/tbody_generic.html" with fields=tamanho_ponderado.fields data=tamanho_ponderado.data style=tamanho_ponderado.style only %}
      </table>
    {% endif %}
  {% endif %}
  {% if cor_ponderada %}
    {% if cor_ponderada.data %}
      <h4>Venda ponderada da cor</h4>
      <table>
        {% include "layout/thead_generic.html" with data=cor_ponderada.headers style=cor_ponderada.style only %}
        {% include "layout/tbody_generic.html" with fields=cor_ponderada.fields data=cor_ponderada.data style=cor_ponderada.style only %}
      </table>
    {% endif %}
  {% endif %}
  {% if do_modelo %}
    {% if do_modelo.data %}
      <h4>Médias mensais das quantidades faturadas nos períodos de ponderação</h4>
      <h4>Do modelo</h4>
      <table>
        {% include "layout/thead_generic.html" with data=do_modelo.headers style=do_modelo.style only %}
        {% include "layout/tbody_generic.html" with fields=do_modelo.fields data=do_modelo.data style=do_modelo.style only %}
      </table>
    {% endif %}
  {% endif %}
  {% if por_tam %}
    {% if por_tam.data %}
      <h4>Por tamanho</h4>
      <table>
        {% include "layout/thead_generic.html" with data=por_tam.headers style=por_tam.style only %}
        {% include "layout/tbody_generic.html" with fields=por_tam.fields data=por_tam.data style=por_tam.style only %}
      </table>
    {% endif %}
  {% endif %}
  {% if por_cor %}
    {% if por_cor.data %}
      <h4>Por cor</h4>
      <table>
        {% include "layout/thead_generic.html" with data=por_cor.headers style=por_cor.style only %}
        {% include "layout/tbody_generic.html" with fields=por_cor.fields data=por_cor.data style=por_cor.style only %}
      </table>
    {% endif %}
  {% endif %}
  {% if por_ref %}
    {% if por_ref.data %}
      <h4>Por referência</h4>
      <table>
        {% include "layout/thead_generic.html" with data=por_ref.headers style=por_ref.style only %}
        {% include "layout/tbody_generic.html" with fields=por_ref.fields data=por_ref.data style=por_ref.style only %}
      </table>
    {% endif %}
  {% endif %}
{% endblock %}
