{% extends 'comercial/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'comercial:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'comercial:ficha_cliente' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if conteudo %}
  {% if conteudo == 'nada' %}

    <h3>Cliente não encontrado</h3>

  {% elif conteudo == 'lista' %}

    <h3>Clientes encontrados</h3>

  {% else %}

    <br/>
    <h3>CNPJ: {{ cnpj }}</h3>
    <h3>Cliente: {{ cliente }}</h3>

    {% if conteudo == 'zerado' %}

      <h3>Nenhuma duplicata encontrada</h3>

    {% endif %}

  {% endif %}

  {% if conteudo == 'lista' or conteudo == 'ficha' %}
    <table>
      {% include "layout/thead_generic.html" with data=headers style=style only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
    </table>
  {% endif %}
{% endif %}
{% endblock %}
