{% extends 'comercial/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/comercial/">{{ block.super }}</a>{% endblock header.content %}

{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/comercial/ficha/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if conteudo %}
{% if conteudo == 'nada' %}

  <h3>Cliente não encontrado</h3>

{% elif conteudo == 'lista' %}

  <h3>Clientes encontrados</h3>
  <table>
    <thead>
      <tr>
        <th>CNPJ</th>
        <th>Razão Social</th>
      </tr>
    </thead>
    <tbody>
    {% for row in data %}
    <tr>
      <td><a href="{% url 'ficha_cliente_cnpj' row|get_item:'CNPJ' %}">{{ row|get_item:'CNPJ' }}</a></td>
      <td>{{ row|get_item:'CLIENTE' }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

{% else %}

  <br/>
  <h3>CNPJ: {{ cnpj }}</h3>
  <h3>Cliente: {{ cliente }}</h3>
  {% if conteudo == 'zerado' %}
    <h3>Nenhuma duplicata encontrada</h3>

  {% else %}
  <h3>{{ titulo }}</h3>
  <table>
    {% include "layout/html_thead.html" with data=headers only %}
    <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row|get_item:'DUPLICATA' }}</td>
      <td>{{ row|get_item:'STAT' }}</td>
      <td>{{ row|get_item:'PEDIDO' }}</td>
      <td>{{ row|get_item:'EMISSAO' }}</td>
      <td>{{ row|get_item:'VENC_ORI' }}</td>
      <td>{{ row|get_item:'VENCIMENTO' }}</td>
      <td>{{ row|get_item:'PRORROGADO' }}</td>
      <td style='text-align:right'>{{ row|get_item:'VALOR'|floatformat:2|intcomma }}</td>
      <td style='text-align:right'>{{ row|get_item:'QUANT'|intcomma }}</td>
      <td style='text-align:right'>{{ row|get_item:'QUANT_FAT'|intcomma }}</td>
      <td>{{ row|get_item:'DATA_PAGO' }}</td>
      <td style='text-align:right'>{{ row|get_item:'VALOR_PAGO'|floatformat:2|intcomma }}</td>
      <td style='text-align:right'>{{ row|get_item:'JUROS'|floatformat:2|intcomma }}</td>
      <td style='text-align:right'>{{ row|get_item:'ATRASO' }}</td>
      <td>{{ row|get_item:'OP' }}</td>
      <td>{{ row|get_item:'BANCO' }}</td>
      <td>{{ row|get_item:'DESCONTO' }}</td>
      <td>{{ row|get_item:'OBSERVACAO' }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  {% endif %}
{% endif %}
{% endif %}
{% endblock %}
