{% extends 'produto/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'comercial:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  {% if data %}
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-toggle="tab" href="#modelo">Ordenado por modelo</a></li>
      <li><a data-toggle="tab" href="#op">Ordenado por data de última OP</a></li>
    </ul>
    <div class="tab-content">
      <div id="modelo" class="tab-pane fade in active">
        <table>
          {% include "layout/thead_generic.html" with data=headers only %}
          {% include "layout/tbody_generic.html" with fields=fields data=data only %}
        </table>
      </div>
      <div id="op" class="tab-pane fade">
        <table>
          {% include "layout/thead_generic.html" with data=headers only %}
          {% include "layout/tbody_generic.html" with fields=fields data=data_op only %}
        </table>
      </div>
    </div>
    {% endif %}
{% endblock %}
