<ul>
  <li>Análises comerciais</li>
  <ul>
    <li><a href="{% url 'comercial:vendas' %}">Vendas</a></li>
    <li>Distribuição de vendas</li>
    <ul>
      <li><a href="{% url 'comercial:vendas_cor' %}">Por cor</a></li>
      <li><a href="{% url 'comercial:vendas_tamanho' %}">Por tamanho</a></li>
    </ul>
    <li>Ponderação de vendas</li>
    <ul>
      <li><a href="{% url 'comercial:ponderacao' %}">Pesos por período</a></li>
      <li><a href="{% url 'comercial:vendas_por_modelo' %}">Vendas por modelo</a></li>
      <li><a href="{% url 'comercial:define_meta' %}">Define meta de estoque</a></li>
      <li><a href="{% url 'comercial:metas' %}">Visualiza meta de estoque</a></li>
      <li><a href="{% url 'comercial:verifica_venda' %}">Verifica estimativa de venda</a></li>
    </ul>
  </ul>
  <li>Sistema Tussor (antigo)</li>
  <ul>
    <li><a href="{% url 'comercial:ficha_cliente' %}">Ficha de cliente (duplicatas)</a></li>
  </ul>
  <li>Meta de faturamento</li>
  <ul>
    {% if perms.comercial.change_metafaturamento %}
      <li><a href="/intradm/comercial/metafaturamento/" target="_blank">Digitação de metas mensais</a></li>
    {% endif %}
    <li><a href="{% url 'comercial:faturamento_para_meta' %}">Faturamento no mês</a></li>
    <li><a href="{% url 'comercial:devolucao_para_meta' %}">Devolução no mês</a></li>
    <li><a href="{% url 'comercial:pedidos_para_meta' %}">Pedidos no mês</a></li>
    <li><a href="{% url 'comercial:meta_no_ano' %}">Meta no ano</a></li>
    {% if perms.comercial.change_pendenciafaturamento %}
      <li><a href="/intradm/comercial/pendenciafaturamento/" target="_blank">Pendências do faturamento</a></li>
    {% endif %}
    <li><a href="{% url 'comercial:painel_meta_faturamento' %}" target="_blank">Painel</a></li>
  </ul>
  <li><a href="{% url 'comercial:tabela_de_preco' %}" target="_blank">Tabela de preços</a></li>
  <ul>
    <li><a href="{% url 'comercial:planilha_bling' %}" target="_blank">Cria planilha Bling</a></li>
  </ul>
</ul>
