<ul>
  <li>Análises de vendas</li>
  <ul>
    <li>Distribuição de vendas</li>
    <ul>
      <li><a href="{% url 'comercial:vendas_cor' %}">Por cor</a></li>
      <li><a href="{% url 'comercial:vendas_tamanho' %}">Por tamanho</a></li>
    </ul>
    <li><a href="{% url 'comercial:ponderacao' %}">Ponderação a aplicar</a></li>
    <li><a href="{% url 'comercial:estoque_desejado' %}">Estoque desejado</a></li>
  </ul>
  <li>Sistema Tussor (antigo)</li>
  <ul>
    <li><a href="{% url 'comercial:ficha_cliente' %}">Ficha de cliente (duplicatas)</a></li>
  </ul>
</ul>
