<ul>
  <li>Análises comerciais</li>
  <ul>
    <li>Distribuição de vendas</li>
    <ul>
      <li><a href="{% url 'comercial:vendas_cor' %}">Por cor</a></li>
      <li><a href="{% url 'comercial:vendas_tamanho' %}">Por tamanho</a></li>
    </ul>
    <li><a href="{% url 'comercial:ponderacao' %}">Ponderação de vendas</a></li>
    <li><a href="{% url 'comercial:analise_vendas' %}">Análise de vendas</a></li>
  </ul>
  <li>Sistema Tussor (antigo)</li>
  <ul>
    <li><a href="{% url 'comercial:ficha_cliente' %}">Ficha de cliente (duplicatas)</a></li>
  </ul>
</ul>
