<ul>
  <li>Análises comerciais</li>
  <ul>
    <li>Distribuição de vendas</li>
    <ul>
      <li><a href="{% url 'comercial:vendas_cor' %}">Por cor</a></li>
      <li><a href="{% url 'comercial:vendas_tamanho' %}">Por tamanho</a></li>
    </ul>
    <li>Ponderação de vendas</li>
    <ul>
      <li><a href="{% url 'comercial:ponderacao' %}">Pesos por período</a></li>
      <li><a href="{% url 'comercial:analise_vendas' %}">Vendas por modelo</a></li>
      <li><a href="{% url 'comercial:analise_modelo' %}">Define meta de estoque de modelo</a></li>
      <li><a href="{% url 'comercial:metas' %}">Visualiza meta de estoque</a></li>
      <li><a href="{% url 'comercial:verifica_venda' %}">Verifica estimativa de venda</a></li>
    </ul>
  </ul>
  <li>Sistema Tussor (antigo)</li>
  <ul>
    <li><a href="{% url 'comercial:ficha_cliente' %}">Ficha de cliente (duplicatas)</a></li>
  </ul>
  <li>Meta de faturamento</li>
  <ul>
    <li><a href="{% url 'comercial:painel_meta_faturamento' %}" target="_blank">Painel</a></li>
  </ul>
</ul>
