{% extends 'comercial/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'comercial:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
p::first-line {
  font-weight: bold;
}
.valores {
  text-align: right;
}
.positivo {
  color: green;
}
.neutro {
  color: black;
}
.negativo {
  color: red;
}
</style>
{% endblock %}

{% block content %}
  {% if msg_erro %}
    <h4>{{ msg_erro }}</h4>
  {% else %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-1">
          <p>
            Mês<br>
            Planejado<br>
            <br>
            Compensado<br>
            Meta<br>
            Faturado<br>
            Pedido<br>
            Performance<br>
            Saldo<br>
            Compensar
          </p>
        </div>
        <div class="col-xs-10">
          <div class="container-fluid">
            <div class="row">
              {% for mes in meses %}
                <div class="col-xs-1 valores">
                  <p>
                    {{mes.mes|date:"M"}}<br>
                    {% if mes.reparo > 0 %}({% endif %}{{mes.faturamento}}<br>
                    {% if mes.reparo > 0 %}+{{mes.reparo}}){% endif %}<br>
                    {% if mes.compensado %}
                      {{mes.compensado}}
                    {% else %}
                      .
                    {% endif %}<br>
                    {{mes.meta}}<br>
                    <span class="valores
                      {% if mes.percentual == 100 or mes.imes > mes_atual or mes.planejado == 0 %}
                        neutro
                      {% elif mes.percentual < 100 %}
                        negativo
                      {% else %}
                        positivo
                      {% endif %}
                      ">
                      {% if mes.faturado > 0 %}
                        {{mes.faturado}}
                      {% else %}
                        .
                      {% endif %}<br>
                      {% if mes.pedido > 0 %}
                        {{mes.pedido}}
                      {% else %}
                        .
                      {% endif %}<br>
                      {% if mes.imes <= mes_atual and mes.planejado != 0 %}
                        {{mes.percentual}}%
                      {% else %}
                        .
                      {% endif %}<br>
                      {% if mes.imes == mes_atual %}
                        {{mes.saldo}}
                      {% else %}
                        .
                      {% endif %}<br>
                      {% if mes.imes < mes_atual %}
                        {% if mes.ajuste > 0 %}({% endif %}{{mes.acompensar}}
                        {% if mes.ajuste > 0 %}<br>
                          +{{mes.ajuste}})
                        {% endif %}
                      {% else %}
                        {% if mes.ajuste > 0 %}
                          +{{mes.ajuste}}
                        {% else %}
                          .
                        {% endif %}
                      {% endif %}
                    </span>
                  </p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-xs-1 valores">
          <p>
            Totais<br>
            {{total.planejado}}<br>
            <br>
            {{total.compensado}}<br>
            <br>
            {{total.faturado}}<br>
            <br>
            {{total.percentual}}%<br>
            <br>
            {{total.acompensar}}
          </p>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
