{% load static %}<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Painel de meta de faturamento</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Chart.js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Base CSS -->
  <link href="{% static "css/base.css" %}" rel="stylesheet">

  <style media="screen">
    .p_header {
      width: 100%;
      background-image: linear-gradient(white, #f2f2f2);
    }
    .p_titulo {
      text-align: center;
    }
    .p_titulo h2{
      margin-top: 0px;
    }
    .mes {
      width: 100%;
      text-align: center;
    }
    .valores {
      text-align: right;
    }
    .direita {
      text-align: right;
    }
    .esquerda {
      text-align: left;
    }
    .positivo {
      color: green;
    }
    .neutro {
      color: black;
    }
    .negativo {
      color: red;
    }
    .resultados_mes {
      font-size: xxx-large;
    }
    table.center {
      margin-left:auto;
      margin-right:auto;
    }
    .v_separador {
      border-left-style: solid;
      border-left-color: black;
    }
    .vfina_separador {
      border-left-style: solid;
      border-left-color: black;
      border-left-width: thin;
    }
    thead {
      font-weight: bold;
    }
    .total {
      font-weight: bold;
      color: red;
    }
    #pendencias td {
      padding-left: 5px;
      padding-right: 5px;
      vertical-align: top;
    }
    #pendencias thead, #pendencias tbody tr:nth-child(even) {
      background-color: #f2f2f2
    }
    .base_separador {
      border-bottom-style: solid;
      border-bottom-color: black;
    }
    #bottom{
      position: fixed;
      width:100%;
      bottom:0;
    }
    .detalhe {
      font-size: small;
    }
    a.timer {
      font-size: xx-small;
      color: snow;
      justify-content: right;
      animation-name: timer;
      animation-duration: 600s;
    }
    @keyframes timer {
      0%   {color: #0088ff;}
      95%  {color: lightgray;}
      100% {color: white;}
    }

    .overlay {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(240,240,240,0.8);
    }
    .cartaz {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      height: 100%;
    }
</style>
<script>

 var valendo = false;
 var refresh_rate = 600; // segundos
 var last_user_action = 0;

 function reset() {
   if (valendo) {
     let elm = document.getElementById("timerlink");
     let newone = elm.cloneNode(true);
     elm.parentNode.replaceChild(newone, elm);
     last_user_action = 0;
   }
 }

 function refreshCheck() {
   if (valendo) {
     if (last_user_action >= refresh_rate && document.readyState == "complete") {
       location.reload(true);
     }
   }
 }

 window.addEventListener("focus", reset, false);
 window.addEventListener("blur", reset, false);
 window.addEventListener("click", reset, false);
 window.addEventListener("dblclick", reset, false);
 window.addEventListener("mouseover", reset, false);
 window.addEventListener("mousemove", reset, false);
 window.addEventListener("keypress", reset, false);
 window.addEventListener("keydown", reset, false);
 window.addEventListener("scroll", reset, false);
 document.addEventListener("touchMove", reset, false);
 document.addEventListener("touchEnd", reset, false);

 function resetScroll() {
   setInterval(function () {
     last_user_action++;
     refreshCheck();
   }, 1000);

   valendo = true;
 }

</script>
</head>

{% if msg_erro %}
<body>
  <h4>{{ msg_erro }}</h4>
</body>
{% else %}

<body onload="resetScroll();">
    <div class="p_header container-fluid">
      <div class="col-xs-3">
        <a href="/"><img src="{% static "img/DUOMO_small.png"  height="40" width="176" %}" alt="D'UOMO"></a>
      </div>
      <div class="col-xs-6 p_titulo">
        &nbsp;
      </div>
      <div class="col-xs-3 direita">
        <a id="timerlink" class="timer" href=".">Recarrega</a><br>
        {{hoje|date:"d/m/Y H:i"}}
      </div>
    </div>
  <div class="mes">
    <table class="resultados_mes center">
      <tr class="base_separador">
        <td colspan="15">Meta de Bônus de {{hoje|date:"F"}}</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Meta</td>
        <td>&nbsp;</td>
        <td class="v_separador">&nbsp;</td>
        <td>Faturado</td>
        <td>&nbsp;</td>
        <td class="v_separador">&nbsp;</td>
        <td>Pedidos</td>
        <td>&nbsp;</td>
        <td class="v_separador">&nbsp;</td>
        <td>Total</td>
        <td>&nbsp;</td>
        <td class="v_separador">&nbsp;</td>
        <td>
          {%if mes.meta == mes.total%}
            Exato
          {%elif mes.meta > mes.total%}
            Falta
          {%else%}
            Superou
          {%endif%}
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr class="
        {%if mes.meta == mes.total%}
          neutro
        {%elif mes.meta > mes.total%}
          negativo
        {%else%}
          positivo
        {%endif%}
        ">
        <td>&nbsp;</td>
        <td>{{mes.meta}}</td>
        <td>&nbsp;</td>
        <td class="v_separador">&nbsp;</td>
        <td>{{mes.faturado}}</td>
        <td>&nbsp;</td>
        <td class="v_separador">&nbsp;</td>
        <td>{{mes.pedido}}</td>
        <td>&nbsp;</td>
        <td class="v_separador">&nbsp;</td>
        <td>{{mes.total}}</td>
        <td>&nbsp;</td>
        <td class="v_separador">&nbsp;</td>
        <td>
          {%if mes.meta >= mes.total%}
            {{mes.meta|subtract:mes.total}}
          {%else%}
            {{mes.total|subtract:mes.meta}}
          {%endif%}
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr class="base_separador
        {%if mes.meta == mes.total%}
          neutro
        {%elif mes.meta > mes.total%}
          negativo
        {%else%}
          positivo
        {%endif%}
        ">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="v_separador">&nbsp;</td>
        <td>{{mes.perc_faturado}}%</td>
        <td>&nbsp;</td>
        <td class="v_separador">&nbsp;</td>
        <td>{{mes.perc_pedido}}%</td>
        <td>&nbsp;</td>
        <td class="v_separador">&nbsp;</td>
        <td>{{mes.percentual}}%</td>
        <td>&nbsp;</td>
        <td class="v_separador">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
  <div id="bottom" class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        {%if pends%}
          <table id="pendencias">
            <thead>
              <tr>
                <td width="10%">Cliente</td>
                <td width="35%" class="vfina_separador">Pendência</td>
                <td width="10%" class="vfina_separador valores">Valor</td>
                <td width="10%" class="vfina_separador">Entrega</td>
                <td width="15%" class="vfina_separador">Responsável</td>
                <td width="20%" class="vfina_separador">Observação</td>
              </tr>
            </thead>
            <tbody>
              {%for pendencia in pends%}
                <tr {%if pendencia.total %}class="total"{%endif%}>
                  <td>{{pendencia.cliente}}</td>
                  <td class="vfina_separador{%if pendencia.total %} direita{%endif%}">{{pendencia.pendencia}}</td>
                  <td class="vfina_separador valores">{{pendencia.valor}}</td>
                  <td class="vfina_separador">{{pendencia.entrega}}</td>
                  <td class="vfina_separador total">{{pendencia.responsavel}}</td>
                  <td class="vfina_separador">{{pendencia.obs}}</td>
                </tr>
              {%endfor%}
            </tbody>
          </table>
        {%else%}
          &nbsp;
        {%endif%}
      </div>
    </div>
  </div>
  <script>
    var today = new Date();
    today.setHours(0, 0, 0, 0);
    var today_time = today.getTime()
    var dow = today.getDay();

    var cards = {
      'com_vc': {
        'dtde': new Date('04/16/2021'),
        'dtate': new Date('04/19/2021'),
        'cartaz': {
          'path': '/media/rh/dicas/2021/04/com_vc_somos_mais',
          'files': [
            '01.jpg',
            '02.jpg',
            '03.jpg',
            '04.jpg',
            '05.jpg',
            '06.jpg',
            '07.jpg',
            '08.jpg',
            '09.jpg',
            '10.jpg',
            '11.jpg'
          ]
        },
        'delay_file': 8000,
        'n_loops': 5,
      },
      'novo_ciclo': {
        'dtde': new Date('04/16/2021'),
        'dtate': new Date('04/20/2021'),
        'cartaz': {
          'path': '/media/rh/campanhas/2020/11/27',
          'files': [
            '1.jpeg',
            '2.png',
            '3.png',
            '4.png',
          ]
        },
        'delay_file': 10000,
        'n_loops': 10,
      },
      'vida': {
        'dtde': new Date('04/15/2021'),
        'dtate': new Date('04/15/2021'),
        'cartaz': {
          'path': '/media/rh/campanhas/2021/04/15-vida',
          'files': [
            '1.gif',
          ]
        },
        'delay_file': 32000,
        'n_loops': 10,
      },
      'covid': {
        'dtde': new Date('03/15/2021'),
        'dtate': new Date('04/15/2021'),
        'dow': [2, 4],
        'cartaz': {
          'path': '/media/rh/campanhas/2021/03/15',
          'files': [
            'covid-mar21.gif',
          ]
        },
        'delay_file': 60000,
        'n_loops': 5,
      },
      'mascara': {
        'dtde': new Date('05/19/2021'),
        'dtate': new Date('05/31/2021'),
        'cartaz': {
          'path': '/media/rh/campanhas/2021/01/26',
          'files': [
            'mascara.jpg',
          ]
        },
        'delay_file': 15000,
        'n_loops': 18,
      },
      '1maio': {
        'dtde': new Date('04/27/2021'),
        'dtate': new Date('05/01/2021'),
        'cartaz': {
          'path': '/media/rh/datas_comemorativas/2021/05/01-trabalhador',
          'files': [
            'd1.jpg',
            'd2.jpg',
            'd3.jpg',
            'd4.jpg',
            'd5.jpg',
          ]
        },
        'delay_file': 6000,
        'n_loops': 10,
      },
      'maes': {
        'dtde': new Date('05/06/2021'),
        'dtate': new Date('05/09/2021'),
        'cartaz': {
          'path': '/media/rh/datas_comemorativas/2021/05/09-maes',
          'files': [
            'A-1.jpg',
            'A-2.jpg',
            'A-3.jpg',
            'A-4.jpg',
            'A-5.jpg',
            'B-1.jpg',
            'B-2.jpg',
            'B-3.jpg',
            'B-4.jpg',
            'B-5.jpg',
            'C-1.jpg',
            'C-2.jpg',
            'C-3.jpg',
            'C-4.jpg',
            'C-5.jpg',
            'D-1.jpg',
            'D-2.jpg',
            'D-3.jpg',
            'D-4.jpg',
            'D-5.jpg',
            'E-1.jpg',
            'E-2.jpg',
            'E-3.jpg',
            'E-4.jpg',
            'E-5.jpg',
            'F-1.jpg',
            'F-2.jpg',
            'F-3.jpg',
            'F-4.jpg',
            'F-5.jpg',
          ]
        },
        'delay_file': 5000,
        'n_loops': 4,
      },
      'familia_amor': {
        'dtde': new Date('05/10/2021'),
        'dtate': new Date('05/17/2021'),
        'cartaz': {
          'path': '/media/rh/campanhas/2021/05/15-familia',
          'files': [
            'f1.jpg',
            'f2.jpg',
            'f3.jpg',
            'f4.jpg',
            'f5.jpg',
            'f6.jpg',
          ]
        },
        'delay_file': 5000,
        'n_loops': 14,
      },
      'familia_numeros': {
        'dtde': new Date('05/10/2021'),
        'dtate': new Date('05/17/2021'),
        'cartaz': {
          'path': '/media/rh/campanhas/2021/05/15-familia',
          'files': [
            'i1.jpg',
          ]
        },
        'delay_file': 15000,
        'n_loops': 17,
      },
      'diversidade': {
        'dtde': new Date('06/21/2021'),
        'dtate': new Date('06/30/2021'),
        'cartaz': {
          'path': '/media/rh/campanhas/2021/06/diversidade',
          'files': [
            '1.jpg',
            '2.jpg',
            '3.jpg',
            '4.jpg',
            '5.jpg',
          ]
        },
        'delay_file': 7000,
        'n_loops': 12,
      },
      'saojoao': {
        'dtde': new Date('06/21/2021'),
        'dtate': new Date('06/25/2021'),
        'cartaz': {
          'path': '/media/rh/datas_comemorativas/2021/06/sao-joao',
          'files': [
            'cartaz.jpg',
          ]
        },
        'delay_file': 15000,
        'n_loops': 17,
      },
      'meta2021junho': {
        'dtde': new Date('08/13/2021'),
        'dtate': new Date('08/17/2021'),
        'cartaz': {
          'path': '/media/rh/meta/2021/06',
          'files': [
            'meta.jpg',
          ]
        },
        'delay_file': 15000,
        'n_loops': 17,
      },
      'camp202109amarelo': {
        'dtde': new Date('08/31/2021'),
        'dtate': new Date('09/24/2021'),
        'cartaz': {
          'path': '/media/rh/campanhas/2021/09/amarelo',
          'files': [
          '01.jpg',
            '02.jpg',
            '03.jpg',
            '04.jpg',
            '05.jpg',
            '06.jpg',
            '07.jpg',
            '08.jpg',
            '09.jpg',
            '10.jpg',
            '11.jpg',
            '12.jpg',
            '13.jpg',
            '14.jpg',
            '15.jpg'
          ]
        },
        'delay_file': 12000,
        'n_loops': 3,
      },
      'voluntariobrigada': {
        'dtde': new Date('09/20/2021'),
        'dtate': new Date('10/14/2021'),
        'cartaz': {
          'path': '/media/sms/2021/09',
          'files': [
            'voluntario-brigada.jpg',
          ]
        },
        'delay_file': 15000,
        'n_loops': 17,
      },
      'bruxa2021': {
        'dtde': new Date('10/29/2021'),
        'dtate': new Date('10/31/2021'),
        'cartaz': {
          'path': '/media/rh/datas_comemorativas/2021/10/bruxas',
          'files': [
            '1.jpg',
            '2.jpg',
            '3.jpg',
            '4.jpg',
          ]
        },
        'delay_file': 7000,
        'n_loops': 12,
      },
      '2021-11-azul': {
        'dtde': new Date('11/10/2021'),
        'dtate': new Date('11/20/2021'),
        'cartaz': {
          'path': '/media/rh/campanhas/2021/11/azul',
          'files': [
            '1.jpg',
            '2.jpg',
          ]
        },
        'delay_file': 14000,
        'n_loops': 12,
      },
      '2021-12-sipat': {
        'dtde': new Date('12/02/2021'),
        'dtate': new Date('12/10/2021'),
        'cartaz': {
          'path': '/media/rh/campanhas/2021/12/sipat',
          'files': [
            '1-CARTAZ-SIPAT-DUOMO.jpg',
            '2-COMO-ACESSAR-SUA-SIPAT.jpg'
          ]
        },
        'delay_file': 20000,
        'n_loops': 12,
      },
      '2022-01-gripes': {
        'dtde': new Date('01/10/2022'),
        'dtate': new Date('01/20/2022'),
        'cartaz': {
          'path': '/media/upload/imagens/rh-em-acao/painel/2022/01/gripes',
          'files': [
            'gripes-influenza-e-covid19.png',
            'uso-correto-da-mascara.jpg',
            'use-mascara.png',
          ]
        },
        'delay_file': 14000,
        'n_loops': 12,   
      }
    }

    cards_to_show = [];
    for (var name in cards) {
      let card = cards[name];
      showCard = true;
      if ("dtde" in card) {
        showCard = showCard && (
          today_time >= card['dtde']
        );
      }
      if ("dtate" in card) {
        showCard = showCard && (
          today_time <= card['dtate']
        );
      }
      if ("dow" in card) {
        let dows = card['dow']
        for (var i = 0; i <= dows.length-1; i++) {
          cdow = dows[i];
          if ( cdow == dow ) {
            showCard = showCard && true;
          }
        }
      }

      if (showCard) {
        cards_to_show.push(name);
      }
    }

    if (cards_to_show.length > 0) {
      var name = cards_to_show[Math.floor(Math.random() * cards_to_show.length)];
      console.log(name);
      let card = cards[name];

      let cartaz = card['cartaz'];
      let delay_file = card['delay_file'];
      let n_loops = card['n_loops'];
      
      let path = cartaz['path'];
      let files = cartaz['files'];

      var nimagens = files.length

      // Cria divs e images
      var elsdiv = {};
      var elsimg = {};

      for (var i = 1; i <= nimagens; i++) {
        fname = files[i-1];

        var eldiv = document.createElement('div');
        eldiv.id = name+"d"+i;
        eldiv.classList.add("overlay");

        var elimg = document.createElement('img');
        elimg.id = name+"i"+i;
        elimg.classList.add("cartaz");
        elimg.src = path+'/'+fname;

        eldiv.appendChild(elimg);
        document.body.appendChild(eldiv);

        elsdiv[i] = eldiv;
        elsimg[i] = elimg;
      }

      var chave_imagens = 0;

      var post_div = null;
      function post_div_visible() {
        post_div.style.visibility = 'visible';
      }

      function mostra_imagem() {
        let imgloop = chave_imagens % (nimagens+1)

        for (var key = 1; key <= nimagens; key++) {
          if (key == imgloop) {
            post_div = elsdiv[key];
            elsimg[key].addEventListener('load', post_div_visible)
            elsimg[key].src = elsimg[key].getAttribute('src');
          } else {
            elsdiv[key].style.visibility = 'hidden';
          }
        }

        if ( imgloop == 0) {
          var demora = 675000/n_loops - delay_file*nimagens;
        } else {
          var demora = delay_file;
        }

        window.setTimeout(function () {
          mostra_imagem();
        }, demora);
        chave_imagens += 1;
      }

      mostra_imagem();
    }

  </script>
</body>
{% endif %}
</html>
