{% extends 'comercial/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'comercial:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'comercial:vendas_cor' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
  </form>
  {% if request.POST %}
    <h3>Filtro:</h3>
    <ul>
      <li>Referência:
      {% if ref %}
          {{ref}}
          {% if descricao %}
            - {{descricao}}
          {% endif %}
      {% else %}
          Todas
      {% endif %}
      </li>
      {% if colecao %}
        <li>Coleção:
          {{colecao}}
        </li>
      {% endif %}
      {% if cliente %}
        <li>Cliente:
          {{cliente}}
        </li>
      {% endif %}
    </ul>
  {% endif %}
  {% if msg_erro %}
    <h3>{{ msg_erro }}</h3>
  {% endif %}
  {% if grades %}
    {%for grade in grades%}
      {% if grade.data %}
        <h3>Distribuição
          {% if grade.nome %}
            {{grade.nome}}
          {% endif %}
          (%)</h3>
        <table>
          {% include "layout/thead_generic.html" with data=grade.headers style=grade.style only %}
          {% include "layout/tbody_generic.html" with fields=grade.fields data=grade.data style=grade.style only %}
        </table>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
