{% extends 'comercial/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'comercial:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if request.POST %}
  {% include "layout/form_inputs_report.html" with form=form h=5 only %}
  {% if obs %}
    <h5>Obs.: {{ obs }}</h5>
  {% endif %}
  {% if erro %}
    <h4>{{ erro }}</h4>
  {% else %}
    {% if data %}
      <table>
        {% include "layout/thead_generic.html" with data=headers style=style only %}
        {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
      </table>
    {% else %}
      <h4>Nenhuma venda encontrada</h4>
    {% endif %}
  {% endif %}
{% endif %}
{% endblock %}
