{% extends 'comercial/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'comercial:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  {% if msg_erro %}
    <h4>{{ msg_erro }}</h4>
  {% endif %}
  {% if t_data %}
    <table>
      {% include "layout/thead_generic.html" with data=t_headers style=t_style only %}
      {% include "layout/tbody_generic.html" with fields=t_fields data=t_data style=t_style only %}
    </table>
  {% endif %}
  {% if data %}
    <p>&nbsp;</p>
    <h4>Modelos com meta</h4>
    <table>
      {% include "layout/thead_generic.html" with data=headers style=style only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
    </table>
  {% endif %}
  {% if o_data %}
    <p>&nbsp;</p>
    <h4>Modelos sem meta</h4>
    <table>
      {% include "layout/thead_generic.html" with data=o_headers style=o_style only %}
      {% include "layout/tbody_generic.html" with fields=o_fields data=o_data style=o_style only %}
    </table>
  {% endif %}
  {% if data %}
    <p>&nbsp;</p>
    <ul>
      <li>Observações:</li>
      <ul>
        <li>Dias úteis do mês corrente até hoje: {{u_pass}} de {{u_tot}}</li>
        <li>Faturamento do mês: Total faturado no mês corrente até agora</li>
        <li>Estimativa de faturamento do mês: Faturamento do mês, dividido pelos dias uteis até hoje, multiplicado pelo total de dias uteis</li>
        <li>Faturamento de 30 dias: Total faturado nos ultimos 30 dias corridos, contando com o dia de hoje</li>
      </ul>
      <li>Legenda das cores dos faturamentos estimado e de 30 dias:</li>
      <ul>
        <li><span style="color: green;">verde</span>: superior a venda indicada em mais de 10%</li>
        <li><span style="color: red;">vermelha</span>: inferior a venda indicada em mais de 10%</li>
      </ul>
    </ul>
  {% endif %}
{% endblock %}
