{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'cd:confronta_qtd_lote' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="busca" value="Busca"/>
  </form>
  {% include "layout/form_inputs_report.html" with form=form h=4 only %}
  {% if conta_lotes %}
    <p>{{conta_lotes}} lote{{conta_lotes|pluralize}} inventariado{{conta_lotes|pluralize}}:
      {{conta_corretos}} lote{{conta_corretos|pluralize}} coerente{{conta_corretos|pluralize}};
      {{conta_inconsistentes}} lote{{conta_inconsistentes|pluralize}} inconsistente{{conta_inconsistentes|pluralize}};
    </p>
  {% endif %}
  {% if data %}
  <p>Lista {{quant_inconsist}} primeira{{quant_inconsist|pluralize}} inconsistência{{quant_inconsist|pluralize}}</p>
  <table>
      {% include "layout/thead_generic.html" with data=headers style=style thclass='sticky' only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
    </table>
  {% else %}
    <h4>Nenhum lote encontrado</h4>
  {% endif %}
{% endblock content %}
