{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
    {% include "layout/paginator_stylesheet.css" %}
  </style>
{% endblock %}

{% block content %}
  <h4>{{inconsist_len}} inconsistência{{inconsist_len|pluralize}} encontrada{{inconsist_len|pluralize}}</h4>
  {% include "layout/paginator_get.html" with data=data url_name='cd:confronta_qtd_solicit' only %}
  <p>{{por_pagina}} lotes por página</p>
  <p>Apenas situçação: 1 (A confirmar), 2 (Confirmado), 3 (Programado) ou 4 (Solicitado)</p>
  <table>
    {% include "layout/thead_generic.html" with data=headers safe=safe style=style thclass='sticky' only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data safe=safe style=style only %}
  </table>
  {% include "layout/paginator_get.html" with data=data url_name='cd:confronta_qtd_solicit' only %}
{% endblock content %}
