{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include "layout/simple_table.css" %}
    {% include "layout/paginator_stylesheet.css" %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'cd:endereco' %}" method="post" name="myForm">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="filtra" value="Filtra" onclick="page1()"/>
  </form>
  {% if data %}
    {% include "layout/paginator.html" with data=data only %}
    <table>
      <h4>{{quant}} endereços encontrados</h4>
      {% include "layout/thead_generic.html" with data=headers thclass='sticky' only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data only %}
    </table>
    {% include "layout/paginator.html" with data=data only %}
  {% else %}
    {% if request.POST %}
      <h4>Nenhum endereço encontrado</h4>
    {% endif %}
  {% endif %}
{% endblock content %}

{% block javascript %}
  <script type="text/javascript">
    {% include "layout/paginator_javascript.js" with form='myForm' field='page' only %}
  </script>
{% endblock %}
