{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <h4>Rotina desligada</h4>
{% endblock content %}

{% block content_OFF %}
  <form action="{% url 'cd:endereco_conteudo_importa' %}" method="post" name="formName">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="importa" value="Importa"/>
  </form>
  {% if request.POST %}
    {% if mensagem %}
      <h4>{{mensagem}}</h4>
    {% endif %}
    {% if log %}
      <pre>{{log}}</pre>
    {% endif %}
  {% endif %}
{% endblock content_OFF %}
