{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include "layout/simple_table.css" %}
    {% include "layout/paginator_stylesheet.css" %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'cd:endereco' %}" method="post" name="myForm">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="filtra" value="Filtra" onclick="o2SetPage1AndSubmit()"/>
  </form>
  {% if data %}
    {% if can_print %}
      <div style="float:right;display:none" id="imprime">
        <a title="Imprime seleção" href="#" onclick="javascript:return ImprimeSelecao();"><span class="glyphicon glyphicon-print" style="font-size: 2em" aria-hidden="true"></span></a>
      </div>
    {% endif %}
    {% include "layout/paginator.html" with data=data only %}
    <table>
      <h4>{{quant}} endereços encontrados</h4>
      {% include "layout/thead_generic.html" with data=headers safe=safe thclass='sticky' only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data safe=safe only %}
    </table>
    {% include "layout/paginator.html" with data=data only %}
  {% else %}
    {% if request.POST %}
      <h4>Nenhum endereço encontrado</h4>
    {% endif %}
  {% endif %}
{% endblock content %}

{% block javascript %}
{% block javascript.pos %}
  <script>
    {% include "layout/paginator_javascript.js" with form='myForm' field='page' only %}

    var sel_type = 'i'; // 'i'nicio, 'f'im ou 'd'esliga
    var idx_inicio = -1;

    function acende_apaga(id, on_off) {
      var el = document.getElementById(id);
      if (el) {
        el.style.display = on_off ? "inline" : "none";
      }
    }

    function acende(id) {
      acende_apaga(id, true);
    }

    function apaga(id) {
      acende_apaga(id, false);
    }

    function set_title(id, title) {
      var el = document.getElementById(id);
      if (el) {
        el.title = title;
      }
    }

    function set_titles() {
      if (sel_type == 'i') {
        title="Seleciona início";
        apaga("imprime");
      } else if (sel_type == 'f') {
        title="Seleciona fim";
        apaga("imprime");
      } else if (sel_type == 'd') {
        title="Desseleciona";
        acende("imprime");
      }
      for (i=0; i < 50; i++){
        set_title('sel_'+i, title);
      }
    }
  
    function Seleciona(idx) {
      console.log('Seleciona', idx);
      if (sel_type == 'i') {
        sel_type = 'f';
        idx_inicio = idx;
        for (i=idx; i < 50; i++){
          apaga('sel_no_'+i);
          acende('sel_yes_'+i);
        }
      } else if (sel_type == 'f') {
        if (idx < idx_inicio) {
          sel_type = 'i';
        } else {
          sel_type = 'd';
        }
        idx++;
        for (i=idx; i < 50; i++){
          acende('sel_no_'+i);
          apaga('sel_yes_'+i);
        }
      } else if (sel_type == 'd') {
        sel_type = 'i';
        for (i=0; i < 50; i++){
          acende('sel_no_'+i);
          apaga('sel_yes_'+i);
        }
      }
      set_titles();
      return false;
    }

  </script>
{% endblock javascript.pos %}
{% endblock javascript %}
