{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
span.spanlink {
  cursor:pointer;
  color:#337ab7;
}
span.spanlink:hover {
  color:##23527c;
  text-decoration:underline;
}
.mypagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
}
</style>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    function setPageAndSubmit(page) {
      document.getElementById('id_page').value = page;
      document.formName.submit();
    }
    function showHideMyFilter() {
      var x = document.getElementById("myfilter");
      if (x.style.display === "none") {
        x.style.display = "block";
        document.getElementById("txtmyfilter").innerHTML = "Esconde";
      } else {
        x.style.display = "none";
        document.getElementById("txtmyfilter").innerHTML = "Mostra";
      }
    }
  </script>
{% endblock %}

{% block content %}
<button onclick="showHideMyFilter()"><span id="txtmyfilter">Esconde</span> campos de filtro</button><br/>
<div id="myfilter">
  <form action="{% url 'cd_estoque' %}" method="post" name="formName">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="busca" value="Busca"/>
  </form>
</div>
{% if erro %}
  <h3>{{ erro }}</h3>
{% else %}
  {% if data %}
    <script type="text/javascript">
      window.onload = function() {
        showHideMyFilter();
      }
    </script>
    {% if data.paginator.num_pages != 1 %}
      <div class="mypagination">
        <br/>
        {% if data.has_previous %}
          <span class="spanlink" onclick="setPageAndSubmit(1)">&nbsp;<<&nbsp;</span>
          <span class="spanlink" onclick="setPageAndSubmit({{ data.previous_page_number }})">&nbsp;<&nbsp;</span>
        {% endif %}
          <span>Página {{ data.number }} de {{ data.paginator.num_pages }}</span>
        {% if data.has_next %}
          <span class="spanlink" onclick="setPageAndSubmit({{ data.next_page_number }})">&nbsp;>&nbsp;</span>
          <span class="spanlink" onclick="setPageAndSubmit({{ data.paginator.num_pages }})">&nbsp;>>&nbsp;</span>
        {% endif %}
      </div>
    {% endif %}
    {% if endereco %}
      <h4>Endereço: <b>{{ endereco }}</b></h4>
    {% endif %}
    {% if lote %}
      <h4>Lote: <b>{{ lote }}</b></h4>
    {% endif %}
    {% if op %}
      <h4>OP: <b>{{ op }}</b></h4>
    {% endif %}
    {% if ref %}
      <h4>Referência: <b>{{ ref }}</b></h4>
    {% endif %}
    {% if tam %}
      <h4>Tamanho: <b>{{ tam }}</b></h4>
    {% endif %}
    {% if cor %}
      <h4>Cor: <b>{{ cor }}</b></h4>
    {% endif %}
    {% if data_de %}
      <h4>Data de bipagem:
      {% if data_de == data_ate %}
        <b>{{ data_de }}</b>
      {% else %}
        De <b>{{ data_de }}</b> até <b>{{ data_ate }}</b>
      {% endif %}
      </h4>
    {% endif %}
    <h4>Ordenação:
      {% if ordem == 'B' %}
        Hora de bipagem
      {% elif ordem == 'O' %}
        OP Referência Cor Tamanho Endereço Lote
      {% elif ordem == 'R' %}
        Referência Cor Tamanho Endereço OP Lote
      {% elif ordem == 'E' %}
        Endereço OP Referência Cor Tamanho Lote
      {% endif %}
    </h4>
    <table>
      {% include "layout/thead_generic.html" with data=headers only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data only %}
    </table>
  {% endif %}
{% endif %}
{% endblock content %}
