{% extends 'cd/layout_m.html' %}

{% block stylesheet %}
  <style>
  {% include 'layout/simple_table.css' %}
  table {
    font-size: 2vw;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="leftcol50">
      <p>
        {{ titulo }}
      </p>
    </div>
    <div class="rightcol50">
      <a class="botao back" href="{% url 'cd:coletor' %}">Coletor</a>
    </div>
  </div>
  <hr>
  <form action="{% url 'cd:esvazia_palete' %}" method="post">
    {% csrf_token %}
      {{ form.as_p }}
    {% if identificado %}
      <input type="submit" name="esvazia" value="Esvazia"/>
    {% else %}
      <input type="submit" name="identifica" value="Identifica"/>
    {% endif %}
  </form>
  {% if erro %}
    <p class="erro">{{ erro }}</p>
  {% endif %}
  {% if quant_lotes %}
    <p>{{ quant_lotes }} lote{{ quant_lotes|pluralize }} no palete {{ palete }}</p>
  {% endif %}
  {% if mensagem %}
    <p>{{ mensagem }}</p>
  {% endif %}

  {% block javascript %}
  <script>
    var elem = document.getElementById('id_palete');
    elem.select();
  </script>
  {% endblock javascript %}
{% endblock content %}
