{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'cd_grade_estoque' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="busca" value="Busca"/>
  </form>
  <br/>
  {% if erro %}
    <h3>{{ erro }}</h3>
  {% else %}
    {% if link_tot %}
      <h4><a href="{% url 'cd_grade_estoque' 'todas' %}">Todas as grades por referência</a></h4>
    {% endif %}
    {% if grades %}
      {% if modelos.paginator.num_pages != 1 %}
        ({{modelos_pagina}} modelos por página)<br/>
        <ul class="pagination">
          {% if modelos.has_previous %}
            <li><a href="?page={{ modelos.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in modelos.paginator.page_range %}
            {% if modelos.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if modelos.has_next %}
            <li><a href="?page={{ modelos.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
      {% for grade in grades %}
        {% if link_num %}
          {% if grade.refnum %}
            {% if link_num_hr %}
              <hr>
            {% endif %}
            <h4 style="padding-left: 2em;">Referência numérica: <b><a href="{% url 'cd_grade_estoque' grade.refnum %}">{{ grade.refnum }}</a></b></h4>
          {% endif %}
        {% endif %}
        {% if title_tipo %}
          {% if grade.tipo %}
            {% if title_tipo_hr %}
              <hr style="margin-left: 3em;">
            {% endif %}
            <h4 style="padding-left: 4em;">Tipo: <b>{{ grade.tipo }}</b></h4>
          {% endif %}
        {% endif %}
        {% if title_ref %}
          <h4 style="padding-left: 6em;">Referência: <b>{{ grade.ref }}</b></h4>
        {% endif %}
        {% if link_ref %}
          <h4 style="padding-left: 6em;">Referência: <b><a href="{% url 'cd_grade_estoque' grade.ref %}">{{ grade.ref }}</a></b></h4>
        {% endif %}
        <table>
          <tr>
            <td style="vertical-align: top;">
              <h4>Inventário</h4>
              <table style="width: auto;">
                {% include "layout/thead_generic.html" with data=grade.inventario.headers only %}
                {% include "layout/tbody_generic.html" with fields=grade.inventario.fields data=grade.inventario.data group=grade.inventario.group only %}
              </table>
            </td>
            {% if grade.solicitacoes %}
              <td>&nbsp;</td>
              <td style="border-left: thin solid lightgrey;">&nbsp;</td>
              <td style="vertical-align: top;">
                <h4>Solicitações</h4>
                <table style="width: auto;">
                  {% include "layout/thead_generic.html" with data=grade.solicitacoes.headers only %}
                  {% include "layout/tbody_generic.html" with fields=grade.solicitacoes.fields data=grade.solicitacoes.data group=grade.solicitacoes.group only %}
                </table>
              </td>
              <td>&nbsp;</td>
              <td style="border-left: thin solid lightgrey;">&nbsp;</td>
              <td style="vertical-align: top;">
                <h4>Disponível</h4>
                <table style="width: auto;">
                  {% include "layout/thead_generic.html" with data=grade.disponivel.headers only %}
                  {% include "layout/tbody_generic.html" with fields=grade.disponivel.fields data=grade.disponivel.data group=grade.disponivel.group only %}
                </table>
              </td>
            {% endif %}
          </tr>
        </table>
      {% endfor %}
    {% endif %}
    {% if data %}
      {% if link_num %}
        {% if refnum %}
          <h4>Grades da referência numérica: <b><a href="{% url 'cd_grade_estoque' refnum %}">{{ refnum }}</a></b></h4>
        {% endif %}
      {% endif %}
      <table>
        {% include "layout/thead_generic.html" with data=headers only %}
        {% include "layout/tbody_generic.html" with fields=fields data=data group=group only %}
      </table>
    {% endif %}
  {% endif %}
{% endblock content %}
