{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
{% comment %}
<form action="{% url 'cd_inconsist' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="busca" value="Busca"/>
</form>
<br/>
{% endcomment %}
{% if erro %}
  <h3>{{ erro }}</h3>
{% else %}
  {% if data %}
    {% if data_size %}
      <h4>Listagem limitada a <b>{{ data_size }}</b> inconsistências</h4>
    {% endif %}
    {% if endereco or lote or op or ref or tam or cor or data_de %}
      <h3>Busca por</h3>
    {% endif %}
    {% if endereco %}
      <h4>Endereço: <b>{{ endereco }}</b></h4>
    {% endif %}
    {% if lote %}
      <h4>Lote: <b>{{ lote }}</b></h4>
    {% endif %}
    {% if op %}
      <h4>OP: <b>{{ op }}</b></h4>
    {% endif %}
    {% if ref %}
      <h4>Referência: <b>{{ ref }}</b></h4>
    {% endif %}
    {% if tam %}
      <h4>Tamanho: <b>{{ tam }}</b></h4>
    {% endif %}
    {% if cor %}
      <h4>Cor: <b>{{ cor }}</b></h4>
    {% endif %}
    {% if data_de %}
      <h4>Data de bipagem:
      {% if data_de == data_ate %}
        <b>{{ data_de }}</b>
      {% else %}
        De <b>{{ data_de }}</b> até <b>{{ data_ate }}</b>
      {% endif %}
      </h4>
    {% endif %}
    <!-- <h3>Ordenação:
      {% if ordem == 'B' %}
        Hora de bipagem
      {% elif ordem == 'O' %}
        OP Referência Cor Tamanho Endereço Lote
      {% elif ordem == 'R' %}
        Referência Cor Tamanho Endereço OP Lote
      {% elif ordem == 'E' %}
        Endereço OP Referência Cor Tamanho Lote
      {% endif %}
    </h3> -->
  {% endif %}
  {% if data %}
    <table>
      {% include "layout/thead_generic.html" with data=headers only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data only %}
    </table>
  {% endif %}
{% endif %}
{% endblock content %}
