{% extends 'cd/layout_m.html' %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
table {
  font-size: 4vw;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="leftcol50">
    <p>
      {{ titulo }}
    </p>
  </div>
  <div class="rightcol50">
    <a class="botao back" href="{% url 'cd:coletor' %}">Coletor</a>
  </div>
</div>
<hr>
<form action="{% url 'cd:localiza_lote' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="busca" value="Busca"/>
</form>
{% if erro %}
  <p class="erro">{{ erro }}</p>
{% else %}
  {% if data %}
    {% if varios_locais %}
      <p class="erro">Lote em vários locais</p>
    {%else%}
      Local
      {% if endereco %}
        {% url 'cd:conteudo_local' endereco as lotes_endereco %}
        {% include "layout/link.html" with link=lotes_endereco text=endereco only %} -
      {% endif %}
      {% url 'cd:conteudo_local' palete as lotes_palete %}
      {% include "layout/link.html" with link=lotes_palete text=palete only %}<br/>
      {{ data|length }} lote{{ data|length|pluralize }}
      {% if total_qtd %}
        - {{ total_qtd }} ite{{ total_qtd|pluralize:"m,ns" }}
      {%endif%}
    {%endif%}
    <table id="lista_table">
      {% include "layout/thead_generic.html" with data=headers style=style only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
    </table>
  {% endif %}
{% endif %}
{% endblock content %}
