{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'cd_lote_local' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if confirma %}
      {% if local %}
        {% if local != endereco%}
          <h3>Lote identificado: <b>{{ lote }}</b></h3>
          <h3><b>Endereço atual: {{ local }}</b></h3>
          <h3><b>Trocar</b> para endereço <b>{{ endereco }}</b>?</h3>
        {% endif %}
      {% else %}
        <h3>Lote identificado: <b>{{ lote }}</b></h3>
        <h3>Colocar no endereço <b>{{ endereco }}</b>?</h3>
      {% endif %}
      <input type="submit" name="confirma" value="Confirma"/>
    {% else %}
      <input type="submit" name="identifica" value="Identifica"/>
    {% endif %}
</form>
<br/>
{% block javascript %}
<script>
  var inp = document.getElementById('id_lote');
  inp.select();
</script>
{% endblock javascript %}
{% if erro %}
  <h3>{{ erro }}</h3>
{% else %}
  {% if identificado %}
    <h3>Lote <b>{{ identificado }}</b> colocado no endereço <b>{{ endereco }}</b></h3>
  {% elif lote %}
    {% if local %}
      {% if local == endereco%}
        <h3>Lote identificado: <b>{{ lote }}</b></h3>
        <h3>Endereço <b>{{ local }}</b> já é o atual.</h3>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if referencia %}
    <h3>Item: <b>1.{{ referencia }}.{{ tamanho }}.{{ cor }}</b></h3>
    <h3>Qtd.: <b>{{ qtd_produzir }}</b>&nbsp;&nbsp;&nbsp;&nbsp;OP: <b>{{ op }}</b></h3>
  {% endif %}
  {% if data %}
    <hr>
    <h3>Endereço <b>{{ endereco }}</b> contém <b>{{ q_lotes }}</b> lote{{ q_lotes|pluralize }}, com um total de <b>{{ q_itens }}</b> peça{{ q_itens|pluralize }}.</h3>
    <table>
      {% include "layout/html_thead.html" with data=headers only %}
      {% include "layout/html_tbody.html" with fields=fields data=data only %}
    </table>
  {% endif %}
{% endif %}
{% endblock content %}
