<ul>
  <li><a href="{% url 'cd:coletor' %}">Coletor</a></li>
  <ul>
    <li><a href="{% url 'cd:conteudo_local' %}">Conteúdo do local</a></li>
    <li><a href="{% url 'cd:localiza_lote' %}">Localiza lote</a></li>
    <li><a href="{% url 'cd:esvazia_palete' %}">Esvazia palete</a></li>
    <li><a href="{% url 'cd:qtd_em_lote' %}">Quantidade em lote</a></li>
  </ul>
  <li>Empenhos/Solicitações</li>
  <ul>
    <li><a href="{% url 'cd:novo_solicitacoes' %}">Empenhos/Solicitações</a></li>
    <li><a href="{% url 'cd:realoca_solicitacoes' %}">Realoca solicitações</a></li>
    <li><a href="{% url 'cd:confronta_qtd_solicit' %}">Confronta quant. empenhadas</a></li>
    {% if perms.cd.pode_finalizar_empenho_op_finalizada %}
      <li><a href="{% url 'cd:finaliza_emp_op' %}">Finaliza empenho de OP fin.</a></li>
    {% endif %}
    <li><a href="{% url 'cd:nao_enderecados' %}">Empenhos não endereçados</a></li>
    <li><a href="{% url 'cd:etqs_parciais' %}">Etiquetas de parciais</a></li>
  </ul>
  <li>Inventário</li>
  <ul>
    <li><a href="{% url 'cd:lista_lotes_invent' %}">Lista lotes inventariados</a></li>
    <li><a href="{% url 'cd:confronta_qtd_lote' %}">Confronta quant. lotes</a></li>
  </ul>
  <li>Endereçamento</li>
  <ul>
    <li><a href="{% url 'cd:palete' %}">Paletes</a></li>
    <ul>
      {% if perms.cd.can_admin_pallet %}
        <li><a href="{% url 'cd:endereca_grupo' %}">Endereça grupo</a></li>
        <li><a href="{% url 'cd:add1palete' %}">Adiciona palete</a></li>
        <li><a href="{% url 'cd:admin_palete' %}">Administração inicial</a></li>
      {% endif %}
    </ul>
    <li><a href="{% url 'cd:endereco' %}">Endereços</a></li>
    <ul>
      <li><a href="{% url 'cd:endereco_imprime' %}">Imprime</a></li>
      <!-- <li><a href="{% url 'cd:endereco_conteudo_importa' %}">Importa conteudo</a></li> -->
    </ul>
    <!-- <li><a href="{% url 'cd:compara_apoio_systextil' %}">Compara Apoio Systextil</a></li> -->
  </ul>
  <li>Análises</li>
  <ul>
    <li><a href="{% url 'cd:novo_estoque' %}">Estoque</a></li>
    <li><a href="{% url 'cd:palete_solicitacao' %}">Palete/Solicitacao</a></li>
    <li><a href="{% url 'cd:disponibilidade' %}">Disponibilidade</a></li>
    <li><a href="{% url 'cd:distribuicao' %}">Distribuição</a></li>
    <li><a href="{% url 'cd:novo_visao_cd' %}">Visão do CD</a></li>
    <li><a href="{% url 'cd:historico_lote' %}">Histórico de lote</a></li>
    <li><a href="{% url 'cd:atividade_cd63' %}">Atividade no CD</a></li>
  </ul>
  <!-- <br/>
  <li>Análises (Fictício)</li>
  <ul>
    <li><a href="{% url 'cd:novo_estoque_ficticio' %}">Estoque</a></li>
    <li><a href="{% url 'cd:disponibilidade_ficticio' %}">Disponibilidade</a></li>
  </ul> -->

  {% if request.user.is_authenticated and request.user.username == 'anselmo_sis' %}
  <br/>
  <li>Telas "desligadas"</li>
  <ul>
  <li>Sistema novo rascunho</li>
  <ul>
    <li><a href="{% url 'cd:grade_estoque_totais' %}">Totais de grades do estoque</a></li>
    <li><a href="{% url 'cd:grade_estoque' %}">Grades do estoque (pesado)</a></li>
  </ul>
  <li>Sistema antigo</li>
  <ul>
  <!-- <li><a href="{% url 'cd:movimentacao' %}">Movimentação</a></li> -->
  <!-- <ul> -->
    <!-- <li><a href="{% url 'cd:troca_local' %}">Troca de endereço de pallet</a></li> -->
    <!-- <div class="hidden-xs">
      <li><a href="{% url 'cd:enderecar' %}">Endereçar</a></li>
      <li><a href="{% url 'cd:retirar' %}">Retirar lote inteiro</a></li>
      <li><a href="{% url 'cd:retirar_parcial' %}">Retirar lote parcial</a></li>
      <li><a href="{% url 'cd:troca_endereco' %}">Troca de endereço</a></li>
    </div>
    <div class="visible-xs">
      <li><a href="{% url 'cd:enderecar_m' %}">Endereçar</a></li>
      <li><a href="{% url 'cd:retirar_m' %}">Retirar lote inteiro</a></li>
      <li><a href="{% url 'cd:retirar_parcial_m' %}">Retirar lote parcial</a></li>
      <li><a href="{% url 'cd:troca_endereco_m' %}">Troca de endereço</a></li>
    </div> -->
    <!-- <li>Em estudo</li>
    <ul>
      <li><a href="{ % url 'cd:rearrumar' %}">Rearrumar pallet</a></li>
    </ul> -->
  <!-- </ul> -->
  <li>Análise</li>
  <ul>
    <li><a href="{% url 'cd:estoque' %}">Estoque CD</a></li>
    <!-- <li><a href="{% url 'cd:grade_estoque' %}">Grades do estoque</a></li> -->
    <li><a href="{% url 'cd:inconsist' %}">Inconsistências Systêxtil</a></li>
    <li><a href="{% url 'cd:visao_cd' %}">Visão do CD</a></li>
    <li><a href="{% url 'cd:endereco_lote' %}">Verifica endereço de lote</a></li>
    <li><a href="{% url 'cd:historico' %}">Histórico de OP</a></li>
    <li><a href="{% url 'cd:historico_lote_old' %}">Histórico de lote</a></li>
    <li><a href="{% url 'cd:atividade_cd' %}">Atividade no CD</a></li>
  </ul>
  <li>Solicitação</li>
  <ul>
    <li><a href="{% url 'cd:solicitacoes' %}">Solicitações de lotes</a></li>
    <li><a href="{% url 'cd:etiq_solicitacoes' %}">Etiquetas de solicitações</a></li>
  </ul>
  <li><a href="{% url 'cd:mapa:index' %}">Mapa</a></li>
  </ul>
  </ul>
  {% endif %}

</ul>
