<ul>
  <li><a href="{% url 'cd:movimentacao' %}">Movimentação</a></li>
  <ul>
    <!-- <li><a href="{% url 'cd:troca_local' %}">Troca de endereço de pallet</a></li> -->
    <div class="hidden-xs">
      <li><a href="{% url 'cd:enderecar' %}">Endereçar</a></li>
      <li><a href="{% url 'cd:retirar' %}">Retirar lote inteiro</a></li>
      <li><a href="{% url 'cd:retirar_parcial' %}">Retirar lote parcial</a></li>
      <li><a href="{% url 'cd:troca_endereco' %}">Troca de endereço</a></li>
    </div>
    <div class="visible-xs">
      <li><a href="{% url 'cd:enderecar_m' %}">Endereçar</a></li>
      <li><a href="{% url 'cd:retirar_m' %}">Retirar lote inteiro</a></li>
      <li><a href="{% url 'cd:retirar_parcial_m' %}">Retirar lote parcial</a></li>
      <li><a href="{% url 'cd:troca_endereco_m' %}">Troca de endereço</a></li>
    </div>
    <!-- <li>Em estudo</li>
    <ul>
      <li><a href="{ % url 'cd:rearrumar' %}">Rearrumar pallet</a></li>
    </ul> -->
  </ul>
  <li>Análise</li>
  <ul>
    <li><a href="{% url 'cd:estoque' %}">Estoque CD</a></li>
    <li><a href="{% url 'cd:grade_estoque' %}">Grades do estoque</a></li>
    <li><a href="{% url 'cd:inconsist' %}">Inconsistências Systêxtil</a></li>
    <li><a href="{% url 'cd:visao_cd' %}">Visão do CD</a></li>
    <li><a href="{% url 'cd:endereco_lote' %}">Verifica endereço de lote</a></li>
    <li><a href="{% url 'cd:historico' %}">Histórico de OP</a></li>
    <li><a href="{% url 'cd:historico_lote' %}">Histórico de lote</a></li>
  </ul>
  <li>Solicitação</li>
  <ul>
    <li><a href="{% url 'cd:solicitacoes' %}">Solicitações de lotes</a></li>
    <li><a href="{% url 'cd:etiq_solicitacoes' %}">Etiquetas de solicitações</a></li>
  </ul>
  <!-- <li><a href="{% url 'cd:mapa:index' %}">Mapa</a></li> -->
</ul>
