<ul>
  <li><a href="{% url 'cd:lote_local' %}">Inventariar</a></li>
  <li><a href="{% url 'cd:troca_local' %}">Troca de endereço de pallet</a></li>
  <li><a href="{% url 'cd:endereco_lote' %}">Verifica endereço de lote</a></li>
  <li><a href="{% url 'cd:historico' %}">Histórico de OP</a></li>
  <li><a href="{% url 'cd:historico_lote' %}">Histórico de lote</a></li>
  <li><a href="{% url 'cd:estoque' %}">Estoque</a></li>
  <li><a href="{% url 'cd:grade_estoque' %}">Grades do estoque</a></li>
  <li><a href="{% url 'cd:inconsist' %}">Inconsistências Systêxtil</a></li>
  <li><a href="{% url 'cd:conferencia' %}">Conferência</a></li>
  <li><a href="{% url 'cd:solicitacoes' %}">Solicitações de lotes</a></li>
  <!-- <li><a href="{% url 'cd:mapa' %}">Mapa</a></li> -->
</ul>
