{% extends 'cd/layout_m.html' %}

{% block content %}
<div class="row">
  <div class="leftcol50">
    <p>
      Movimentação
    </p>
  </div>
  <div class="rightcol50">
    <button class="back" onclick="location.href='{% url 'cd:index' %}';">CD</button>
  </div>
</div>
<div class="hspace"></div>
<button onclick="location.href='{% url 'cd:lote_local' %}';">Inventariar / Endereçar</button>
<div class="hspace"></div>
<button onclick="location.href='{% url 'cd:rearrumar' %}';">Rearrumar pallet</button>
<div class="hspace"></div>
<button onclick="location.href='{% url 'cd:retirar' %}';">Retirar lote inteiro</button>
<div class="hspace"></div>
<button onclick="location.href='{% url 'cd:retirar_parcial' %}';">Retirar lote parcial</button>
<div class="hspace"></div>
<button onclick="location.href='{% url 'cd:troca_local' %}';">Troca de endereço de pallet</button>
{% endblock %}
