{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <div>
    <a title="Adiciona palete" href="#" onclick="PaleteAdd();return false;"><span class="glyphicon glyphicon-plus-sign" style="font-size: 2em" aria-hidden="true"></span></a>
    <span style="font-size: 2em">&nbsp;</span>
    <a title="Imprime etiquetas" href="#" onclick="PaletePrint();return false;"><span class="glyphicon glyphicon-print" style="font-size: 2em" aria-hidden="true"></span></a>
    <span style="font-size: 2em">&nbsp;</span>
    <a title="Marca como impressas" href="#" onclick="MarkPrinted();return false;"><span class="glyphicon glyphicon-ok-circle" style="font-size: 2em" aria-hidden="true"></span></a>
  </div>
  {% if data %}
    <table>
      {% include "layout/thead_generic.html" with data=headers only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data only %}
    </table>
  {% else %}
    <h4>Nenhum palete encontrado</h4>
  {% endif %}
{% endblock content %}

{% block javascript %}
{% block javascript.pos %}
<script>

function PaleteAdd(id) {
    $.ajax({
      type: 'GET',
      url: '{% url 'cd:palete_add' %}',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        erro = '';
        if (data) {
          if (data['result'] == 'OK') {
            console.log('State: '+data['state']);
          } else {
            erro = 'Erro: '+data['state'];
          }
        } else {
          erro = 'Sem retorno';
        }
        if (erro) {
          alert(erro);
        }
        location.reload(true);
      },
      error : function(data) {
        alert('Erro na requisição');
      }
    });
  }

  function PaletePrint(id) {
    $.ajax({
      type: 'GET',
      url: '{% url 'cd:palete_print' ultimo %}',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        erro = '';
        if (data) {
          if (data['result'] == 'OK') {
            console.log('Code: '+data['code']);
          } else {
            erro = 'Erro: '+data['state'];
          }
        } else {
          erro = 'Sem retorno';
        }
        if (erro) {
          alert(erro);
        }
      },
      error : function(data) {
        alert('Erro na requisição');
      }
    });
  }

  function MarkPrinted(id) {
    $.ajax({
      type: 'GET',
      url: '{% url 'cd:palete_printed' %}',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        erro = '';
        if (data) {
          if (data['result'] == 'OK') {
            console.log('State: '+data['state']);
          } else {
            erro = 'Erro: '+data['state'];
          }
        } else {
          erro = 'Sem retorno';
        }
        if (erro) {
          alert(erro);
        }
        location.reload(true);
      },
      error : function(data) {
        alert('Erro na requisição');
      }
    });
  }

</script>
{% endblock javascript.pos %}
{% endblock javascript %}
