{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
    {% include "layout/paginator_stylesheet.css" %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'cd:palete' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="busca" value="Busca"/>
  </form>
  <br/>
  {% if data %}
    {% include "layout/paginator_get.html" with data=data url_name='cd:palete' only %}
    <table>
      {% include "layout/thead_generic.html" with data=headers safe=safe thclass='sticky' only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data safe=safe only %}
    </table>
    {% include "layout/paginator_get.html" with data=data url_name='cd:palete' only %}
  {% else %}
    <h4>Nenhum palete encontrado</h4>
  {% endif %}
{% endblock content %}

{% block javascript %}
  {% block javascript.pos %}
    <script>

      function PaletePrint(slug) {
        var run_el = document.getElementById('run_'+slug);
        var running_el = document.getElementById('running_'+slug);
        var runok_el = document.getElementById('runok_'+slug);
        var runerr_el = document.getElementById('runerr_'+slug);

        run_el.style.display = "none";
        running_el.style.display = "inline";
        runok_el.style.display = "none";
        runerr_el.style.display = "none";

        var link = '{% url 'cd:palete_print' 'code' %}';
        link = link.replace('code', slug);
        console.log(link);

        $.ajax({
          type: 'GET',
          url: link,
          data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
          success : function(data) {
            erro = '';
            if (data) {
              if (data['result'] == 'OK') {
                console.log(data['state']);
                runok_el.style.display = "inline";
              } else {
                console.log(data['state']);
                console.log(data['msg_erro']);
                runerr_el.style.display = "inline";
                runerr_el.title = "";
                var title_sep = "";
                if (data['state']) {
                  runerr_el.title = data['state'];
                  title_sep = " - ";
                }
                if (data['msg_erro']) {
                  runerr_el.title += title_sep + data['msg_erro'];
                }
              }
            } else {
              // alert('Sem retorno');
              console.log('Sem retorno');
              runerr_el.style.display = "inline";
              runerr_el.title = 'Sem retorno';
            }
            run_el.style.display = "inline";
            running_el.style.display = "none";
          },
          error : function(data) {
            // alert('Erro na requisição');
            console.log('Erro na requisição');
            runerr_el.style.display = "inline";
            runerr_el.title = 'Erro na requisição';
            run_el.style.display = "inline";
            running_el.style.display = "none";
          }
        });

        return false;
      }

    </script>
  {% endblock javascript.pos %}
{% endblock javascript %}
