{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  <h4 class="visible-xs">{{ titulo }}</h4>
    <form action="{% url 'cd:rearrumar' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.is_valid and form.endereco.value %}
      <input type="submit" name="confirma" value="Confirma retirada da estante"/>
    {% else %}
      <input type="submit" name="tira" value="Tira da estante"/>
    {% endif %}
  </form>
  {% block javascript %}
    <script>
      var inp = document.getElementById('id_local');
      inp.select();
    </script>
  {% endblock javascript %}
  {% if form.is_valid %}
    {% if form.endereco.value %}
      <h3>Retirar pallet no endereço <b>{{ form.endereco.value }}</b>
        para a rua <b>{{ form.rua.value }}?</b></h3>
    {% else %}
      {% if form.valid_endereco.value %}
        <h3>Retirado o pallet no endereço <b>{{ form.valid_endereco.value }}</b>
          para a rua <b>{{ form.valid_rua.value }}.</b></h3>
      {% endif %}
    {% endif %}
    {% if data %}
      <b>{{ q_lotes }}</b> lote{{ q_lotes|pluralize }}, com um total de <b>{{ q_itens }}</b> peça{{ q_itens|pluralize }}.</h4>
      <table>
        {% include "layout/html_thead.html" with data=headers only %}
        {% include "layout/html_tbody.html" with fields=fields data=data only %}
      </table>
    {% endif %}
  {% endif %}
{% endblock content %}
