{% extends 'cd/layout_m.html' %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
table {
  display: none;
  font-size: 2vw;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="leftcol50">
    <p>
      {{ titulo }}
    </p>
  </div>
  <div class="rightcol50">
    <a class="botao back" href="{% url 'cd:movimentacao' %}">Movimentação</a>
  </div>
</div>
<hr>
<form action="{% url 'cd:rearrumar_m' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  {% if form.is_valid and form.endereco.value %}
    <input type="submit" name="confirma" value="Confirma retirada da estante"/>
  {% else %}
    <input type="submit" name="tira" value="Tira da estante"/>
  {% endif %}
</form>
{% if form.is_valid %}
  {% if form.endereco.value %}
    <p>Retirar pallet no endereço <b>{{ form.endereco.value }}</b>
      para a rua <b>{{ form.rua.value }}?</b></p>
  {% else %}
    {% if form.valid_endereco.value %}
      <p>Retirado o pallet no endereço <b>{{ form.valid_endereco.value }}</b>
        para a rua <b>{{ form.valid_rua.value }}.</b></p>
    {% endif %}
  {% endif %}
{% endif %}
{% endblock content %}

{% block javascript %}
<script>
  var inp = document.getElementById('id_endereco_de');
  inp.select();
</script>
{% endblock javascript %}
