{% extends 'cd/layout_m.html' %}

{% block content %}
<div class="row">
  <div class="leftcol50">
    <p>
      {{ titulo }}
    </p>
  </div>
  <div class="rightcol50">
    <button class="back" onclick="location.href='{% url 'cd:movimentacao' %}';">Movimentação</button>
  </div>
</div>
<hr>
<form action="{% url 'cd:retirar_m' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if confirma %}
      <p>Retirar lote <b>{{ lote }}</b>?</p>
      <input type="submit" name="confirma" value="Confirma"/>
    {% else %}
      <input type="submit" name="retira" value="Retira"/>
    {% endif %}
</form>
{% if erro %}
  <p class="erro">{{ erro }}</p>
{% else %}
  {% if identificado %}
    <h3>Lote <b>{{ identificado }}</b> retirado!</h3>
  {% elif lote %}
    {% if not local %}
      <h3>O lote <b>{{ lote }}</b> não está no <b>CD</b>.</h3>
    {% endif %}
  {% endif %}
  {% if referencia %}
    {% if not lote and not identificado %}
      <h3>Lote: <b>{{ lote_referencia }}</b></h3>
    {% endif %}
    <h3>Item: <b>1.{{ referencia }}.{{ tamanho }}.{{ cor }}</b></h3>
    <h3>Qtd.: <b>{{ qtd }}</b>&nbsp;&nbsp;&nbsp;&nbsp;OP: <b>{{ op }}</b></h3>
    {% if local %}
      {% if identificado %}
        <h3>Local de retirada: <b>{{ local }}</b></h3>
      {% else %}
        <h3>Local: <b>{{ local }}</b></h3>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if concerto_erro %}
    <h3>{{ concerto_erro }}</h3>
  {% endif %}
  {% if data %}
    <hr>
    <h3>Endereço <b>{{ local }}</b> {% if identificado %}ainda {% endif %}contém <b>{{ q_lotes }}</b> lote{{ q_lotes|pluralize }}, com um total de <b>{{ q_itens }}</b> peça{{ q_itens|pluralize }}.</h3>
    <table>
      {% include "layout/html_thead.html" with data=headers only %}
      {% include "layout/html_tbody.html" with fields=fields data=data only %}
    </table>
  {% endif %}
{% endif %}
{% endblock content %}

{% block javascript %}
<script>
  var inp = document.getElementById('id_lote');
  inp.select();

  function stn(n) {
    var snd = new Audio("/media/number/"+n+".mp3");
    snd.play();
  }
  {% if q_lotes %}
    stn({{ q_lotes }});
  {% endif %}
</script>
{% endblock javascript %}
