{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
#pop_back {
  display:none;
  z-index:100;
  opacity: 0.5;

  width: 100%;
  height: 100%;
  margin: 0em;
  left: 0em;
  top: 0em;
  background: black;
  position: fixed;
}
#pop {
  display:none;
  z-index:110;
  opacity: 1;

  width: 22em;
  height: 23em;
  background-color: #fff;

  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  border:5px solid #ddd;
  padding:3px;
}
#pop p {
  margin: 0px;
}
</style>
{% endblock %}

{% block content %}
<div id="all_content">
<div id="pop_back">
</div>
<div id="pop" tabindex="1">
  <a class="pop" href="javascript:close_transfere();"><span class="glyphicon glyphicon-remove" style="font-size: 1.5em" aria-hidden="true"></span></a>
  <div style="text-align:center;">
    <h4>Transferência entre depósitos</h4>
    <p>Referência: <b><span id="cod_ref"></span></b></p>
    <p>Cor: <b><span id="cod_cor"></span></b></p>
    <p>Tamanho: <b><span id="cod_tam"></span></b></p>
    <p>Quantidade: <b><span id="cod_qtd"></span></b></p>
    <p>Depósito da OP do lote (origem): <b><span id="cod_dep"></span></b></p>
    <p>Depósito da caixinha (destino): <b>122</b></p>
    <p>Descrição: <b>Abastecimento das caixinhas</b></p>
    <p>&nbsp;</p>
    <p>Nova referência: <input name="nova_ref" minlength="5" id="id_nova_ref" type="text" size="5" onkeyup="myKeyEvent(event)"></p>
    <p>&nbsp;</p>
    <p><input name="btn_transferir" id="btn_transferir" type="submit" value="Transferir" onclick="transferir();"></p>
  </div>
</div>
{% if erro %}
  <h3>{{ erro }}</h3>
{% else %}
  {% if acao_mensagem %}
    <h4>{{ acao_mensagem }}</h4>
  {% endif %}
  <div class="row">
    <div class="col-md-6">
      <a href="{% url 'cd:solicitacoes' %}">Voltar para Solicitações</a>
    </div>
    <div class="col-md-6" align="right">
      {% if solicit_ativa_cod %}
        {% if solicit_ativa_cod == '=' %}
          Esta é a solicitação ativa para o usuário
        {% else %}
          Solicitação ativa para o usuário: <a href="{% url 'cd:solicitacao_detalhe' solicit_ativa_id %}" target="_blank">{{solicit_ativa_cod}}<span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
        {% endif %}
      {% else %}
        Não há solicitação ativa para o usuário
      {% endif %}
    </div>
  </div>
  <h4>Solicitação <a href="{% url 'cd:solicitacoes' solicitacao.id %}" target="_BLANK">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> <b>#{{ solicitacao.numero }}: {{ solicitacao.codigo }} ({{ solicitacao.descricao }})</b></h4>


  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a data-toggle="tab" href="#home">Em ordem de seleção</a></li>
    <li><a data-toggle="tab" href="#menu1">Agrupados por endereço</a></li>
    <li><a data-toggle="tab" href="#lotes_cx">Para caixinha</a></li>
    <li><a data-toggle="tab" href="#menu2">Referências em grade</a></li>
    <li><a data-toggle="tab" href="#menu3">Grade total</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      {% if data %}
        <div style="text-align:right; margin-right:3em;">
          <a href="{% url 'cd:solicitacao_detalhe__get2' solicitacao.id 'de' %}"
            onclick="if(confirm('Confirma cancelamento?')){return true}else{return false};"
            ><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span
              > Cancela solicitação de lotes endereçados</a>
          {% if solicit_ativa_cod %}
            &nbsp;<a href="{% url 'cd:solicitacao_detalhe__get2' solicitacao.id 'move' %}"
              onclick="if(confirm('Confirma mover lotes?')){return true}else{return false};"
              ><span class="glyphicon glyphicon-share" aria-hidden="true"></span
                > Move lotes endereçados para a solicitação ativa</a>
          {% endif %}
        </div>
        <table>
          {% include "layout/thead_generic.html" with data=headers only %}
          {% include "layout/tbody_generic.html" with fields=fields data=data safe=safe only %}
        </table>
      {% else %}
        <h4>Nenhum lote nesta solicitação</h4>
        <br />
      {% endif %}
      {% if inat_data %}
        <h4>Lotes que estiveram nesta solicitação</h4>
        <table>
          {% include "layout/thead_generic.html" with data=inat_headers only %}
          {% include "layout/tbody_generic.html" with fields=inat_fields data=inat_data only %}
        </table>
      {% endif %}
    </div>
    <div id="menu1" class="tab-pane fade">
      {% if e_data %}
        <table>
          {% include "layout/thead_generic.html" with data=e_headers only %}
          {% include "layout/tbody_generic.html" with fields=e_fields data=e_data safe=e_safe only %}
        </table>
      {% else %}
        <h4>Nenhum lote nesta solicitação</h4>
      {% endif %}
    </div>
    <div id="lotes_cx" class="tab-pane fade">
      {% if cx_data %}
        <table>
          {% include "layout/thead_generic.html" with data=cx_headers style=cx_style only %}
          {% include "layout/tbody_generic.html" with fields=cx_fields data=cx_data style=cx_style safe=cx_safe only %}
        </table>
      {% else %}
        <h4>Nenhum lote nesta solicitação</h4>
      {% endif %}
    </div>
    <div id="menu2" class="tab-pane fade">
      {% if grades2 %}
        <!-- {% for grade in grades %}
          <table>
            {% include "layout/thead_generic.html" with data=grade.re_headers only %}
            {% include "layout/tbody_generic.html" with fields=grade.re_fields data=grade.re_data only %}
          </table>
        {% endfor %}
        <h3>Sortimento</h3> -->
        {% for grade in grades2 %}
          {% if forloop.counter != 1 %}
            <hr>
          {% endif %}
          <h4>Referência: <b>{{grade.referencia}}</b></h4>
          <!-- Quantidade total: {{grade.total}} -->
          <table style="width: auto;">
            {% include "layout/thead_generic.html" with data=grade.headers style=grade.style only %}
            {% include "layout/tbody_generic.html" with fields=grade.fields data=grade.data style=grade.style only %}
          </table>
          {% if grade.total_complementar != 0 %}
          <h4><b>Faltando</b></h4>
          <table style="width: auto;">
            {% include "layout/thead_generic.html" with data=grade.headers style=grade.style only %}
            {% include "layout/tbody_generic.html" with fields=grade.fields data=grade.data_complementar style=grade.style only %}
          </table>
          {% endif %}
        {% endfor %}
      {% else %}
        <h4>Nenhum lote nesta solicitação</h4>
      {% endif %}
    </div>
    <div id="menu3" class="tab-pane fade">
      {% if gt.total != 0 %}
        <h4><b>Todas</b> as referências desta solicitação</h4>
        <table style="width: auto;">
          {% include "layout/thead_generic.html" with data=gt.headers style=gt.style only %}
          {% include "layout/tbody_generic.html" with fields=gt.fields data=gt.data style=gt.style only %}
        </table>
      {% else %}
        <h4>Nenhum lote nesta solicitação</h4>
      {% endif %}
    </div>
  </div>

{% endif %}
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#myTab a[href="' + activeTab + '"]').tab('show');
    }
});

  function transfere(ref, cor, tam, qtd, dep, nova_ref) {
    console.log('transfere');
    document.getElementById("cod_ref").innerHTML = ref;
    document.getElementById("cod_cor").innerHTML = cor;
    document.getElementById("cod_tam").innerHTML = tam;
    document.getElementById("cod_qtd").innerHTML = qtd;
    document.getElementById("cod_dep").innerHTML = dep;
    document.getElementById('id_nova_ref').value = nova_ref;

    document.getElementById('pop_back').style.display='block';
    document.getElementById('pop').style.display='block';

    document.getElementById('id_nova_ref').focus();
  }

  function close_transfere() {
    console.log('close_transfere');
    document.getElementById('pop_back').style.display='none';
    document.getElementById('pop').style.display='none';
  }

  function transferir() {
    console.log('transferir');
    var nova_ref = document.getElementById("id_nova_ref").value;
    console.log(nova_ref);
  }

  function myKeyEvent(event) {
    var x = event.keyCode;
    if (x == 27) {  // 27 is the ESC key
      close_transfere();
    }
  }

</script>
{% endblock %}
