{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
{% if erro %}
  <h3>{{ erro }}</h3>
{% else %}
  <a href="{% url 'cd_solicitacoes' %}">Voltar para Solicitações</a>
  <h4>Solicitação: <b>{{ solicitacao.codigo }} ({{ solicitacao.descricao }})</b></h4>

  {% if data %}
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-toggle="tab" href="#home">Lotes em ordem de seleção</a></li>
      <li><a data-toggle="tab" href="#menu1">Lotes agrupados por endereço</a></li>
      <li><a data-toggle="tab" href="#menu2">Referências em grade</a></li>
      <li><a data-toggle="tab" href="#menu3">Grade total</a></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <table>
          {% include "layout/thead_generic.html" with data=headers only %}
          {% include "layout/tbody_generic.html" with fields=fields data=data safe=safe only %}
        </table>
      </div>
      <div id="menu1" class="tab-pane fade">
        <table>
          {% include "layout/thead_generic.html" with data=e_headers only %}
          {% include "layout/tbody_generic.html" with fields=e_fields data=e_data safe=e_safe only %}
        </table>
      </div>
      <div id="menu2" class="tab-pane fade">
        <!-- {% for grade in grades %}
          <table>
            {% include "layout/thead_generic.html" with data=grade.re_headers only %}
            {% include "layout/tbody_generic.html" with fields=grade.re_fields data=grade.re_data only %}
          </table>
        {% endfor %}
        <h3>Sortimento</h3> -->
        {% for grade in grades2 %}
          {% if forloop.counter != 1 %}
            <hr>
          {% endif %}
          <h4>Referência: <b>{{grade.referencia}}</b></h4>
          <!-- Quantidade total: {{grade.total}} -->
          <table style="width: auto;">
            {% include "layout/thead_generic.html" with data=grade.headers only %}
            {% include "layout/tbody_generic.html" with fields=grade.fields data=grade.data only %}
          </table>
        {% endfor %}
      </div>
      <div id="menu3" class="tab-pane fade">
        <h4><b>Todas</b> as referências da solicitação</h4>
        <table style="width: auto;">
          {% include "layout/thead_generic.html" with data=gt.headers only %}
          {% include "layout/tbody_generic.html" with fields=gt.fields data=gt.data only %}
        </table>
      </div>
    </div>

  {% else %}
    <b>Vazia</b>
  {% endif %}
{% endif %}
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
    $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#myTab a[href="' + activeTab + '"]').tab('show');
    }
});
</script>
{% endblock %}
