{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}

thead th
{
  position: sticky;
  top: 0px;
}

</style>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    function setPageAndSubmit(page) {
      document.getElementById('id_pagina').value = page;
      document.formName.submit();
    }
  </script>
{% endblock %}

{% block content %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if form %}
  <p><a title="Listar" href="{% url 'cd:solicitacoes' %}"><span class="glyphicon glyphicon-list" style="font-size: 2em" aria-hidden="true"></span></a></p>
  {% if id %}
    {% if change_solicita %}
      <h2>Edita Solicitação</h2>
      <form action="{% url 'cd:solicitacoes' id %}" method="post">
    {% endif %}
  {% else %}
    <h2>Adiciona Solicitação</h2>
    <form action="{% url 'cd:solicitacoes' 'add' %}" method="post">
  {% endif %}
  {% csrf_token %}
  {% if id %}
    {% if echo_numero is not None %}
      <p>Número: {{echo_numero}}
        <a href="{% url 'cd:solicitacao_detalhe' id %}" target="_BLANK">
          Detalhes<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
      </p>
    {% endif %}
    {% if echo_codigo is not None %}
      <p>Código: {{echo_codigo}}</p>
    {% endif %}
    {% if change_solicita %}
      {% if echo_descricao is not None %}
        <p>Descrição: {{echo_descricao}}</p>
      {% endif %}
      {% if echo_data is not None %}
        <p>Data do embarque: {{echo_data}}</p>
      {% endif %}
      {% if echo_ativa is not None %}
        <p>Ativa para o usuário:
          {% if echo_ativa %}
            <span class="glyphicon glyphicon-ok-circle" style="color: green" aria-hidden="true"></span>
          {% else %}
            <span class="glyphicon glyphicon-remove-circle" style="color: darkred" aria-hidden="true"></span>
          {% endif %}
        </p>
      {% endif %}
    {% endif %}
    {% if echo_concluida is not None %}
      <p>Solicitação concluída:
        {% if echo_concluida %}
          <span class="glyphicon glyphicon-ok-circle" style="color: green" aria-hidden="true"></span>
        {% else %}
          <span class="glyphicon glyphicon-remove-circle" style="color: darkred" aria-hidden="true"></span>
        {% endif %}
      </p>
    {% endif %}
    {% if echo_coleta is not None %}
      <p>Pode coletar no CD:
        {% if echo_coleta %}
          <span class="glyphicon glyphicon-ok-circle" style="color: green" aria-hidden="true"></span>
        {% else %}
          <span class="glyphicon glyphicon-remove-circle" style="color: darkred" aria-hidden="true"></span>
        {% endif %}
      </p>
    {% endif %}
  {% endif %}
  {% if id %}
    {% if change_solicita %}
      {{ form.as_p }}
      <input type="submit" value="Grava"/>
    {% endif %}
  {% else %}
    {{ form.as_p }}
    <input type="submit" value="Adiciona"/>
  {% endif %}
  </form>
  {% if hdata %}
    <h4>Histórico</h4>
    <table>
      {% include "layout/thead_generic.html" with data=hheaders style=hstyle only %}
      {% include "layout/tbody_generic.html" with fields=hfields data=hdata safe=hsafe style=hstyle only %}
    </table>
  {% endif %}
{% else %}
  {% if add_solicita %}
    <p><a title="Inserir" href="{% url 'cd:solicitacoes' 'add' %}"><span class="glyphicon glyphicon-plus-sign" style="font-size: 2em" aria-hidden="true"></span></a></p>
  {% endif %}
  <form action="{% url 'cd:solicitacoes' %}" method="post" name="formName">
    {% csrf_token %}
    {{ filter.as_p }}
    <input type="submit" value="Busca"/>
  </form>
{% endif %}
{% if data %}
  {% if ref %}
    <h4>Referência: {{ref}}</h4>
  {% endif %}

  {% if data and data.paginator.num_pages != 1 %}
  <div>
  <ul class="pagination">
    {% if data.has_previous %}
      <li><a href="#" onclick="setPageAndSubmit(1)" title="Primeira">&Lang;</a></li>
      <li><a href="#" onclick="setPageAndSubmit({{ data.previous_page_number }})" title="Pág. {{ data.previous_page_number }}">&lang;</a></li>
    {% else %}
      <li class="disabled" title="Primeira"><span>&Lang;</span></li>
      <li class="disabled" title="Anterior"><span>&lang;</span></li>
    {% endif %}
    <li class="page-item active"><span>{{ data.number }}</span></li>
    {% if data.has_next %}
      <li><a href="#" onclick="setPageAndSubmit({{ data.next_page_number }})" title="Pág. {{ data.next_page_number }}">&rang;</a></li>
      <li><a href="#" onclick="setPageAndSubmit({{ data.paginator.num_pages }})" title="Última">&Rang;{{ data.paginator.num_pages }}</a></li>
    {% else %}
      <li class="disabled" title="Próxima"><span>&rang;</span></li>
      <li class="disabled" title="Última"><span>&Rang;</span></li>
    {% endif %}
  </ul>
  <small>({{por_pagina}} solicitações por página)</small>
  {% endif %}
  <table>
    <thead>
      <tr>
        <th>
          &nbsp;
        </th>
        {% for field in fields %}
          {% if field == 'total_qtd' or field == 'total_no_cd' %}
            <th style="text-align: right;">
          {% elif field == 'ativa' or field == 'concluida' or field == 'can_print' or field == 'coleta' %}
            <th style="text-align: center;">
          {% else %}
            <th>
          {% endif %}
            {{headers|get_item:field}}
          </th>
        {% endfor%}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
          <td>
            {% if change_solicita %}
              <a title="Editar" href="{% url 'cd:solicitacoes' row.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
            {% else %}
              <a title="Editar" href="{% url 'cd:solicitacoes' row.id %}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></a>
            {% endif %}
          </td>
          {% for field in fields %}
              {% if field == 'total_qtd' or field == 'total_no_cd' %}
                <td style="text-align: right;">
              {% elif field == 'ativa' or field == 'concluida' or field == 'can_print' or field == 'coleta' %}
                <td style="text-align: center;">
              {% else %}
                <td>
              {% endif %}
              {% if field == 'ativa' %}
                {% if row.ativa %}
                  <span class="glyphicon glyphicon-ok-circle" style="color: green" aria-hidden="true"></span>
                {% else %}
                  <span class="glyphicon glyphicon-remove-circle" style="color: darkred" aria-hidden="true"></span>
                {% endif %}
              {% elif field == 'concluida' %}
                {% if row.concluida %}
                  <span class="glyphicon glyphicon-ok-circle" style="color: green" aria-hidden="true"></span>
                {% else %}
                  <span class="glyphicon glyphicon-remove-circle" style="color: darkred" aria-hidden="true"></span>
                {% endif %}
              {% elif field == 'can_print' %}
                {% if row.can_print %}
                  <span class="glyphicon glyphicon-ok-circle" style="color: green" aria-hidden="true"></span>
                {% else %}
                  <span class="glyphicon glyphicon-remove-circle" style="color: darkred" aria-hidden="true"></span>
                {% endif %}
              {% elif field == 'coleta' %}
                {% if row.coleta %}
                  <span id="span_{{row.num}}" class="glyphicon glyphicon-ok-circle" style="color: green" aria-hidden="true"></span>
                {% else %}
                  <span id="span_{{row.num}}" class="glyphicon glyphicon-remove-circle" style="color: darkred" aria-hidden="true"></span>
                {% endif %}
                {% if row.concluida %}
                  {% if libera_coleta %}
                    <a title="Altera liberação de coleta"
                      onclick="javascript:return ChangeFunction('{{row.num}}');"
                      ><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
                  {% endif %}
                {% endif %}
              {% else %}
                {% with field|add:'|LINK' as field_link %}
                  {% if row|get_item:field_link %}
                    <a href="{{ row|get_item:field_link }}">{{row|get_item:field}}</a>
                  {% else %}
                    {{row|get_item:field}}
                  {% endif %}
                {% endwith %}
              {% endif %}
            </td>
          {% endfor%}
        </tr>
      {% endfor%}
    </tbody>
  </table>

  <script >
    var glyph = '<span id="span_{id}" class="glyphicon glyphicon-{tipo}" '+
                ' style="color: {cor}"  aria-hidden="true"></span>';

    var glyph_ok0  = glyph.replace('{tipo}', 'ok-circle');
    var glyph_ok  = glyph_ok0.replace('{cor}', 'green');
    var glyph_no0  = glyph.replace('{tipo}', 'remove-circle');
    var glyph_no  = glyph_no0.replace('{cor}', 'darkred');

    function ChangeFunction(id) {
      $.ajax({
        type: 'GET',
        url: '/cd/ajax/libera_coleta_de_solicitacao/'+id+'/',
        data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success : function(data) {
          if (data) {
            if (data['result'] == 'OK') {
              console.log('OK! '+data['state']);

              span_el = document.querySelectorAll('#span_'+id);
              for (var i=0, len=span_el.length|0; i<len; i=i+1|0) {
                if (span_el[i].outerHTML.indexOf('remove-circle') != -1) {
                  glyph_id = glyph_ok.replace(/\{id\}/g, id);
                } else {
                  glyph_id = glyph_no.replace(/\{id\}/g, id);
                }
                span_el[i].outerHTML = glyph_id;
              }

            } else {
              console.log('Erro: '+data['descricao_erro']);
            }
          } else {
            console.log('Sem retorno de pedido');
          }
        },
        error : function(data) {
          console.log('Erro na requisição');
        }
      });

    }

  </script>
{% endif %}
{% endblock content %}
