{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<a href="{% url 'cd:visao_cd' %}">Visão do CD</a><br />
<a href="{% url 'cd:visao_rua_detalhe__get' rua %}">Visão detalhada da rua {{ rua }}</a><br />
<h3>Rua {{ rua }}</h3>
{% if data %}
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data group=group style=style only %}
  </table>
{% else %}
  <h4>Não há endereços nesse rua</h4>
{% endif %}
{% endblock content %}
