{% extends 'cd/layout_m.html' %}

{% block stylesheet %}
<style>
  {% include 'layout/simple_table.css' %}
  table {
    font-size: 4vw;
  }
</style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="leftcol50">
      <p>
        {{ titulo }}
      </p>
    </div>
    <div class="rightcol50">
      <a class="botao back" href="{% url 'cd:coletor' %}">Coletor</a>
    </div>
  </div>
  <hr>
  {% if erro %}
    <p class="erro">{{ erro }}</p>
  {% else %}
    {% url 'cd:conteudo_local' palete as lotes_palete %}
    {% include "layout/link.html" with link=lotes_palete text=palete only %}
    {{ data_versao }}
    {% if conta_retirados %}
      <br/>{{ conta_retirados }} <span style="color: red;">retirado{{ conta_retirados|pluralize }}</span>
    {% endif %}
    {% if conta_inseridos %}
      <br/>{{ conta_inseridos }} <span style="color: darkorange;">inserido{{ conta_inseridos|pluralize }}</span>
    {% endif %}
    {% if conta_confirmados %}
      <br/>{{ conta_confirmados }} <span style="color: darkgreen;">confirmado{{ conta_confirmados|pluralize }}</span>
    {% endif %}
    {% if data %}
      <table id="lista_table">
        {% include "layout/thead_generic.html" with data=headers only %}
        {% include "layout/tbody_generic.html" with fields=fields data=data only %}
      </table>
    {% endif %}
  {% endif %}
{% endblock content %}
