{% extends 'logistica/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'logistica:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <form method="post" action="{% url 'logistica:entr_nf_lista' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
  </form>
  {% include "layout/form_inputs_report.html" with form=form h=5 only %}
  {% if msg_erro %}
    <h3>{{ msg_erro }}</h3>
  {% else %}
    <table>
      {% include "layout/thead_generic.html" with data=headers style=style only %}
      {% include "layout/tbody_generic.html" with fields=fields data=dados style=style only %}
    </table>
  {% endif %}
{% endblock %}
