{% extends 'servico/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'servico:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
label {
    display: table;
}
</style>
{% endblock %}

{% block content %}
  {% if request.POST %}
    {% include "layout/form_inputs_report.html" with form=form h=5 only %}
    {% if erro %}
      <h4>Erro: {{ erro }}</h4>
    {% endif %}
  {% else %}
  <h4>
    {% url 'servico:ordem__get' documento as ordem_doc %}
    Ordem: {% include "layout/link.html" with link=ordem_doc text=documento only %}
  </h4>
  {% if preerro %}
    <h4>Erro: {{preerro}}</h4>
  {% else %}
    <h4>Evento: {{ evento_record.nome }}</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Cria"/>
      </form>
    {% endif %}
    {% if erro %}
      <h4>Erro: {{erro}}</h4>
    {% endif %}
  {% endif %}
{% endblock %}
