{% extends 'servico/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'servico:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
  </form>
  {% if erro %}
    {% include "layout/form_inputs_report.html" with form=form h=5 only %}
    <h4>Erro: {{ erro }}</h4>
  {% endif %}
  {% if numero %}
    <h5>Ordem número {{ numero }}{% if not ativo %}, criada por {{ usuario }}, em {{ data }}; Inativa{% endif %}</h5>
  {% endif %}
  {% if eventos %}
    <input type="button"
      value="Comenta"
      onclick="location.href='{% url 'servico:edita_ordem' 'com' numero %}'"
    />
    <table>
      <tbody>
        {% for row in eventos %}
          <tr>
            <td>
              Usuário:
            </td>
            <td>
              {{ row.user__username }}
            </td>
            <td>
              <h4>{{ row.evento__nome }}</h4>
            </td>
          </tr>
          <tr>
            <td>
              Data:
            </td>
            <td>
              {{ row.create_at }}
            </td>
            <td>
              <h4>{{ row.nivel__nome }}</h4>
            </td>
          </tr>
          <tr>
            <td>
              Equipe:
            </td>
            <td>
              {{ row.equipe__nome }}
            </td>
            <td>
              {{ row.descricao }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
