{% extends 'servico/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'servico:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
table {
  border-collapse: collapse;
  width: 100%;
}
tr.status {
  background-image: linear-gradient(white, #DDD);
}
td.descricao {
  border: 2px solid #aaa;
  border-collapse: collapse;
}
</style>
{% endblock %}

{% block content %}
  <form action="{% url 'servico:ordem' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
  </form>
  {% if erro %}
    {% include "layout/form_inputs_report.html" with form=form h=5 only %}
    <h4>Erro: {{ erro }}</h4>
  {% endif %}
  {% if documento %}
    <h4>Ordem: {{ documento }}{% if not ativo %}, criada por {{ usuario }}, em {{ data }}; Inativa{% endif %}</h4>
  {% endif %}
  {% if interacoes %}
    {% for tipo_evento in tipos_eventos %}
      <input type="button"
        value="{{tipo_evento.nome}}"
        onclick="location.href='{% url 'servico:edita_ordem' tipo_evento.codigo documento %}'"
      />
    {% endfor %}
    <table>
      <tbody>
        {% for row in interacoes %}
          <tr class="status">
            <td colspan="4">
              <h4>{{ row.status__nome }} - {{ row.create_at }}</h4>
            </td>
          </tr>
          <tr>
            <td width="5%">
              &nbsp;
            </td>
            <td>
              {{ row.evento__nome }} de {{ row.user__username }}
            </td>
            <td>
              <h4>{{ row.equipe__nome }}</h4>
            </td>
            <td>
              <h4>{{ row.nivel__nome }}{% if row.nivel__horas != 0 %} ({{row.nivel__horas}} horas){%endif%}</h4>
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;
            </td>
            <td colspan="3" class="descricao">
              {{ row.descricao }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
