{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/lotes/">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/lotes/busca_op/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if ref %}
  <h4>Referência: {{ ref }}</h4>
{% endif %}
{% if tam %}
  <h4>Tamanho: {{ tam }}</h4>
{% endif %}
{% if cor %}
  <h4>Cor: {{ cor }}</h4>
{% endif %}
{% if deposito %}
  <h4>Depósito: {{ deposito }}</h4>
{% endif %}
{% if tipo %}
  <h4>Tipo:
    {% if tipo == 't' %}Todos
    {% elif tipo == 'a' %}PA
    {% elif tipo == 'g' %}PG
    {% elif tipo == 'b' %}PB
    {% elif tipo == 'p' %}PG/PB
    {% elif tipo == 'v' %}PA/PG/PB
    {% elif tipo == 'm' %}MD
    {% endif %}
  </h4>
{% endif %}
{% if situacao %}
  <h4>Situação:
    {% if situacao == 't' %}Todas as OPs
    {% elif situacao == 'a' %}Ativas
    {% elif situacao == 'c' %}Canceladas
    {% endif %}
  </h4>
{% endif %}
{% if posicao %}
  <h4>Posição:
    {% if posicao == 't' %}Todas as OPs
    {% elif posicao == 'p' %}Em produção
    {% elif posicao == 'f' %}Finalizadas
    {% elif posicao == 'p63' %}Em produção, exceto 63-CD
    {% elif posicao == 'f63' %}Finalizadas, incluindo 63-CD
    {% endif %}
  </h4>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <table>
    {% include "layout/thead_generic.html" with data=headers only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data only %}
  </table>
{% endif %}
{% endblock %}
