{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/lotes/">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/lotes/busca_op/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if ref %}
  <h2>Referência: {{ ref }}</h2>
{% endif %}
{% if deposito %}
  <h2>Depósito: {{ deposito }}</h2>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <table>
    {% include "layout/thead_generic.html" with data=headers only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data only %}
  </table>
{% endif %}
{% endblock %}
