{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/lotes/busca_op/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if ref %}
  <h4>Referência: {{ ref }}</h4>
{% endif %}
{% if modelo %}
  <h4>Modelo: {{ modelo }}</h4>
{% endif %}
{% if tam %}
  <h4>Tamanho: {{ tam }}</h4>
{% endif %}
{% if cor %}
  <h4>Cor: {{ cor }}</h4>
{% endif %}
{% if deposito %}
  <h4>Depósito: {{ deposito }}</h4>
{% endif %}
{% if cnpj9 %}
  <h4>Início do CNPJ9: {{ cnpj9 }}</h4>
{% endif %}
{% if tipo and tipo != 't' %}
  <h4>Tipo:
    {% if   tipo == 'a' %}PA
    {% elif tipo == 'g' %}PG
    {% elif tipo == 'b' %}PB
    {% elif tipo == 'p' %}PG/PB
    {% elif tipo == 'v' %}PA/PG/PB
    {% elif tipo == 'm' %}MD
    {% endif %}
  </h4>
{% endif %}
{% if situacao and situacao != 't' %}
  <h4>Situação:
    {% if   situacao == 'a' %}Ativas
    {% elif situacao == 'c' %}Canceladas
    {% endif %}
  </h4>
{% endif %}
{% if tipo_alt and tipo_alt != 't' %}
  <h4>Tipo de alternativa:
    {% if   tipo_alt == 'p' %}Alternativa de produção
    {% elif tipo_alt == 'e' %}Alternativa de expedição
    {% endif %}
  </h4>
{% endif %}
{% if posicao and posicao != 't' %}
  <h4>Posição:
    {% if   posicao == 'p' %}Em produção
    {% elif posicao == 'f' %}Finalizadas
    {% elif posicao == 'p63' %}Em produção, exceto OPs apenas no 63-CD
    {% elif posicao == 'f63' %}Finalizadas, incluindo OPs apenas no 63-CD
    {% endif %}
  </h4>
{% endif %}
{% if motivo and motivo != 't' %}
  <h4>Motivo da OP:
    {% if   motivo == 'e' %}OP de estoque
    {% elif motivo == 'p' %}OP de pedido
    {% elif motivo == 'n' %}OP de pedido não faturado
    {% elif motivo == 'f' %}OP de pedido faturado
    {% elif motivo == 'c' %}OP de pedido faturado e cancelado
    {% elif motivo == 'd' %}OP de pedido faturado e devolvido
    {% elif motivo == 'a' %}OP de pedido faturável (não faturado ou faturado e cancelado)
    {% elif motivo == 'i' %}OP de pedido não faturável (faturado ou faturado e devolvido)
    {% endif %}
  </h4>
{% endif %}
{% if quant_fin and quant_fin != 't' %}
  <h4>Quantidade finalizada:
    {% if   quant_fin == 'z' %}Zerada
    {% elif quant_fin == 'n' %}Não zerada
    {% endif %}
  </h4>
{% endif %}
{% if quant_emp and quant_emp != 't' %}
  <h4>Quantidade em produção:
    {% if   quant_emp == 'z' %}Zerada
    {% elif quant_emp == 'n' %}Não zerada
    {% endif %}
  </h4>
{% endif %}
{% if data_de or data_ate %}
  <h4>Data do Corte:
  {% if data_de %}
    de {{data_de}}
  {% endif %}
  {% if data_ate %}
    até {{data_ate}}
  {% endif %}
  </h4>
{% endif %}
{% if apenas_totais %}
  <h4>Apenas totais</h4>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style thclass='sticky' only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data safe=safe style=style only %}
  </table>
{% endif %}
{% endblock %}
