{% extends 'lotes/index.html' %}
{% load static %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<div class="visible-print">
  <div align="center">
    <h1>Romaneio</h1>
    <img src="{% static "img/DUOMO_small.png"  height="40" width="176" %}" alt="D'UOMO">
  </div>
</div>
<div class="noprint">
  <form action="/lotes/componentes_de_op/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
  </form>
</div>
{% if op %}
  <h3>OP {{ op }}</h3>
  <div class="noprint">
    {% url 'producao:op__get' op as detalhes_op %}
    {% with 'Detalhes da OP ' as text %}
      {% include "layout/link.html" with link=detalhes_op text=text|add:op only %}
    {% endwith %}
  </div>
{% endif %}
{% if msg_erro %}
<h3>{{ msg_erro }}</h3>
{% endif %}
{% if ref_data %}
  <table>
    {% include "layout/html_thead.html" with data=ref_headers only %}
    {% include "layout/html_tbody_group.html" with fields=ref_fields data=ref_data group=ref_group only %}
  </table>
  <table>
    {% include "layout/html_thead.html" with data=ref2_headers only %}
    {% include "layout/html_tbody_group.html" with fields=ref2_fields data=ref2_data group=ref2_group only %}
  </table>
{% endif %}
{% for comp in componentes %}
  <h3>{{ comp.header_text }}</h3>
  <table>
    {% include "layout/html_thead.html" with data=comp.headers only %}
    {% include "layout/html_tbody.html" with fields=comp.fields data=comp.data only %}
  </table>
{% endfor %}
{% endblock %}
