{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/lotes/">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/lotes/componentes_de_op/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if op %}
  <h3>OP {{ op }}</h3>
  {% url 'producao:op__get' op as detalhes_op %}
  {% with 'Detalhes da OP ' as text %}
    {% include "layout/link.html" with link=detalhes_op text=text|add:op only %}
  {% endwith %}
{% endif %}
{% if msg_erro %}
<h3>{{ msg_erro }}</h3>
{% endif %}
{% if ref_data %}
  <table>
    {% include "layout/html_thead.html" with data=ref_headers only %}
    {% include "layout/html_tbody_group.html" with fields=ref_fields data=ref_data group=ref_group only %}
  </table>
{% endif %}
{% for comp in componentes %}
  <h3>{{ comp.header_text }}</h3>
  <table>
    {% include "layout/html_thead.html" with data=comp.headers only %}
    {% include "layout/html_tbody.html" with fields=comp.fields data=comp.data only %}
  </table>
{% endfor %}
{% endblock %}
