{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
Utilize esta rotina quando o Systêxtil der erros como "Existem estágios com o sequenciamento errado." ou similares.
<form action="{% url 'producao:corrige_sequenciamento' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
    {%if count_repair%}
    <input type="submit" name="repair" value="Reparar"/>
    {%endif%}
</form>
{% if op %}
  <h2>OP: {{ op }}</h2>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <h3>Lotes ordenados por OC</h3>
  <table>
    {% include "layout/thead_generic.html" with data=headers only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data only %}
  </table>
{% endif %}
{% endblock %}
