{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/lotes/expedicao/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if embarque_de or embarque_ate %}
  <h4>Data de embarque:
  {% if embarque_de == embarque_ate %}
    {{ embarque_de }}
  {% else %}
    {% if embarque_de %}
      a partir de {{ embarque_de }}
    {% endif %}
    {% if embarque_ate %}
      até {{ embarque_ate }}
    {% endif %}
  {% endif %}
  </h4>
{% endif %}
{% if emissao_de or emissao_ate %}
  <h4>Data de emissão:
  {% if emissao_de == emissao_ate %}
    {{ emissao_de }}
  {% else %}
    {% if emissao_de %}
      a partir de {{ emissao_de }}
    {% endif %}
    {% if emissao_ate %}
      até {{ emissao_ate }}
    {% endif %}
  {% endif %}
  </h4>
{% endif %}
{% if pedido_tussor %}
  <h4>Pedido na Tussor {{ pedido_tussor }}</h4>
{% endif %}
{% if pedido_cliente %}
  <h4>Pedido no cliente {{ pedido_cliente }}</h4>
{% endif %}
{% if cliente %}
  <h4>Filtro de cliente: {{ cliente }}</h4>
{% endif %}
{% if deposito == '101' %}
  <h4>Depósito: 101-PA Atacado</h4>
{% elif deposito == '102' %}
  <h4>Depósito: 102-PA Varejo</h4>
{% endif %}
{% if detalhe %}
  <h4>Detalhe:
  {% if detalhe == 'r' %}
    Por pedido-referência
  {% elif detalhe == 'c' %}
    Por pedido-referência-cor-tamanho
  {% elif detalhe == 'p' %}
    Por pedido (e qualidade de GTIN)
  {% elif detalhe == 'o' %}
    Por pedido (Obs., OP e Referência)
  {% elif detalhe == 'g' %}
    Por grade de referência
  {% endif %}
  </h4>
{% endif %}
{% if cancelamento != '-' %}
  <h4>Cancelamento:
    {% if cancelamento == 'C' %}
      Cancelado
    {% elif cancelamento == 'N' %}
      Não cancelado
    {% endif %}
  </h4>
{% endif %}
{% if faturamento != '-' %}
  <h4>Faturamento:
    {% if faturamento == 'F' %}
      Faturado
    {% elif faturamento == 'N' %}
      Não faturado
    {% endif %}
  </h4>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <h4>Em ordem descendente de data de embarque e número de pedido na Tussor</h4>
  <h4>Quantidade total de produtos: {{ qtd_total }}</h4>
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data group=group style=style safe=safe only %}
  </table>
{% endif %}
{% if data_refs %}
  <h4>Quantidade total de produtos: {{ qtd_total }}</h4>
  {% for data in data_refs %}
    <h4>Referência: {{ data.ref }}</h4>
    <table>
      {% include "layout/thead_generic.html" with data=data.grade.headers style=data.grade.style only %}
      {% include "layout/tbody_generic.html" with fields=data.grade.fields data=data.grade.data group=data.grade.group style=data.grade.style only %}
    </table>
  {% endfor %}
{% endif %}
{% endblock %}
