{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/lotes/">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/lotes/expedicao/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if embarque_de or embarque_ate %}
  <h4>Data de embarque:
  {% if embarque_de == embarque_ate %}
    {{ embarque_de }}
  {% else %}
    {% if embarque_de %}
      a partir de {{ embarque_de }}
    {% endif %}
    {% if embarque_ate %}
      até {{ embarque_ate }}
    {% endif %}
  {% endif %}
  </h4>
{% endif %}
{% if pedido_tussor %}
  <h4>Pedido na Tussor {{ pedido_tussor }}</h4>
{% endif %}
{% if pedido_cliente %}
  <h4>Pedido no cliente {{ pedido_cliente }}</h4>
{% endif %}
{% if cliente %}
  <h4>Filtro de cliente: {{ cliente }}</h4>
{% endif %}
{% if detalhe == 'r' %}
  <h4>Quantidade por referência</h4>
{% else %}
  <h4>Quantidade por referência, cor e tamanho</h4>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
<h4>Em ordem descendente de data de embarque e número de pedido na Tussor</h4>
  <table>
    {% include "layout/thead_generic.html" with data=headers only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data group=group style=style only %}
  </table>
{% endif %}
{% endblock %}
