{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'producao:grade_produzir' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" name="busca" value="Busca"/>
</form>
{% if modelo %}
<h3>Modelo: {{ modelo }}</h3>
<h3>Meta de estoque</h3>
{% if msg_meta_estoque %}
  <h4>{{ msg_meta_estoque }}</h4>
{% endif %}
{% if gme %}
  <table>
    {% include "layout/thead_generic.html" with data=gme.headers style=gme.style only %}
    {% include "layout/tbody_generic.html" with fields=gme.fields data=gme.data style=gme.style only %}
  </table>
{% endif %}
<h3>Meta de giro (lead)</h3>
{% if msg_meta_giro %}
  <h4>{{ msg_meta_giro }}</h4>
{% endif %}
{% if gmg %}
  <table>
    {% include "layout/thead_generic.html" with data=gmg.headers style=gmg.style only %}
    {% include "layout/tbody_generic.html" with fields=gmg.fields data=gmg.data style=gmg.style only %}
  </table>
{% endif %}
<h3>Total das metas (A)</h3>
{% if gm %}
  <table>
    {% include "layout/thead_generic.html" with data=gm.headers style=gm.style only %}
    {% include "layout/tbody_generic.html" with fields=gm.fields data=gm.data style=gm.style only %}
  </table>
{% endif %}
<h3>Total das OPs</h3>
{% if gop %}
  <table>
    {% include "layout/thead_generic.html" with data=gop.headers style=gop.style only %}
    {% include "layout/tbody_generic.html" with fields=gop.fields data=gop.data style=gop.style only %}
  </table>
{% else %}
  <h4>Modelo sem OPs</h4>
{% endif %}
<h3>Carteira de pedidos</h3>
{% if gped %}
  <table>
    {% include "layout/thead_generic.html" with data=gped.headers style=gped.style only %}
    {% include "layout/tbody_generic.html" with fields=gped.fields data=gped.data style=gped.style only %}
  </table>
{% else %}
  <h4>Modelo sem pedidos</h4>
{% endif %}
<h3>OPs – Pedidos (B)</h3>
{% if gopp %}
  <table>
    {% include "layout/thead_generic.html" with data=gopp.headers style=gopp.style only %}
    {% include "layout/tbody_generic.html" with fields=gopp.fields data=gopp.data style=gopp.style only %}
  </table>
{% endif %}
{% endif %}
{% endblock %}
