{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'producao:grade_produzir' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" name="busca" value="Busca"/>
</form>
<h3>Grade de meta de estoque</h3>
{% if msg_meta_estoque %}
  <h4>{{ msg_meta_estoque }}</h4>
{% endif %}
{% if gme %}
  <table>
    {% include "layout/thead_generic.html" with data=gme.headers style=gme.style only %}
    {% include "layout/tbody_generic.html" with fields=gme.fields data=gme.data style=gme.style only %}
  </table>
{% endif %}
<h3>Grade de meta de giro (lead)</h3>
{% if msg_meta_giro %}
  <h4>{{ msg_meta_giro }}</h4>
{% endif %}
{% if gmg %}
  <table>
    {% include "layout/thead_generic.html" with data=gmg.headers style=gmg.style only %}
    {% include "layout/tbody_generic.html" with fields=gmg.fields data=gmg.data style=gmg.style only %}
  </table>
{% endif %}
{% endblock %}
