{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'producao:imprime_tag' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Busca" name="search"/>
</form>
{% if item %}
  <h4>Item: {{ item }}</h4>
  <h4>Quantidade: {{ quant }}</h4>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% else %}
  {% if data %}
    <table>
      {% include "layout/html_thead.html" with data=headers only %}
      {% include "layout/html_tbody.html" with fields=fields data=data only %}
    </table>
  {% endif %}
{% endif %}
{% endblock %}
