{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'producao:imprime_caixa_lotes' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Pesquisa" name="search"/>
  <input type="submit" value="Imprime" name="print"/>
</form>
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% else %}
  {% if data %}
    <h3>{{ count }} caixa{{ count|pluralize }} selecionada{{ count|pluralize }} para impressão</h3>
    {% if cod_impresso %}
      Impresso: {{ cod_impresso }}<br />
    {% endif %}
    OP: {{ op }}&nbsp;&nbsp;
    Referência: {{ ref }} - {{ descr_ref }}<br />
    {% if op_mae %}
      OP Mãe: {{ op_mae }}&nbsp;&nbsp;
      Referência Mãe: {{ ref_mae }}<br />
    {% endif %}
    {% if cor or tam or ultimo or ultima_cx or pula or qtd_lotes %}
      <h4>Filtro:</h4>
      {% if cor %}
        Cor: {{ cor }}<br />
      {% endif %}
      {% if tam %}
        Tamanho: {{ tam }}<br />
      {% endif %}
      {% if ultimo %}
        Depois da caixa com o lote {{ ultimo }}<br />
      {% endif %}
      {% if ultima_cx %}
        Depois da caixa número {{ ultima_cx }}<br />
      {% endif %}
      {% if pula %}
        Pula {{ pula }} caixa{{ pula|pluralize }}<br />
      {% endif %}
      {% if qtd_lotes %}
        Seleciona {{ qtd_lotes }} caixa{{ qtd_lotes|pluralize }}<br />
      {% endif %}
    {% endif %}
    <table>
      {% include "layout/html_thead.html" with data=headers only %}
      {% include "layout/html_tbody.html" with fields=fields data=data only %}
    </table>
  {% endif %}
{% endif %}
{% endblock %}
