{% extends 'lotes/index_agator.html'%}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'producao:imprime_ob1' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Pesquisa" name="search"/>
  <input type="submit" value="Imprime" name="print"/>
</form>
{% if os %}
  <h4>Filtro</h4>
  OS: {{ os }}<br />
{% endif %}
{% if caixa_inicial %}
  Caixa inicial: {{ caixa_inicial }}<br />
{% endif %}
{% if caixa_final %}
  Caixa final: {{ caixa_final }}<br />
{% endif %}
{% if msg_erro %}
  <h4>{{ msg_erro }}</h4>
{% endif %}
{% if data %}
  <h4>{{ count }} caixa{{ count|pluralize }} selecionada{{ count|pluralize }} para impressão</h4>
  <table>
    {% include "layout/html_thead.html" with data=headers only %}
    {% include "layout/html_tbody.html" with fields=fields data=data only %}
  </table>
{% endif %}
{% endblock %}
