<ul>
  <li><a href="/lotes/posicao/">Lote</a></li>
  <li><a href="/lotes/op/">OP</a></li>
  <li><a href="/lotes/os/">OS</a></li>
  <li><a href="/lotes/pedido/">Pedido</a></li>
  <li><a href="/lotes/respons/">Responsável por estágio</a></li>
  <br />
  <li>Análise</li>
  <ul>
    <li><a href="/lotes/an_dtcorte_alter/">Produção por data de corte e alternativa</a></li>
    <li><a href="/lotes/an_periodo_alter/">Produção por período e alternativa</a></li>
    <li><a href="/lotes/op_pendente/">Ordens pendentes por estágio</a></li>
  </ul>
  <br />
  <li>Impressão</li>
  <ul>
    <li><a href="/lotes/imprime_lotes/">Imprime "Cartela de Lote"</a></li>
    <li><a href="/lotes/imprime_pacote3lotes/">Imprime "Pacote de 3 Lotes"</a></li>
    {% if request.user.is_authenticated %}
      <li>Tabelas de configuração</li>
      <ul>
        <li><a href="/lotes/impressora_termica/">Impressora térmica</a></li>
      </ul>
    {% endif %}
  </ul>
</ul>
