<ul>
  {% if empresa == 'tussor' %}
    <li><a href="{% url 'producao:lote' %}">Lote/OC</a></li>
    <li><a href="{% url 'producao:op' %}">OP</a></li>
    <ul>
      <li><a href="{% url 'producao:busca_op' %}">Busca OP</a></li>
      <li><a href="{% url 'producao:op_caixa' %}">Lista caixas de OP</a></li>
      <li><a href="{% url 'producao:componentes_de_op' %}">Produtos componentes de OP</a></li>
      <li><a href="{% url 'producao:lista_lotes' %}">Lista lotes de OP</a></li>
      <li><a href="{% url 'producao:corrige_sequenciamento' %}">Corrige sequenciamento de OP</a></li>
      <li><a href="{% url 'producao:historico_op' %}">Histórico de OP</a></li>
      <li><a href="{% url 'producao:op_seq_erro' %}">OP com erro de sequência</a></li>
    </ul>
    <li><a href="{% url 'producao:os' %}">OS</a></li>
  {% endif %}
  <li><a href="{% url 'producao:pedido' %}">Pedido</a></li>
  {% if empresa == 'tussor' %}
    <ul>
      <li><a href="{% url 'producao:expedicao' %}">Expedição</a></li>
      <li><a href="{% url 'producao:faturavel_modelo' %}">Pedido faturável por modelo</a></li>
      <li><a href="{% url 'producao:pedido_historico' %}">Histórico</a></li>
      <li><a href="{% url 'producao:analise_grade_pedidos' %}">Grade de pedidos a embarcar</a></li>
      <li><a href="{% url 'producao:rastreabilidade' %}">Rastreabilidade</a></li>
    </ul>
    <li><a href="{% url 'producao:respons' %}">Responsável por estágio</a></li>
    <li><a href="{% url 'producao:distribuicao' %}">Distribuição Tecelagem</a></li>
    <li><a href="{% url 'producao:conserto' %}">Produtos em conserto</a></li>
    <li><a href="{% url 'producao:perda' %}">Perdas de produção</a></li>
    <li><a href="{% url 'producao:por_celula' %}">Produção por célula/estágio</a></li>
    <br />
    <li>Filial corte</li>
    <ul>
      <li><a href="{% url 'producao:corte-envio_insumo' %}">Envio de insumos</a></li>
      <li><a href="{% url 'producao:corte-marca_op_cortada' %}">Marca OP cortada</a></li>
      <li><a href="{% url 'producao:corte-gera_pedido_op' %}">Gera pedidos para OPs</a></li>
      <li><a href="{% url 'producao:corte-pedidos_gerados' %}">Pedidos gerados</a></li>
      <li><a href="{% url 'producao:corte-romaneio_corte' %}">(antigo) Romaneio</a></li>
    </ul>
    <br />
    <li>Parâmetros</li>
    <ul>
      <li><a href="{% url 'producao:parametros-lead_colecao' %}">Lead por coleção</a></li>
      <li><a href="{% url 'producao:parametros-lote_min_colecao' %}">Lote mínimo por coleção</a></li>
      <li><a href="{% url 'producao:parametros-regras_lote_min_tamanho' %}">Lote mínimo por tamanho</a></li>
      <li><a href="{% url 'producao:parametros-regras_lote_caixa' %}">Lotes por caixa</a></li>
    </ul>
    <br />
    <li>Análise</li>
    <ul>
      <li>Produção por</li>
      <ul>
        <li><a href="{% url 'producao:analise_dtcorte_alter' %}">Data de corte e alternativa</a></li>
        <li><a href="{% url 'producao:analise_periodo_alter' %}">Período e alternativa</a></li>
      </ul>
      <li><a href="{% url 'producao:op_pendente' %}">Ordens pendentes por estágio</a></li>
      <li><a href="{% url 'producao:totais_estagio' %}">Totais gerais dos estágios</a></li>
      <li><a href="{% url 'producao:quant_estagio' %}">Quantidades por estágio</a></li>
      <li><a href="{% url 'producao:meta_giro' %}">Visualiza meta de giro</a></li>
      <li><a href="{% url 'producao:meta_total' %}">Visualiza total das metas</a></li>
      <li>A produzir</li>
      <ul>
        <!-- <li>Por modelo</li> -->
        <li><a href="{% url 'producao:produzir_modelo_grade' %}">Por modelo</a></li>
        <!-- <ul>
          <li><a href="{% url 'producao:a_produzir' %}">Totais sem grade</a></li>
          <li><a href="{% url 'producao:produzir_modelo_grade' %}">Totais com grade</a></li>
        </ul> -->
        <!-- <li>Por grade de modelo</li> -->
        <li><a href="{% url 'producao:analise_produzir_grade_empenho' %}">Por grade de modelo</a></li>
        <!-- <ul> -->
          <!-- <li><a href="{% url 'producao:analise_produzir_grade_empenho' %}">Empenho e carteira</a></li> -->
          <!-- <li><a href="{% url 'producao:analise_grade_produzir_modelo' %}">Depósitos (só Modelo)</a></li> -->
          <!-- <li><a href="{% url 'producao:analise_grade_produzir' %}">Depósitos (Modelo+Refs)</a></li> -->
        <!-- </ul> -->
      </ul>
    </ul>
    <br />
  {% endif %}
  {% if empresa == 'tussor' %}
    <li>Impressão</li>
    <ul>
      <li><a href="{% url 'producao:impressao-imprime_lotes' %}">Cartela de lote</a></li>
      <li><a href="{% url 'producao:impressao-imprime_caixa_lotes' %}">Etiqueta caixa de <i>N</i> lotes</a></li>
      <li><a href="{% url 'producao:impressao-imprime_tag' %}">TAG</a></li>
    </ul>
  {% elif empresa == 'agator' %}
    <!-- <li>Impressão</li>
    <ul>
      <li><a href="{% url 'producao:imprime_ob1' %}">OB1</a></li>
    </ul> -->
  {% endif %}
</ul>
