{% extends 'comercial/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  {% if msg_erro %}
    <h4>{{ msg_erro }}</h4>
  {% endif %}
  {% if data %}
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-toggle="tab" href="#totais">Totais</a></li>
      <!-- <li><a data-toggle="tab" href="#grades">Grades</a></li> -->
    </ul>
    <div class="tab-content">
      <div id="totais" class="tab-pane fade in active">
        <table>
          {% include "layout/thead_generic.html" with data=headers style=style only %}
          {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
        </table>
      </div>
      <div id="grades" class="tab-pane fade">
        <h4 style="text-align: right;">Total geral: <span style="font-weight: bold;">{{total}}</span></h4>
        {% for row in data %}
          {% if row.grade %}
            <h4>Modelo <span style="font-weight: bold;">{{row.modelo}}</span></h4>
            <table>
              {% include "layout/thead_generic.html" with data=row.grade.headers style=row.grade.style only %}
              {% include "layout/tbody_generic.html" with fields=row.grade.fields data=row.grade.data style=row.grade.style only %}
            </table>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
