{% extends 'layout/layout.html' %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block title %}OP - Produção - Intranet - Tussor{% endblock %}

{% block header %}
<h1>OP - Produção - Intranet - Tussor (cuecas D`UOMO)</h1>
{% endblock %}

{% block content %}
<p><a href="/lotes/">Lotes</a></p>
<form action="/lotes/op/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if op %}
<h2>OP {{ op }}</h2>
{% endif %}
{% if msg_erro %}
<h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
<table>
  {% include "layout/html_thead.html" with data=i_headers only %}
  {% include "layout/html_tbody_link.html" with fields=i_fields data=i_data link=i_link only %}
</table>
<h3>Totais por referência + estágio</h3>
<table>
  {% include "layout/html_thead.html" with data=t_headers only %}
  {% include "layout/html_tbody.html" with fields=t_fields data=t_data only %}
</table>
<h3>Totais por OS + referência</h3>
<table>
  {% include "layout/html_thead.html" with data=o_headers only %}
  {% include "layout/html_tbody.html" with fields=o_fields data=o_data only %}
</table>
<h3>Lotes ordenados por OS + referência + estágio</h3>
<table>
  {% include "layout/html_thead.html" with data=headers only %}
  {% include "layout/html_tbody_link.html" with fields=fields data=data link=link only %}
</table>
{% endif %}
{% endblock %}
