{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/lotes/">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/lotes/op/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if op %}
<h2>OP {{ op }}</h2>
{% endif %}
{% if msg_erro %}
<h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
<table>
  {% include "layout/html_thead.html" with data=i_headers only %}
  {% include "layout/html_tbody_group.html" with fields=i_fields data=i_data group=i_group only %}
</table>
<table>
  {% include "layout/html_thead.html" with data=i2_headers only %}
  {% include "layout/html_tbody_group.html" with fields=i2_fields data=i2_data group=i2_group only %}
</table>
<table>
  {% include "layout/html_thead.html" with data=i3_headers only %}
  {% include "layout/html_tbody.html" with fields=i3_fields data=i3_data only %}
</table>
{% if g_data %}
  <h3>Grade original a produzir</h3>
  <table>
    {% include "layout/html_thead.html" with data=g_headers only %}
    {% include "layout/html_tbody.html" with fields=g_fields data=g_data only %}
  </table>
{% endif %}
<h3>Estágios</h3>
<table>
  {% include "layout/html_thead.html" with data=e_headers only %}
  {% include "layout/html_tbody.html" with fields=e_fields data=e_data only %}
</table>
{% if os_data %}
  <h3>OSs da OP</h3>
  <table>
    {% include "layout/html_thead.html" with data=os_headers only %}
    {% include "layout/html_tbody_link.html" with fields=os_fields data=os_data link=os_link only %}
  </table>
{% endif %}
<h3>Totais por referência + estágio</h3>
<table>
  {% include "layout/html_thead.html" with data=t_headers only %}
  {% include "layout/html_tbody.html" with fields=t_fields data=t_data only %}
</table>
<h3>Totais por OS + referência</h3>
<table>
  {% include "layout/html_thead.html" with data=o_headers only %}
  {% include "layout/html_tbody_link.html" with fields=o_fields data=o_data link=o_link only %}
</table>
<h3>Lotes ordenados por Estágio + OS + referência + cor + tamanho</h3>
<table>
  {% include "layout/html_thead.html" with data=headers only %}
  {% include "layout/html_tbody_link.html" with fields=fields data=data link=link only %}
</table>
{% endif %}
{% endblock %}
