{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<div class="noprint">
<form action="/lotes/op_caixa/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
</div>
{% if op %}
  <h3>OP: {{ op }}</h3>
{% endif %}
{% if ref %}
  <p>Referência: {{ ref }} &nbsp; Tipo: {{ tipo_ref }} &nbsp; Coleção: {{ colecao }}{% if ini_ref %} &nbsp; Início de referência: {{ ini_ref }}{% endif %} &nbsp; Lotes/caixa: {{ lotes_caixa }}</p>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <h4>Caixas e lotes</h4>
  <table>
    {% include "layout/html_thead.html" with data=headers only %}
    {% include "layout/html_tbody_group.html" with fields=fields data=data group=group only %}
  </table>
{% endif %}
{% endblock %}
