{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/lotes/op_pendente/" method="post">
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
    {% csrf_token %}
</form>
<h3>Filtro</h3>
<h4>Situação: {% if situacao %}
  {% if situacao == '2' %}
    2 (Ordem confecção gerada)
  {% elif situacao == '4' %}
    4 (Ordens em produção)
  {% endif %}
{% else %}
  2 (Ordem confec. gerada) ou 4 (Ordens em produção)
{% endif %}</h4>
{% if estagio %}
  <h4>Estagio: {{ estagio }}</h4>
{% endif %}
{% if periodo_de %}
  <h4>Período: De: {{ periodo_de }}</h4>
{% endif %}
{% if periodo_ate %}
  <h4>Período: Até: {{ periodo_ate }}</h4>
{% endif %}
{% if data_de %}
  <h4>Data de corte: De: {{ data_de }}</h4>
{% endif %}
{% if data_ate %}
  <h4>Data de corte: Até: {{ data_ate }}</h4>
{% endif %}
{% if colecao %}
  <h4>Coleção: {{ colecao }}</h4>
{% endif %}
{% if tipo and tipo != 't' %}
  <h4>Tipo:
    {% if   tipo == 'a' %}PA
    {% elif tipo == 'g' %}PG
    {% elif tipo == 'b' %}PB
    {% elif tipo == 'p' %}PG/PB
    {% elif tipo == 'v' %}PA/PG/PB
    {% elif tipo == 'm' %}MD
    {% endif %}
  </h4>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <h3>Ordens pendentes por estágio</h3>
  <table>
    {% include "layout/html_thead.html" with data=headers only %}
    {% include "layout/html_tbody_link.html" with fields=fields data=data link=link only %}
  </table>
{% endif %}
{% endblock %}
