{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/lotes/os/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if os %}
  <h2>OS {{ os }}</h2>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <table>
    {% include "layout/html_thead.html" with data=headers only %}
    {% include "layout/html_tbody.html" with fields=fields data=data only %}
  </table>
  <table>
    {% include "layout/html_thead.html" with data=headers2 only %}
    {% include "layout/html_tbody.html" with fields=fields2 data=data2 only %}
  </table>
  {% if o_data %}
    <h3>OP</h3>
    <table>
      {% include "layout/html_thead.html" with data=o_headers only %}
      {% include "layout/html_tbody_group.html" with fields=o_fields data=o_data group=o_group only %}
    </table>
  {% endif %}
  <h3>Grade de produtos a industrializar</h3>
  {% if g_data %}
    <table>
      {% include "layout/html_thead.html" with data=g_headers only %}
      {% include "layout/html_tbody.html" with fields=g_fields data=g_data only %}
    </table>
  {% else %}
    Nenhum
  {% endif %}
  {% if i_data %}
    <h3>Itens para nota de OS</h3>
    <table>
      {% include "layout/html_thead.html" with data=i_headers only %}
      {% include "layout/html_tbody_group.html" with fields=i_fields data=i_data group=i_group only %}
    </table>
  {% endif %}
  <h3>Lotes ordenados por OP + referência + cor + tamanho</h3>
  {% if l_data %}
    <table>
      {% include "layout/html_thead.html" with data=l_headers only %}
      {% include "layout/html_tbody_link.html" with fields=l_fields data=l_data link=l_link only %}
    </table>
  {% else %}
    Nenhum
  {% endif %}
{% endif %}
{% endblock %}
