{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'producao:pedido_faturavel_modelo' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if modelo %}
  <h4>Modelo: {{ modelo }}</h4>
{% endif %}
{% if colecao %}
  <h4>Coleção: {{ colecao }}</h4>
{% endif %}
{% if tam %}
  <h4>Tamanho: {{ tam }}</h4>
{% endif %}
{% if cor %}
  <h4>Cor: {{ cor }}</h4>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  {% if lead != 0 %}
    <h4>Lead do modelo: {{ lead }}</h4>
  {% endif %}
  <h4>Ordenado por data de embarque</h4>
  {% if periodo %}
    <h4>Data de embarque até: Hoje + lead + {{ periodo }}</h4>
  {% endif %}
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
  </table>
  {% if data_pos %}
    <h4>Data de embarque após: Hoje + lead + {{ periodo }}</h4>
    <table>
      {% include "layout/thead_generic.html" with data=headers style=style only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data_pos style=style only %}
    </table>
  {% endif %}
{% endif %}
{% endblock %}
