{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/lotes/">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/lotes/pedido/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if pedido %}
  <h2>Pedido {{ pedido }}</h2>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <table>
    {% include "layout/html_thead.html" with data=headers only %}
    {% include "layout/html_tbody.html" with fields=fields data=data only %}
  </table>
{% endif %}
{% if data2 %}
  <table>
    {% include "layout/html_thead.html" with data=headers2 only %}
    {% include "layout/html_tbody.html" with fields=fields2 data=data2 only %}
  </table>
{% endif %}
{% if o_data %}
<h3>OP do pedido</h3>
  <table>
    {% include "layout/html_thead.html" with data=o_headers only %}
    {% include "layout/html_tbody_group.html" with fields=o_fields data=o_data group=o_group only %}
  </table>
{% endif %}
{% if g_data %}
  <h3>Grade de produtos do pedido</h3>
  <table>
    {% include "layout/html_thead.html" with data=g_headers only %}
    {% include "layout/html_tbody.html" with fields=g_fields data=g_data only %}
  </table>
{% endif %}
{% endblock %}
