{% extends extends_html %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/lotes/pedido/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if pedido %}
  <h3>Pedido: {{ pedido|safe }}</h3>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data group=group style=style only %}
  </table>
{% endif %}
{% if data2 %}
  <table>
    {% include "layout/html_thead.html" with data=headers2 only %}
    {% include "layout/html_tbody.html" with fields=fields2 data=data2 only %}
  </table>
  {% if reativa_pedido %}
    {% url 'producao:reativa_pedido__get' reativa_pedido as reativa_pedido_link %}
    {% include "layout/link.html" with link=reativa_pedido_link text='Reativa a pedido' only %}
  {% endif %}
{% endif %}
{% if d_data %}
  <table>
    {% include "layout/html_thead.html" with data=d_headers only %}
    {% include "layout/html_tbody.html" with fields=d_fields data=d_data only %}
  </table>
{% endif %}
{% if o_data %}
  <h3>OP do pedido</h3>
  <table>
    {% include "layout/html_thead.html" with data=o_headers only %}
    {% include "layout/html_tbody_group.html" with fields=o_fields data=o_data group=o_group only %}
  </table>
{% endif %}
{% if nf_data %}
  <h3>NF do pedido</h3>
  <table>
    {% include "layout/thead_generic.html" with data=nf_headers only %}
    {% include "layout/tbody_generic.html" with fields=nf_fields data=nf_data only %}
  </table>
{% else %}
  {% if data %}
    <h3>Pedido não faturado</h3>
  {% endif %}
{% endif %}
{% if g_data %}
  <br /><a href="{% url 'contabil:infadprod' pedido %}">Lista itens do pedido&nbsp;<span class="glyphicon glyphicon-link" aria-hidden="true"></a>
  <h3>Grade de produtos do pedido</h3>
  <table style="width: auto;">
    {% include "layout/thead_generic.html" with data=g_headers style=g_style only %}
    {% include "layout/tbody_generic.html" with fields=g_fields data=g_data style=g_style only %}
  </table>
  <h4>Quantidade total: {{ g_total }}</h4>
{% endif %}
{% endblock %}
