{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/lotes/posicao/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Busca"/>
</form>
{% if erro %}
  <h3>Lote não encontrado</h3>
{% elif lote %}
  <br/>
  <p>
  Lote selecionado: <b>{{lote}}</b> ( <b>{{ nloted.NLOTE }}</b> de {{ nloted.TOTLOTES }} )<br/>
  {% url 'cd:historico_lote' lote as hist_lote %}
  {% include "layout/link.html" with link=hist_lote text='Histórico do lote '|add:lote|add:' no CD' only %}
  </p>
  <table>
    {% include "layout/html_thead.html" with data=i_headers only %}
    {% include "layout/html_tbody_link.html" with fields=i_fields data=i_data link=i_link only %}
  </table>
  <table class="layout">
    <tr>
      <td style="vertical-align: top;">
        <table>
          {% include "layout/thead_generic.html" with data=p_headers style=p_style only %}
          {% include "layout/tbody_generic.html" with fields=p_fields data=p_data link=p_link style=p_style only %}
        </table>
      </td>
      <td></td>
      <td style="border-left: thin solid lightgrey;"></td>
      <td style="vertical-align: top;">
        <table>
          {% include "layout/html_thead.html" with data=l_headers only %}
          {% include "layout/html_tbody.html" with fields=l_fields data=l_data only %}
        </table>
      </td>
    </tr>
  </table>
  <br />
  <table>
    {% include "layout/html_thead.html" with data=o_headers only %}
    {% include "layout/html_tbody_link.html" with fields=o_fields data=o_data link=o_link only %}
  </table>
  {% if os_data %}
    <table>
      {% include "layout/html_thead.html" with data=os_headers only %}
      {% include "layout/html_tbody_link.html" with fields=os_fields data=os_data link=os_link only %}
    </table>
  {% endif %}
  <br />
  <table>
    {% include "layout/thead_generic.html" with data=se_headers style=se_style only %}
    {% include "layout/tbody_generic.html" with fields=se_fields data=se_data style=se_style only %}
  </table>
  <br />
  <table>
    {% include "layout/thead_generic.html" with data=hh_headers only %}
    {% include "layout/tbody_generic.html" with fields=hh_fields data=hh_data only %}
  </table>
  <br />
  {% if h_data %}
    <table>
      {% include "layout/thead_generic.html" with data=h_headers style=h_style only %}
      {% include "layout/tbody_generic.html" with fields=h_fields data=h_data safe=h_safe style=h_style only %}
    </table>
  {% endif %}
  <br />
  <table>
    {% include "layout/html_thead.html" with data=e_headers only %}
    {% include "layout/html_tbody_group.html" with fields=e_fields data=e_data group=e_group only %}
  </table>
  {% if slq_data %}
    <h3>Solicitações</h3>
    <div class="text-align:right;">
      <a href="{% url 'cd:solicitacao_detalhe__get3' solicit_id 'dl' lote %}" target="_blank" onclick="if(confirm('Confirma cancelamento?')){return true}else{return false};"
        >Cancela solicitação de toda quantidade disponível no lote <span id="booom" class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></a>
    </div>
    <table>
      {% include "layout/thead_generic.html" with data=slq_headers style=slq_style only %}
      {% include "layout/tbody_generic.html" with fields=slq_fields data=slq_data link=slq_link style=slq_style only %}
    </table>
  {% endif %}
{% endif %}
{% endblock content %}

{% block javascript %}
<script>
  var inp = document.getElementById('id_lote');
  inp.select();
</script>
{% endblock javascript %}
