{% extends 'layout/layout.html' %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
a:hover {
 cursor:pointer;
}
</style>
{% endblock %}

{% block title %}Posição - Lotes - Intranet - Tussor{% endblock %}

{% block header %}
<h1>Posição - Lotes - Intranet - Tussor (cuecas D`UOMO)</h1>
{% endblock %}

{% block content %}
<p><a href="/lotes/">Lotes</a></p>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Busca"/>
</form>
<script>
  var inp = document.getElementById('id_lote');
  inp.select();
</script>
{% if descricao_estagio %}
<br/>
Estágio atual do lote
  {% if codigo_estagio == 'X' %}
    {{lote}}:
  {% else %}
    <a id="lote">{{lote}}</a>:
  {% endif %}
<h3>{{codigo_estagio}} - {{descricao_estagio}}</h3>
{% endif %}
{% endblock %}
