{% extends 'layout/layout.html' %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block title %}Posição de Lote - Produção - Intranet - Tussor{% endblock %}

{% block header %}
<h1>Posição de Lote - Produção - Intranet - Tussor (cuecas D`UOMO)</h1>
{% endblock %}

{% block content %}
<p><a href="/lotes/">Lotes</a></p>
<form action="/lotes/posicao/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Busca"/>
</form>
{% block javascript %}
<script>
  var inp = document.getElementById('id_lote');
  inp.select();
</script>
{% endblock javascript %}

{% if erro %}

<h3>Lote não encontrado</h3>

{% elif lote %}

<br/>
Estágio atual do lote <b>{{lote}}</b>:
<h3>{{codigo_estagio}} - {{descricao_estagio}}</h3>

<table>
  {% include "layout/html_thead.html" with data=o_headers only %}
  {% include "layout/html_tbody_link.html" with fields=o_fields data=o_data link=o_link only %}
</table>
<table>
  {% include "layout/html_thead.html" with data=l_headers only %}
  {% include "layout/html_tbody.html" with fields=l_fields data=l_data only %}
</table>
<table>
  {% include "layout/html_thead.html" with data=i_headers only %}
  {% include "layout/html_tbody.html" with fields=i_fields data=i_data only %}
</table>
<table>
  {% include "layout/html_thead.html" with data=e_headers only %}
  {% include "layout/html_tbody_group.html" with fields=e_fields data=e_data group=e_group only %}
</table>

{% endif %}
{% endblock content %}
