{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/lotes/">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/lotes/posicao2/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Busca"/>
</form>
{% block javascript %}
<script>
  var inp = document.getElementById('id_lote');
  inp.select();
</script>
{% endblock javascript %}

{% if erro %}

<h3>Lote não encontrado</h3>

{% elif lote %}

<br/>
Estágio atual do lote <b>{{lote}}</b>:
<table>
  <tr>
    <td style="vertical-align: top;">
      <table>
        {% include "layout/html_thead.html" with data=p_headers only %}
        {% include "layout/html_tbody_link.html" with fields=p_fields data=p_data link=p_link only %}
      </table>
    </td>
    <td></td>
    <td style="border-left: thin solid lightgrey;"></td>
    <td style="vertical-align: top;">
      <table>
        {% include "layout/html_thead.html" with data=l_headers only %}
        {% include "layout/html_tbody.html" with fields=l_fields data=l_data only %}
      </table>
    </td>
  </tr>
</table>
<table>
  {% include "layout/html_thead.html" with data=i_headers only %}
  {% include "layout/html_tbody_link.html" with fields=i_fields data=i_data link=i_link only %}
</table>
<table>
  {% include "layout/html_thead.html" with data=o_headers only %}
  {% include "layout/html_tbody_link.html" with fields=o_fields data=o_data link=o_link only %}
</table>
{% if os_data %}
  <table>
    {% include "layout/html_thead.html" with data=os_headers only %}
    {% include "layout/html_tbody_link.html" with fields=os_fields data=os_data link=os_link only %}
  </table>
{% endif %}
<table>
  {% include "layout/html_thead.html" with data=e_headers only %}
  {% include "layout/html_tbody_group.html" with fields=e_fields data=e_data group=e_group only %}
</table>

{% endif %}
{% endblock content %}
