{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'producao:rastreabilidade' %}" method="post" name="myForm">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="busca" value="Busca"/>
  </form>
  {% if request.POST %}
    {% include "layout/form_inputs_report.html" with form=form h=4 only %}
    {% if mensagem %}
      <h4>{{ mensagem }}</h4>
    {% endif %}
    {% include "layout/table_generic.html" with dados=cliente only %}
    {% include "layout/table_generic.html" with dados=status only %}
    {% include "layout/table_generic.html" with dados=obs only %}
    {% for op in ops %}
      <h4>
        {% url 'producao:op__get' op.op as link_op %}
        OP {% include "layout/a.html" with link=link_op text=op.op target='_blank' only %}
      </h4>
      {% include "layout/table_generic.html" with dados=op.info only %}
      {% include "layout/table_generic.html" with dados=op.obs only %}
    {% endfor %}
  {% endif %}
{% endblock %}
