{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if form %}
  <p><a title="Listar" href="{% url 'producao:regras_lote_caixa' %}"><span class="glyphicon glyphicon-list" style="font-size: 2em" aria-hidden="true"></span></a></p>
  {% if ead == 'e' %}
    <h3>Coleção: {{colecao}} ({{descr_colecao}}){% if referencia %} - Referência "{{referencia}}"{%endif%}</h3>
  {% endif %}
  <form action="{% url 'producao:regras_lote_caixa__get' colecao referencia ead %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Grava"/>
  </form>
{% endif %}
{% if data %}
  {% if has_perm %}
    <p><a title="Inserir" href="{% url 'producao:regras_lote_caixa__get' '-' '-' 'a' %}"><span class="glyphicon glyphicon-plus-sign" style="font-size: 2em" aria-hidden="true"></span></a></p>
  {% endif %}
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data style=style safe=safe only %}
  </table>
{% endif %}
{% endblock %}
