{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/lotes/">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if data %}
<h3>Responsável por estágio (em procedimento padrão)</h3>
<table>
  {% include "layout/html_thead.html" with data=headers only %}
  {% include "layout/html_tbody.html" with fields=fields data=data only %}
</table>
{% endif %}
{% endblock %}
