{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
.glyphicon-ok {
  color: green;
}
.glyphicon-ban-circle {
  color: darkred;
}
</style>
{% endblock %}

{% block javascript %}
{% block javascript.pos %}
{% if editar %}
<script >

  var glyph = '<span {id_tag} class="glyphicon glyphicon-{tipo}" '+
              'aria-hidden="true"></span>';
  var glyph_id_tag = glyph.replace('{id_tag}', 'id="span_{id}"');
  var glyph_no_id_tag = glyph.replace('{id_tag}', '');

  var glyph_ok  = glyph_id_tag.replace('{tipo}', 'ok');
  var glyph_no  = glyph_id_tag.replace('{tipo}', 'ban-circle');

  var glyph_change  = glyph_no_id_tag.replace('{tipo}', 'refresh');

  var link = '<a id="link_{id}" title="Change" href="#" ' +
             'onclick="ChangeFunction(\'{id}\');return false;">{conteudo}</a>'
  var link_change  = link.replace('{conteudo}', glyph_change);

  function ChangeFunction(id) {
    $.ajax({
      type: 'GET',
      url: '/lotes/ajax/altera_direito_estagio/'+id+'/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        if (data) {
          if (data['result'] == 'OK') {
            console.log('OK! '+data['state']);

            span_el = document.querySelectorAll('#span_'+id);
            for (var i=0, len=span_el.length|0; i<len; i=i+1|0) {
              if (span_el[i].outerHTML.indexOf('ban-circle') != -1) {
                glyph_id = glyph_ok.replace(/\{id\}/g, id);
              } else {
                glyph_id = glyph_no.replace(/\{id\}/g, id);
              }
              span_el[i].outerHTML = glyph_id;
            }

          } else {
            console.log('Erro: '+data['descricao_erro']);
          }
        } else {
          console.log('Sem retorno de pedido');
        }
      }
    });

  }

  var estagios_os = [
  {% for estagio_os in estagios_os %}
    '{{estagio_os}}',
  {% endfor %}
    '##'
  ];

  $(document).ready(function() {
    var all_el = document.querySelectorAll('td');
    var coloca_link = false;
    for (var i=0, len=all_el.length|0; i<len; i=i+1|0) {
      coloca_link = false;    

      if (
        all_el[i].id.endsWith('_BL') ||
        all_el[i].id.endsWith('_EL') 
      )
      {
        coloca_link = true;    
      }

      if (
        all_el[i].id.endsWith('_CO') ||
        all_el[i].id.endsWith('_AO')
      )
      {
        estagio = all_el[i].id.split("_")[0];
        coloca_link = estagios_os.indexOf(estagio) >= 0
      }

      if (coloca_link)
      {
        link_id = link_change.replace(/\{id\}/g, all_el[i].id);
        if (all_el[i].innerHTML.indexOf('X') != -1) {
          glyph_id = glyph_ok.replace(/\{id\}/g, all_el[i].id);
        } else {
          glyph_id = glyph_no.replace(/\{id\}/g, all_el[i].id);
        }
        all_el[i].innerHTML = glyph_id + link_id;
      }

    }
  })

</script>
{% endif %}
{% endblock javascript.pos %}
{% endblock javascript %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if pode_editar %}
  <a href="{% url 'producao:edita_respons' %}">Edita direitos</a>
{% endif %}
{% if editar %}
  <a href="{% url 'producao:respons' %}">Lista direitos</a>
{% endif %}
{% if todos %}
  <h4>(todos os usuários)</h4>
{% endif %}
{% if data %}
<table>
  {% include "layout/html_thead.html" with data=headers only %}
  <tbody>
  {% for row in data %}
  <tr>
  {% for field in fields %}
  <td id="{{row.CODIGO_ESTAGIO}}_{{row.CODIGO_USUARIO|safe}}_{{field}}">
    {{ row|get_item:field }}
  </td>
  {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
