{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <div class="noprint">
    <form action="{% url 'producao:romaneio_corte' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Busca"/>
    </form>
  </div>
  {% if request.POST %}
    {% include "layout/form_inputs_report.html" with form=form h=5 only %}
    {% if dados %}
      <table>
        {% include "layout/thead_generic.html" with data=headers style=style thclass='sticky' only %}
        {% include "layout/tbody_generic.html" with fields=fields data=dados group=group style=style only %}
      </table>
      {% if clientes %}
        <h3>Prepara pedidos Filial->Matriz</h3>
        <ul>
        {% for cliente in clientes %}
          <li><label>{{clientes|get_item:cliente}}</label></li>
          <ul>
            <li>Pedido:
            <input type="decimal" placeholder="000" required
              name="pedido_{{cliente}}" id="pedido_{{cliente}}"
              maxlength="6" size="6">
            <input type="submit" 
              name="submit_{{cliente}}" id="submit_{{cliente}}"
              value="Prepara" onclick="return Prepara('{{cliente}}');">
            </li>
          </ul>
        {% endfor %}
      </ul>
      {% endif %}
    {% else %}
      <h4>Nenhuma produção encontrada</h4>
    {% endif %}
  {% endif %}
{% endblock %}

{% block javascript %}
{% block javascript.pos %}
<script>

  function Prepara(slug) {
    var pedido = document.getElementById('pedido_'+slug).value;

    var link = '{% url 'producao:prepara_pedido_corte' '0000-00-00' 'cliente' 'ped999' %}';
    link = link.replace('0000-00-00', '{{form.data.value}}');
    link = link.replace('cliente', slug);
    link = link.replace('ped999', pedido);
    console.log(link);

    $.ajax({
      type: 'GET',
      url: link,
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        erro = '';
        if (data) {
          if (data['status'] == 'ERRO') {
            alert(data['message']);
          } else {
            console.log(data['message']);
          }
        } else {
          alert('Sem retorno');
        }
      },
      error : function(data) {
        alert('Erro na requisição');
      }
    });

    return false;
  }

</script>
{% endblock javascript.pos %}
{% endblock javascript %}
