{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'producao:totais_estagio' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data_t %}
  <br /><a href="{% url 'producao:quant_estagio' %}">Itens por estágio&nbsp;<span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
  <h4>Tipo de roteiro:
    {% if tipo_roteiro == 'p' %}De produção
    {% elif tipo_roteiro == 'e' %}De expedição
    {% elif tipo_roteiro == 't' %}Todos
    {% endif %}
  </h4>
  {% if cliente %}
    <h4>Produtos do cliente: ({{ cliente }}) {{ cliente_full }}</h4>
  {% endif %}
  <table>
    {% if data_g %}
      <thead>
        <tr>
          <td colspan="19"><h3 style='text-align: center'>Total em giro (não MP)</h3></td>
        </tr>
      </thead>
      {% include "layout/thead_generic.html" with data=headers_g style=style_g only %}
      {% include "layout/tbody_generic.html" with fields=fields_g data=data_g style=style_g only %}
      <thead>
        <tr>
          <td colspan="19"><hr /></td>
        </tr>
      </thead>
    {% endif %}
    {% if data_p %}
      <thead>
        <tr>
          <td colspan="19"><h3 style='text-align: center'>Programação</h3></td>
        </tr>
      </thead>
      {% include "layout/thead_generic.html" with data=headers_p style=style_p only %}
      {% include "layout/tbody_generic.html" with fields=fields_p data=data_p style=style_p only %}
    {% endif %}
    {% if data_d %}
      <thead>
        <tr>
          <td colspan="19"><h3 style='text-align: center'>Produção</h3></td>
        </tr>
      </thead>
      {% include "layout/thead_generic.html" with data=headers_d style=style_d only %}
      {% include "layout/tbody_generic.html" with fields=fields_d data=data_d style=style_d only %}
    {% endif %}
    {% if data_e %}
      <thead>
        <tr>
          <td colspan="19"><h3 style='text-align: center'>Estoque</h3></td>
        </tr>
      </thead>
      {% include "layout/thead_generic.html" with data=headers_e style=style_e only %}
      {% include "layout/tbody_generic.html" with fields=fields_e data=data_e style=style_e only %}
    {% endif %}
    {% if data_v %}
      <thead>
        <tr>
          <td colspan="19"><h3 style='text-align: center'>Expedindo</h3></td>
        </tr>
      </thead>
      {% include "layout/thead_generic.html" with data=headers_v style=style_v only %}
      {% include "layout/tbody_generic.html" with fields=fields_v data=data_v style=style_v only %}
    {% endif %}
    {% if data_t %}
      <thead>
        <tr>
          <td colspan="19"><h3 style='text-align: center'>Total geral</h3></td>
        </tr>
      </thead>
      {% include "layout/thead_generic.html" with data=headers_t style=style_t only %}
      {% include "layout/tbody_generic.html" with fields=fields_t data=data_t style=style_t only %}
    {% endif %}
  </table>
{% endif %}
{% endblock %}
