{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'producao:totais_estagio' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <h4>Tipo de roteiro:
    {% if tipo_roteiro == 'p' %}De produção
    {% elif tipo_roteiro == 'e' %}De expedição
    {% elif tipo_roteiro == 't' %}Todos
    {% endif %}
  </h4>
  {% if cliente %}
    <h4>Produtos do cliente: ({{ cliente }}) {{ cliente_full }}</h4>
  {% endif %}
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
  </table>
{% endif %}
{% endblock %}
