{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'producao:corte-envio_insumo' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
  </form>
  <p>Após envio inicial, feito dia 18/03/2022.</p>
  {% include "layout/form_inputs_report.html" with form=form h=4 only %}
  {% if msg_erro %}
    <h3>{{ msg_erro }}</h3>
  {% endif %}
  {% if request.POST %}
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-toggle="tab" href="#envios">Envios para a filial</a></li>
      <li><a data-toggle="tab" href="#recebimentos">Recebimentos na matriz</a></li>
    </ul>
    <div class="tab-content">
      <div id="envios" class="tab-pane fade in active">
        {% if env_data %}
          <table>
            {% include "layout/thead_generic.html" with data=env_data.headers safe=env_data.safe style=env_data.style thclass='sticky' only %}
            {% include "layout/tbody_generic.html" with fields=env_data.fields data=env_data.data safe=env_data.safe style=env_data.style only %}
          </table>
        {% else %}
          <h4>Nenhum envio para a filial</h4>
        {% endif %}
      </div>
      <div id="recebimentos" class="tab-pane fade">
        {% if rec_data %}
          <table>
            {% include "layout/thead_generic.html" with data=rec_data.headers safe=rec_data.safe style=rec_data.style thclass='sticky' only %}
            {% include "layout/tbody_generic.html" with fields=rec_data.fields data=rec_data.data safe=rec_data.safe style=rec_data.style only %}
          </table>
        {% else %}
          <h4>Nenhum recebimento na matriz</h4>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
