{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Grava"/>
  </form>
  <h4>Empresa: {{ empresa }}</h4>
  <h4>NF: {{ nf }}</h4>
  <h4>Série NF: {{ nf_ser }}</h4>
  <h4>CNPJ fornecedor: {{ cnpj }}</h4>
  {% if request.POST %}
    <h3>{{ msg }}</h3>
  {% endif %}
{% endblock %}
