{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <h5>Busca OPs que passaram pelo corte na semana</h5>
  <div class="noprint">
    <form action="{% url 'producao:corte-marca_op_cortada' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Busca"/>
    </form>
  </div>
  {% if hint_colaborador %}
    <h5>{{hint_colaborador}}</h5>
  {% endif %}
  {% if anterior %}
    {% url 'producao:corte-marca_op_cortada' anterior as link_anterior %}
    {% include "layout/a.html" with link=link_anterior text='Anterior' only %} -
    {% url 'producao:corte-marca_op_cortada' proxima as link_proxima %}
    {% include "layout/a.html" with link=link_proxima text='Próxima' only %}
  {% endif %}
  {% if data_de %}
    <!-- { % include "layout/form_inputs_report.html" with form=form h=5 only %} -->
    <h5>Semana de {{data_de}} (domingo) até {{data_ate}} (sábado)</h5>
    <h4>{% if dados %}OPs{% else %}Nenhuma OP{% endif %} com movimentos no estágio 15 na semana selecionada</h4>
    {% if dados %}
      <table>
        {% include "layout/thead_generic.html" with data=headers style=style thclass='sticky' only %}
        {% include "layout/tbody_generic.html" with fields=fields data=dados group=group style=style only %}
      </table>
    {% endif %}
  {% endif %}
{% endblock %}

{% block javascript %}
{% block javascript.pos %}
<script type="text/javascript">

  function acao(op, href) {
    let el_cortada = document.getElementsByClassName('cortada op_'+op);
    let el_cortada_colab = document.getElementsByClassName('cortada_colab op_'+op);
    let el_cortada_quando = document.getElementsByClassName('cortada_quando op_'+op);
    let el_when = document.getElementsByClassName('when op_'+op);

    $.ajax({
      type: 'GET',
      url: href,
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        erro = '';
        if (data) {
          if (data['status'] == 'ERRO') {
            console.log(data['message']);
          } else if (data['status'] == 'MARCADA') {
            console.log(data['status']);
            el_cortada[0].innerHTML = "Sim";
            el_cortada_colab[0].innerHTML = data['cortada_colab'];
            el_cortada_quando[0].innerHTML = data['cortada_quando'];
            el_when[0].innerHTML = data['when'];
            el_cortada[0].style.color = "darkgreen";
          } else {
            console.log(data['status']);
            el_cortada[0].innerHTML = "Não";
            el_cortada_colab[0].innerHTML = "-";
            el_cortada_quando[0].innerHTML = "-";
            el_when[0].innerHTML = "-";
            el_cortada[0].style.color = "darkred";
          }
        } else {
          console.log('Sem retorno');
        }
      },
      error : function(data) {
        console.log('Erro na requisição');
      }
    });

  }

  function trata_acoes() {
    let tds = document.getElementsByClassName('acao');
    Object.entries(tds).map(( mapped ) => {
      let el = mapped[1];
      let op;
      for (const el_class of el.classList.values()) {
        if (el_class.startsWith('op_')) {
          op = el_class.slice(3);
        }
      }
      let a = el.querySelectorAll('a');
      if (a.length > 0) {
        let href = a[0].href;
        a[0].href="javascript:void(0);"+a[0].href;
        a[0].onclick = function() {acao(op, href);};
      }
    });
  }

  window.onload = function() {
    trata_acoes();
  }

</script>
{% endblock javascript.pos %}
{% endblock javascript %}
