{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}

    .pagination {
      margin: 0.5em 0em auto;
    }

    .load-3 .line:nth-last-child(1) {
      animation: loadingC 0.6s 0.1s linear infinite;
    }
    .load-3 .line:nth-last-child(2) {
      animation: loadingC 0.6s 0.2s linear infinite;
    }
    .load-3 .line:nth-last-child(3) {
      animation: loadingC 0.6s 0.3s linear infinite;
    }
    .line {
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 6px;
      background-color: #4b9cdb;
    }

    @keyframes loadingC {
      0 {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(0, -10px);
      }
      100% {
        transform: translate(0, 0);
      }
    }

  </style>
{% endblock %}

{% block content %}
  <h4>Gera pedidos para "NF Filial->Matriz" de OPs apontadas como cortadas pela filial</h4>
  <div class="noprint">
    <form action="{% url 'producao:romaneio_op_cortada' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Busca"/>
    </form>
  </div>
  {% if request.POST %}
    {% include "layout/form_inputs_report.html" with form=form h=5 only %}
    {% if teste.dados %}
      <table>
        {% include "layout/thead_generic.html" with data=teste.headers style=teste.style thclass='sticky' only %}
        {% include "layout/tbody_generic.html" with fields=teste.fields data=teste.dados group=teste.group style=teste.style only %}
      </table>
    {% else %}
      <h4>Nenhuma OP marcada como cortada no dia</h4>
    {% endif %}
    {% if clientes %}
      <h3>Prepara pedidos para "NF Filial->Matriz"</h3>
      <ul>
      {% for cliente in clientes %}
        <li><label>{{clientes|get_item:cliente}}</label></li>
        <ul>
          <li>Pedido: <span id="pedido_preparado_{{cliente}}" style="display:none"></span>
          <input type="decimal" placeholder="000" required
            name="pedido_{{cliente}}" id="pedido_{{cliente}}"
            maxlength="6" size="6">
          <input type="submit" 
            name="submit_{{cliente}}" id="submit_{{cliente}}"
            value="Prepara" onclick="return Prepara('{{cliente}}');">
          <span class="load-3" id="running_{{cliente}}" style="display:none">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </span>
          <span id="mensagem_{{cliente}}" style="display:none"></span>
          <span class="glyphicon glyphicon-ok-sign" id="runok_{{cliente}}" style="display:none;font-size:1em;color:darkgreen" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-alert" id="runerr_{{cliente}}" style="display:none;font-size:1em;color:darkred" aria-hidden="true"></span>
          </span>
          </li>
        </ul>
      {% endfor %}
    </ul>
    {% endif %}
  {% endif %}
{% endblock %}

{% block javascript %}
{% block javascript.pos %}
<script>

  function Prepara(slug) {
    var ped_prep_el = document.getElementById('pedido_preparado_'+slug);
    var pedido_el = document.getElementById('pedido_'+slug);
    var pedido = pedido_el.value;
    var submit_el = document.getElementById('submit_'+slug);
    var running_el = document.getElementById('running_'+slug);
    var msg_el = document.getElementById('mensagem_'+slug);
    var runok_el = document.getElementById('runok_'+slug);
    var runerr_el = document.getElementById('runerr_'+slug);
    running_el.style.display = "inline";
    msg_el.style.display = "none";
    runok_el.style.display = "none";
    runerr_el.style.display = "none";

    if (pedido == '') {
      console.log('Sem pedido');
      msg_el.innerHTML = 'Sem pedido';
      msg_el.style.display = "inline";
      runerr_el.style.display = "inline";
      running_el.style.display = "none";
      return false;
    }

    var link = '{% url 'producao:prepara_pedido_op_cortada' '0000-00-00' 'cliente' 'ped999' %}';
    link = link.replace('0000-00-00', '{{form.data.value}}');
    link = link.replace('cliente', slug);
    link = link.replace('ped999', pedido);
    console.log(link);

    $.ajax({
      type: 'GET',
      url: link,
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        erro = '';
        if (data) {
          if (data['status'] == 'ERRO') {
            // alert(data['message']);
            console.log(data['message']);
            msg_el.innerHTML = data['message'];
            msg_el.style.display = "inline";
            runerr_el.style.display = "inline";
          } else {
            console.log(data['message']);
            msg_el.innerHTML = data['message'];
            msg_el.style.display = "inline";
            runok_el.style.display = "inline";
            pedido_el.style.display = "none";
            submit_el.style.display = "none";
            ped_prep_el.innerHTML = pedido;
            ped_prep_el.style.display = "inline";

          }
        } else {
          // alert('Sem retorno');
          console.log('Sem retorno');
          msg_el.innerHTML = 'Sem retorno';
          msg_el.style.display = "inline";
          runerr_el.style.display = "inline";
        }
        running_el.style.display = "none";
      },
      error : function(data) {
        // alert('Erro na requisição');
        console.log('Erro na requisição');
        msg_el.innerHTML = 'Erro na requisição';
        msg_el.style.display = "inline";
        runerr_el.style.display = "inline";
        running_el.style.display = "none";
      }
    });

    return false;
  }

</script>
{% endblock javascript.pos %}
{% endblock javascript %}
