<ul>
  <li><a href="{% url 'beneficia:ob' %}">OB</a></li>
  <ul>
    <li><a href="{% url 'beneficia:busca_ob' %}">Busca OB</a></li>
  </ul>
  <li><a href="{% url 'beneficia:ot' %}">OT</a></li>
  <li>Receita</li>
  <ul>
    <li><a href="{% url 'beneficia:receita' %}">Código</a></li>
    <li><a href="{% url 'beneficia:receita_estrutura' %}">Estrutura</a></li>
  </ul>
</ul>
