{% extends 'beneficia/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'beneficia:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
.bad {
  color: darkred;
}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'beneficia:ob' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" name="busca" value="Busca"/>
</form>
{% if erro_msg %}
  <h4 class="bad">Erro: {{ erro_msg }}</h4>
{% endif %}
{% if post %}
  {% include "layout/form_inputs_report.html" with form=form h=5 only %}
  {% if dados %}
    <h4>Tipo de OB: {{ tipo_ob }}</h4>
    <table>
      {% include "layout/thead_generic.html" with data=headers style=style only %}
      {% include "layout/tbody_generic.html" with fields=fields data=dados style=style safe=safe only %}
    </table>
  {% else %}
    <h4>OB não encontrada</h4>
  {% endif %}
  {% if est_dados %}
    <br/>
    <h4>Estágios</h4>
    <table>
      {% include "layout/thead_generic.html" with data=est_headers style=est_style only %}
      {% include "layout/tbody_generic.html" with fields=est_fields data=est_dados style=est_style safe=est_safe only %}
    </table>
  {% else %}
    <h4>OB sem estágios</h4>
  {% endif %}
  {% if tec_dados %}
    <br/>
    <h4>Tecidos a produzir</h4>
    <table>
      {% include "layout/thead_generic.html" with data=tec_headers style=tec_style only %}
      {% include "layout/tbody_generic.html" with fields=tec_fields data=tec_dados style=tec_style safe=tec_safe only %}
    </table>
  {% else %}
    <h4>OB sem tecidos a produzir</h4>
  {% endif %}
{% endif %}
{% endblock %}
