insumo:index{% extends 'insumo/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'insumo:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'insumo:bipa_rolo' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if confirma %}
      <h3>Rolo identificado: <b>{{ rolo }}</b></h3>
      <input type="submit" name="confirma" value="Confirma"/>
    {% else %}
      <input type="submit" name="identifica" value="Identifica"/>
    {% endif %}
</form>
<br/>
{% block javascript %}
<script>
  var inp = document.getElementById('id_rolo');
  inp.select();
</script>
{% endblock javascript %}
{% if erro %}
  <h3>{{ erro }}</h3>
{% else %}
  {% if identificado %}
    <h3>Rolo <b>{{ identificado }}</b> adicionado no inventário.</h3>
  {% endif %}
  {% if referencia %}
    <h3>Referência: <b>{{ referencia }}</b></h3>
    <h3>Cor: <b>{{ cor }}</b></h3>
    <h3>Tamanho: <b>{{ tamanho }}</b></h3>
  {% endif %}
{% endif %}
{% endblock content %}
