{% if th %}
  <tr>
    <th>Nível</th>
    <th>Insumo</th>
    <th>Cor</th>
    <th>Tamanho</th>
    <th>Reposição</th>
    <th style="text-align: right;">Mínimo</th>
    <th style="text-align: right;">Múltiplo</th>
    <th style="text-align: right;">Estoque</th>
    <th>Unid.</th>
    {% if qtdsem > 1 %}
      <th>Sem.</th>
    {% endif %}
    <th>Receb.<br/>movidos</th>
    <th style="text-align: right;">Compra<br/>sugerida</th>
    <th style="text-align: right;">Compra<br/>atrasada</th>
    <th style="text-align: right;">Compra<br/>total</th>
    <th>Data<br/>compra</th>
    <th>Data<br/>chegada</th>
  </tr>
{% else %}
  {% if data %}
    {% for row in data %}
      <tr style="display: none;" id="id_{{ row.nivel }}_{{ row.ref }}_{{ row.cor }}_{{ row.tam_order }}_{{ row.i|zfill:3 }}" class="key_ref _ref_{{ row.nivel }}{{ row.ref }}{{ row.cor }}{{ row.tam_order }}
        with_flags
        {% if row.comprar > 0 %}flag_comprar{% endif %}
        {% if row.compra_atrasada > 0 %}flag_compra_atrasada{% endif %}
        {% if row.movido > 0 %}flag_movido{% endif %}
        {% if row.comprar == 0 and row.compra_atrasada == 0 and row.movido == 0 %}flag_zerado{% endif %}
        ">
        <td>{{ row.nivel }}</td>
        <td><a href="{% url 'insumo:mapa_compras' row.nivel row.ref row.cor row.tam %}" target="_blank">{{ row.REF }}<span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></td>
        <td>{{ row.COR }}</td>
        <td>{{ row.TAM }}</td>
        <td>{{ row.REP_STR }}</td>
        <td style="text-align: right;">{{ row.STQ_MIN }}</td>
        <td style="text-align: right;">{{ row.LOTE_MULTIPLO }}</td>
        <td style="text-align: right;">{{ row.QUANT }}</td>
        <td>{{ row.UNID }}</td>
        {% if qtdsem > 1 %}
          <td style="font-weight: bold; text-align: center;">{{ row.i }}</td>
        {% endif %}
        <td style="text-align: right;">{{ row.movido }}</td>
        <td style="text-align: right;">{{ row.comprar }}</td>
        <td style="text-align: right;">{{ row.compra_atrasada }}</td>
        <td style="font-weight: bold; text-align: right;">{{ row.compra_total }}</td>
        <td>{{ row.dt_compra }}</td>
        <td>{{ row.dt_chegada }}</td>
      </tr>
    {% endfor %}
  {% endif %}
{% endif %}
