{% extends 'insumo/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'insumo' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<!-- <h1 style="color: brown;">Em desenvolvimento!</h1> -->
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data_id %}
  <table>
    {% include "layout/thead_generic.html" with data=headers_id only %}
    {% include "layout/tbody_generic.html" with fields=fields_id data=data_id only %}
  </table>
{% endif %}
{% if data %}
  <h2>Mapa de compras</h2>
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
  </table>
{% endif %}
<table>
  <tr>
    <td style="vertical-align: top;">
      <h2>Necessidades semanais</h2>
      {% if data_ins %}
        <table>
          {% include "layout/thead_generic.html" with data=headers_ins style=style_ins only %}
          {% include "layout/tbody_generic.html" with fields=fields_ins data=data_ins style=style_ins only %}
        </table>
      {% else %}
        <b>Nenhuma</b>
      {% endif %}
    </td>
    <td></td>
    <td style="border-left: thin solid lightgrey;"></td>
    <td style="vertical-align: top;">
      <h2>Recebimentos semanais</h2>
      {% if data_irs %}
        <table>
          {% include "layout/thead_generic.html" with data=headers_irs style=style_irs only %}
          {% include "layout/tbody_generic.html" with fields=fields_irs data=data_irs style=style_irs only %}
        </table>
      {% else %}
        <b>Nenhum</b>
      {% endif %}
    </td>
    <td></td>
    <td style="border-left: thin solid lightgrey;"></td>
    <td style="vertical-align: top;">
      <h2>Sugestões ideais</h2>
      {% if data_sug %}
        <table>
          {% include "layout/thead_generic.html" with data=headers_sug style=style_sug only %}
          {% include "layout/tbody_generic.html" with fields=fields_sug data=data_sug style=style_sug only %}
        </table>
      {% else %}
        <b>Nenhuma</b>
      {% endif %}
    </td>
  </tr>
</table>
{% endblock %}
