{% if th %}
  <tr>
    <th>Nível</th>
    <th>Insumo</th>
    <th>Cor</th>
    <th>Tamanho</th>
    <th>Reposição</th>
    <th style="text-align: right;">Mínimo</th>
    <th style="text-align: right;">Múltiplo</th>
    <th style="text-align: right;">Estoque</th>
    <th>Unid.</th>
    <th style="text-align: right;">Necess.</th>
    <th style="text-align: right;">Previsão</th>
    <th style="text-align: right;">Receb.</th>
    <th style="text-align: right;">Compra<br/>sugerida</th>
    <th>Chegada</th>
    <th style="text-align: right;">Excesso</th>
  </tr>
{% else %}
  {% if data %}
    {% for row in data %}
      <tr id="id_{{ nivel }}_{{ ref }}_{{ cor }}_{{ tam }}" class="key_ref _ref_{{ nivel }}{{ ref }}{{ cor }}{{ tam_order }}
        {% if comprar > 0 %}flag_comprar
        {% elif excesso > 0 and recebimentos > 0 %}flag_exc_com_receb
        {% elif excesso > 0 and recebimentos == 0 %}flag_exc_sem_receb
        {% elif comprar == 0 and excesso == 0 %}flag_zerado
        {% endif %}
        "
        {% if excesso > 0 and recebimentos == 0 %}style="display: none;"{% endif %}
        {% if comprar == 0 and excesso == 0 %}style="display: none;"{% endif %}
        >
        <td>{{ nivel }}</td>
        <td><a href="{% url 'insumo:mapa' nivel ref cor tam %}" target="_blank">{{ row.REF }}<span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></td>
        <td>{{ row.COR }}</td>
        <td>{{ row.TAM }}</td>
        <td>{{ row.REP_STR }}</td>
        <td style="text-align: right;">{{ row.STQ_MIN }}</td>
        <td style="text-align: right;">{{ row.LOTE_MULTIPLO }}</td>
        <td style="text-align: right;">{{ row.QUANT }}</td>
        <td>{{ row.UNID }}</td>
        <td style="text-align: right;">{{ necessidade }}</td>
        <td style="text-align: right;">{{ previsao }}</td>
        <td style="text-align: right;">{{ recebimentos }}</td>
        <td style="text-align: right;">{{ comprar }}</td>
        <td>{{ dt_chegada }}</td>
        <td style="text-align: right;">{{ excesso }}</td>
      </tr>
    {% endfor %}
  {% endif %}
{% endif %}
