{% extends 'insumo/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'insumo:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<h3 style="color: red;">Em desenvolvimento...</h3>
<form action="{% url 'insumo:mapa_por_sem' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if periodo_ini %}
  <h3>Periodo: {{ periodo|safe }} (segunda{{ qtd_semanas|pluralize }}-feira{{ qtd_semanas|pluralize }}: {{ periodo_ini }}{% if periodo_ini != periodo_fim %} - {{ periodo_fim }}{% endif %})</h3>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if refs %}
  {% for ref in refs %}
    - {{ ref }}</br>
    <!-- { % include "insumo/mapa_sem_ref.html" with ref=ref only %} -->
  {% endfor %}
  <h4>Table</h4>
  <table>
    <thead>
    <tr>
    <th>
    Referências
    </th>
    </tr>
    </thead>
    <tbody id="tbrefs">
    </tbody>
  </table>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  var refs = [
    {% for ref in refs %}
      {% if forloop.counter > 1 %}, {% endif %}'{{ ref }}'
    {% endfor %}
  ];

  var tbRefs = document.getElementById('tbrefs');

  for (var i = 0, l = refs.length; i < l; i++) {
    alert(refs[i]);
    tr = document.createElement('tr');
    td = document.createElement('td');
    text = document.createTextNode(refs[i]);
    td.appendChild(text);
    tr.appendChild(td);
    tbRefs.appendChild(tr);

  }

</script>
{% endblock %}
