{% if th %}
  <tr><th>Nível</th><th>Referência</th><th>Descrição</th><th>Cor</th><th>Tamanho</th></tr>
{% else %}
  {% if data %}
    {% for row in data %}
      <tr id="id_{{ nivel }}_{{ ref }}_{{ cor }}_{{ tam }}" class="key_ref _ref_{{ nivel }}{{ ref }}{{ cor }}{{ tam_order }}"><td>{{ nivel }}</td><td>{{ ref }}</td><td align="right">{{ row.descr }}</td><td>{{ cor }}</td><td>{{ tam }}</td></tr>
      <!-- <td>{{ ref }}</td><td align="right">{{ descr }}</td> -->
    {% endfor %}
  {% endif %}
{% endif %}
