{% extends 'insumo/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'insumo:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}

<h3 style="color: red;">Em desenvolvimento...</h3>
<form action="{% url 'insumo:mapa_por_sem' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if periodo_ini %}
  <h3>Periodo: {{ periodo|safe }} (segunda{{ qtd_semanas|pluralize }}-feira{{ qtd_semanas|pluralize }}: {{ periodo_ini }}{% if periodo_ini != periodo_fim %} - {{ periodo_fim }}{% endif %})</h3>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if refs %}
  <table>
    <thead id="refs_thead">
    </thead>
    <tbody id="refs_tbody">
    </tbody>
  </table>
{% endif %}

{% endblock %}

{% block javascript %}
{% if refs %}
<script type="text/javascript">

  var refs = [
    {% for ref in refs %}
      {% if forloop.counter > 1 %}, {% endif %}'{{ ref }}'
    {% endfor %}
  ];

  var tHead = document.getElementById('refs_thead');
  var tBody = document.getElementById('refs_tbody');
  var iRefAjax = -1;

  function doAjax1Ref(header) {
    if (header) {
      refer = 'th';
      aggregator = tHead;
    } else {
      refer = refs[iRefAjax];
      aggregator = tBody;
    }

    $.ajax({
      type: 'GET',
      url: '{% url 'insumo:mapa_por_sem_ref__get' '0.00000.000000.000' %}'.replace(
        '0.00000.000000.000', refer),
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        if (data) {
          aggregator.insertAdjacentHTML('beforeend', data);
        }
      }
    });

    iRefAjax++;
    if (iRefAjax < refs.length) {
      setTimeout(function(){ doAjax1Ref(false); }, 10);
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
      setTimeout(function(){ doAjax1Ref(true); }, 10);
  }, false);

</script>
{% endif %}
{% endblock %}
