{% extends 'insumo/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'insumo' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'insumo_mapa_ref' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if insumo %}
  <h3>Referência do insumo: {{ insumo }}</h3>
{% endif %}
{% if conta_estoque %}
  <h3>Conta de estoque do insumo: {{ conta_estoque }}</h3>
{% endif %}
{% if necessidade == 'a' %}
  <h3>Apenas insumos com necessidades a partir desta semana</h3>
{% elif necessidade == 't' %}
  <h3>Todos os insumos</h3>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data group=group style=style only %}
  </table>
{% endif %}
{% endblock %}
