<ul>
  <li><a href="{% url 'mp_ref' %}">Insumo</a> (níveis 2 e 9)</li>
  <ul>
    <li><a href="{% url 'lista_insumo' %}">Busca</a></li>
  </ul>
  <li><a href="{% url 'insumo_mapa_ref' %}">Insumos para mapa de compras</a></li>
  <ul>
    <li><a href="{% url 'insumo_necessidade' %}">Necessidade</a></li>
    <li><a href="{% url 'insumo_receber' %}">A Receber</a></li>
    <li><a href="{% url 'insumo_estoque' %}">Estoque</a></li>
    <li><a href="{% url 'insumo_previsao' %}">Previsão</a></li>
    <li><a href="{% url 'insumo_necessidades_previsoes' %}">Necessidades das previsões</a></li>
  </ul>
  <li>Rolos</li>
  <ul>
    <li><a href="{% url 'insumo_bipa_rolo' %}">Bipa rolo</a></li>
    <li><a href="{% url 'rolos_bipados' %}">Lista rolos bipados</a></li>
  </ul>
</ul>
