{% extends 'insumo/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/insumo/">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/insumo/necessidade/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if op %}
  <h2>OP: {{ op }}</h2>
{% endif %}
{% if data_corte %}
  <h2>Data de corte: {{ data_corte }}</h2>
{% endif %}
{% if conta_estoque %}
  <h2>Conta de estoque: {{ conta_estoque }}</h2>
{% endif %}
{% if ref %}
  <h2>Referência: {{ ref }}</h2>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <table>
    {% include "layout/html_thead.html" with data=headers only %}
    {% include "layout/html_tbody_link.html" with fields=fields data=data link=link only %}
  </table>
{% endif %}
{% endblock %}
