{% extends 'insumo/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'insumo' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<!-- <h1 style="color: brown;">Em desenvolvimento!</h1> -->
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data_id %}
  <table>
    {% include "layout/thead_generic.html" with data=headers_id only %}
    {% include "layout/tbody_generic.html" with fields=fields_id data=data_id only %}
  </table>
{% endif %}
{% if data %}
  <h2>Necessidades da semana {{ semana }}</h2>
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data group=group style=style only %}
  </table>
{% endif %}
{% endblock %}
