{% extends 'insumo/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'insumo:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
  {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'insumo:ref' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
  </form>
  {% if item %}
    <h2>Item: {{ item }}</h2>
  {% endif %}
  {% if ref %}
    <h2>Nível: {{ nivel }} - Referência: {{ ref }}</h2>
  {% endif %}
  {% if msg_erro %}
    <h3>{{ msg_erro }}</h3>
  {% endif %}
  {% if infos.data %}
    {% include "layout/table_generic.html" with dados=infos.info1 data=infos.data only %}
    {% if infos.info2 %}
      {% include "layout/table_generic.html" with dados=infos.info2 data=infos.data only %}
    {% endif %}
    {% if infos.info3 %}
      {% include "layout/table_generic.html" with dados=infos.info3 data=infos.data only %}
    {% endif %}
    <table class="layout">
      <tr>
        <td style="vertical-align: top;">
          {% include "layout/table_generic.html" with dados=taman only %}
        </td>
        <td>
          &nbsp;
        </td>
        <td style="vertical-align: top;">
          {% include "layout/table_generic.html" with dados=cores only %}
        </td>
      </tr>
    </table>
    {% include "layout/table_generic.html" with dados=param only %}
    {% include "layout/table_generic.html" with dados=usado only %}
  {% endif %}
{% endblock %}
