{% extends 'insumo/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'insumo:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
  {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'insumo:ref' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
  </form>
  {% if ref %}
    <h2>Nível: {{ nivel}} - Referência: {{ ref }}</h2>
  {% endif %}
  {% if msg_erro %}
    <h3>{{ msg_erro }}</h3>
  {% endif %}
  {% if data %}
    <table>
      {% include "layout/thead_generic.html" with data=headers only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data only %}
    </table>
    {% if b2_data %}
      <table>
        {% include "layout/thead_generic.html" with data=b2_headers only %}
        {% include "layout/tbody_generic.html" with fields=b2_fields data=b2_data only %}
      </table>
    {% endif %}
    {% if m_data %}
      <table>
        {% include "layout/thead_generic.html" with data=m_headers only %}
        {% include "layout/tbody_generic.html" with fields=m_fields data=m_data only %}
      </table>
    {% endif %}
    <table class="layout">
      <tr>
        <td style="vertical-align: top;">
          {% if t_data %}
            <h3>Tamanhos</h3>
            <table>
              {% include "layout/thead_generic.html" with data=t_headers only %}
              {% include "layout/tbody_generic.html" with fields=t_fields data=t_data only %}
            </table>
          {% endif %}
        </td>
        <td>
          &nbsp;
        </td>
        <td style="vertical-align: top;">
          {% if c_data %}
            <h3>Cores</h3>
            <table>
              {% include "layout/thead_generic.html" with data=c_headers only %}
              {% include "layout/tbody_generic.html" with fields=c_fields data=c_data only %}
            </table>
          {% endif %}
        </td>
      </tr>
    </table>
    <h3>Parâmetros</h3>
    {% if p_data %}
      <table>
        {% include "layout/thead_generic.html" with data=p_headers only %}
        {% include "layout/tbody_generic.html" with fields=p_fields data=p_data only %}
      </table>
    {% else %}
      <h4>Sem parâmetros!</h4>
    {% endif %}
    {% with dados=usado %}
      {% if dados.titulo %}
        {% if dados.titulo_h %}
          <h{{dados.titulo_h}}>{{dados.titulo}}</h{{dados.titulo_h}}>
        {% else %}
          <h3>{{dados.titulo}}</h3>
        {% endif %}
      {% endif %}
      {% if dados.data %}
        <table>
          {% include "layout/thead_generic.html" with data=dados.headers style=dados.style only %}
          {% include "layout/tbody_generic.html" with fields=dados.fields data=dados.data style=dados.style decimals=dados.decimals safe=dados.safe group=dados.group only %}
        </table>
      {% else %}
        {% if dados.vazio %}
          <h{{dados.vazio_h}}>{{dados.vazio}}</h{{dados.vazio_h}}>
        {% else %}
          <h3>{{dados.vazio}}</h3>
        {% endif %}
      {% endif %}
    {% endwith %}
  {% endif %}
{% endblock %}
