{% extends 'insumo/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'insumo:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
  {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'insumo:ref' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
  </form>
  {% if ref %}
    <h2>Nível: {{ nivel}} - Referência: {{ ref }}</h2>
  {% endif %}
  {% if msg_erro %}
    <h3>{{ msg_erro }}</h3>
  {% endif %}
  {% if data %}
    <table>
      {% include "layout/thead_generic.html" with data=headers only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data only %}
    </table>
    {% if b2_data %}
      <table>
        {% include "layout/thead_generic.html" with data=b2_headers only %}
        {% include "layout/tbody_generic.html" with fields=b2_fields data=b2_data only %}
      </table>
    {% endif %}
    {% if m_data %}
      <table>
        {% include "layout/thead_generic.html" with data=m_headers only %}
        {% include "layout/tbody_generic.html" with fields=m_fields data=m_data only %}
      </table>
    {% endif %}
    <table class="layout">
      <tr>
        <td style="vertical-align: top;">
          {% include "layout/table_generic.html" with dados=taman only %}
        </td>
        <td>
          &nbsp;
        </td>
        <td style="vertical-align: top;">
          {% if c_data %}
            <h3>Cores</h3>
            <table>
              {% include "layout/thead_generic.html" with data=c_headers only %}
              {% include "layout/tbody_generic.html" with fields=c_fields data=c_data only %}
            </table>
          {% endif %}
        </td>
      </tr>
    </table>
    {% include "layout/table_generic.html" with dados=param only %}
    {% include "layout/table_generic.html" with dados=usado only %}
  {% endif %}
{% endblock %}
