{% extends 'insumo/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/insumo/">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/insumo/rolos_bipados/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if dispositivo %}
  <h3>Dispositivo: {{ dispositivo }}</h3>
{% endif %}
{% if ref %}
  <h3>Referência: {{ ref }}</h3>
{% endif %}
{% if cor %}
  <h3>Cor: {{ cor }}</h3>
{% endif %}
{% if data_de %}
  <h3>Data de: {{ data_de }}</h3>
{% endif %}
{% if data_ate %}
  <h3>Data Ate: {{ data_ate }}</h3>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <table>
    {% include "layout/html_thead.html" with data=headers only %}
    {% include "layout/html_tbody_link.html" with fields=fields data=data link=link only %}
  </table>
{% endif %}
{% endblock %}
