{% extends 'insumo/index.html' %}
{% load staticfiles %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'insumo:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'insumo:rolos_bipados' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if dispositivo %}
  <h4>Dispositivo: {{ dispositivo }}</h4>
{% endif %}
{% if ref %}
  <h4>Referência: {{ ref }}</h4>
{% endif %}
{% if cor %}
  <h4>Cor: {{ cor }}</h4>
{% endif %}
{% if data_de %}
  <h4>Data de: {{ data_de }}</h4>
{% endif %}
{% if data_ate %}
  <h4>Data Ate: {{ data_ate }}</h4>
{% endif %}
{% if msg_erro %}
  <h4>{{ msg_erro }}</h4>
{% endif %}
{% if data %}
<a href="/media/{{ filename }}" target="_blank">Arquivo de inventário para Systêxtil</a>
  <table>
    {% include "layout/html_thead.html" with data=headers only %}
    {% include "layout/html_tbody_link.html" with fields=fields data=data link=link only %}
  </table>
{% endif %}
{% endblock %}
