{% extends 'layout/layout.html' %}
{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block title %}{{ titulo }} - Logística - Intranet - Tussor{% endblock %}

{% block header %}
<h1>{{ titulo }} - Logística - Intranet - Tussor (cuecas D`UOMO)</h1>
{% endblock %}

{% block content %}
<p><a href="/logistica/">Logística</a></p>
<form action="/logistica/data_saida/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if conteudo %}
{% if conteudo == 'nada' %}

  <h3>Fatura não encontrada</h3>

{% elif conteudo == 'lista' %}

  <h3>Lista</h3>

{% else %}

  <br/>
  <h3>Fatura: {{ cnpj }}</h3>
  <h3>Cliente: {{ cliente }}</h3>
  {% if conteudo == 'zerado' %}
    <h3>Nenhuma duplicata encontrada</h3>

  {% else %}
  <h3>{{ titulo }}</h3>
  </table>

  {% endif %}
{% endif %}
{% endif %}
{% endblock %}
