<ul>
  <li>Controle de data de saída de NF</li>
  <ul>
    <li><a href="/intradm/logistica/notafiscal/" target="_blank">Digitação</a></li>
    <li><a href="{% url 'logistica:notafiscal_rel' %}">Consulta</a></li>
    <li><a href="{% url 'logistica:notafiscal_chave' %}">Movimenta NF por chave</a></li>
    <li><a href="{% url 'logistica:notafiscal_embarcando' %}">Notas fiscais entregues ao apoio</a></li>
    <li><a href="{% url 'logistica:notafiscal_movimentadas' %}">Notas fiscais movimentadas</a></li>
  </ul>
</ul>
