{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/logistica/">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/logistica/notafiscal_rel/" method="post">
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
    {% csrf_token %}
</form>
{% if data_de %}
  <h3>Filtro: Data de Faturamento de {{ data_de }} até {{ data_ate }}</h3>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <h3>Notas Fiscais de venda</h3>
  <table>
    {% include "layout/html_thead.html" with data=headers only %}
    {% include "layout/html_tbody.html" with fields=fields data=data only %}
  </table>
{% endif %}
{% endblock %}
