{% extends 'logistica/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/logistica/">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="/logistica/notafiscal_rel/" method="post">
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
    {% csrf_token %}
</form>
{% if request.POST %}
  <h3>Filtro:</h3>
  <ul>
    <li>Apenas notas fiscais de venda e ativas (não canceladas)</li>
    {% if data_de or data_ate %}
      {% if data_de == data_ate %}
        <li>Data de Faturamento igual a {{ data_de }}</li>
      {% else %}
        {% if data_de %}
          <li>Data de Faturamento de {{ data_de }}</li>
        {% endif %}
        {% if data_ate %}
          <li>Data de Faturamento até {{ data_ate }}</li>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if uf %}
      <li>UF: {{ uf }}</li>
    {% endif %}
    {% if nf %}
      <li>NF: {{ nf }}</li>
    {% endif %}
    {% if cliente %}
      <li>Cliente: {{ cliente }}</li>
    {% endif %}
  </ul>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <h3>Notas Fiscais de venda</h3>
  <table>
    {% include "layout/html_thead.html" with data=headers only %}
    {% include "layout/html_tbody.html" with fields=fields data=data only %}
  </table>
{% endif %}
{% endblock %}
