{% extends 'rh/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}<a href="{% url 'rh:index' %}">{{ block.super }}</a><br/><center>{{ titulo }}</center>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
    <th>
      Dia
    </th>
    <th>
      Nome
    </th>
    <th>
      Setor
    </th>
    </tr>
  </thead>
  <tbody>
  {% for pessoa in aniversariantes %}
    <tr>
    <td>
      {{ pessoa.0}}
    </td>
    <td>
      {{ pessoa.2}}
    </td>
    <td>
      {{ pessoa.1}}
    </td>
    </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
