{% extends 'rh/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}<a href="{% url 'rh:index' %}">{{ block.super }}</a><br/><center>Aniversariantes de {{ datames|date:'F \d\e Y' }}</center>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<table>
  <tbody>
    <tr>
      <td>
        {% if intmesant %}
          <a href="{% url 'rh:aniversariantes' intanoant intmesant %}">< Mês anterior</a>
        {% endif %}
      </td>
      <td style="text-align:right">
        {% if intmespos %}
          <a href="{% url 'rh:aniversariantes' intanopos intmespos %}">Mês posterior ></a>
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
{%if aniversariantes %}
  <table>
    <thead>
      <tr>
      <th>
        Dia
      </th>
      <th>
        Nome
      </th>
      <th>
        Setor
      </th>
      </tr>
    </thead>
    <tbody>
    {% for pessoa in aniversariantes %}
      <tr>
      <td>
        {{ pessoa.0 }}
      </td>
      <td>
        {{ pessoa.1 }}
      </td>
      <td>
        {{ pessoa.2 }}
      </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
