{% extends 'rh/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}<a href="/rh/">{{ block.super }}</a><br/><center>{{ titulo }}</center>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<center>
  <h3>Mês 03/2018</h3>
  <a href="/media/rh/DUOMO-Dia-da-Mulher.jpg" target="_blank">
    <h4>Dia da Mulher</h4>
    <img src="/media/rh/DUOMO-Dia-da-Mulher_w200.jpg" alt="">
  </a>
  <hr>
  <h3>Mês 02/2018</h3>
  <a href="/media/rh/DUOMO-Febre-Amarela.jpg" target="_blank">
    <h4>Febre Amarela</h4>
    <img src="/media/rh/DUOMO-Febre-Amarela_w200.jpg" alt="">
  </a>
  <hr>
  <h3>Mês 12/2017</h3>
  <a href="/media/rh/DUOMO_Campanha_de_Natal_w600.jpg" target="_blank">
    <h4>Natal 2017 - Doe um brinquedo!</h4>
    <img src="/media/rh/DUOMO_Campanha_de_Natal_w200.png" alt="">
  </a>
  <hr>
  <h3>Mês 11/2017</h3>
  <a href="/media/rh/DUOMO_Novembro_Azul_17_w600.jpg" target="_blank">
    <h4>Novembro Azul</h4>
    <img src="/media/rh/DUOMO_Novembro_Azul_17_w200.jpg" alt="">
  </a>
</center>
{% endblock %}
