{% extends 'rh/principal.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}<center>{{ titulo }}</center>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<center>
  <h3>Mês 11/2021</h3>
  <a href="http://rh.tussor.com.br/novembro-azul/" target="_blank">
    <h4>Novembro azul</h4>
    <img src="/media/rh/campanhas/2021/11/azul/w200.jpg" alt="">
  </a>
  <h3>Mês 10/2021</h3>
  <a href="http://rh.tussor.com.br/outubro-rosa" target="_blank">
    <h4>Outubro rosa</h4>
    <img src="/media/rh/campanhas/2021/10/rosa/w200.jpg" alt="">
  </a>
  <h3>Mês 09/2021</h3>
  <a href="http://rh.tussor.com.br/?p=1" target="_blank">
    <h4>Setembro amarelo</h4>
    <img src="/media/rh/campanhas/2021/09/amarelo/01_w200.jpg" alt="">
  </a>
  <h3>Mês 06/2021</h3>
  <a href="{% url 'rh:campanhas' '2021-06' %}" target="_blank">
    <h4>Diversidade</h4>
    <img src="/media/rh/campanhas/2021/06/diversidade/4_w200.jpg" alt="">
  </a>
  <h3>Mês 05/2021</h3>
  <a href="{% url 'rh:campanhas' '2021-05-15' %}" target="_blank">
    <h4>Dia da família - Amor</h4>
    <img src="/media/rh/campanhas/2021/05/15-familia/f1_w200.jpg" alt="">
  </a>
  <a href="/media/rh/campanhas/2021/05/15-familia/i1.jpg" target="_blank">
    <h4>Dia da família - Números</h4>
    <img src="/media/rh/campanhas/2021/05/15-familia/i1_w200.jpg" alt="">
  </a>
  <h3>Mês 03/2021</h3>
  <a href="/media/rh/campanhas/2021/03/22_agua/economize.pdf" target="_blank">
    <h4>Economize Água</h4>
    <img src="/media/rh/campanhas/2021/03/22_agua/01_w200.jpg" alt="">
  </a>
  <a href="/media/rh/campanhas/2021/03/15/covid-mar21.gif" target="_blank">
    <h4>COVID-19 - Não se engane</h4>
    <img src="/media/rh/campanhas/2021/03/15/covid-mar21_w200.jpg" alt="">
  </a>
  <h3>Mês 01/2021</h3>
  <a href="/media/rh/campanhas/2021/01/26/mascara.jpg" target="_blank">
    <h4>Uso obrigatório e correto da máscara</h4>
    <img src="/media/rh/campanhas/2021/01/26/mascara_w200.jpg" alt="">
  </a>
  <h3>Mês 11/2020</h3>
  <a href="{% url 'rh:campanhas' '2020-11-27' %}" target="_blank">
    <h4>Agentes de um Novo Ciclo</h4>
    <img src="/media/rh/campanhas/2020/11/27/1_w200.jpeg" alt="">
  </a>
  <h3>Mês 10/2020</h3>
  <a href="{% url 'rh:campanhas' '2020-10-14' %}" target="_blank">
    <h4>Outubro rosa</h4>
    <img src="/media/rh/campanhas/2020/10/14/Outubro-Rosa-02_w200.jpg" alt="">
  </a>
  <a href="/media/rh/campanhas/2020/10/14/Outubro-Rosa-Folder-Digital.jpg" target="_blank">
    <h4>Folder</h4>
    <img src="/media/rh/campanhas/2020/10/14/Outubro-Rosa-Folder-Digital_w200.jpg" alt="">
  </a>
  <a href="/media/rh/campanhas/2020/10/14/Outubro-Rosa-Infografico.jpg" target="_blank">
    <h4>Infográfico</h4>
    <img src="/media/rh/campanhas/2020/10/14/Outubro-Rosa-Infografico_w200.jpg" alt="">
  </a>
  <h3>Mês 09/2020</h3>
  <a href="{% url 'rh:campanhas' '2020-09-01' %}" target="_blank">
    <h4>Setembro amarelo</h4>
    <img src="/media/rh/campanhas/2020/09/01/Setembro-Amarelo-01_w200.jpg" alt="">
  </a>
  <a href="/media/rh/campanhas/2020/09/01/Setembro-Amarelo-calendario.pdf" target="_blank">
    <h4>Calendário</h4>
    <img src="/media/rh/campanhas/2020/09/01/Setembro-Amarelo-calendario_w200.jpg" alt="">
  </a>
  <a href="/media/rh/campanhas/2020/09/01/Setembro-Amarelo-voce.pdf" target="_blank">
    <h4>CVV</h4>
    <img src="/media/rh/campanhas/2020/09/01/Setembro-Amarelo-voce_w200.jpg" alt="">
  </a>
  <h3>Mês 04/2020</h3>
  <a href="/media/rh/campanhas/2020/04/24/proposito.pdf" target="_blank">
    <h4>Nosso propósito pode mudar o mundo</h4>
    <img src="/media/rh/campanhas/2020/04/24/proposito_w200.jpg" alt="">
  </a>
  <a href="/media/rh/campanhas/2020/04/20/heroinas.jpg" target="_blank">
    <h4>Heroínas</h4>
    <img src="/media/rh/campanhas/2020/04/20/heroinas_w200.jpg" alt="">
  </a>
  <a href="/media/rh/campanhas/2020/04/20/herois.jpg" target="_blank">
    <h4>Heróis</h4>
    <img src="/media/rh/campanhas/2020/04/20/herois_w200.jpg" alt="">
  </a>
  <h3>Mês 03/2020</h3>
  <a href="/media/rh/campanhas/2020/03/11/coronavirus_w700.jpg" target="_blank">
    <h4>Combatendo o coronavírus</h4>
    <img src="/media/rh/campanhas/2020/03/11/coronavirus_w200.jpg" alt="">
  </a>
  <a href="/media/rh/campanhas/2020/03/02/sipat_2020_w700.jpg" target="_blank">
    <h4>SIPAT 2020</h4>
    <img src="/media/rh/campanhas/2020/03/02/sipat_2020_w200.jpg" alt="">
  </a>
  <h3>Mês 01/2020</h3>
  <a href="/media/rh/campanhas/2020/01/08/duomo-rota-sucesso-w650.jpg" target="_blank">
    <h4>Rota do Sucesso 2020</h4>
    <img src="/media/rh/campanhas/2020/01/08/duomo-rota-sucesso-w200.jpg" alt="">
  </a>
  <h3>Mês 11/2019</h3>
  <a href="/media/rh/campanhas/2019/2019-11/Novembro_Azul_2019_w650.jpg" target="_blank">
    <h4>Novembro Azul</h4>
    <img src="/media/rh/campanhas/2019/2019-11/Novembro_Azul_2019_w200.jpg" alt="">
  </a>
  <h3>Mês 10/2019</h3>
  <a href="/media/rh/campanhas/2019/2019-10/Outubro_Rosa_2019_w650.jpg" target="_blank">
    <h4>Outubro Rosa - Um toque de amor pela vida!</h4>
    <img src="/media/rh/campanhas/2019/2019-10/Outubro_Rosa_2019_w200.jpg" alt="">
  </a>
  <h3>Mês 11/2018</h3>
  <a href="/media/rh/campanhas/2018-11-05_novembro-azul.pdf" target="_blank">
    <h4>O que é Novembro Azul?</h4>
    <img src="/media/rh/campanhas/2018-11-05_novembro-azul_w200.jpg" alt="">
  </a>
  <a href="/media/rh/campanhas/2018-11-01_novembro-azul_w780.jpg" target="_blank">
    <h4>Novembro Azul</h4>
    <img src="/media/rh/campanhas/2018-11-01_novembro-azul_w200.jpg" alt="">
  </a>
  <hr>
  <h3>Mês 10/2018</h3>
  <a href="/media/rh/campanhas/2018-10-11_outubro-rosa_w600.jpg" target="_blank">
    <h4>Outubro Rosa - Vamos falar sobre isso!</h4>
    <img src="/media/rh/campanhas/2018-10-11_outubro-rosa_w200.jpg" alt="">
  </a>
  <a href="/media/rh/campanhas/2018-10-05_outubro-rosa_w600.jpg" target="_blank">
    <h4>Outubro Rosa</h4>
    <img src="/media/rh/campanhas/2018-10-05_outubro-rosa_w200.jpg" alt="">
  </a>
  <hr>
  <h3>Mês 09/2018</h3>
  <a href="/media/rh/campanha-2018-09-03-setembro_amarelo.pdf" target="_blank">
    <h4>Setembro Amarelo</h4>
    <img src="/media/rh/campanha-2018-09-03-setembro_amarelo_w200.png" alt="">
  </a>
  <hr>
  <h3>Mês 02/2018</h3>
  <a href="/media/rh/DUOMO-Febre-Amarela.jpg" target="_blank">
    <h4>Febre Amarela</h4>
    <img src="/media/rh/DUOMO-Febre-Amarela_w200.jpg" alt="">
  </a>
  <hr>
  <h3>Mês 12/2017</h3>
  <a href="/media/rh/DUOMO_Campanha_de_Natal_w600.jpg" target="_blank">
    <h4>Natal 2017 - Doe um brinquedo!</h4>
    <img src="/media/rh/DUOMO_Campanha_de_Natal_w200.png" alt="">
  </a>
  <hr>
  <h3>Mês 11/2017</h3>
  <a href="/media/rh/DUOMO_Novembro_Azul_17_w600.jpg" target="_blank">
    <h4>Novembro Azul</h4>
    <img src="/media/rh/DUOMO_Novembro_Azul_17_w200.jpg" alt="">
  </a>
</center>
{% endblock %}
