{% extends 'rh/principal.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}<center>{{ titulo }}</center>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<center>
  <h3>Mês 12/2021</h3>
  <a href="http://rh.tussor.com.br/e-natal-e-hora-de-celebrar" target="_blank">
    <h4>Natal 2021!</h4>
    <img src="/media/rh/datas_comemorativas/2021/12/natal/w200.png" alt="">
  </a>
  <h3>Mês 10/2021</h3>
  <a href="http://rh.tussor.com.br/halloween-nosso-dia-das-bruxas" target="_blank">
    <h4>Halloween</h4>
    <img src="/media/rh/datas_comemorativas/2021/10/bruxas/w200.jpg" alt="">
  </a>
  <h3>Mês 06/2021</h3>
  <a href="/media/rh/datas_comemorativas/2021/06/sao-joao/cartaz.jpg" target="_blank">
    <h4>São João</h4>
    <img src="/media/rh/datas_comemorativas/2021/06/sao-joao/w200.jpg" alt="">
  </a>
  <h3>Mês 05/2021</h3>
  <a href="{% url 'rh:datas' '2021-05-09' %}" target="_blank">
    <h4>Dia das Mães</h4>
    <img src="/media/rh/datas_comemorativas/2021/05/09-maes/w200.jpg" alt="">
  </a>
  <a href="{% url 'rh:datas' '2021-05-01' %}" target="_blank">
    <h4>Dia do trabalhador</h4>
    <img src="/media/rh/datas_comemorativas/2021/05/01-trabalhador/1_w200.jpg" alt="">
  </a>
  <h3>Mês 04/2021</h3>
  <a href="/media/rh/datas_comemorativas/2021/04/04-pascoa/p.gif" target="_blank">
    <h4>Pascoa 2021</h4>
    <img src="/media/rh/datas_comemorativas/2021/04/04-pascoa/p_w200.jpg" alt="">
  </a>
  <h3>Mês 03/2021</h3>
  <a href="{% url 'rh:datas' '2021-03-08' %}" target="_blank">
    <h4>Feliz dia internacional da mulher 2021!</h4>
    <img src="/media/rh/datas_comemorativas/2021/03/08-mulher/01-w200.jpg" alt="">
  </a>
  <h3>Mês 01/2021</h3>
  <a href="{% url 'rh:datas' '2021' %}" target="_blank">
    <h4>Feliz 2021!</h4>
    <img src="/media/rh/datas_comemorativas/2021/01-virada/DUOMO-2021-2_w200.jpg" alt="">
  </a>
  <h3>Mês 12/2020</h3>
  <a href="/media/upload/imagens/rh-em-acao/natal2020.jpg" target="_blank">
    <h4>Natal 2020</h4>
    <img src="/media/upload/imagens/rh-em-acao/natal2020-w200.jpg" alt="">
  </a>
  <h3>Mês 08/2020</h3>
  <a href="{% url 'rh:datas' '2020-08-09' %}" target="_blank">
    <h4>Dia dos pais</h4>
    <img src="/media/rh/datas_comemorativas/2020/08/09/dia_dos_pais.jpg" alt="">
  </a>
  <br />
  <br />
  <a href="/media/rh/datas_comemorativas/2020/08/05/DUOMO_Dia_dos_Pais.pdf" target="_blank">
    <img src="/media/rh/datas_comemorativas/2020/08/05/DUOMO_Dia_dos_Pais_w200.jpg" alt="">
  </a>
  <h3>Mês 07/2020</h3>
  <a href="/media/rh/datas_comemorativas/2020/07/15/dia-do-homem.jpg" target="_blank">
    <h4>Dia do homem</h4>
    <img src="/media/rh/datas_comemorativas/2020/07/15/dia-do-homem_w200.jpg" alt="">
  </a>
  <a href="/media/rh/datas_comemorativas/2020/07/13/dia-do-amigo.jpg" target="_blank">
    <h4>Dia do amigo</h4>
    <img src="/media/rh/datas_comemorativas/2020/07/13/dia-do-amigo_w200.jpg" alt="">
  </a>
  <h3>Mês 05/2020</h3>
  <a href="/rh/datas/2020-05-08" target="_blank">
    <h4>Dia das mães</h4>
    <img src="/media/rh/datas_comemorativas/2020/05/08/dia-das-maes_w200.jpg" alt="">
  </a>
  <a href="/rh/datas/2020-04-29" target="_blank">
    <h4>Dia do trabalhador</h4>
    <img src="/media/rh/datas_comemorativas/2020/04/29/dia_trabalhador_4_w200.jpg" alt="">
  </a>
  <h3>Mês 03/2020</h3>
  <a href="/rh/datas/2020-03-04-mulher" target="_blank">
    <h4>Dia da mulher</h4>
    <img src="/media/rh/datas_comemorativas/2020/03/04-mulher/w200.jpg" alt="">
  </a>
  <h3>Mês 02/2020</h3>
  <a href="/rh/datas/2020-02-carnaval" target="_blank">
    <h4>Carnaval 2020!</h4>
    <img src="/media/rh/datas_comemorativas/2020-02-carnaval/w200.jpg" alt="">
  </a>
  <h3>Mês 12/2019</h3>
  <a href="/rh/datas/2019-12-retrospectiva" target="_blank">
    <h4>Retrospectiva 2019!</h4>
    <img src="/media/rh/datas_comemorativas/2019-12-retrospectiva/w200.jpg" alt="">
  </a>
  <h3>Mês 12/2019</h3>
  <a href="/rh/datas/2019-12-natal" target="_blank">
    <h4>Feliz Natal!</h4>
    <img src="/media/rh/datas_comemorativas/2019-12-natal/w200.jpg" alt="">
  </a>
  <h3>Mês 11/2019</h3>
  <a href="/media/rh/datas_comemorativas/2019-11-dia-da-gentileza/gentileza-01.pdf" target="_blank">
    <h4>Dia da gentileza!</h4>
    <img src="/media/rh/datas_comemorativas/2019-11-dia-da-gentileza/w200-01.jpg" alt="">
  </a>
  <br />
  <br />
  <a href="/media/rh/datas_comemorativas/2019-11-dia-da-gentileza/gentileza-02.pdf" target="_blank">
    <img src="/media/rh/datas_comemorativas/2019-11-dia-da-gentileza/w200-02.jpg" alt="">
  </a>
  <h3>Mês 08/2019</h3>
  <a href="/media/rh/datas_comemorativas/2019-08-11-dia-dos-pais/w638.png" target="_blank">
    <h4>Dia dos pais!</h4>
    <img src="/media/rh/datas_comemorativas/2019-08-11-dia-dos-pais/w200.png" alt="">
  </a>
  <h3>Mês 07/2019</h3>
  <h4>Dia do amigo!</h4>
  <a href="/media/rh/datas_comemorativas/2019-07-20-dia-do-amigo/Comunicar/w750.jpg" target="_blank">
    <h4>Comunicar</h4>
    <img src="/media/rh/datas_comemorativas/2019-07-20-dia-do-amigo/Comunicar/w200.jpg" alt="">
  </a>
  <a href="/media/rh/datas_comemorativas/2019-07-20-dia-do-amigo/Cooperar_Sempre/w750.jpg" target="_blank">
    <h4>Cooperar sempre</h4>
    <img src="/media/rh/datas_comemorativas/2019-07-20-dia-do-amigo/Cooperar_Sempre/w200.jpg" alt="">
  </a>
  <a href="/media/rh/datas_comemorativas/2019-07-20-dia-do-amigo/Ter_Empatia/w750.jpg" target="_blank">
    <h4>Ter empatia</h4>
    <img src="/media/rh/datas_comemorativas/2019-07-20-dia-do-amigo/Ter_Empatia/w200.jpg" alt="">
  </a>
  <a href="/media/rh/datas_comemorativas/2019-07-20-dia-do-amigo/Trabalhar_em_Equipe/w750.jpg" target="_blank">
    <h4>Trabalhar em equipe</h4>
    <img src="/media/rh/datas_comemorativas/2019-07-20-dia-do-amigo/Trabalhar_em_Equipe/w200.jpg" alt="">
  </a>
  <h3>Mês 06/2019</h3>
  <a href="/media/rh/datas_comemorativas/2019-06-05_meio_ambiente/w794.jpg" target="_blank">
    <h4>Dia do meio ambiente!</h4>
    <img src="/media/rh/datas_comemorativas/2019-06-05_meio_ambiente/w200.jpg" alt="">
  </a>
  <h3>Mês 05/2019</h3>
  <a href="/media/rh/datas_comemorativas/2019-dia-das-maes/w700.jpg" target="_blank">
    <h4>Dia das mães!</h4>
    <img src="/media/rh/datas_comemorativas/2019-dia-das-maes/w200.jpg" alt="">
  </a>
  <h3>Mês 04/2019</h3>
  <a href="/media/rh/datas_comemorativas/2019-04-17_DUOMO-Pascoa-2019_w700.jpg" target="_blank">
    <h4>Páscoa 2019!</h4>
    <img src="/media/rh/datas_comemorativas/2019-04-17_DUOMO-Pascoa-2019_w200.jpg" alt="">
  </a>
  <h3>Mês 12/2018</h3>
  <a href="/media/rh/datas_comemorativas/2018-12-03_natal_w600.jpg" target="_blank">
    <h4>Natal 2018!</h4>
    <img src="/media/rh/datas_comemorativas/2018-12-03_natal_w200.jpg" alt="">
  </a>
  <h3>Mês 09/2018</h3>
  <a href="/media/rh/mensagem_2018-09-19_primavera_w600.jpg" target="_blank">
    <h4>Primavera</h4>
    <img src="/media/rh/mensagem_2018-09-19_primavera_w200.jpg" alt="">
  </a>
  <h3>Mês 08/2018</h3>
  <a href="/media/rh/datas_comemorativas/2018-08-12_Dia_dos_Pais_w600.jpg" target="_blank">
    <h4>Dia dos Pais!</h4>
    <img src="/media/rh/datas_comemorativas/2018-08-12_Dia_dos_Pais_w200.jpg" alt="">
  </a>
  <h3>Mês 07/2018</h3>
  <a href="/media/rh/2018-07-20_Dia_do_Amigo_w600.jpg" target="_blank">
    <h4>Dia do Amigo!</h4>
    <img src="/media/rh/2018-07-20_Dia_do_Amigo_w200.jpg" alt="">
  </a>
  <h3>Mês 05/2018</h3>
  <a href="/media/rh/banner_duomo_maes_2018_w600.png" target="_blank">
    <h4>Feliz Dia das Mães!</h4>
    <img src="/media/rh/banner_duomo_maes_2018_w200.png" alt="">
  </a>
  <h3>Mês 03/2018</h3>
  <a href="/media/rh/DUOMO-Pascoa-2018.jpg" target="_blank">
    <h4>Boa Páscoa para todos!</h4>
    <img src="/media/rh/DUOMO-Pascoa_w200.jpg" alt="">
  </a>
  <hr>
  <a href="/media/rh/DUOMO-Dia-da-Mulher.jpg" target="_blank">
    <h4>Dia da Mulher</h4>
    <img src="/media/rh/DUOMO-Dia-da-Mulher_w200.jpg" alt="">
  </a>
  <hr>
  <h3>Mês 2017/12</h3>
  <a href="/media/rh/DUOMO_Natal_2017_w600.jpg" target="_blank">
    <h4>Natal 2017!</h4>
    <img src="/media/rh/DUOMO_Natal_2017_w200.jpg" alt="">
  </a>
  <hr>
  <h3>Mês 2017/11</h3>
  <a href="/media/rh/DUOMO_Dia_Mundial_da_Gentileza_w600.jpg" target="_blank">
    <h4>Dia mundial da Gentileza</h4>
    <img src="/media/rh/DUOMO_Dia_Mundial_da_Gentileza_w200.jpg" alt="">
  </a>
</center>
{% endblock %}
