{% extends 'rh/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}<a href="{% url 'rh:index' %}">{{ block.super }}</a><br/><center>{{ titulo }}</center>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<center>
  <h3>Mês 08/2018</h3>
  <a href="/media/rh/datas_comemorativas/2018-08-12_Dia_dos_Pais_w600.jpg" target="_blank">
    <h4>Dia dos Pais!</h4>
    <img src="/media/rh/datas_comemorativas/2018-08-12_Dia_dos_Pais_w200.jpg" alt="">
  </a>
  <h3>Mês 07/2018</h3>
  <a href="/media/rh/2018-07-20_Dia_do_Amigo_w600.jpg" target="_blank">
    <h4>Dia do Amigo!</h4>
    <img src="/media/rh/2018-07-20_Dia_do_Amigo_w200.jpg" alt="">
  </a>
  <h3>Mês 05/2018</h3>
  <a href="/media/rh/banner_duomo_maes_2018_w600.png" target="_blank">
    <h4>Feliz Dia das Mães!</h4>
    <img src="/media/rh/banner_duomo_maes_2018_w200.png" alt="">
  </a>
  <h3>Mês 03/2018</h3>
  <a href="/media/rh/DUOMO-Pascoa-2018.jpg" target="_blank">
    <h4>Boa Páscoa para todos!</h4>
    <img src="/media/rh/DUOMO-Pascoa_w200.jpg" alt="">
  </a>
  <hr>
  <a href="/media/rh/DUOMO-Dia-da-Mulher.jpg" target="_blank">
    <h4>Dia da Mulher</h4>
    <img src="/media/rh/DUOMO-Dia-da-Mulher_w200.jpg" alt="">
  </a>
  <hr>
  <h3>Mês 2017/12</h3>
  <a href="/media/rh/DUOMO_Natal_2017_w600.jpg" target="_blank">
    <h4>Natal 2017!</h4>
    <img src="/media/rh/DUOMO_Natal_2017_w200.jpg" alt="">
  </a>
  <hr>
  <h3>Mês 2017/11</h3>
  <a href="/media/rh/DUOMO_Dia_Mundial_da_Gentileza_w600.jpg" target="_blank">
    <h4>Dia mundial da Gentileza</h4>
    <img src="/media/rh/DUOMO_Dia_Mundial_da_Gentileza_w200.jpg" alt="">
  </a>
</center>
{% endblock %}
