{% extends 'rh/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}<a href="{% url 'rh:index' %}">{{ block.super }}</a><br/><center>{{ titulo }}</center>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
img {
  padding: 0.5em;
}
</style>
{% endblock %}

{% block content %}
<center>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img style="width:70%;height:70%;" src="/media/rh/divulgacao/2019-05_crise/01.png" alt="Pág. 1">
      </div>

      <div class="item">
        <img style="width:70%;height:70%;" src="/media/rh/divulgacao/2019-05_crise/02.png" alt="Pág. 2">
      </div>

      <div class="item">
        <img style="width:70%;height:70%;" src="/media/rh/divulgacao/2019-05_crise/03.jpg" alt="Pág. 3">
      </div>

      <div class="item">
        <img style="width:70%;height:70%;" src="/media/rh/divulgacao/2019-05_crise/04.png" alt="Pág. 4">
      </div>

      <div class="item">
        <img style="width:70%;height:70%;" src="/media/rh/divulgacao/2019-05_crise/05.jpg" alt="Pág. 5">
      </div>

      <div class="item">
        <img style="width:70%;height:70%;" src="/media/rh/divulgacao/2019-05_crise/06.png" alt="Pág. 6">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</center>
{% endblock %}
