{% extends 'rh/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}<a href="/rh/">{{ block.super }}</a><br/><center>{{ titulo }}</center>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
img {
  padding: 0.5em;
}
</style>
{% endblock %}

{% block content %}
<center>
<p>
<a target="_blank" href="/media/rh/brigadista2018/brigada (11).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (11).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (12).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (12).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (16).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (16).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (18).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (18).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (20).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (20).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (21).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (21).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (22).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (22).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (23).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (23).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (30).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (30).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (33).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (33).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (34).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (34).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (35).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (35).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (39).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (39).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (40).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (40).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (41).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (41).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (44).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (44).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (45).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (45).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/brigada (49).JPG"><img src="/media/rh/brigadista2018/thumb.brigada (49).JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/sem título-51.JPG"><img src="/media/rh/brigadista2018/thumb.sem título-51.JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/sem título-52.JPG"><img src="/media/rh/brigadista2018/thumb.sem título-52.JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/sem título-54.JPG"><img src="/media/rh/brigadista2018/thumb.sem título-54.JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/sem título-55.JPG"><img src="/media/rh/brigadista2018/thumb.sem título-55.JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/sem título-61.JPG"><img src="/media/rh/brigadista2018/thumb.sem título-61.JPG"></a>
<a target="_blank" href="/media/rh/brigadista2018/sem título-63.JPG"><img src="/media/rh/brigadista2018/thumb.sem título-63.JPG"></a>
</p>
</center>
{% endblock %}
