{% extends 'rh/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}<a href="{% url 'rh:index' %}">{{ block.super }}</a><br/><center>{{ titulo }}</center>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
img {
  padding: 0.5em;
}
</style>
{% endblock %}

{% block content %}
<center>
<p>
<a target="_blank" href="/media/rh/sipat2018/Ginástica laboral.jpg"><img src="/media/rh/sipat2018/thumb.Ginástica laboral.jpg"></a>
<a target="_blank" href="/media/rh/sipat2018/Ginástica laboral na administração.jpg"><img src="/media/rh/sipat2018/thumb.Ginástica laboral na administração.jpg"></a>
<a target="_blank" href="/media/rh/sipat2018/Ginástica laboral na expedição.jpg"><img src="/media/rh/sipat2018/thumb.Ginástica laboral na expedição.jpg"></a>
<a target="_blank" href="/media/rh/sipat2018/Glicemia.jpg"><img src="/media/rh/sipat2018/thumb.Glicemia.jpg"></a>
<a target="_blank" href="/media/rh/sipat2018/Nutrição.jpg"><img src="/media/rh/sipat2018/thumb.Nutrição.jpg"></a>
<a target="_blank" href="/media/rh/sipat2018/Ótica.jpg"><img src="/media/rh/sipat2018/thumb.Ótica.jpg"></a>
<a target="_blank" href="/media/rh/sipat2018/Palestra 1.jpg"><img src="/media/rh/sipat2018/thumb.Palestra 1.jpg"></a>
<a target="_blank" href="/media/rh/sipat2018/Palestra 2.jpg"><img src="/media/rh/sipat2018/thumb.Palestra 2.jpg"></a>
<a target="_blank" href="/media/rh/sipat2018/Palestra 3.jpg"><img src="/media/rh/sipat2018/thumb.Palestra 3.jpg"></a>
<a target="_blank" href="/media/rh/sipat2018/Palestra 4.jpg"><img src="/media/rh/sipat2018/thumb.Palestra 4.jpg"></a>
<a target="_blank" href="/media/rh/sipat2018/Palestrantes.jpg"><img src="/media/rh/sipat2018/thumb.Palestrantes.jpg"></a>
</p>
</center>
{% endblock %}
