{% extends 'layout/layout.html' %}
{% load static %}

{% block title.content %}RH em ação!{% endblock title.content %}

{% block header.content %}<center><a href="{% url 'rh' %}"><img src="{% static 'img/RH_100.jpg' %}" alt="RH em ação!"></a></center>{% endblock header.content %}

{% block content %}
<center>
  <h2>
    <a href="/rh/campanhas/">Campanhas <img src="/media/rh/DUOMO_Campanha_de_Natal_h50_icone.png" alt=""><img src="/media/rh/DUOMO_Novembro_Azul_17_h50_icone.jpg" alt=""></a>
  </h2>
  <h2>
    <a href="/rh/datas/">Datas comemorativas <img src="/media/rh/DUOMO_Natal_2017_h50_icone.jpg" alt=""><img src="/media/rh/DUOMO_Dia_Mundial_da_Gentileza_h50_icone.jpg" alt=""></a>
  </h2>
  <hr>
  {% if dicas %}
    <h2>Dicas</h2>
    {% for dica in dicas %}
      {% if dica.data  %}
        <h4>{{ dica.data }} - <a target="_blank" href="{{ dica.link }}">{{ dica.chamada }}</a></h4>
      {% endif %}
    {% endfor %}
  {% endif %}
  <p>&nbsp;</p>
  <h4><img src="{% static "img/DUOMO_small.png" %}" alt="D'UOMO"></h4>
</center>
{% endblock %}
