{% extends 'layout/layout.html' %}
{% load static %}

{% block title.content %}RH em ação!{% endblock title.content %}

{% block header.content %}<center><a href="{% url 'rh' %}"><img src="{% static 'img/RH_100.jpg' %}" alt="RH em ação!"></a></center>{% endblock header.content %}

{% block content %}
<center>
<h1>
  <a href="/rh/campanhas/">Campanhas <img src="/media/rh/DUOMO_Campanha_de_Natal_h50_icone.png" alt=""><img src="/media/rh/DUOMO_Novembro_Azul_17_h50_icone.jpg" alt=""></a>
</h1>
</center>
{% endblock %}
