{% extends 'layout/layout.html' %}
{% load static %}

{% block title.content %}RH em ação!{% endblock title.content %}

{% block content %}
<center>
  <table>
    <tr>
      <td style="vertical-align: top; padding-top: 2em;">
        <a href="{% url 'rh:index' %}"><img src="{% static 'img/RH_100.jpg' %}" alt="RH em ação!"></a>
      </td>
      <td style="width: 2em;">
        &nbsp;
      </td>
      <td>
        <h2>
          <a href="{% url 'rh:mensagens' %}">Mensagens
            <img                                         src="/media/rh/mensagem_2018-09-19_primavera_h50.jpg" title="Primavera"
            ></a>
        </h2>
        <h2><a href="{% url 'rh:aniversariantes' 2018 10 %}">Aniversariantes
          <img src="/media/rh/aniversario_h50_icone.jpg" title="aniversariantes"></a></h2>
        <h2>
          <a href="{% url 'rh:datas' %}">Datas comemorativas
            <img                                         src="/media/rh/datas_comemorativas/2018-08-12_Dia_dos_Pais_h50_icone.jpg" title="Dia dos Pais!"
            ><img style="opacity: 0.90;max-width: 45px;" src="/media/rh/2018-07-20_Dia_do_Amigo_h50_icone.jpg" title="Dia do Amigo!"
            ><img style="opacity: 0.78;max-width: 39px;" src="/media/rh/banner_duomo_maes_2018_h50_icone.png" title="Feliz Dia das Mães!"
            ><img style="opacity: 0.64;max-width: 32px;" src="/media/rh/DUOMO-Pascoa-2018_h50_icone.jpg" title="Boa Páscoa para todos!"
            ><img style="opacity: 0.44;max-width: 22px;" src="/media/rh/DUOMO-Dia-da-Mulher_h50_icone.jpg" title="Dia da Mulher"
            ></a>
        </h2>
        <h2>
          <a href="{% url 'rh:campanhas' %}">Campanhas
            <img                                         src="/media/rh/campanha-2018-09-03-setembro_amarelo_h50_icone.jpg" title="Setembro Amarelo"
            ><img style="opacity: 0.90;max-width: 45px;" src="/media/rh/DUOMO-Febre-Amarela_h50_icone.png" title="Febre Amarela"
            ><img style="opacity: 0.78;max-width: 39px;" src="/media/rh/DUOMO_Campanha_de_Natal_h50_icone.png" title="Natal 2017"
            ><img style="opacity: 0.64;max-width: 32px;" src="/media/rh/DUOMO_Novembro_Azul_17_h50_icone.jpg" title="Novembro Azul"
            ></a>
        </h2>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td style="vertical-align: top;" colspan="3">
        <h3>Atenção!</h3>
        05/09/2018 - <a target="_blank" href="/media/rh/2018-09-Desconecte.pdf">Desconecte-se!</a><br/>
        <div style="padding-left: 2em;">Concentre-se no seu trabalho e desconecte-se para se conectar profissionalmente!</div>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">
        <h3>Pensamentos</h3>
        {% for pensamento in pensamentos %}
          {% if pensamento.data  %}
            {{ pensamento.data }} - <a target="_blank" href="{{ pensamento.link }}">{{ pensamento.chamada }}</a><br/>
          {% endif %}
        {% endfor %}
        <h3>Dicas</h3>
        {% for dica in dicas %}
          {% if dica.data  %}
            {{ dica.data }} - <a target="_blank" href="{{ dica.link }}">{{ dica.chamada }}</a><br/>
          {% endif %}
        {% endfor %}
      </td>
      <td style="width: 5em;">
        &nbsp;
      </td>
      <td style="vertical-align: top;">
        <h3>RH indica</h3>
        {% for link in links %}
          <a target="_blank" href="{{ link.link }}">{{ link.chamada }}</a><br/>
          <div style="padding-left: 2em; width: 20em;">{{ link.descricao }}</div>
        {% endfor %}
        <h3>Agenda</h3>
        20/7/2018 - Dia do amigo - <a target="_blank" href="{% url 'rh:20180720_dia_do_amigo' %}">Fotos</a><br/>
        14/6/2018 - Homenagem a Thiago e Silvio<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Veja <a target="_blank" href="{% url 'rh:fotos_homenagem20180614' %}">fotos</a> da homenagem<br/>
        2/6/2018 - Formação de brigadistas 2018<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Veja <a target="_blank" href="{% url 'rh:fotos_brigadista2018' %}">fotos</a> e <a target="_blank" href="{% url 'rh:videos_brigadista2018' %}">vídeos</a> do treinamento<br/>
        14/5 a 18/5/2018 - <a target="_blank" href="/media/rh/DUOMO-SIPAT2018_w600.jpg">SIPAT 2018</a><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Veja <a target="_blank" href="{% url 'rh:fotos' %}">fotos</a> e <a target="_blank" href="{% url 'rh:videos' %}">vídeos</a> do evento</a><br/>
      </td>
    </tr>
  </table>
</center>
{% endblock %}
