{% load static %}

{% block content %}
<center>
  <table>
    <tr>
      <td style="vertical-align: top; padding-top: 2em;">
        <a href="{% url 'rh:index' %}"><img src="{% static 'img/RH_100.jpg' %}" alt="RH em ação!"></a>
      </td>
      <td style="width: 2em;">
        &nbsp;
      </td>
      <td>
        {% if request.user.is_authenticated or base_ip_interno %}
        <h2><a href="{% url 'persona:aniversariantes_now' %}">Aniversariantes
          <img src="/media/rh/baloes_h50_icone.jpg" title="aniversariantes"></a></h2>
        {% endif %}
        <h2>
          <a href="{% url 'rh:datas' 'lista' %}">Datas comemorativas
            <img                                         src="/media/rh/datas_comemorativas/2021/06/sao-joao/h50.jpg" title="São João"
            ><img style="opacity: 0.90;max-width: 45px;" src="/media/rh/datas_comemorativas/2021/05/09-maes/h50.jpg" title="Dia das Mães"
            ><img style="opacity: 0.78;max-width: 39px;" src="/media/rh/datas_comemorativas/2021/05/01-trabalhador/1_h50.jpg" title="Dia do trabalhador"
            ><img style="opacity: 0.64;max-width: 32px;" src="/media/rh/datas_comemorativas/2021/04/04-pascoa/p_h50.jpg" title="Páscoa 2021"
            ><img style="opacity: 0.44;max-width: 22px;" src="/media/rh/datas_comemorativas/2021/03/08-mulher/01-h50.jpg" title="Mulher 2021"
            ></a>
        </h2>
        <h2>
          <a href="{% url 'rh:campanhas' %}">Campanhas
            <img                                         src="/media/rh/campanhas/2021/09/amarelo/01_h50.jpg" title="Setembro amarelo"
            ><img style="opacity: 0.90;max-width: 45px;" src="/media/rh/campanhas/2021/06/diversidade/4_h50.jpg" title="Diversidade"
            ><img style="opacity: 0.78;max-width: 39px;" src="/media/rh/campanhas/2021/05/15-familia/f1_h50.jpg" title="Dia da família"
            ><img style="opacity: 0.64;max-width: 32px;" src="/media/rh/campanhas/2021/03/22_agua/01_h50.jpg" title="Economize água"
            ><img style="opacity: 0.44;max-width: 22px;" src="/media/rh/campanhas/2021/03/15/covid-mar21_h50.jpg" title="COVID-19 - Não se engane"
            ></a>
        </h2>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td style="vertical-align: top;">

        <!-- <h3>Comunicados</h3>
        29/07/2020 - <a target="_blank" href="{% url 'rh:comunicados' '2020-07-29' %}">Tecelagem - Pagamentos de julho e agosto</a><br/> -->

        <h3>Divulgação</h3>
        04/10/2019 - <a target="_blank" href="/media/rh/divulgacao/2019/2019-10/holeriteonline.pdf">Informativo sobre holerite on-line</a><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Em busca de sempre oferecer o que há de melhor em forma de<br />
        gestão e práticas RH, o contracheque dos colaboradores da Tussor<br />
        passará a ser disponibilizado de forma eletrônica.<br />
        <br />
        31/05/2019 - <a target="_blank" href="{% url 'rh:divulga_atitudes_crise' %}">Atitudes</a> que um líder deve ter em momentos de crise.<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nesses momentos, a capacidade de superar os desafios e fortalecer<br />
        a relação com as equipes é importantíssima!<br />

        <h3>Dicas e Pensamentos</h3>
        {% for dica in dicas %}
          {% if dica.data  %}
            <a target="_blank" href="{{ dica.link }}">{{ dica.chamada }}</a><br/>
          {% endif %}
        {% endfor %}

      </td>
      <td style="width: 5em;">
        &nbsp;
      </td>
      <td style="vertical-align: top;">

        <h3>Rota do Sucesso 2020</h3>
        {% for dica in rota2020 %}
          {% if dica.data  %}
            {{ dica.data }} - <a target="_blank" href="{{ dica.link }}">{{ dica.chamada }}</a><br/>
            {% if dica.descricao  %}
              <div style="padding-left: 2em;">{{ dica.descricao|safe }}</div>
            {% endif %}
          {% endif %}
        {% endfor %}

        <h3>RH indica</h3>
        {% for link in links %}
          <a target="_blank" href="{{ link.link }}">{{ link.chamada }}</a><br/>
          <div style="padding-left: 2em;">{{ link.descricao|safe }}</div>
        {% endfor %}

        <h3>Fotos e Vídeos</h3>
        20/07/2020 - <a target="_blank" href="{% url 'rh:eventos' '2020-07-20' %}">Dia do amigo 2020</a><br/>
        24/06/2020 - <a target="_blank" href="{% url 'rh:eventos' '2020-06-24' %}">Festa junina 2020</a><br/>
        09/03 a 13/03/2020 - <a target="_blank" href="/media/rh/campanhas/2020/03/02/sipat_2020_w700.jpg">SIPAT 2020</a><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Veja <a target="_blank" href="{% url 'rh:eventos' '2020-03-17' %}">fotos</a> do encerramento do evento</a><br/>
        01/08/2019 - 25 anos de empresa de Rosângela e Denilson: <a target="_blank" href="{% url 'rh:media_2019_08_01_25_anos' %}">Fotos e vídeo</a><br/>
        16/07/2019 - <a target="_blank" href="{% url 'rh:media_2019_07_16_sobre_amizade' %}">Vídeo</a> Poesia com Rapadura - Falando sobre amizade<br/>
        12/07/2019 - Brigadistas 2019 - <a target="_blank" href="{% url 'rh:fotos_2019_07_12_brigadistas_2019' %}">Foto</a><br/>
        14/06/2019 - Funcionários Adriana Martins e Leonardo Andrade homenageados - <a target="_blank" href="{% url 'rh:fotos_2019_06_14_adriana_leo' %}">Fotos</a><br/>
        24/05/2019 - Funcionária Bianca Vasques homenageada - <a target="_blank" href="{% url 'rh:fotos_2019_05_24_bianca' %}">Fotos</a><br/>
        09/04/2019 - <a target="_blank" href="{% url 'rh:media_2019_04_09_dicas' %}">Vídeos</a> de dicas de comportamento<br/>
        01/04/2019 - 1º Café com RH de 2019<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Veja <a target="_blank" href="{% url 'rh:fotos_2019_04_01_1o_cafe' %}">fotos</a> desse dia<br/>
        03/2019 - Funcionária Lorena homenageada - <a target="_blank" href="{% url 'rh:fotos_2019_03_lorena' %}">Fotos</a><br/>
        17/10/2018 - Dia Rosa 2018<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Veja <a target="_blank" href="{% url 'rh:2018_dia_rosa_fotos' %}">fotos</a> e <a target="_blank" href="{% url 'rh:2018_dia_rosa_videos' %}">vídeos</a> desse dia<br/>
        20/7/2018 - Dia do amigo - <a target="_blank" href="{% url 'rh:20180720_dia_do_amigo' %}">Fotos</a><br/>
        14/6/2018 - Homenagem a Thiago e Silvio<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Veja <a target="_blank" href="{% url 'rh:fotos_homenagem20180614' %}">fotos</a> da homenagem<br/>
        2/6/2018 - Formação de brigadistas 2018<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Veja <a target="_blank" href="{% url 'rh:fotos_brigadista2018' %}">fotos</a> e <a target="_blank" href="{% url 'rh:videos_brigadista2018' %}">vídeos</a> do treinamento<br/>
        14/5 a 18/5/2018 - <a target="_blank" href="/media/rh/DUOMO-SIPAT2018_w600.jpg">SIPAT 2018</a><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Veja <a target="_blank" href="{% url 'rh:fotos' %}">fotos</a> e <a target="_blank" href="{% url 'rh:videos' %}">vídeos</a> do evento<br/>

      </td>
    </tr>
  </table>
</center>
{% endblock %}
