{% extends 'rh/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}<a href="/rh/">{{ block.super }}</a><br/><center>{{ titulo }}</center>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<center>
<h3>Vídeo 1</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/b9bCN7UoOME" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<hr/>
<h3>Vídeo 2</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/uzdLogFFlJM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</center>
{% endblock %}
