{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'cd:distribuicao' %}" method="post" name="myForm">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="visualiza" value="Visualiza"/>
  </form>
  {% if erro %}
    <h4>{{ erro }}</h4>
  {% endif %}
  {% if request.POST %}
    {% include "layout/form_inputs_report.html" with form=form h=4 only %}
    {% if data %}
      <table>
        {% include "layout/thead_generic.html" with data=headers style=style thclass='sticky' only %}
        {% include "layout/tbody_generic.html" with fields=fields data=data group=group style=style only %}
      </table>
      <ul>
        <li>Custo médio de coleta:</li>
        <ul>
          <li>Por lote: {{custo_medio_l|floatformat:2}}</li>
          <li>Por item: {{custo_medio_q|floatformat:2}}</li>
        </ul>
        <li>Média de itens por lote: {{qtd_lote|floatformat:2}}</li>
      </ul>
    {% else %}
      <h4>Nada encontrado</h4>
    {% endif %}
  {% endif %}
{% endblock content %}
