{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
    {% include "layout/paginator_stylesheet.css" %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'cd:novo_estoque' %}" method="post" name="myForm">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="busca" value="Busca" onclick="o2SetPage1AndSubmit()"/>
  </form>
  {% if erro %}
    <h4>{{ erro }}</h4>
  {% endif %}
  {% if request.POST %}
    {% include "layout/form_inputs_report.html" with form=form h=4 only %}
    {% if data %}
      <p>Lotes em paletes</p>
      {% include "layout/paginator.html" with data=data url_name='cd:novo_estoque' only %}
        <table>
          {% include "layout/thead_generic.html" with data=headers safe=safe style=style thclass='sticky' only %}
          {% include "layout/tbody_generic.html" with fields=fields data=data safe=safe style=style only %}
        </table>
      {% include "layout/paginator.html" with data=data url_name='cd:novo_estoque' only %}
    {% else %}
      <h4>Nenhum lote encontrado</h4>
    {% endif %}
  {% endif %}
  <hr>
  <h4>Teste de nova rotina abaixo</h4>
  <table>
    {% include "layout/thead_generic.html" with data=r_headers safe=r_safe style=r_style thclass='sticky' only %}
    {% include "layout/tbody_generic.html" with fields=r_fields data=r_data safe=r_safe style=r_style only %}
  </table>
{% endblock content %}

{% block javascript %}
  <script type="text/javascript">
    {% include "layout/paginator_javascript.js" with form='myForm' field='page' only %}
  </script>
{% endblock %}
