{% if grades %}
  {% for grade in grades %}
    <div class="mod_{{ grade.refnum|safe }}">
    {% if grade.refnum %}
      {% if grade.refnum == 'TOTAL' %}
        <h4 style="padding-left: 2em;"><b>Total das grades acima</b></h4>
      {% else %}
        <h4 style="padding-left: 2em;">Referência numérica: <b>{{ grade.refnum }}</b></h4>
      {% endif %}
    {% endif %}
    {% if grade.ref %}
      <h4 style="padding-left: 6em;">Referência: <b><a href="{% url 'cd:grade_estoque' grade.ref %}">{{ grade.ref }}</a></b></h4>
    {% endif %}
    <table class="layout">
      <tr>
        <td style="vertical-align: top;">
          <h4>Disponível</h4>
          <table style="width: auto;">
            {% include "layout/thead_generic.html" with data=grade.disponivel.headers style=grade.disponivel.style only %}
            {% include "layout/tbody_generic.html" with fields=grade.disponivel.fields data=grade.disponivel.data group=grade.disponivel.group style=grade.disponivel.style only %}
          </table>
        </td>
        {% if grade.solicitacoes %}
          <td>&nbsp;</td>
          <td style="border-left: thin solid lightgrey;">&nbsp;</td>
          <td style="vertical-align: top;">
            <h4>Solicitações</h4>
            <table style="width: auto;">
              {% include "layout/thead_generic.html" with data=grade.solicitacoes.headers style=grade.solicitacoes.style only %}
              {% include "layout/tbody_generic.html" with fields=grade.solicitacoes.fields data=grade.solicitacoes.data group=grade.solicitacoes.group style=grade.solicitacoes.style only %}
            </table>
          </td>
        {% endif %}
        {% if grade.pedido %}
          <td>&nbsp;</td>
          <td style="border-left: thin solid lightgrey;">&nbsp;</td>
          <td style="vertical-align: top;">
            <h4>Pedido</h4>
            <table style="width: auto;">
              {% include "layout/thead_generic.html" with data=grade.pedido.headers style=grade.pedido.style only %}
              {% include "layout/tbody_generic.html" with fields=grade.pedido.fields data=grade.pedido.data group=grade.pedido.group style=grade.pedido.style only %}
            </table>
          </td>
        {% endif %}
        <td>&nbsp;</td>
        <td style="border-left: thin solid lightgrey;">&nbsp;</td>
        <td style="vertical-align: top;">
          <h4>Inventário</h4>
          <table style="width: auto;">
            {% include "layout/thead_generic.html" with data=grade.inventario.headers style=grade.inventario.style only %}
            {% include "layout/tbody_generic.html" with fields=grade.inventario.fields data=grade.inventario.data group=grade.inventario.group style=grade.inventario.style only %}
          </table>
        </td>
      </tr>
    </table>
    </div>
  {% endfor %}
{% endif %}
{% if data %}
  {% if link_num %}
    {% if refnum %}
      <h4>Grades da referência numérica: <b><a href="{% url 'cd:grade_estoque' refnum %}">{{ refnum }}</a></b></h4>
    {% endif %}
  {% endif %}
  <table>
    {% include "layout/thead_generic.html" with data=headers only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data group=group only %}
  </table>
{% endif %}
{% if exec == 'totais' %}
  <span id="sel_modelos" style="display:none;"></span>
  <script>
    function recalcula_total(limpa) {
      var limpo = '';
      if (limpa) {
        limpo = '?limpo=S'
      }
      $('.div_func').click();
      window.open("{% url 'cd:grade_estoque' %}"+$("#sel_modelos").text()+limpo, "_self");
    }
  </script>
{% endif %}
