{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
    {% include "layout/paginator_stylesheet.css" %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'cd:realoca_solicitacoes' %}" method="post" name="myForm">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="analisa" value="Analisa""/>
    {% if request.POST.analisa and a_fazer %}
      <input type="submit" name="otimiza" value="Otimiza""/>
    {% endif %}
  </form>
  <br/>
  {% include "layout/form_inputs_report.html" with form=form h=4 only %}
  {% if msg_oti %}
    <h2>{{msg_oti}}</h2>
  {% endif %}
  {% if msg %}
    <h3>{{msg}}</h3>
  {% endif %}
  {% if lotes_solis.data %}
    {% if qtd_empenhada == 'ce' %}
      <h4>{{lotes_solis.len}} lotes com empenhos a serem realocadas</h4>
    {% else %}
      <h4>{{lotes_solis.len}} lotes com empenhos parciais a serem realocadas</h4>
    {% endif %}
    <table>
      {% include "layout/thead_generic.html" with data=lotes_solis.headers safe=lotes_solis.safe style=lotes_solis.style thclass='sticky' only %}
      {% include "layout/tbody_generic.html" with fields=lotes_solis.fields data=lotes_solis.data safe=lotes_solis.safe style=lotes_solis.style only %}
    </table>
    {% if solis %}
      <h4>{{solis.len}} empenhos</h4>
      <table style="width: 25em;">
        {% include "layout/thead_generic.html" with data=solis.headers safe=solis.safe style=solis.style thclass='sticky' only %}
        {% include "layout/tbody_generic.html" with fields=solis.fields data=solis.data safe=solis.safe style=solis.style only %}
      </table>
    {% endif %}
  {% else %}
    {% if request.POST %}
      <h4>Nenhum lote com empenhos a serem realocadas</h4>
    {% endif %}
  {% endif %}
  {% if lotes %}
    {% if lotes.data %}
      <h4>{{lotes.len}} lotes encontrados para atender os empenhos em questão</h4>
      <table>
        {% include "layout/thead_generic.html" with data=lotes.headers safe=lotes.safe style=lotes.style thclass='sticky' only %}
        {% include "layout/tbody_generic.html" with fields=lotes.fields data=lotes.data safe=lotes.safe style=lotes.style only %}
      </table>
      {% if a_fazer %}
        <h4>Rascunho do que deve ser feito</h4>
        <pre>{{a_fazer}}</pre>
      {% endif %}
    {% else %}
      {% if request.POST %}
        <h4>Nenhum lote encontrado para atender os empenhos em questão</h4>
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock content %}
