{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
    {% include "layout/paginator_stylesheet.css" %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'cd:realoca_solicitacoes' %}" method="post" name="myForm">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="id_btn_analisa" type="submit" name="analisa" value="Analisa""/>
    {% if request.POST.analisa and a_fazer %}
      <input type="submit" name="otimiza" value="Otimiza""/>
    {% endif %}
  </form>
  {% if msg_oti %}
    <h2>{{msg_oti}}</h2>
  {% endif %}
  {% if msg %}
    <h3>{{msg}}</h3>
  {% endif %}
  {% if prox_modelo %}
    <p>Analisa: Próximo item <a href="#" onclick="set_item('{{prox_modelo|safe}}', '{{prox_cor}}', '{{prox_tam}}');">{{prox_modelo|safe}} {{prox_cor}} {{prox_tam}}</a>;
    {% if prox_modelo %}
      Item anterior <a href="#" onclick="set_item('{{ante_modelo|safe}}', '{{ante_cor}}', '{{ante_tam}}');">{{ante_modelo|safe}} {{ante_cor}} {{ante_tam}}</a>
    {% endif %}
    </p>
  {% endif %}
  {% include "layout/form_inputs_report.html" with form=form h=4 only %}
  {% if lotes_solis.data %}
    {% if qtd_empenhada == 'ce' %}
      <h4>{{lotes_solis.len}} lotes com empenhos a serem realocados</h4>
    {% else %}
      <h4>{{lotes_solis.len}} lotes com empenhos parciais a serem realocados</h4>
    {% endif %}
    <table>
      {% include "layout/thead_generic.html" with data=lotes_solis.headers safe=lotes_solis.safe style=lotes_solis.style thclass='sticky' only %}
      {% include "layout/tbody_generic.html" with fields=lotes_solis.fields data=lotes_solis.data safe=lotes_solis.safe style=lotes_solis.style only %}
    </table>
    {% if solis %}
      <h4>{{solis.len}} empenhos</h4>
      <table style="width: 25em;">
        {% include "layout/thead_generic.html" with data=solis.headers safe=solis.safe style=solis.style thclass='sticky' only %}
        {% include "layout/tbody_generic.html" with fields=solis.fields data=solis.data safe=solis.safe style=solis.style only %}
      </table>
    {% endif %}
  {% else %}
    {% if request.POST %}
      <h4>Nenhum lote com empenhos a serem realocados</h4>
    {% endif %}
  {% endif %}
  {% if lotes %}
    {% if lotes.data %}
      <h4>{{lotes.len}} lotes encontrados para atender os empenhos em questão</h4>
      <table>
        {% include "layout/thead_generic.html" with data=lotes.headers safe=lotes.safe style=lotes.style thclass='sticky' only %}
        {% include "layout/tbody_generic.html" with fields=lotes.fields data=lotes.data safe=lotes.safe style=lotes.style only %}
      </table>
      {% if old_trabalhados %}
        <h4>Comparativo</h4>
        <ul>
          <li>Antes</li>
          <ul>
            <li>Lotes trabalhados: {{old_trabalhados}}</li>
            <li>Lotes zerados: {{old_zerados}}</li>
          </ul>
          <li>Depois</li>
          <ul>
            <li>Lotes trabalhados: {{new_trabalhados}}</li>
            <li>Lotes zerados: {{new_zerados}}</li>
          </ul>
        </ul>
        {% if a_fazer %}
          <h4>Rascunho do que deve ser feito</h4>
          <pre>{{a_fazer}}</pre>
        {% else %}
          <h4>Não há otimização</h4>
        {% endif %}
      {% endif %}
    {% else %}
      {% if request.POST %}
        <h4>Nenhum lote encontrado para atender os empenhos em questão</h4>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if items %}
    <hr>
    {% if items.data %}
      <h4>{{items.len}} itens encontrados</h4>
      <table>
        {% include "layout/thead_generic.html" with data=items.headers safe=items.safe style=items.style thclass='sticky' only %}
        {% include "layout/tbody_generic.html" with fields=items.fields data=items.data safe=items.safe style=items.style only %}
      </table>
    {% endif %}
  {% endif %}
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script>
  function set_item(modelo, cor, tam) {
    let ee = document.getElementById('id_endereco');
    ee.value = '';
    let em = document.getElementById('id_modelo');
    em.value = modelo;
    let ec = document.getElementById('id_cor');
    ec.value = cor;
    let et = document.getElementById('id_tam');
    et.value = tam;
    let ea = document.getElementById('id_btn_analisa');
    ea.click();
    return false;
  }
</script>
{% endblock javascript %}
