{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
    {% include "layout/paginator_stylesheet.css" %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'cd:realoca_solicitacoes' %}" method="post" name="myForm">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="analisa" value="Analisa""/>
  </form>
  <br/>
  {% include "layout/form_inputs_report.html" with form=form h=4 only %}
  {% if data %}
    <h4>{{len_lotes}} lotes encontrados</h4>
    <table>
      {% include "layout/thead_generic.html" with data=headers safe=safe style=style thclass='sticky' only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data safe=safe style=style only %}
    </table>
  {% else %}
    {% if request.POST %}
      <h4>Nenhuma informação encontrada</h4>
    {% endif %}
  {% endif %}
{% endblock content %}
