{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
    {% include "layout/paginator_stylesheet.css" %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'cd:novo_solicitacoes' %}" method="post" name="myForm">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="busca" value="Busca" onclick="o2SetPage1AndSubmit()"/>
  </form>
  <br/>
  {% include "layout/form_inputs_report.html" with form=form h=4 excludes=form_report_excludes lines=form_report_lines_after only %}
  {% if data %}
    <h4>{{qtd_solicit}} solicitaç{{qtd_solicit|pluralize:"ão,ões"}} encontrada{{qtd_solicit|pluralize}}</h4>
    {% if qtd_solicit > por_pagina %}
      <p>{{por_pagina}} por página</p>
    {% endif %}
    {% include "layout/paginator.html" with data=data url_name='cd:novo_solicitacoes' only %}
    <table>
      {% include "layout/thead_generic.html" with data=headers style=style thclass='sticky' only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
    </table>
    <p>Legenda: Tot.=Total; L.=Lotes; Q.=Quantidade de itens; Prod.=Em produção; Fin.=Finalizado<br/>
      Situçação: 1=A confirmar; 2=Confirmado; 3=Programado; 4=Solicitado; 5=Baixado</p>
    {% include "layout/paginator.html" with data=data url_name='cd:novo_solicitacoes' only %}
  {% else %}
    {% if request.POST %}
      <h4>Nenhum empenho ou solicitação encontrado</h4>
    {% endif %}
  {% endif %}
{% endblock content %}

{% block javascript %}
  <script type="text/javascript">
    {% include "layout/paginator_javascript.js" with form='myForm' field='page' only %}
  </script>
{% endblock %}
