{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  {% if data %}
    <h4>Solicitação {{solicitacao}}</h4>
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-toggle="tab" href="#lotes">Lotes</a></li>
      <li><a data-toggle="tab" href="#enderecos">Endereços</a></li>
      <li><a data-toggle="tab" href="#pedidos">Pedidos</a></li>
      <li><a data-toggle="tab" href="#grade_solicitado">Grade das referências solicitadas</a></li>
    </ul>
    <div class="tab-content">
      <div id="lotes" class="tab-pane fade in active">
        <p>Lista registros em que a OP não tem estágio 63-CD (isso exclui OPs de expedição)<br/>
          Ordem Situação, Estágio, OP e Lote.</p>
        <table>
          {% include "layout/thead_generic.html" with data=headers style=style thclass='sticky' only %}
          {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
        </table>
      </div>
      <div id="enderecos" class="tab-pane fade">
        <p>"Palete" é onde está atualmente o lote. "Inclusão P." é quando o lote foi incluido no palete.<br/>
          "Endereço" é onde está atualmente o Palete. "Inclusão E." é quando o palete foi incluido no endereço.<br/>
          Ordem decrescente de Rota, Endereço, Situação, OP e Lote.</p>
        <table>
          {% include "layout/thead_generic.html" with data=e_headers style=e_style thclass='sticky' only %}
          {% include "layout/tbody_generic.html" with fields=e_fields data=e_data style=e_style only %}
        </table>
      </div>
      <div id="pedidos" class="tab-pane fade">
        <table>
          {% include "layout/thead_generic.html" with data=p_headers style=p_style thclass='sticky' only %}
          {% include "layout/tbody_generic.html" with fields=p_fields data=p_data style=p_style only %}
        </table>
      </div>
      <div id="enderecos" class="tab-pane fade">
        <p>Lista registros em que a OP não tem estágio 63-CD (isso exclui OPs de expedição)<br/>
          "Palete" é onde está atualmente o lote. "Inclusão P." é quando o lote foi incluido no palete.<br/>
          "Endereço" é onde está atualmente o Palete. "Inclusão E." é quando o palete foi incluido no endereço.</p>
        <table>
          {% include "layout/thead_generic.html" with data=e_headers style=e_style thclass='sticky' only %}
          {% include "layout/tbody_generic.html" with fields=e_fields data=e_data style=e_style only %}
        </table>
      </div>
      <div id="grade_solicitado" class="tab-pane fade">
        {% for grade in grades_solicitadas %}
          {% if grade.modelo and grade.ref != 'total' %}
            {% if forloop.counter != 1 %}
              <hr/>
            {% endif %}
            <h4 style="padding-left: 3em;">Modelo: <b>{{ grade.modelo }}</b></h4>
          {% endif %}
          {% if grade.ref == 'total' %}
            <h4 style="padding-left: 3em;">Total do modelo: <b>{{ grade.modelo }}</b></h4>
          {% else %}
            <h4 style="padding-left: 6em;">Referência: <b>{{ grade.ref }}</b></h4>
          {% endif %}
          <table style="width: auto;">
            {% include "layout/thead_generic.html" with data=grade.headers style=grade.style thclass='sticky' only %}
            {% include "layout/tbody_generic.html" with fields=grade.fields data=grade.data style=grade.style only %}
          </table>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <h4>Solicitação {{solicitacao}} não encontrada</h4>
  {% endif %}
{% endblock content %}
