{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'cd:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
    {% include "layout/paginator_stylesheet.css" %}
  </style>
{% endblock %}

{% block content %}
  {% if data %}
    {% include "layout/paginator_get.html" with data=data url_name='cd:novo_solicitacoes' only %}
    <table>
      {% include "layout/thead_generic.html" with data=headers style=style thclass='sticky' only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
    </table>
    {% include "layout/paginator_get.html" with data=data url_name='cd:novo_solicitacoes' only %}
  {% else %}
    <h4>Nenhuma solicitação encontrada</h4>
  {% endif %}
{% endblock content %}
