<div>
<br/>

<table border="0" cellpadding="0" cellspacing="0" style="font-family:Arial;">
  <tr>
    <td colspan="2">&nbsp;</td>
    <td width="25"></td><td></td></tr>
    
  <tr>
    <td width="221" align="center" valign="middle"><img src="{% data_url_image 'assinatura' '2020-12-duomo-felizes-festas' %}" width="221" height="185" alt=""/></td>
    <td valign="middle">
      <img src="{% data_url_image 'assinatura' '2020-12-separador' %}" width="21px" height="180px" />
    </td>
    <td width="200" valign="middle">
      <b><span style="font-size:16px;color:#000000;">{{ nome }}</span></b>
      <br/>
      <span style="font-size:12px;color:#000000;font-style:">{{ setor }}</span>
      <br/>
      <br/>
      <b><span style="font-size:12px;color:#666666;">+55 (21) 2178-4848</span></b>
      <br/>
      {% if num_1 %}
        <b><span style="font-size:12px;color:#666666;">+55 {% if ddd_1 %}({{ ddd_1 }}) {% endif %}{{ num_1 }}</span></b>
        <br/>
      {% endif %}
      {% if num_2 %}
        <b><span style="font-size:12px;color:#666666;">+55 {% if ddd_2 %}({{ ddd_2 }}) {% endif %}{{ num_2 }}</span></b>
        <br/>
      {% endif %}
      <a style="font-size:12px;color:#666666;" href="mailto:{{ email }}">{{ email }}</a>
      <br/>
      <a style="font-size:12px;color:#666666;" href="http://www.cuecasduomo.com.br">www.cuecasduomo.com.br</a><br/>
      <br/>
      <a href="https://www.instagram.com/cuecasduomo/" target="_blank"
        ><img src="{% data_url_image 'assinatura' '2020-12-duomo-instagram' %}" width="30" height="30" alt=""/></a>
      <a href="https://www.facebook.com/cuecasduomo" target="_blank"
        ><img src="{% data_url_image 'assinatura' '2020-12-duomo-facebook' %}" width="30" height="30" alt=""/></a>
      <a href="https://www.cuecasduomo.com.br/" target="_blank"
        ><img src="{% data_url_image 'assinatura' '2020-12-duomo-web' %}" width="30" height="30" alt=""/></a>
    </td>
  </tr>
              
  </table>
  
  <br/>
  
  <span style="font-size:10px;color:#666666;font-family:Arial;"><strong>Advertência legal:</strong> O emitente desta mensagem é responsável por seu conteúdo e endereçamento. Cabe ao destinatário cuidar quanto ao tratamento adequado. Sem a devida autorização, a divulgação, a reprodução, a distribuição ou qualquer outra ação em desconformidade com as normas internas da Tussor Confecções Ltda. são proibidas e passíveis de sanção disciplinar, cível e criminal.
  </span>
  
  <br/>
  <!-- <br/>
  
  <img src="folha.png" width="29" height="23" alt=""/><br/> -->
  <span style="font-size:10px;color:#289548;font-family:Arial;">Imprima esse email apenas se for necessário.</span>
  <br/>
  <br/>

</div>
