{% extends 'email_signature/index.html' %}

{% block title.content %}Contas - {{ block.super }}{% endblock title.content %}
{% block header.content %}Contas - <a href="{% url 'email_signature:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block content %}
  <a href="{% url 'email_signature:account_list' %}">Ir para listagem</a>
  <form action="" method="post">{% csrf_token %}
    <p>Confirma excluir a conta "{{ object }}"?</p>
    <input type="submit" value="Confirma" />
  </form>
  <a href="{% url 'email_signature:account_change' account.id %}">Volta para edição</a>
{% endblock %}
