{% extends 'email_signature/index.html' %}

{% block title.content %}Contas - {{ block.super }}{% endblock title.content %}
{% block header.content %}Contas - <a href="{% url 'email_signature:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block content %}
  <p style="width:100%;">
    {% if account %}
      <div style="float:right;">
        <a title="Exclui esta conta" href="{% url 'email_signature:account_delete' account.id %}"><span class="glyphicon glyphicon-trash" style="font-size: 2em; color: darkred;" aria-hidden="true"></span></a>
      </div>
    {% endif %}
    <div>
      <a title="Ir para listagem" href="{% url 'email_signature:account_list' %}"><span class="glyphicon glyphicon-list" style="font-size: 2em" aria-hidden="true"></span></a>
    </div>
  </p>
  <form method="post" id="emsign_accountForm">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salva</button>
  </form>
{% endblock %}
