{% extends 'email_signature/index.html' %}

{% block title.content %}Contas - {{ block.super }}{% endblock title.content %}
{% block header.content %}Contas - <a href="{% url 'email_signature:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block content %}
  <a href="{% url 'email_signature:account_list' %}">Ir para listagem</a><br />
  <form method="post" id="emsign_accountForm" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salva</button>
  </form>
  {% if account %}
    <a href="{% url 'email_signature:account_delete' account.id %}">Exclui esta conta</a>
  {% endif %}
{% endblock %}
