{% extends 'email_signature/index.html' %}

{% block title.content %}Contas - {{ block.super }}{% endblock title.content %}
{% block header.content %}Contas - <a href="{% url 'email_signature:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block content %}
  <h4>Listagem</h4>
  <ul>
  {% for emsign_account in emsign_accounts %}
    <li>{{ emsign_account }} <a href="{% url 'email_signature:account_change' emsign_account.id %}">Edita</a></li>
  {% empty %}
    <li>Nenhum conta.</li>
  {% endfor %}
  </ul>
  <a href="{% url 'email_signature:account_add' %}">Adiciona uma conta</a>
{% endblock %}
