<div>
<br/>
<table style="font-family:Arial;">
  <tr>
    <td height="70" colspan="2" align="center" valign="middle">
      <a href="http://www.cuecasduomo.com.br" target="_blank"
        ><img src="{% data_url_image 'assinatura' 'logo-duomo-2020-02-05' %}" width="220" height="56" alt=""/></a>
    </td>
    <td rowspan="2" valign="middle">
      <img src="{% data_url_image 'assinatura' 'separador-2020-02-05' %}" width="21px" height="180px" />
    </td>
    <td width="300" rowspan="2" valign="middle">
      <b><span style="font-size:16px;color:#000000;">{{ nome }}</span></b>
      <br/>
      <span style="font-size:12px;color:#000000;font-style:">{{ setor }}</span>
      <br/>
      <br/>
      <b><span style="font-size:12px;color:#666666;">+55 (21) 2178-4848</span></b>
      <br/>
      {% if num_1 %}
        <b><span style="font-size:12px;color:#666666;">+55 {% if ddd_1 %}({{ ddd_1 }}) {% endif %}{{ num_1 }}</span></b>
        <br/>
      {% endif %}
      {% if num_2 %}
        <b><span style="font-size:12px;color:#666666;">+55 {% if ddd_2 %}({{ ddd_2 }}) {% endif %}{{ num_2 }}</span></b>
        <br/>
      {% endif %}
      <a style="font-size:12px;color:#666666;" href="mailto:{{ email }}">{{ email }}</a>
      <br/>
      <a style="font-size:12px;color:#666666;" href="http://www.cuecasduomo.com.br">www.cuecasduomo.com.br</a><br/>
      <br/>
      <a href="https://www.instagram.com/cuecasduomo/" target="_blank"
        ><img src="{% data_url_image 'assinatura' 'duomo-instagram-2020-02-05' %}" width="30" height="30" alt=""/></a>
      <a href="https://www.facebook.com/cuecasduomo" target="_blank"
        ><img src="{% data_url_image 'assinatura' 'duomo-facebook-2020-02-05' %}" width="30" height="30" alt=""/></a>
      <a href="https://www.cuecasduomo.com.br/" target="_blank"
        ><img src="{% data_url_image 'assinatura' 'duomo-loja-2020-02-05' %}" width="30" height="30" alt=""/></a>
    </td>
  </tr>
  <tr>
    <td width="85" align="center" valign="middle">
      <img src="{% data_url_image 'assinatura' 'duomo-abvtex-ouro-2020-01-05' %}" width="85px" height="84px" alt=""/>
    </td>
    <td width="136" align="center" valign="middle">
      <span style="font-size:12px;color:#777;">Qualidade e<br/>
      Responsabilidade Social com certificação<br/>
      <strong>ABVTEX Ouro!</strong></span>
    </td>
  </tr>
</table>
<br/>
<span style="font-size:10px;color:#666666;"><strong>Advertência legal:</strong> O emitente desta mensagem é responsável por seu conteúdo e endereçamento. Cabe ao destinatário cuidar quanto ao tratamento adequado. Sem a devida autorização, a divulgação, a reprodução, a distribuição ou qualquer outra ação em desconformidade com as normas internas da Tussor Confecções Ltda. são proibidas e passíveis de sanção disciplinar, cível e criminal.</span>
<br/>
<span style="font-size:10px;color:#289548;">Imprima esse e-mail apenas se for necessário.</span>
<br/>
</div>
