{% extends 'email_signature/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'email_signature:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <p>
    <div>
      <a title="Ir para listagem" href="{% url 'email_signature:account_list' %}"><span class="glyphicon glyphicon-list" style="font-size: 2em" aria-hidden="true"></span></a>
    </div>
  </p>
  <h4>Geradas</h4>
  {%if lista%}
    <table>
      <thead>
        <tr>
          <th>
            Resultado
          </th>
          <th>
            Conta
          </th>
        </tr>
      </thead>
      <tbody>
        {%for item in lista%}
        <tr>
          <td>
            {% if item.erro %}
              {{ item.erro }}
            {% else %}
              OK
            {% endif %}
          </td>
          <td>
            {{item.conta}}
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  {%else%}
    Nenhuma
  {%endif%}
{% endblock %}
