{% extends 'layout/layout.html' %}
{% load static %}

{% block title.content %}Apoio ao ERP {% endblock title.content %}

{% block header.content %}Apoio ao ERP{% endblock header.content %}

{% block advice %}

<div class="noprint">

  <!-- <h4><center>
    <a target="_blank" href="http://rh.tussor.com.br/e-natal-e-hora-de-celebrar/">Natal 2021&nbsp;<img
      src="/media/rh/datas_comemorativas/2021/12/natal/h50.png" height="28" width="28"
        ></a>
    </center></h4> -->

  <!-- <h4><center>
    <a target="_blank" href="http://rh.tussor.com.br/novembro-azul/">Novembro azul&nbsp;<img
      src="/media/rh/campanhas/2021/11/azul/h50.jpg" height="28" width="28"
        ></a>
    </center></h4> -->

  <!-- <h4><center>
    <a target="_blank" href="http://rh.tussor.com.br/halloween-nosso-dia-das-bruxas/">Halloween&nbsp;<img
      src="/media/rh/datas_comemorativas/2021/10/bruxas/h50.jpg" height="28" width="28"
        ></a>
    </center></h4> -->

  <!-- <h4><center>
    <a target="_blank" href="http://rh.tussor.com.br/outubro-rosa/">Outubro Rosa&nbsp;<img
      src="/media/rh/campanhas/2021/10/rosa/h50.jpg" height="28" width="28"
        ></a>
    </center></h4> -->

  <!-- <h4><center>
    <a target="_blank" href="http://rh.tussor.com.br/?p=1">Setembro amarelo&nbsp;<img
      src="/media/rh/campanhas/2021/09/amarelo/01_h50.jpg" height="28" width="28"
        ></a>
    </center></h4> -->

  <!-- <h4><center>
    <a target="_blank" href="{% url 'rh:campanhas' '2021-06' %}">Diversidade&nbsp;<img
      src="/media/rh/campanhas/2021/06/diversidade/4_h50.jpg" height="28" width="28"
        ></a>
    </center></h4> -->

  <!-- <h4><center>
    <a target="_blank" href="{% url 'rh:campanhas' '2021-06' %}">Diversidade&nbsp;<img
      src="/media/rh/campanhas/2021/06/diversidade/4_h50.jpg" height="28" width="28"
        ></a>&nbsp;&nbsp;<a target="_blank" href="/media/rh/datas_comemorativas/2021/06/sao-joao/cartaz.jpg">São João&nbsp;<img
          src="/media/rh/datas_comemorativas/2021/06/sao-joao/h50.jpg" height="28" width="28"
            ></a>
    </center></h4> -->

</div>

{% endblock %}

{% block content %}
<table>
  <tr>
    <td style="vertical-align: top;">
      <ul>
        <li><a href="{% url 'producao:index' %}">Produção</a></li>
        {% include 'lotes/menu.html' with empresa='tussor' %}
      </ul>
    </td>
    <td>&nbsp;</td>
    <td style="border-left: thin solid lightgrey;">&nbsp;</td>
    <td style="vertical-align: top;">
      <ul>
        <li><a href="{% url 'insumo:index' %}">Insumos</a></li>
        {% include 'insumo/menu.html' %}
        <br />
        <li><a href="{% url 'produto:index' %}">Produtos</a></li>
        {% include 'produto/menu.html' %}
        <br />
        <li><a href="{% url 'contabil:index' %}">Contabilidade</a></li>
        {% include 'contabil/menu.html' %}
        <br />
        <li><a href="{% url 'logistica:index' %}">Logistica</a></li>
        {% include 'logistica/menu.html' with empresa='tussor' %}
      </ul>
    </td>
    <td>&nbsp;</td>
    <td style="border-left: thin solid lightgrey;">&nbsp;</td>
    <td style="vertical-align: top;">
      <ul>
        <li><a href="{% url 'cd:index' %}">CD</a></li>
        {% include 'cd/menu.html' %}
        <br />
        <li><a href="{% url 'systextil:apoio_index' %}">Tabelas Systêxtil</a></li>
        {% include 'systextil/apoio_menu.html' with empresa='tussor' %}
        <br />
        <li><a href="{% url 'geral:index' %}">Cadastros gerais</a></li>
        {% include 'geral/menu.html' with empresa='tussor' %}
      </ul>
    </td>
    <td>&nbsp;</td>
    <td style="border-left: thin solid lightgrey;">&nbsp;</td>
    <td style="vertical-align: top;">
      <ul>
        <li><a href="{% url 'estoque:index' %}">Estoque Systêxtil</a></li>
        {% include 'estoque/menu.html' %}
        <br />
        <li><a href="{% url 'comercial:index' %}">Comercial</a></li>
        {% include 'comercial/menu.html' %}
      </ul>
    </td>
  </tr>
</table>
{% endblock %}
