{% extends 'layout/layout.html' %}

{% block title %}Intranet - Tussor{% endblock %}

{% block header %}
<h1>Intranet - Tussor (cuecas D`UOMO)</h1>
{% endblock %}

{% block content %}
<h3><a href="http://intranet.tussor.com.br/oficial.systextil.html" target="_blank">Systêxtil (versão Oficial)</a></h3>
</ul>
<h3>Tussor - rotinas auxiliares ao Systêxtil</h3>
<ul>
  <li><a href="lotes/">Produção</a></li>
  {% include 'lotes/menu.html' %}
  <br />
  <li><a href="produto/">Produto</a></li>
  {% include 'produto/menu.html' %}
  <br />
  <li><a href="geral/">Cadastros gerais</a></li>
  {% include 'geral/menu.html' %}
  <br />
  <li><a href="contabil/">Faturamento</a></li>
  {% include 'contabil/menu.html' %}
  <br />
  <li><a href="comercial/">Comercial</a></li>
  {% include 'comercial/menu.html' %}
  <br />
  <li><a href="logistica/">Logistica</a></li>
  {% include 'logistica/menu.html' %}
</ul>
{% endblock %}

{% block footer %}
{% endblock %}
