{% extends 'layout/layout.html' %}

{% block title %}Intranet - Tussor{% endblock %}

{% block header %}
<h1>Intranet - Tussor (cuecas D`UOMO)</h1>
{% endblock %}

{% block content %}
<h3><a href="http://intranet.tussor.com.br/oficial.systextil.html" target="_blank">Systêxtil (versão Oficial)</a></h3>
</ul>
<h3>Tussor - rotinas auxiliares ao Systêxtil</h3>
<ul>
  <li><a href="lotes/">Produção</a></li>
  {% include 'lotes/menu.html' %}
  <li><a href="produto/">Produto</a></li>
  {% include 'produto/menu.html' %}
  <li><a href="geral/">Cadastros gerais</a></li>
  {% include 'geral/menu.html' %}
</ul>
{% endblock %}

{% block footer %}
<span id='greasymonkeyverify'>Chame o TI da Tussor para atualizar o Firefox e instalar o <a href="https://addons.mozilla.org/pt-BR/firefox/addon/greasemonkey/" target="_blank">Greasemonkey</a> e o script <a href="http://intranet/Tussor_Intranet.user.js" target="_blank">"Tussor_Intranet"</a></span>
{% endblock %}
