{% extends 'layout/layout_agator.html' %}
{% load static %}

{% block title.content %}Apoio ao ERP {% endblock title.content %}

{% block header.content %}Apoio ao ERP{% endblock header.content %}

{% block advice %}

<div class="noprint">

  <!-- <h4><center>
    <a target="_blank" href="{% url 'rh:datas' '2021' %}"
      >Feliz 2021!&nbsp;<img src="/media/rh/datas_comemorativas/2021/01-virada/DUOMO-2021_h50.jpg" height="28" width="28"
        >&nbsp;Um ano para Sorrir!</a>
    </center></h4> -->

</div>

{% endblock %}

{% block content %}
<table>
  <tr>
    <td style="vertical-align: top;">
      <ul>
        <li><a href="{% url 'beneficia:index' %}">Beneficiamento</a></li>
        {% include 'beneficia/menu.html' %}
      </ul>
    </td>
    <td>&nbsp;</td>
    <td style="border-left: thin solid lightgrey;">&nbsp;</td>
    <td style="vertical-align: top;">
      <ul>
        <li><a href="{% url 'producao:index' %}">Produção</a></li>
        {% include 'lotes/menu.html' with empresa='agator' %}
        <br />
        <li><a href="{% url 'contabil:index' %}">Contabilidade</a></li>
        {% include 'contabil/menu.html' with empresa='agator' %}
      </ul>
    </td>
    <td>&nbsp;</td>
    <td style="border-left: thin solid lightgrey;">&nbsp;</td>
    <td style="vertical-align: top;">
      <ul>
        <li><a href="{% url 'geral:index' %}">Cadastros gerais</a></li>
        {% include 'geral/menu.html' with empresa='agator' %}
        <br />
        <li><a href="{% url 'logistica:index' %}">Logistica</a></li>
        {% include 'logistica/menu.html' with empresa='agator' %}
      </ul>
    </td>
    <td>&nbsp;</td>
    <td style="border-left: thin solid lightgrey;">&nbsp;</td>
    <td style="vertical-align: top;">
      <ul>
        <li>Intranet</li>
        <ul>
          <li>Usuário{% if request.user.is_authenticated %} ( {{ request.user.username }} ){% endif %}</li>
            <ul>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'encerrar' %}">Encerrar sessão</a></li>
              <li><a href="/rootadm/password_change/?next=/">Alterar senha</a></li>
            {% else %}
              <li><a href="{% url 'login' %}?next=/">Identificar-se (Login)</a></li>
            {% endif %}
          </ul>
          <li>Administração</li>
          <ul>
            <li><a href="/intradm/" target="_blank">Configurações e Dados</a></li>
            <li><a href="/rootadm/" target="_blank">Usuários</a></li>
          </ul>
        </ul>
      </ul>
    </td>
  </tr>
</table>
{% endblock %}
