{% extends 'layout/layout.html' %}

{% block title.content %}Informações gerais {% endblock title.content %}

{% block header.content %}Informações gerais{% endblock header.content %}

{% block content %}
<br />
<table>
  <tr>
    <td>
      <ul>
        <li>Status de serviços utilizados</li>
        <ul>
          <li><a href="http://velocidade.algartelecom.com.br/" target="_blank">Teste de velocidade da internet</a></li>
          <li><a href="https://status.zoho.com/" target="_blank">Zoho - servidor de E-Mail</a></li>
          <li><a href="http://www.nfe.fazenda.gov.br/portal/disponibilidade.aspx" target="_blank">Disponibilidade do portal de NF-e do governo</a></li>
      </ul>
    </td>
    <td>&nbsp;</td>
    <td>
    </td>
  </tr>
</table>
{% endblock %}
