{% extends 'layout/layout.html' %}

{% block title.content %}Intranet {% endblock title.content %}

{% block header.content %}Intranet{% endblock header.content %}

{% block content %}
<br />
<table>
  <tr>
    <td>
      <ul>
        <li>ERP</li>
        <ul>
          <li><a href="http://intranet.tussor.com.br/oficial.systextil.html" target="_blank">ERP Systêxtil</a></li>
          <li>Apoio ao ERP</li>
          <ul>
            <li><a href="/">Consultas</a></li>
            <li><a href="/intradm/" target="_blank">Cadastros</a></li>
          </ul>
        </ul>
        <br />
        <li>Gerais</li>
        <ul>
          <li>Status de serviços utilizados</li>
          <ul>
            <li><a href="http://velocidade.algartelecom.com.br/" target="_blank">Teste de velocidade da internet</a></li>
            <li><a href="https://status.zoho.com/" target="_blank">Zoho - servidor de E-Mail</a></li>
            <li><a href="http://www.nfe.fazenda.gov.br/portal/disponibilidade.aspx" target="_blank">Disponibilidade do portal de NF-e do governo</a></li>
          </ul>
        </ul>
      </ul>
    </td>
    <td>&nbsp;</td>
    <td>
    </td>
  </tr>
</table>
{% endblock %}
