{% extends 'layout/layout.html' %}

{% block title.content %}Intranet {% endblock title.content %}

{% block header.content %}Intranet{% endblock header.content %}

{% block content %}
<br />
<ul>
  <li>ERP</li>
  <ul>
    <li><a href="/">Apoio ao ERP - Consultas</a></li>
    <ul>
      <li><a href="/intradm/" target="_blank">Cadastros</a></li>
    </ul>
    <br />
    <li><a href="/oficial.systextil" target="_blank"><span class="stnavbar stlogo">Systêxtil<b>ERP</b></span></a></li>
    <ul>
      <li><a href="https://devsystextil.atlassian.net/wiki/spaces/BCST/overview" target="_blank">Base de conhecimento</a></li>
    </ul>
  </ul>
  <br />
  <li>Gerais</li>
  <ul>
    <li>Verificação de estado de serviços utilizados</li>
    <ul>
      <li><a href="https://www.nperf.com/pt/" target="_blank">Link - Teste de velocidade da internet</a></li>
      <li><a href="https://status.zoho.com/" target="_blank">E-mail - Disponibilidade dos serviços do servidor Zoho</a></li>
      <li><a href="http://www.nfe.fazenda.gov.br/portal/disponibilidade.aspx" target="_blank">NF-e - Disponibilidade do portal de NF-e da SEFAZ</a></li>
    </ul>
  </ul>
</ul>
{% endblock %}
