{% load static %}

<table>
  <tr>
    <td style="vertical-align: top;">
      <ul>
        {%comment%}
        {%if debug%}
          {%if alter_db%}
            <li><a href="http://tussor.local:8088/intranet/">Ir para Intranet com ERP na nuvem</a></li>
          {%else%}
            <li><a href="http://altertussor.local:8088/intranet/">Ir para Intranet com ERP local</a></li>
          {%endif%}
        {%else%}
          {%if alter_db%}
            <li><a href="http://intranet.tussor.com.br:88/intranet/">Ir para Intranet com ERP na nuvem</a></li>
          {%else%}
            <li><a href="http://alterintranet.tussor.com.br:88/intranet/">Ir para Intranet com ERP local</a></li>
          {%endif%}
        {%endif%}
        <br />
        {%endcomment%}
  {% if request.user.is_authenticated or base_ip_interno %}
        <li><a href="{% url 'systextil:index' %}">Systextil</a></li>
        <br />
        {% include 'systextil/menu.html' %}
        <br />
        <li><a href="{% url 'servico:index' %}">Serviço</a></li>
        {% include 'servico/menu.html' %}
        <br />
        <li><a href="{% url 'manutencao:index' %}">Manutenção</a></li>
        {% include 'manutencao/menu.html' %}
      </ul>
    </td>
    <td>&nbsp;</td>
    <td style="border-left: thin solid lightgrey;">&nbsp;</td>
    <td style="vertical-align: top;">
      <ul>
        <li><a href="{% url 'itat:index' %}">Controle de ativos de TI</a></li>
        {% include 'itat/menu.html' %}
        <br />
        <li><a href="{% url 'base:index' %}">Base</a></li>
        {% include 'base/menu.html' %}
        {% if perms.email_signature.can_edit_mail_signature %}
          <br />
          <li><a href="{% url 'email_signature:index' %}">Assinatura de e-mail</a></li>
          {% include 'email_signature/menu.html' %}
        {% endif %}
        <br />
        <li><a href="{% url 'dp:index' %}">DP/RH</a></li>
        {% include 'dp/menu.html' %}
    </ul>
    </td>
    <td>&nbsp;</td>
    <td style="border-left: thin solid lightgrey;">&nbsp;</td>
    <td style="vertical-align: top;">
      <ul>
  {% endif %}{# request.user.is_authenticated or base_ip_interno #}
        <li><a href="{% url 'rh:index' %}"><img src="{% static 'img/RH_micro.jpg' %}" alt="RH"> em ação!</a></li>
        <br />
        <li>Páginas da cuecas D'UOMO na web</li>
        <ul>
          <li><a href="https://b2b.cuecasduomo.com.br" target="_blank">Loja on-line B2B</a></li>
          <li><a href="https://pt-br.facebook.com/cuecasduomo" target="_blank">No Facebook</a></li>
          <li><a href="https://www.instagram.com/cuecasduomo/" target="_blank">No Instagram</a></li>
          <li><a href="http://www.cuecasduomo.net.br/" target="_blank">Institucional e catálogo</a></li>
        </ul>
        <br />
        <li>Intranet</li>
        <ul>
          <li>Usuário{% if request.user.is_authenticated %} ( {{ request.user.username }} ){% endif %}</li>
            <ul>
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'encerrar' %}">Encerrar sessão</a></li>
              <li><a href="/rootadm/password_change/?next=/">Alterar senha</a></li>
            {% else %}
              <li><a href="{% url 'login' %}?next={% url 'intranet' %}">Identificar-se (Login)</a></li>
            {% endif %}
            {% if request.user.is_authenticated or base_ip_interno %}
              <li><a href="{% url 'base:usuarios' %}?next=/">{{logged_count}} logado{{ logged_count|pluralize }}</a></li>
            {% endif %}
          </ul>
          {% if request.user.is_authenticated %}
            <li>Administração</li>
            <ul>
              <li><a href="/intradm/" target="_blank">Configurações e Dados</a></li>
              <li><a href="/rootadm/" target="_blank">Usuários</a></li>
            </ul>
          {% endif %}
        </ul>
        {% if request.user.is_authenticated or base_ip_interno %}
          <br/>
          <li>Páginas de empresas parceiras</li>
          <ul>
          {%if debug%}
            {%comment%}
            {%if alter_db%}
              <li><a href="http://alteragator.local:8088/intranet/">Intranet Agator</a></li>
            {%else%}
            {%endcomment%}
              <li><a href="http://agator.local:8088/intranet/">Intranet Agator</a></li>
            {%comment endif%}{%endcomment%}
          {%else%}
            {%comment%}
            {%if alter_db%}
              <li><a href="http://alterintranet.agator.com.br:88/intranet/">Intranet Agator</a></li>
            {%else%}
            {%endcomment%}
              <li><a href="http://intranet.agator.com.br:88/intranet/">Intranet Agator</a></li>
            {%comment endif%}{%endcomment%}
          {%endif%}
          </ul>
        {% endif %}
      </ul>
    </td>
    <td>&nbsp;</td>
    <td style="border-left: thin solid lightgrey;">&nbsp;</td>
    <td style="vertical-align: top;">
      <ul>
        <li>Verificação de serviços utilizados</li>
        <ul>
          <li>Serviços do governo (SEFAZ)</li>
          <ul>
            <li><a href="http://www.nfe.fazenda.gov.br/portal/disponibilidade.aspx" target="_blank">Disponibilidade do portal de NF-e</a></li>
          </ul>
          {% if request.user.is_authenticated or base_ip_interno %}
          <li>Servidor de e-mail (Zoho)</li>
          <ul>
            <li><a href="https://status.zoho.com/" target="_blank">Disponibilidade dos serviços</a></li>
          </ul>
          <li>Oracle Cloud (Systêxtil)</li>
          <ul>
            <li><a href="https://ocistatus.oraclecloud.com/" target="_blank">Disponibilidade dos serviços</a></li>
          </ul>
          {% endif %}
          <li>Link da internet</li>
          <ul>
            <li>Testes de velocidade</li>
            <ul>
              <li><a href="https://www.nperf.com/pt/" target="_blank">nPerf</a></li>
              <li><a href="https://speedsmart.net" target="_blank">SpeedSmart</a></li>
            </ul>
            <li>Outros testes</li>
            <ul>
              <li><a href="https://pingtool.org/" target="_blank">PingTool.org</a></li>
            </ul>
            {% if request.user.is_authenticated or base_ip_interno %}
            <li>Monitoramento</li>
            <ul>
              <li><a href="https://uptimerobot.com/" target="_blank">Uptime Robot</a></li>
              <!-- <ul>
                <li><a href="https://monitor.tussor.com.br/" target="_blank">Monitor Tussor</a></li>
              </ul> -->
            </ul>
            {% endif %}
          </ul>
        </ul>
        <br />
        <li>Sites de interesse para o trabalho</li>
        <ul>
          <li><a href="https://www.gs1.org/services/check-digit-calculator" target="_blank">Dígito verificador de (EAN) GTIN</a></li>
          <li><a href="http://www.receita.fazenda.gov.br/PessoaJuridica/CNPJ/cnpjreva/Cnpjreva_Solicitacao.asp" target="_blank">CNPJ - Consulta de Situação</a></li>
          <li><a href="http://www.sintegra.gov.br/" target="_blank">Sintegra</a></li>
          <li><a href="https://www.sefaz.rs.gov.br/nfe/nfe-val.aspx" target="_blank">Validador de XML de NF-e</a></li>
          <li><a href="https://www.fsist.com.br/converter-xml-nfe-para-danfe" target="_blank">XML para DANFE/DACTE</a></li>
        </ul>
      </ul>
    </td>
  </tr>
</table>
