{% extends 'layout/layout_agator.html' %}
{% load static %}

{% block title.content %}Intranet {% endblock title.content %}

{% block header.content %}Intranet{% endblock header.content %}

{% block advice %}
  <!-- <center><big>Confira as <b>Dicas</b> em <a href="{% url 'rh:index' %}"><img src="{% static "img/RH_micro.jpg" %}" alt="RH"> em ação!</a></big></center> -->
{% endblock %}

{% block content %}
<table>
  <tr>
    <td style="vertical-align: top;">
      <ul>
        {%comment%}
        {%if debug%}
          {%if alter_db%}
            <li><a href="http://agator.local:8088/intranet/">Ir para Intranet com ERP na nuvem</a></li>
          {%else%}
            <li><a href="http://alteragator.local:8088/intranet/">Ir para Intranet com ERP local</a></li>
          {%endif%}
        {%else%}
          {%if alter_db%}
            <li><a href="http://intranet.agator.com.br:88/intranet/">Ir para Intranet com na nuvem</a></li>
          {%else%}
            <li><a href="http://alterintranet.agator.com.br:88/intranet/">Ir para Intranet com ERP local</a></li>
          {%endif%}
        {%endif%}
        <br />
        {%endcomment%}
        {% if request.user.is_authenticated or base_ip_interno %}
        <li>ERP</li>
        <ul>
          <li><a href="{% url 'systextil' %}" target="_blank"><span class="stnavbar stlogo">Systêxtil<b>ERP</b></span></a></li>
          <ul>
            {% if externo %}
              {%if alter_db%}
                <li><a href="http://systextil.tussor.com.br:8045/systextil/sessions" target="_blank">Sessões</a></li>
              {% else %}
                <li><a href="http://tussor.systextil.com.br/systextil/sessions" target="_blank">Sessões</a></li>
                <!-- <li><a href="http://oc.tussor.com.br:8345/systextil/sessions" target="_blank">Sessões</a></li> -->
              {% endif %}
            {% else %}
              {%if alter_db%}
                <li><a href="http://systextil.tussor.com.br/systextil/sessions" target="_blank">Sessões</a></li>
              {% else %}
                <li><a href="http://oc.tussor.com.br/systextil/sessions" target="_blank">Sessões</a></li>
              {% endif %}
            {% endif %}
            <li><a href="https://systextil.movidesk.com/" target="_blank">Área do cliente (Ticket)</a></li>
            <li><a href="http://intersys.com.br/cliente/" target="_blank">Antiga página de SS</a></li>
            <li><a href="https://suporte.infraworld.com.br/" target="_blank">InfraWorld</a></li>
            <li>Base de conhecimento Systêxtil</li>
            <ul>
              <li><a href="https://devsystextil.atlassian.net/wiki/spaces/BCST/overview" target="_blank">Pesquise</a></li>
              <li><a href="https://devsystextil.atlassian.net/wiki/spaces/BCST/pages/6202151" target="_blank">Bugs corrigidos</a></li>
              <li><a href="https://devsystextil.atlassian.net/wiki/spaces/BCST/pages/296976389" target="_blank"> Solução de Problemas e Dúvidas</a></li>
            </ul>
          </ul>
          <li><a href="{% url 'apoio_ao_erp' %}">Apoio ao ERP</a></li>
        </ul>
        {% endif %}
      </ul>
    </td>
    <td>&nbsp;</td>
    <td style="border-left: thin solid lightgrey;">&nbsp;</td>
    <td style="vertical-align: top;">
      <ul>
        <li>Outros sites de interesse para o trabalho</li>
        <ul>
          <li><a href="https://www.gs1.org/services/check-digit-calculator" target="_blank">Calcula dígito verificador de (EAN) GTIN</a></li>
          <li><a href="http://www.receita.fazenda.gov.br/PessoaJuridica/CNPJ/cnpjreva/Cnpjreva_Solicitacao.asp" target="_blank">CNPJ - Consulta de Situação Cadastral</a></li>
          <li><a href="http://www.sintegra.gov.br/" target="_blank">Sintegra</a></li>
          <li><a href="https://www.sefaz.rs.gov.br/nfe/nfe-val.aspx" target="_blank">Validador de XML de NF-e</a></li>
          <li><a href="https://www.fsist.com.br/converter-xml-nfe-para-danfe" target="_blank">XML para DANFE/DACTE</a></li>
        </ul>
        {% if request.user.is_authenticated or base_ip_interno %}
          <br/>
          <li>Páginas de empresas parceiras</li>
          <ul>
          {%if debug%}
            {%if alter_db%}
              <li><a href="http://altertussor.local:8088/intranet/">Intranet Tussor</a></li>
            {%else%}
              <li><a href="http://tussor.local:8088/intranet/">Intranet Tussor</a></li>
            {%endif%}
          {%else%}
            {%if alter_db%}
              <li><a href="http://alterintranet.tussor.com.br:88/intranet/">Intranet Tussor</a></li>
            {%else%}
              <li><a href="http://intranet.tussor.com.br:88/intranet/">Intranet Tussor</a></li>
            {%endif%}
          {%endif%}
          </ul>
        {% endif %}
      </ul>
    </td>
    <td>&nbsp;</td>
    <td style="border-left: thin solid lightgrey;">&nbsp;</td>
    <td style="vertical-align: top;">
      <ul>
        <li>Verificação de estado de serviços utilizados</li>
        <ul>
          <li>Serviços do governo</li>
          <ul>
            <li><a href="http://www.nfe.fazenda.gov.br/portal/disponibilidade.aspx" target="_blank">NF-e - Disponibilidade do portal de NF-e da SEFAZ</a></li>
          </ul>
          {% if request.user.is_authenticated or base_ip_interno %}
          <li>Servidor de e-mail</li>
          <ul>
            <li><a href="https://status.zoho.com/" target="_blank">Disponibilidade dos serviços do servidor Zoho</a></li>
          </ul>
          {% endif %}
          <li>Link da internet</li>
          <ul>
            <li>Testes de velocidade</li>
            <ul>
              <li><a href="https://www.nperf.com/pt/" target="_blank">nPerf</a></li>
              <li><a href="https://speedsmart.net" target="_blank">SpeedSmart</a></li>
            </ul>
            <li>Outros testes</li>
            <ul>
              <li><a href="https://pingtool.org/" target="_blank">PingTool.org</a></li>
            </ul>
          </ul>
        </ul>
      </ul>
    </td>
  </tr>
</table>
{% endblock %}
