{% extends 'layout/layout_agator.html' %}
{% load static %}

{% block title.content %}Intranet {% endblock title.content %}

{% block header.content %}Intranet{% endblock header.content %}

{% block advice %}
  <!-- <center><big>Confira as <b>Dicas</b> em <a href="{% url 'rh:index' %}"><img src="{% static "img/RH_micro.jpg" %}" alt="RH"> em ação!</a></big></center> -->
{% endblock %}

{% block content %}
<table>
  <tr>
    <td style="vertical-align: top;">
      <ul>
        {%comment%}
        {%if debug%}
          {%if alter_db%}
            <li><a href="http://agator.local:8088/intranet/">Ir para Intranet com ERP na nuvem</a></li>
          {%else%}
            <li><a href="http://alteragator.local:8088/intranet/">Ir para Intranet com ERP local</a></li>
          {%endif%}
        {%else%}
          {%if alter_db%}
            <li><a href="http://intranet.agator.com.br:88/intranet/">Ir para Intranet com na nuvem</a></li>
          {%else%}
            <li><a href="http://alterintranet.agator.com.br:88/intranet/">Ir para Intranet com ERP local</a></li>
          {%endif%}
        {%endif%}
        <br />
        {%endcomment%}
        {% if request.user.is_authenticated or base_ip_interno %}
        <li>ERP</li>
        <ul>
          <li><a href="{% url 'systextil' %}" target="_blank"><span class="stnavbar stlogo">Systêxtil<b>ERP</b></span></a></li>
          <ul>
            {% if externo %}
              {%if alter_db%}
                <li><a href="http://systextil.tussor.com.br:8045/systextil/sessions" target="_blank">Sessões</a></li>
              {% else %}
                <li><a href="http://tussor.systextil.com.br/systextil/sessions" target="_blank">Sessões</a></li>
                <!-- <li><a href="http://oc.tussor.com.br:8345/systextil/sessions" target="_blank">Sessões</a></li> -->
              {% endif %}
            {% else %}
              {%if alter_db%}
                <li><a href="http://systextil.tussor.com.br/systextil/sessions" target="_blank">Sessões</a></li>
              {% else %}
                <li><a href="http://oc.tussor.com.br/systextil/sessions" target="_blank">Sessões</a></li>
              {% endif %}
            {% endif %}
            <li><a href="https://systextil.movidesk.com/" target="_blank">Área do cliente (Ticket)</a></li>
            <li><a href="http://intersys.com.br/cliente/" target="_blank">Antiga página de SS</a></li>
            <li><a href="https://suporte.infraworld.com.br/" target="_blank">InfraWorld</a></li>
            <li>Base de conhecimento Systêxtil</li>
            <ul>
              <li><a href="https://devsystextil.atlassian.net/wiki/spaces/BCST/overview" target="_blank">Pesquise</a></li>
              <li><a href="https://devsystextil.atlassian.net/wiki/spaces/BCST/pages/6202151" target="_blank">Bugs corrigidos</a></li>
              <li><a href="https://devsystextil.atlassian.net/wiki/spaces/BCST/pages/296976389" target="_blank"> Solução de Problemas e Dúvidas</a></li>
            </ul>
          </ul>
          <li><a href="{% url 'apoio_ao_erp' %}">Apoio ao ERP</a></li>
        </ul>
        {% endif %}
      </ul>
    </td>
    <td>&nbsp;</td>
    <td style="border-left: thin solid lightgrey;">&nbsp;</td>
    <td style="vertical-align: top;">
      <ul>
        {% include 'sites_interesse.html' %}
        {% if request.user.is_authenticated or base_ip_interno %}
          <br/>
          <li>Páginas de empresas parceiras</li>
          <ul>
          {%if debug%}
            {%if alter_db%}
              <li><a href="http://altertussor.local:8088/intranet/">Intranet Tussor</a></li>
            {%else%}
              <li><a href="http://tussor.local:8088/intranet/">Intranet Tussor</a></li>
            {%endif%}
          {%else%}
            {%if alter_db%}
              <li><a href="http://alterintranet.tussor.com.br:88/intranet/">Intranet Tussor</a></li>
            {%else%}
              <li><a href="http://intranet.tussor.com.br:88/intranet/">Intranet Tussor</a></li>
            {%endif%}
          {%endif%}
          </ul>
        {% endif %}
      </ul>
    </td>
    <td>&nbsp;</td>
    <td style="border-left: thin solid lightgrey;">&nbsp;</td>
    <td style="vertical-align: top;">
      <ul>
        {% include 'verifica_servicos.html' %}
      </ul>
    </td>
  </tr>
</table>
{% endblock %}
