{% load static %}<!DOCTYPE html>
<html lang="pt">
<head>
  <title>Link para Systêxtil</title>
  {% if externo %}
  <style>
  .erros {
    display: none;
  }

  .links {
    display: none;
  }

  .loading-base {
    display: block;
  }

  .loading {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    background: #fff;
    text-align: center;
    z-index: 9999;
  }

  .loading-text {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
  .loading-text span {
    display: inline-block;
    margin: 0 1px;
    color: #000;
    font-family: 'Quattrocento Sans', sans-serif;
  }
  .loading-text span:nth-child(1) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
            animation: blur-text 1.5s 0s infinite linear alternate;
  }
  .loading-text span:nth-child(2) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
            animation: blur-text 1.5s 0.2s infinite linear alternate;
  }
  .loading-text span:nth-child(3) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
            animation: blur-text 1.5s 0.4s infinite linear alternate;
  }
  .loading-text span:nth-child(4) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
            animation: blur-text 1.5s 0.6s infinite linear alternate;
  }
  .loading-text span:nth-child(5) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
            animation: blur-text 1.5s 0.8s infinite linear alternate;
  }
  .loading-text span:nth-child(6) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
            animation: blur-text 1.5s 1s infinite linear alternate;
  }
  .loading-text span:nth-child(7) {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
            animation: blur-text 1.5s 1.2s infinite linear alternate;
  }

  @-webkit-keyframes blur-text {
    0% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
    }
    100% {
      -webkit-filter: blur(4px);
              filter: blur(4px);
    }
  }

  @keyframes blur-text {
    0% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
    }
    100% {
      -webkit-filter: blur(4px);
              filter: blur(4px);
    }
  }
	</style>

  <script type="text/javascript">

    function alertContents() {
      if (httpRequest.readyState === XMLHttpRequest.DONE) {
        if (httpRequest.status === 200) {
          var response = JSON.parse(httpRequest.responseText);
          if ('action' in response && response.action === 'OK') {
            showLinks();
          } else {
            showErros();
          }
        } else {
          showErros();
        }
        hideLoading();
      }
    }

    function hideLoading() {
      var div_loading = document.getElementById("id_loading");
      div_loading.style.display = 'none';
    }

    function showLinks() {
      var div_links = document.getElementById("id_links");
      div_links.style.display = 'block';
    }


    function showErros() {
      var div_erros = document.getElementById("id_erros");
      div_erros.style.display = 'block';
    }

    function ip_auth() {
      httpRequest = new XMLHttpRequest();
      httpRequest.onreadystatechange = alertContents;
      httpRequest.open('GET', '/ajax/router_ip_to_apoio_auth/');
      httpRequest.send();
    }

    document.addEventListener("DOMContentLoaded", function() {
      ip_auth();
    });

  </script>
  {% endif %}

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
  <div class="container-fluid"
    style="background-image: linear-gradient(white,{%if alter_db%}#ff8953{%else%}#f1f1f1{%endif%});">
    <small><a href="{% url 'intranet' %}">Intranet Tussor</a> | <a href="{% url 'apoio_ao_erp' %}">Apoio ao ERP</a></small>
  </div>
  <div style="text-align: center">
    <h3>Para executar o Systêxtil {% if alter_db %}local{% else %}na nuvem{% endif %}</h3>
    <p>Abrir {% if externo %}o link{%else%}um dos links{%endif%} abaixo em nova aba (ou guia):<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<a href="#porque">Porque?</a>}--><br />
      &bullet; Clicando com o botão direito do mouse no link para aparecer um menu com opção de abrir o link em nova aba (ou guia); ou<br />
      &bullet; Fazendo "Control-clique" no link (segura a tecla "Ctrl" e clica normalmente no link) para abrir o link em nova aba (ou guia).<br />
    </p>
    {% if externo %}
    <div id="id_loading" class="loading-base">
      <p>
      <div class="loading">
      	<div class="loading-text">
      		<span class="loading-text-words">L</span>
      		<span class="loading-text-words">O</span>
      		<span class="loading-text-words">A</span>
      		<span class="loading-text-words">D</span>
      		<span class="loading-text-words">I</span>
      		<span class="loading-text-words">N</span>
      		<span class="loading-text-words">G</span>
      	</div>
      </div>
      <p>&nbsp;</p>
      </p>
    </div>
    <div id="id_erros" class="erros" style="font-size: x-large;">
      <p>Erro no carregamento!</p>
    </div>
    {% endif %}
    <div id="id_links" class="links" style="font-size: x-large;">
      {% if externo %}
        {% if alter_db %}
          <p><a href="http://systextil.tussor.com.br:8045/systextil">Link</a></p>
        {% else %}
          <!-- <p><a href="http://oc.tussor.com.br:8345/systextil">Link</a></p> -->
          {% if direto_url %}
            <p><a href="http://tussor.systextil.com.br/systextil">Link</a></p>
          {% else %}
            <p><a href="{% url 'systextil' %}">Systêxtil não acessível no momento (clique para recarregar)</a></p>
          {% endif %}
        {% endif %}
      {% else %}
        {% if alter_db %}
          <p><a href="http://systextil.tussor.com.br/systextil">Link oficial (domínio)</a></p>
          <p><a href="http://192.168.1.45/systextil">Link alternativo (IP)</a></p>
        {% else %}
          {% if vpn_url or vpn_ip or direto_url %}
            {% if vpn_url %}
              <p><a href="http://oc.tussor.com.br/systextil">Link oficial (domínio)</a></p>
            {% endif %}
            {% if vpn_ip %}
              <p><a href="http://10.0.0.4/systextil">Link alternativo (IP)</a></p>
            {% endif %}
            {% if direto_url %}
              <p><a href="http://tussor.systextil.com.br/systextil">Link alternativo (direto na internet)</a></p>
            {% endif %}
          {% else %}
            <p><a href="{% url 'systextil' %}">Systêxtil não acessível no momento (clique para recarregar)</a></p>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
    <hr>
    <h3>Telas de ajuda</h3>
    <p>Control-clique</p>
    <img src="{% static "img/ctrl_left.png" %}" alt="chrome">
    <div id="img_firefox" style="display: none;">
      <p>Clicando com o botão direito no link no Firefox</p>
      <img src="{% static "img/firefox.png" %}" alt="firefox">
    </div>
    <div id="img_chrome" style="display: none;">
      <p>Clicando com o botão direito no link no Chrome</p>
      <img src="{% static "img/chrome.png" %}" alt="chrome">
    </div>
</div>
  <hr>
  <!-- <p id="porque" class="text-align: justify;">Originalmente,
    o link para o "SystêxtilERP",
    encontrado nas páginas da intranet da Tussor,
    abria automaticamente uma nova aba no paginador,
    com a tela de identificação do sistema Systêxtil.
    Esse é um recurso básico para qualquer página da internet,
    porém parou de funcionar especificamente para esse link.
    Não foi possível entender o que causou o problema.
    Provavelmente, foi causado por alguma atualização,
    do sistema Sistêxtil,
    ou dos paginadores homologados (Chrome e Firefox),
    ou dos sistemas operacionais que utilizamos.
    Precisávamos de uma solução.
    A criação desta página com essas instruções foi, na época,
    a única solução que atendia a todas as variações de cenário na Tussor:
    2 sistemas operacionais, em várias versões,
    e 2 paginadores homologados, em várias versões.
  </p> -->
  <script type="text/javascript">
    if (navigator.userAgent.indexOf("Chrome") !== -1){
      document.getElementById("img_chrome").style.display = 'block';
    }
    if (navigator.userAgent.indexOf("Firefox") !== -1){
      document.getElementById("img_firefox").style.display = 'block';
    }
  </script>
</body>
</html>
