<li>Sites de interesse</li>
<ul>
  <li><a href="http://www.receita.fazenda.gov.br/PessoaJuridica/CNPJ/cnpjreva/Cnpjreva_Solicitacao.asp" target="_blank">CNPJ - Consulta de Situação</a></li>
  <li><a href="http://www.sintegra.gov.br/" target="_blank">Sintegra</a></li>
  <li><a href="https://www.sefaz.rs.gov.br/nfe/nfe-val.aspx" target="_blank">Validador de XML de NF-e</a></li>
  <li><a href="https://www.fsist.com.br/converter-xml-nfe-para-danfe" target="_blank">XML para DANFE/DACTE</a></li>
</ul>
<br/>
<li>Sites utilitários</li>
<ul>
  <li><a href="https://www.gs1.org/services/check-digit-calculator" target="_blank">Dígito verificador de (EAN) GTIN</a></li>
  <li>Calculadora de sub-rede IP</li>
  <ul>
    <li><a href="https://www.tunnelsup.com/subnet-calculator/" target="_blank">Subnet Calculator</a></li>
    <li><a href="https://jodies.de/ipcalc" target="_blank">IP Calculator</a></li>
  </ul>
</ul>
