<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<style>
</style>

<p>div</p>
<button onclick="ss('ref')">ord ref</button>
<button onclick="ss('qtd')">ord qtd</button>
<button onclick="console.log(keyCache)">log</button>

<div id="list">
    <div id="iCX001" class="key_ref _ref_CX001 key_qtd _qtd_1245">CX001: 1245</div>
    <div id="iPA002" class="key_ref _ref_PA002 key_qtd _qtd_1345">PA002: 1345</div>
    <div id="iPA001" class="key_ref _ref_PA001 key_qtd _qtd_0245">PA001:  245</div>
    <div id="iCA001" class="key_ref _ref_CA001 key_qtd _qtd_1244">CA001: 1244</div>
    <div id="iSA001" class="key_ref _ref_SA001 key_qtd _qtd_0135">SA001:  135</div>
</div>

<p>table</p>
<button onclick="sortChildren('tlist', 'ref')">ord ref</button>
<button onclick="sortChildren('tlist', 'qtd')">ord qtd</button>
<button onclick="console.log(keyCache)">log</button>

<p>Mostrar: <input id="chk_comprar" type="checkbox" name="chk_comprar" value="chk_comprar" checked>Comprar<br></p>
<div id="algo">algo</div>
<table>
  <thead id="thead">
    <tr><th>ref</th><th align="right">val</th></tr>
  </thead>
  <tbody id="tlist">
    <tr id="tCX001" class="key_ref _ref_CX001 key_qtd _qtd_1245"><td>CX001</td><td align="right">1245</td></tr>
    <tr id="tPA002" class="key_ref _ref_PA002 key_qtd _qtd_1345"><td>PA002</td><td align="right">1345</td></tr>
    <tr id="tPA001" class="key_ref _ref_PA001 key_qtd _qtd_0245"><td>PA001</td><td align="right">245</td></tr>
    <tr id="tCA001" class="key_ref _ref_CA001 key_qtd _qtd_1244"><td>CA001</td><td align="right">1244</td></tr>
    <tr id="tSA001" class="key_ref _ref_SA001 key_qtd _qtd_0135"><td>SA001</td><td align="right">135</td></tr>
  </tbody>
</table>

<p>dinamic table</p>
<table>
  <tbody id="dtlist">
  </tbody>
</table>

<p>table for id sort</p>
<button onclick="sortById('tb1')">ord by id</button>
<table>
  <thead id="th1">
    <tr><th>ref</th><th align="right">val</th></tr>
  </thead>
  <tbody id="tb1">
    <tr id="tCX001"><td>CX001</td><td align="right">ultimo</td></tr>
    <tr id="tPA002"><td>PA002</td><td align="right">1345</td></tr>
    <tr id="tPA001"><td>PA001</td><td align="right">245</td></tr>
    <tr id="tCA001"><td>CA001</td><td align="right">1244</td></tr>
    <tr id="tSA001"><td>SA001</td><td align="right">135</td></tr>
  </tbody>
</table>


<script type="text/javascript">
  var refs = ['asdff', 'qweee'];
  var toAdd = document.getElementById('dtlist');

  for (var i = 0, l = refs.length; i < l; i++) {
    // alert(refs[i]);
    tr = document.createElement('tr');
    td = document.createElement('td');
    text = document.createTextNode(refs[i]);
    td.appendChild(text);
    tr.appendChild(td);
    toAdd.appendChild(tr);
  }

  // console.log('-> load');
  // var kCache = {};
  var keyCache = {};

  function classKeyCache(key, el) {
    var value = getClassKey(el, key);
    if ( !keyCache[key] ) {
      keyCache[key] = {}
    }
    keyCache[key][el.id] = value
    console.log(key+'.'+el.id+': '+value);
    return value;
  }

  function getKeyCache(key, id) {
    if ( keyCache[key] ) {
      return keyCache[key][id];
    }
    return NaN;
  }

  // function classKCache(el) {
  //   // console.log('-> classKCache');
  //   var value = getClassKey(el, 'ref');
  //   kCache[el.id] = value
  //   console.log(el.id+': '+value);
  //   return value;
  // }

  function getClassKey(el, key) {
    // console.log('-> getClasKey '+key);
    var cl = el.classList;
    for (i = 0; i < cl.length; i++) {
      if ( cl[i] == ('key_'+key) ) {
        if ( i++ < cl.length ) {
          cls = cl[i].split('_')
          if ( cls[1] == key ) {
            return cls[2];
          }
        }
      }
    }
    return NaN;
  }

  function ss(sortKey) {
    sortChildren('list', sortKey)
  }

  function sortChildren(parentId, sortKey) {
    // console.log('-> ss');
    var toSort = document.getElementById(parentId).children;
    // console.log(toSort);

    toSort = Array.prototype.slice.call(toSort, 0);

    // toSort.sort(function(a, b) {
    //   return a.id.localeCompare(b.id)
    // });
    toSort.sort(function(a, b) {
      // console.log('-> sortfunc');
      // console.log(a.id);
      // console.log(a.className);
      // console.log(a.classList);
      // console.log(getClassKey(a, 'ref'));
      akey = getKeyCache(sortKey, a.id) || classKeyCache(sortKey, a);
      bkey = getKeyCache(sortKey, b.id) || classKeyCache(sortKey, b);
      // akey = kCache[a.id] || classKCache(a);
      // bkey = kCache[b.id] || classKCache(b);
      // akey = a.id; // keys[a.id] || addKey(a.id, a.class)
      // bkey = b.id; // keys[b.id] || addKey(b.id, b.class)
      // console.log(akey+' '+bkey);
      return akey.localeCompare(bkey)
    });

    // var parent = document.getElementById('list');
    // parent.innerHTML = '';
    //
    // for(var i = 0, l = toSort.length; i < l; i++) {
    //     parent.appendChild(toSort[i]);
    // }
    for (var i = 0, l = toSort.length; i < l; i++) {
        toSort[i].parentNode.appendChild(toSort[i]);
    }

  }

  function sortById(parentId) {

    function displayKey(el) {
      var prekey = '';
      if (el.cells[1].innerHTML == 'ultimo') {
        prekey = 'zzz';
      }
      return prekey+el.id;
    }

    var toSort = document.getElementById(parentId).children;
    toSort = Array.prototype.slice.call(toSort, 0);
    toSort.sort(function(a, b) {
      akey = displayKey(a);
      bkey = displayKey(b);
      return akey.localeCompare(bkey)
    });
    for (var i = 0, l = toSort.length; i < l; i++) {
        toSort[i].parentNode.appendChild(toSort[i]);
    }
  }

  $( document ).ready(function() {

    // var toHide = document.getElementById("tlist").children;
    var toHide = $("#tlist > tr");
    // var algo = document.getElementById("algo");
    var algo = $("#algo");

    // document.getElementById('chk_comprar').onclick = function(){
    $("#chk_comprar").on('change', function () {
      // alert(123);
      if ($(this).is(':checked')) {
        alert('on');
        $('.key_ref._ref_PA002').show();
      } else {
        toHide.each(function(el) {
          console.log(toHide[el]);
          $('.key_ref._ref_PA002').hide();
        });
      }
    });

    console.log( 'ready!' );

    // $('#chk_comprar').change(function() {
    //     if(this.checked) {
    //         var returnVal = confirm("Are you sure?");
    //         // $(this).prop("checked", returnVal);
    //     }
    //     // $('#textbox1').val(this.checked);
    // });

  });
</script>
</body>
</html>
