{% extends 'manutencao/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'manutencao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% load l10n %}
{% load humanize %}
{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  {% if msg_erro %}
    <h4>{{ msg_erro }}</h4>
  {% endif %}
  {% if m_data %}
    <h3>Tipos de máquinas sob responsabilidade de {{ user.first_name }}</h3>
    <table>
      {% include "layout/tbody_generic.html" with fields=m_fields data=m_data style=m_style only %}
    </table>
  {% endif %}
  {% if meses %}
    <h3>Rotinas a executar por período</h3>
    <ul class="nav nav-tabs" id="myTab">
      {% for mes in meses %}
        <li {% if mes.ativa %}class="active"{% endif %}><a data-toggle="tab" href="#{{mes.href}}">{{mes.nome}} ({{mes.ini}} até {{mes.fim}})</a></li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for mes in meses %}
        <div id="{{mes.href}}" class="tab-pane fade{% if mes.ativa %} in active{% endif %}">
          {% if mes.r_data %}
            <table>
              {% include "layout/thead_generic.html" with data=mes.r_headers style=mes.r_style only %}
              {% include "layout/tbody_generic.html" with fields=mes.r_fields data=mes.r_data style=mes.r_style group=mes.r_group only %}
            </table>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
