{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <div class="noprint">
    <form action="{% url 'producao:analise-cd_bonus' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Busca"/>
    </form>
  </div>
  {% include "layout/form_inputs_report.html" with form=form h=5 only %}
  {% include "layout/table_generic.html" with dados=atacado only %}
  <hr>
  {% include "layout/table_generic.html" with dados=varejo only %}
{% endblock %}
