{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'producao:analise_dtcorte_alter' %}" method="post">
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
    {% csrf_token %}
</form>
{% if data_de %}
  <h3>Filtro: Data de Corte/Gargalo de {{ data_de }} até {{ data_ate }}</h3>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <h3>Totais</h3>
  <table>
    {% include "layout/html_thead.html" with data=t_headers only %}
    {% include "layout/html_tbody.html" with fields=t_fields data=t_data only %}
  </table>
  <h3>Detalhes</h3>
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data group=group safe=safe style=style only %}
  </table>
{% endif %}
{% endblock %}
