{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<h4>Considerando "Saldo em depósitos (estoque em expedição)"</h4>
<form action="{% url 'producao:analise_grade_produzir' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" name="busca" value="Busca"/>
</form>
{% if modelo %}
  <h3>Modelo: {{ modelo }} - {{ descr }}</h3>

  {% if msg_erro %}
    <h4>{{ msg_erro }}</h4>
  {% else %}

    {% if colecao %}
      <h4>Coleção: {{ colecao }}</h4>
    {% endif %}

    <table>

      <thead class="layout">
        <tr>
          <th colspan="99">
            <h3>Meta de estoque</h3>
          </th>
        </tr>
      </thead>
      {% if msg_meta_estoque %}
        <thead>
          <tr>
            <th colspan="99">
              <h4>{{ msg_meta_estoque }}</h4>
            </th>
          </tr>
        </thead>
      {% endif %}
      {% if gme %}
        {% include "layout/thead_generic.html" with data=gme.headers style=gme.style only %}
        {% include "layout/tbody_generic.html" with fields=gme.fields data=gme.data style=gme.style only %}
      {% endif %}

      <thead class="layout">
        <tr>
          <th colspan="99">
            <h3>Meta de giro (lead)</h3>
          </th>
        </tr>
      </thead>
      {% if msg_meta_giro %}
        <thead>
          <tr>
            <th colspan="99">
              <h4>{{ msg_meta_giro }}</h4>
            </th>
          </tr>
        </thead>
      {% endif %}
      {% if gmg %}
        {% include "layout/thead_generic.html" with data=gmg.headers style=gmg.style only %}
        {% include "layout/tbody_generic.html" with fields=gmg.fields data=gmg.data style=gmg.style only %}
      {% endif %}

      {% if gm %}
        <thead class="layout">
          <tr>
            <th colspan="99">
              <h3>Total das metas (A)</h3>
            </th>
          </tr>
        </thead>
        {% include "layout/thead_generic.html" with data=gm.headers style=gm.style only %}
        {% include "layout/tbody_generic.html" with fields=gm.fields data=gm.data style=gm.style only %}
      {% endif %}

      {% if gop %}
        {% if goppr %}
          <thead class="layout">
            <tr>
              <th colspan="99">
                <h3>Total em OPs em produção (não no CD)</h3>
              </th>
            </tr>
          </thead>
          {% include "layout/thead_generic.html" with data=goppr.headers style=goppr.style only %}
          {% include "layout/tbody_generic.html" with fields=goppr.fields data=goppr.data style=goppr.style only %}
        {% endif %}
        {% if gopcd %}
          <thead class="layout">
            <tr>
              <th colspan="99">
                <h3>Total em OPs em produção (no CD)</h3>
              </th>
            </tr>
          </thead>
          {% include "layout/thead_generic.html" with data=gopcd.headers style=gopcd.style only %}
          {% include "layout/tbody_generic.html" with fields=gopcd.fields data=gopcd.data style=gopcd.style only %}
        {% endif %}
      {% else %}
        <thead class="layout">
          <tr>
            <th colspan="99">
              <h4>Modelo sem disponibilidade em OPs</h4>
            </th>
          </tr>
        </thead>
      {% endif %}

      {% if gest %}
        <thead class="layout">
          <tr>
            <th colspan="99">
              <h3>Saldo em depósitos (estoque em expedição)</h3>
            </th>
          </tr>
        </thead>
        {% include "layout/thead_generic.html" with data=gest.headers style=gest.style only %}
        {% include "layout/tbody_generic.html" with fields=gest.fields data=gest.data style=gest.style only %}
      {% else %}
        <thead class="layout">
          <tr>
            <th colspan="99">
              <h4>Modelo sem saldo em depósitos (estoque em expedição)</h4>
            </th>
          </tr>
        </thead>
      {% endif %}

      <thead class="layout">
        <tr>
          <th colspan="99">
            {% if gped %}
              <h3><a href="{{gped_header_link}}" target="_blank">Carteira de pedidos<span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></h3>
            {% else %}
              <h3>Carteira de pedidos</h3>
            {% endif %}
            <p>Obs.: Pedidos com data de embarque até: Hoje + <i>lead time</i> do produto + {{ dias_alem_lead }}</p>
          </th>
        </tr>
      </thead>
      {% if gped %}
        {% include "layout/thead_generic.html" with data=gped.headers style=gped.style only %}
        {% include "layout/tbody_generic.html" with fields=gped.fields data=gped.data style=gped.style only %}
      {% else %}
        <thead class="layout">
          <tr>
            <th colspan="99">
              <h4>Modelo sem pedidos</h4>
            </th>
          </tr>
        </thead>
      {% endif %}

      {% if gopp %}
        <thead class="layout">
          <tr>
            <th colspan="99">
              <h3>OPs + Expedição – Pedidos (B)</h3>
            </th>
          </tr>
        </thead>
        {% include "layout/thead_generic.html" with data=gopp.headers style=gopp.style only %}
        {% include "layout/tbody_generic.html" with fields=gopp.fields data=gopp.data style=gopp.style only %}
      {% endif %}

      {% if gex %}
        <thead class="layout">
          <tr>
            <th colspan="99">
              <h3>Excesso (A-B)[-]</h3>
            </th>
          </tr>
        </thead>
        {% include "layout/thead_generic.html" with data=gex.headers style=gex.style only %}
        {% include "layout/tbody_generic.html" with fields=gex.fields data=gex.data style=gex.style only %}
      {% endif %}

      {% if gap %}
        <thead class="layout">
          <tr>
            <th colspan="99">
              <h3>A produzir (A-B)[+]</h3>
            </th>
          </tr>
        </thead>
        {% include "layout/thead_generic.html" with data=gap.headers style=gap.style only %}
        {% include "layout/tbody_generic.html" with fields=gap.fields data=gap.data style=gap.style only %}
      {% endif %}

      {% if glm %}
        <thead class="layout">
          <tr>
            <th colspan="99">
              <h3>A produzir, considerando lote mínimo por tamanho</h3>
            </th>
          </tr>
        </thead>
        {% include "layout/thead_generic.html" with data=glm.headers style=glm.style only %}
        {% include "layout/tbody_generic.html" with fields=glm.fields data=glm.data style=glm.style only %}
      {% endif %}

      {% if glc %}
        <thead class="layout">
          <tr>
            <th colspan="99">
              <h3>A produzir, considerando lote mínimo por cor</h3>
            </th>
          </tr>
        </thead>
        {% include "layout/thead_generic.html" with data=glc.headers style=glc.style only %}
        {% include "layout/tbody_generic.html" with fields=glc.fields data=glc.data style=glc.style only %}
      {% endif %}

    </table>
  {% endif %}
{% endif %}
{% endblock %}
