{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'producao:analise_grade_pedidos' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" name="busca" value="Busca"/>
</form>
{% if deposito is not None %}
  <h3>Depósito: {{ deposito }}</h3>
  {% if data_de or data_ate %}
    <h3>Data de embarque{% if data_de == data_ate %}:
        {{ data_de }}
      {% else %}
        -
        {% if data_de %}
          De: {{ data_de }}
        {% endif %}
        {% if data_ate %}
          Até: {{ data_ate }}
        {% endif %}
      {% endif %}
    </h3>
  {% endif %}

  {% if msg_erro %}
    <h4>{{ msg_erro }}</h4>
  {% else %}

    <h4>Produtos</h4>
    <table>
      {% include "layout/thead_generic.html" with data=headers style=style only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data style=style only %}
    </table>

    <h4>Modelos</h4>
    <table>
      {% include "layout/thead_generic.html" with data=m_headers style=m_style only %}
      {% include "layout/tbody_generic.html" with fields=m_fields data=m_data style=m_style only %}
    </table>

    <h4>Pedidos</h4>
    <table>
      {% include "layout/thead_generic.html" with data=p_headers style=p_style only %}
      {% include "layout/tbody_generic.html" with fields=p_fields data=p_data style=p_style only %}
    </table>

  {% endif %}
{% endif %}
{% endblock %}
