{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
    #myProgress {
      width: 100%;
      visibility: visible;
      background-color: lightgray;
    }
    #myBar {
      width: 1%;
      height: 2px;
      background-color: green;
    }
    .ok {
      color: darkgreen;
    }
  </style>
{% endblock %}

{% block content %}
  {% if msg_erro %}
    <h3>{{ msg_erro }}</h3>
  {% endif %}
  {% if data %}
    <div id="myProgress">
      <div id="myBar"></div>
    </div>
    <table id='produzir'>
      {% include "layout/thead_generic.html" with data=headers style=style thclass='sticky' only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data style=style id_key=id_key only %}
    </table>
  {% endif %}
{% endblock %}

{% block javascript %}
  {% block javascript.pos %}
    <script >

      var total_passos = 0;
      var count_passos = 0;

      var campos = [
        'meta_estoque',
        'meta_giro',
        'meta',
        'inventario',
        'op_andamento',
        'total_op',
        'empenho',
        'pedido',
        'livres',
        'excesso',
        'a_produzir',
        'a_produzir_tam',
        'a_produzir_cor'
      ];

      function moveBar(i, tot) {
        var elem = document.getElementById("myBar");
        let width = 0;
        if (tot != 0) {
          width = parseInt(i * 100 / tot);
          if (tot == i) {
            var prog = document.getElementById("myProgress");
            prog.style.visibility = 'hidden';
          }
        }
        elem.style.width = width + '%';
      }

      function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
      }

      function unformatNumber(num) {
        return num.replace(/\./g, '')
      }

      function set_valores(data, modelo, campo) {
        var val_el = document.querySelectorAll('.'+campo+'-'+modelo)[0];
        val_el.innerHTML = formatNumber(data[campo]);

        var tot_el = document.querySelectorAll('.'+campo+'__total')[0];
        a_produzir__total = parseInt(unformatNumber(tot_el.innerHTML));
        a_produzir__total += data[campo];
        tot_el.innerHTML = formatNumber(a_produzir__total);

      }

      function load_dados_modelo(modelo) {
        console.log('load_dados_modelo', modelo);

        $.ajax({
          type: 'GET',
          url: '/lotes/ajax/produzir_modelo_grade/'+modelo+'/',
          data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
          success : function(data) {
            count_passos += 1;
            moveBar(count_passos, total_passos);
            if (data) {
              if (data['result'] == 'OK') {

                for (var ic=0, lenc=campos.length|0; ic<lenc; ic=ic+1|0) {
                  set_valores(data, modelo, campos[ic]);
                }
                
              } else {
                console.log('Erro: '+data['descricao_erro']);
              }
            } else {
              console.log('Sem retorno de modelo');
            }
          }
        });
      }

      // $(document).ready(function() {
      //   var modelo_els = document.querySelectorAll('.modelo');
      //   total_passos = modelo_els.length
      //   for (var i=0, len=modelo_els.length|0; i<len; i=i+1|0) {
      //     load_dados_modelo(modelo_els[i].innerHTML);
      //   }
      // })
     
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      async function document_ready() {
        var modelo_els = document.querySelectorAll('.modelo');
        total_passos = modelo_els.length
        for (var i=0, len=modelo_els.length|0; i<len; i=i+1|0) {
          load_dados_modelo(modelo_els[i].innerHTML);
          await sleep(2000);
        }
      }

      $(document).ready(document_ready())

    </script>
  {% endblock javascript.pos %}
{% endblock javascript %}
