{% extends 'contabil/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'contabil:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}

    .pagination {
      margin: 5px 0;
    }
  </style>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    function setPageAndSubmit(page) {
      document.getElementById('id_pagina').value = page;
      document.formName.submit();
    }
  </script>
{% endblock %}

{% block content %}
  <form action="{% url 'contabil:busca_nf' %}" method="post" name="formName">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
  </form>
  {% if ref %}
    <h3>referência: {{ ref }}</h3>
  {% endif %}
  {% if msg_erro %}
    <h3>{{ msg_erro }}</h3>
  {% endif %}
  {% if data %}
    {% if data.paginator.num_pages != 1 %}
      <div style="display: table-cell;"> 
        <ul class="pagination">
          {% if data.has_previous %}
            <li><a href="#" onclick="setPageAndSubmit(1)" title="Primeira">&Lang;</a></li>
            <li><a href="#" onclick="setPageAndSubmit({{ data.previous_page_number }})" title="Pág. {{ data.previous_page_number }}">&lang;</a></li>
          {% else %}
            <li class="disabled" title="Primeira"><span>&Lang;</span></li>
            <li class="disabled" title="Anterior"><span>&lang;</span></li>
          {% endif %}
          <li class="page-item active"><span>{{ data.number }}</span></li>
          {% if data.has_next %}
            <li><a href="#" onclick="setPageAndSubmit({{ data.next_page_number }})" title="Pág. {{ data.next_page_number }}">&rang;</a></li>
            <li><a href="#" onclick="setPageAndSubmit({{ data.paginator.num_pages }})" title="Última">&Rang;{{ data.paginator.num_pages }}</a></li>
          {% else %}
            <li class="disabled" title="Próxima"><span>&rang;</span></li>
            <li class="disabled" title="Última"><span>&Rang;</span></li>
          {% endif %}
        </ul>
      </div>
      <div style="display: table-cell; vertical-align: middle;">
        &nbsp;<small>({{por_pagina}} solicitações por página)</small>
      </div>
    {% endif %}
    <table>
      {% include "layout/thead_generic.html" with data=headers style=style thclass='sticky' only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data style=style group=group only %}
    </table>
  {% endif %}
{% endblock %}
