{% extends 'contabil/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'contabil:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'contabil:infadprod' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if erro %}

  <h3>{{ erro }}</h3>

{% elif cliente %}

  <br/>
  Pedido: <b>{{ pedido }}</b>
  <h3>Cliente: {{ cliente }}</h3>
  <a href="{% url 'producao:pedido__get' pedido %}">Informações sobre o pedido</a>
  <h3>{{ titulo }}</h3>
  <table>
    {% include "layout/thead_generic.html" with data=headers style=style only %}
    {% include "layout/tbody_generic.html" with fields=fields data=data group=group style=style only %}
  </table>

{% endif %}
{% endblock %}
