<ul>
  {% if empresa == 'agator' %}
    <li>Folha</li>
    <ul>
      <li><a href="{% url 'contabil:converte' %}">Converte para Systêxtil</a></li>
    </ul>
  {% else %}
    <li>Faturamento</li>
    <ul>
      <li><a href="{% url 'contabil:nota_fiscal' %}">Nota fiscal</a></li>
      <ul>
        <li><a href="{% url 'contabil:busca_nf' %}">Busca NF</a></li>
      </ul>
      <li><a href="{% url 'contabil:infadprod' %}">Itens de pedido</a></li>
      <li>Industrialização</li>
      <ul>
        <li><a href="{% url 'contabil:remeindu' %}">Por OP</a></li>
        <li><a href="{% url 'contabil:remeindunf' %}">Por NF de remessa</a></li>
      </ul>
    </ul>
  {% endif %}
</ul>
