{% extends 'contabil/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'contabil:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <h3>Vídeos</h3>
  {% for video in videos %}
    <p>{{video.file}}</p>
    <video controls width="250"><source src="/media/videos/nasajon/{{video.file}}" type="video/mp4"></video>
    <hr>  
  {% endfor %}
{% endblock %}
