{% extends 'contabil/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'contabil:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <h4>Agenda de treinamento</h4>
  {% for evento in agenda %}
    <hr>  
    <p>{{evento.titulo}}</p>
    {% if evento.files %}
      {% for file in evento.files %}
        <p><a href="/media/videos/nasajon/{{evento.files|get_item:file}}" target="_blank">{{file}}</a></p>
      {% endfor %}
    {% else %}
      <p>Sem vídeo</p>
    {% endif %}
  {% endfor %}
{% endblock %}
