{% extends 'contabil/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'contabil:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'contabil:remeindunf' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if erro %}
  <h3>{{ erro }}</h3>
{% elif data %}
  {% if data_de or faccao or cliente or pedido or pedido_cliente %}
    <h3>Busca por</h3>
  {% endif %}
  {% if data_de or data_ate %}
    <h4>Data da remessa:
    {% if data_de == data_ate %}
      <b>{{ data_de }}</b>
    {% else %}
      {% if data_de %}
        a partir de <b>{{ data_de }}</b>
      {% endif %}
      {% if data_ate %}
        até <b>{{ data_ate }}</b>
      {% endif %}
    {% endif %}
    </h4>
  {% endif %}
  {% if faccao %}
    <h4>Facção: <b>{{ faccao }}</b></h4>
  {% endif %}
  {% if cliente %}
    <h4>Cliente: <b>{{ cliente }}</b></h4>
  {% endif %}
  {% if pedido %}
    <h4>Pedido Tussor: <b>{{ pedido }}</b></h4>
  {% endif %}
  {% if pedido_cliente %}
    <h4>Pedido do cliente: <b>{{ pedido_cliente }}</b></h4>
  {% endif %}
  {% if retorno == 'S' %}
    <h4>Retorno: Só remessas <b>Sem</b> retorno</h4>
  {% endif %}
  {% if retorno == 'C' %}
    <h4>Retorno: Só remessas <b>Com</b> retorno</h4>
  {% endif %}
  {% if data %}
    Total de peças: {{ total_pecas }}
    <table>
      {% include "layout/thead_generic.html" with data=headers style=style only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data group=group safe=safe style=style only %}
    </table>
  {% endif %}
{% endif %}
{% endblock %}
