subgraph cluster_{{bloco.nome}} {
  {% with fluxo_num|add:bloco.alt_incr as alt_num %}
  {% with roteiros|get_item:bloco.nivel as rot_dict %}
  label = <{{bloco.cabecalho|safe}}<br /><br />Alternativa {{alt_num}}: {{alternativas|get_item:alt_num}}<br />Roteiro {{alt_num}}: {{rot_dict|get_item:alt_num}}>
  {% endwith %}
  {% endwith %}
  style=rounded
  {{bloco.nome}} [
    label = <
    <table BORDER="0" CELLPADDING="0" CELLSPACING="0">
    <tr cellpadding="0"><td><u>G</u> </td><td align="left"><u>Estágio</u></td><td><u>Dep.</u></td><td><u>Insumos</u></td></tr>
    {% if bloco.ests %}
      {% for estagio_key in bloco.ests %}{% spaceless %}
        {% with estagios|get_item:estagio_key as est %}
          <tr>
            <td>{% if bloco.gargalo and bloco.gargalo == estagio_key %}#{% endif %}</td>
            <td align="left">{% if est.codigo %}{{est.codigo}}{% else %}{{estagio_key|stringformat:"02d"}}{% endif %}-{{est.descr}}</td>
            <td>{{est.deposito}}</td>
            <td>{% if bloco.insumos %}{% with bloco.insumos|get_item:estagio_key as insumos %}{% spaceless %}
              {% if insumos %}
                <table BORDER="1" CELLPADDING="0" CELLSPACING="0">
                  {% for insumo in insumos %}
                    <tr><td BORDER="0">{{insumo|safe}}</td></tr>
                  {% endfor %}
                </table>
              {% else %}-{% endif %}
              {% endspaceless %}{% endwith %}{% else %}-{% endif %}</td>
          </tr>
        {% endwith %}{% endspaceless %}
      {% endfor %}
    {% else %}
    {% for estagio_key, estagio_data in bloco.estagios.items %}
      {% with estagios|get_item:estagio_key as est %}
      <tr><td>{{estagio_data.0}}</td><td align="left">{% if est.codigo %}{{est.codigo}}{% else %}{{estagio_key|stringformat:"02d"}}{% endif %}-{{est.descr}}</td><td>{{est.deposito}}</td><td>{% if estagio_data.1 %}{% spaceless %}
        <table BORDER="1" CELLPADDING="0" CELLSPACING="0">
          {% for insumo in estagio_data.1 %}
            <tr><td BORDER="0">{{insumo|safe}}</td></tr>
          {% endfor %}
        </table>
        {% endspaceless %}{% else %}-{% endif %}</td></tr>
      {% endwith %}
    {% endfor %}
    {% endif %}
    </table>
    >
  ]
}
