digraph G {
  compound=true
  newrank=true
  rankdir = LR

  labelloc="t"
  label="
    Fluxo {{fluxo_num}} - {{fluxo_nome}}
    Versão {{versao_num}} ({{versao_data}})
    {% if rascunho %}{{rascunho}}
    {% endif %}
    {{produto}}
    {% for caracteristica in caracteristicas %}
    {{caracteristica}}{% endfor %}
  "
  {% if tem_mp %}
  L_MP [shape=rarrow,style=dashed,label="MP"]{% endif %}
  L_MD [shape=rarrow,style=dashed,label="MD"]
  {% if pb or pg %}
  L_PGPB [shape=rarrow,style=dashed,label="{{ seta_pg_label }}"]
  {% endif %}
  L_PA [shape=rarrow,style=dashed,label="PA"]

  {% if tem_mp %}L_MP -> {% endif %}L_MD -> {% if pb or pg %}L_PGPB -> {% endif %}L_PA [style=invis]

  {
    node [
      shape = "note"
    ]

    subgraph cluster_pa {
      label = "{{pa_cabecalho}}"
      style="dotted, rounded"

      {% if pa_de_md %}
        {% include template_bloco with bloco=pa_de_md %}
      {% endif %}

      {% if pa_enc_de_pb %}
        {% include template_bloco with bloco=pa_enc_de_pb %}
      {% endif %}

      {% if pa_emb_de_pg %}
        {% include template_bloco with bloco=pa_emb_de_pg %}
      {% endif %}

      {% if pa_enc_de_pg %}
        {% include template_bloco with bloco=pa_enc_de_pg %}
      {% endif %}

    }

    {% if tem_mp %}
    mpforro [
      label = "Forro - F9999\nFluxo 8"
    ]
    {% endif %}

    {% if md_p_pb or md_p_pg %}
    subgraph cluster_md {
      label = "MD\nDepósito da OP: 231"
      style="dotted, rounded"

      {% if md_p_pb %}
        {% include template_bloco with bloco=md_p_pb %}
      {% endif %}

      {% if md_p_pg %}
        {% include template_bloco with bloco=md_p_pg %}
      {% endif %}

    }
    {% endif %}

    {% if mdext1 %}
      mdext1 [
        label = <{{ mdext1.cabecalho|safe }}>
      ]
    {% endif %}

    {% if mdext2 %}
      mdext2 [
        label = <{{ mdext2.cabecalho|safe }}>
      ]
    {% endif %}

    {% if pb %}
      {% include template_bloco with bloco=pb %}
    {% endif %}

    {% if pg %}
      {% include template_bloco with bloco=pg %}
    {% endif %}

  }

  {% if tem_mp %}
  {rank = same L_MP mpforro}{% endif %}

  {rank = same L_MD{% if md_p_pb %} mdpb{% endif %}{% if md_p_pg %} mdpg{% endif %}{% if mdext1 %} mdext1{% endif %}{% if mdext2 %} mdext2{% endif %}}
  {% if pb or pg %}
  {rank = same L_PGPB{% if pb %} pb1x{% endif %}{% if pg %} pg2x{% endif %}}
  {% endif %}
  {rank = same L_PA pa0x{% if pa_enc_de_pb %} pa1x{% endif %}{% if pa_emb_de_pg %} pa2x{% endif %}{% if pa_enc_de_pg %} pa3x{% endif %}}

  {% if tem_mp %}{% if md_p_pb %}
  mpforro -> mdpb{% endif %}{% if md_p_pg %}
  mpforro -> mdpg{% endif %}
  {% endif %}

  {% if pb and md_p_pb %}mdpb -> pb1x [ltail=cluster_mdpb]{% endif %}
  {% if md_p_pg %}
    {% if pg %}
      mdpg -> pg2x [ltail=cluster_mdpg]
    {% endif %}
  {% else %}
    {% if md_p_pb %}
      {% if pg %}
        mdpb -> pg2x [ltail=cluster_mdpb]
      {% endif %}
    {% endif %}
  {% endif %}
  {% if md_p_pb %}
    {% if md_p_pg %}
      mdpb -> pa0x [ltail=cluster_md]
    {% else %}
      mdpb -> pa0x [ltail=cluster_mdpb]
    {% endif %}
  {% else %}
    {% if md_p_pg %}
      mdpg -> pa0x [ltail=cluster_mdpg]
    {% endif %}
  {% endif %}

  {% if mdext1 %}
    mdext1 -> pa0x
    {% if pb %}
      mdext1 -> pb1x
    {% endif %}
    {% if pg %}
      mdext1 -> pg2x
    {% endif %}
  {% endif %}

  {% if mdext2 %}
    mdext2 -> pa0x
    {% if pb %}
      mdext2 -> pb1x
    {% endif %}
    {% if pg %}
      mdext2 -> pg2x
    {% endif %}
  {% endif %}

  {% if pb and pa_enc_de_pb %}
    pb1x -> pa1x [ltail=cluster_pb1x]
  {% endif %}
  {% if pg %}
    pg2x -> pa2x [ltail=cluster_pg2x]
  {% endif %}
  {% if pa_enc_de_pg %}
    pg2x -> pa3x [ltail=cluster_pg2x]
  {% endif %}

}
