<ul>
  {% if empresa == 'tussor' %}
    <li><a href="{% url 'geral:estagio' %}">Estágios</a></li>
    <li><a href="{% url 'geral:unidade' %}">Unidades / Divisões</a></li>
    <li><a href="{% url 'geral:periodo_confeccao' %}">Períodos de confecção</a></li>
    {% if request.user.is_authenticated %}
      {% if request.user.username == 'anselmo_sis' %}
        <li><a href="{% url 'geral:exec_gera_fluxo' %}">Gera fluxo</a></li>
      {% endif %}
    {% endif %}

    {% if request.user.is_authenticated %}
      <br />
      <li>Configuração</li>
      <ul>
        <li><a href="{% url 'geral:configuracao' %}">Edita</a></li>
      </ul>
    {% endif %}
    {% if list_geral_paineis %}
      <br />
      <li>Paineis</li>
      <ul>
        {% for painel in list_geral_paineis %}
        <li><a href="/geral/painel/{{ painel.slug }}/" target="_blank">{{ painel.nome }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if list_geral_modulos %}
      <br />
      <li><a href="{% url 'geral:resposavel_informativo' %}">Responsáveis por informativo</a></li>
      <li>Manutenção de informativo</li>
      <ul>
        {% for modulo in list_geral_modulos %}
          <li><a href="/geral/informativo/{{ modulo.slug }}/">{{ modulo.nome }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}

  {% if list_geral_pop_assuntos %}
    {% if 'pop_assuntos'|list_geral_filtro:'grupo_slug==' %}
      <br />
      <li>Procedimentos (POPs)</li>
      <ul>
        {% for pop_assunto in 'pop_assuntos'|list_geral_filtro:'grupo_slug==' %}  
          {% if empresa == 'tussor' %}
            {% if pop_assunto.nome != 'Agator' %}
              <li><a href="{% url 'geral:pop' pop_assunto.slug %}">{{ pop_assunto.nome }}</a></li>
            {% endif %}
          {% elif empresa == 'agator' %}
            {% if pop_assunto.nome == 'Agator' %}
              <li><a href="{% url 'geral:pop' pop_assunto.slug %}">{{ pop_assunto.nome }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if empresa == 'tussor' %}
      {% for grupo in 'pop_assuntos_grupos'|list_geral %}
        <br />
        <li>{{grupo.grupo}}</li>
        <ul>
          {% with 'grupo_slug=='|add:grupo.grupo_slug__min as filtro %}
            {% for pop_assunto in 'pop_assuntos'|list_geral_filtro:filtro %}
              <li><a href="{% url 'geral:pop' pop_assunto.slug %}">{{ pop_assunto.nome }}</a></li>
            {% endfor %}
          {% endwith %}
        </ul>
      {% endfor %}
    {% endif %}
  {% endif %}
</ul>
