{% extends extends_html %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="/geral/">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  {% if form %}
    {% if insert %}
      <h3>Inserir</h3>
    {% else %}
      <h3>Editando</h3>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Gravar</button>
      {% if edit %}
        <button type="cancel">Cancelar</button>
      {% endif %}
    </form>
    <hr>
  {% endif %}
  {% if data %}
    <table>
      {% include "layout/html_thead.html" with data=headers only %}
      {% include "layout/tbody_generic.html" with fields=fields data=data only %}
    </table>
  {% else %}
    <h4>Nenhum documento disponível</h4>
  {% endif %}
{% endblock %}
