{% extends 'lotes/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'producao:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'producao:faturavel_modelo' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
  </form>
  {% if form_method == 'POST' %}
    {% include "layout/form_inputs_report.html" with form=form h=4 only %}
    <h4>Ordenado por situação e data de embarque</h4>
    {% if form.considera_lead.value == 's' %}
      <h4>Lead do modelo: {{ lead }}</h4>
      <h4>Data de embarque até: Hoje + lead + {{ dias_alem_lead }}</h4>
    {% endif %}
    {% if dados_pre.data %}
      <table>
        {% include "layout/thead_generic.html" with data=dados_pre.headers style=dados_pre.style thclass='sticky' only %}
        {% include "layout/tbody_generic.html" with fields=dados_pre.fields data=dados_pre.data group=dados_pre.group style=dados_pre.style only %}
      </table>
    {% else %}
      <h3>&nbsp;&nbsp;&nbsp;&nbsp;Pedidos não encontrados</h3>
    {% endif %}
    {% if form.considera_lead.value == 's' %}
      <hr>
      <h4>Data de embarque após: Hoje + lead + {{ dias_alem_lead }}</h4>
      {% if dados_pos.data %}
        <table>
          {% include "layout/thead_generic.html" with data=dados_pos.headers style=dados_pos.style thclass='sticky' only %}
          {% include "layout/tbody_generic.html" with fields=dados_pos.fields data=dados_pos.data group=dados_pos.group style=dados_pos.style only %}
        </table>
      {% else %}
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;Pedidos não encontrados</h3>
      {% endif %}
    {% endif %}
    <hr>
    <h4>Faturados com empenho</h4>
    {% if dados_fat.data %}
      <table>
        {% include "layout/thead_generic.html" with data=dados_fat.headers style=dados_fat.style thclass='sticky' only %}
        {% include "layout/tbody_generic.html" with fields=dados_fat.fields data=dados_fat.data group=dados_fat.group style=dados_fat.style only %}
      </table>
    {% else %}
      <h3>&nbsp;&nbsp;&nbsp;&nbsp;Pedidos não encontrados</h3>
    {% endif %}
  {% endif %}
{% endblock %}
