{% extends 'systextil/index.html' %}

{% block title.content %}{{ block.super }} &rsaquo; {{ titulo }}{% endblock title.content %}

{% block header.content %}{{ block.super }} &rsaquo; <a href="{% url 'systextil:zera_senha' %}">{{ titulo }}</a>{% endblock header.content %}

{% block content %}
  <form action="{% url 'systextil:zera_senha' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Zera"/>
  </form>
  {% if msg %}
    <h4>{{msg}}</h4>
  {% endif %}
{% endblock %}
