{% with field|add:'|LINK' as field_link %}
  {% if row|get_item:field_link %}
    <a href="{{ row|get_item:field_link }}"
    {% with field|add:'|TARGET' as field_target %}
      {% if row|get_item:field_target %}
        target="{{ row|get_item:field_target }}"
      {% endif %}
    {% endwith %}
    >
    {% if row|get_item:field %}
      {% with field|add:'|DECIMALS' as field_decimails %}
        {% with row|get_item:field_decimails as decimails %}
          {% if decimails %}
            {{ row|get_item:field|floatformat:decimails }}
          {% else %}
            {{ row|get_item:field }}
          {% endif %}
        {% endwith %}
      {% endwith %}&nbsp;
    {% endif %}
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
  {% else %}
    {% with field|add:'|DECIMALS' as field_decimails %}
      {% with row|get_item:field_decimails as decimails %}
        {% if decimails %}
          {{ row|get_item:field|floatformat:decimails|transp_decimals|safe }}
        {% else %}
          {{ row|get_item:field }}
        {% endif %}
      {% endwith %}
    {% endwith %}
  {% endif %}
{% endwith %}
