{% with field|add:'|LINK' as field_link %}
  {% if row|get_item:field_link %}
    <a href="{{ row|get_item:field_link }}"{% spaceless %}
    {% with field|add:'|TARGET' as field_target %}
      {% if row|get_item:field_target %}
        target="{{ row|get_item:field_target }}"
      {% endif %}
    {% endwith %}
    {% endspaceless %}>{% spaceless %}
    {% if row|get_item:field %}
      {% include "layout/field_decimals.html" with row=row field=field only %}
    {% endif %}
    {% endspaceless %}<span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
  {% else %}
    {% include "layout/field_decimals.html" with row=row field=field only %}
  {% endif %}
{% endwith %}
