{% with field|add:'|LINK' as field_link %}{% spaceless %}
  {% if row|get_item:field_link %}
    <a href="{{ row|get_item:field_link }}"
    {% with field|add:'|TARGET' as field_target %}
      {% if row|get_item:field_target %}
        target="{{ row|get_item:field_target }}"
      {% endif %}
    {% endwith %}
    >
    {% if row|get_item:field %}
      {% include "layout/field_decimals.html" with row=row field=field count=count decimals=decimals only %}
    {% endif %}
    {% include "layout/field_glyphicon.html" with row=row field=field only %}</a>
  {% else %}
    {% include "layout/field_decimals.html" with row=row field=field count=count decimals=decimals only %}
  {% endif %}
{% endspaceless %}{% endwith %}