<tbody>
{% for row in data %}
  <tr class="group">
  {% for field in fields %}
    {% if field in group %}
      {% if row|get_item:'rowspan' != 0 %}
        <td rowspan="{{ row|get_item:'rowspan' }}">
          {% with field|add:'|LINK' as field_link %}
            {% if row|get_item:field_link %}
              <a href="{{ row|get_item:field_link }}">{{ row|get_item:field }}&nbsp;<span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
            {% else %}
              {{ row|get_item:field }}
            {% endif %}
          {% endwith %}
        </td>
      {% endif %}
    {% else %}
      <td>
        {% if field in safe %}
          {{ row|get_item:field|safe }}
        {% else %}
          {{ row|get_item:field }}
        {% endif %}
      </td>
    {% endif %}
  {% endfor %}
  </tr>
{% endfor %}
</tbody>
