{% load static %}<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>{% block title %}
  {% block title.pre %}Fo2 - {% endblock title.pre %}{% block title.content %}
  {% endblock title.content %}{% block title.pos %}Tussor (cuecas D`UOMO){% endblock title.pos %}
  {% endblock title %}</title>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Base CSS -->
  <link href="{% static "css/base.css" %}" rel="stylesheet">

  {% block stylesheet %}{% endblock %}

</head>
<body>
  <header>
    {% block pageheader %}
    {% endblock %}
  </header>
  <main>
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <big><a href="{% url 'intranet' %}">Intranet</a></big><br />
            <a href="{% url 'apoio_ao_erp' %}">Apoio ao ERP</a> | <a href="{% url 'oficial_systextil' %}" target="_blank"><span class="stnavbar stlogo">Systêxtil<b>ERP</b></span></a>
          </div>
          <div class="col-md-2" align="center">
            Tussor (cuecas D'UOMO)<br />
            {% if request.user.is_authenticated %}Usuário: '{{ request.user.username }}'&nbsp;<a href="{% url 'encerrar' %}">Encerrar sessão</a>{% endif %}
          </div>
          <div class="col-md-5" align="right">
            <small>Versão da Intranet: {{ settings.PROJ_VERSION }} ({{ settings.PROJ_VERSION_DATE }})</small>
            <span style='display:none' id='greasymonkeyverify'><br />Chame o TI da Tussor para atualizar o Firefox e instalar o <a href="https://addons.mozilla.org/pt-BR/firefox/addon/greasemonkey/" target="_blank">Greasemonkey</a> e o script <a href="http://intranet/Tussor_Intranet.user.js" target="_blank">"Tussor_Intranet"</a></span>
            <span style='display:none' id='tampermonkeyverify'><br />Chame o TI da Tussor para atualizar o Chromium ou o Chrome e instalar o <a href="https://chrome.google.com/webstore/search/Tampermonkey?hl=pt-BR" target="_blank">Tampermonkey</a> e o script <a href="http://intranet/Tussor_Fo2_Intranet.user.js" target="_blank">"Tussor_Fo2_Intranet"</a></span>
          </div>
        </div>
      </div>
      <div class="page-header">
        {% block header %}
          {% block header.pre %}<h1>{% endblock header.pre %}{% block header.content %}
          {% endblock header.content %}{% block header.pos %}</h1>{% endblock header.pos %}
        {% endblock %}
      </div>
      {% block content %}
      {% endblock %}
    </div>
  </main>
  {% block footer %}{% endblock %}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- <script src="js/bootstrap.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  {% block javascript %}{% endblock %}
  <script>
    var FIREFOX = /Firefox/i.test(navigator.userAgent);

    if (FIREFOX) {
      document.getElementById("greasymonkeyverify").style.display="inline";
    } else {
      document.getElementById("tampermonkeyverify").style.display="inline";
    }
  </script>
</body>
</html>
