{% load static %}<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

  <title>{% block title %}
  {% block title.pre %}Fo2 - {% endblock title.pre %}{% block title.content %}
  {% endblock title.content %}{% block title.pos %} - Tussor (cuecas D`UOMO){% endblock title.pos %}
  {% endblock title %}</title>

  <!--Chart.js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Base CSS -->
  <link href="{% static "css/base.css" %}" rel="stylesheet">

  {% block stylesheet %}{% endblock %}

</head>
<body>
  <header>
    {% block pageheader %}
    {% endblock %}
  </header>
  <main>
    <div class="container-fluid">
      {% block intranetheader %}
      <div class="noprint">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4">
            <small>
              <a href="{% url 'intranet' %}">Intranet<span class="hidden-xs"> Tussor</span></a><span class="hidden-xs noprint"> | <a href="{% url 'rh:index' %}"><img src="{% static "img/RH_micro.jpg" %}" alt="RH" height="22" width="22"> em ação!</a><br />
              <a href="{% url 'apoio_ao_erp' %}">Apoio ao ERP</a> | <a href="{% url 'systextil' %}"><span class="stnavbar stlogo">Systêxtil<b>ERP</b></span></a></span>
            </small>
          </div>
          <div class="col-xs-2 hidden-xs" align="center">
            <img src="{% static "img/DUOMO_small.png"  height="40" width="176" %}" alt="D'UOMO">
          </div>
          <div class="col-xs-3 visible-xs" align="center">
            <b style="background:#c00c1d;color:white;">&nbsp;D'UOMO&nbsp;</b>
          </div>
          <div class="col-xs-6 hidden-xs" align="right">
            <small>
              {% if request.user.is_authenticated %}{{ request.user.username }} - <a href="{% url 'encerrar' %}">Encerrar sessão</a>{% else %}<a href="{% url 'login' %}?next=/">Identificar-se</a>{% endif %} | <span title="Versão">{{ settings.PROJ_VERSION }} ({{ settings.PROJ_VERSION_DATE }})</span>
              <span style='display:none' id='greasymonkeyverify' title='script monkey verify'>
                <span style='font-size: 0.5em;' class='icon'>
                  <a href='#' onclick='javascript:s_show();'>
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                  </a>
                </span>
                <span style='display:none' class='content'><br />
                  (<a href='#' onclick='javascript:s_hide();'>TI</a>: Instalar o <a href="https://addons.mozilla.org/pt-BR/firefox/addon/greasemonkey/" target="_blank">Greasemonkey</a> e o script <a href="http://intranet/Tussor_Intranet.user.js" target="_blank">"Tussor_Intranet"</a>)
                </span>
              </span>
              <span style='display:none' id='tampermonkeyverify' title='script monkey verify'>
                <span style='font-size: 0.5em;' class='icon'>
                  <a href='#' onclick='javascript:s_show();'>
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                  </a>
                </span>
                <span style='display:none' class='content'><br />
                  (<a href='#' onclick='javascript:s_hide();'>TI</a>: Instalar o <a href="https://chrome.google.com/webstore/search/Tampermonkey?hl=pt-BR" target="_blank">Tampermonkey</a> e o script <a href="http://intranet/Tussor_Fo2_Intranet.user.js" target="_blank">"Tussor_Fo2_Intranet"</a>)
                </span>
              </span>
            </small>
          </div>
          <div class="col-xs-5 visible-xs" align="right">
            <small>
              {% if request.user.is_authenticated %}{{ request.user.username }} <a href="{% url 'encerrar' %}">Logout</a>{% else %}<a href="{% url 'login' %}?next=/">Login</a>{% endif %}
            </small>
          </div>
        </div>
      </div>
    </div>
      {% endblock %}
      {% block advice %}
      {% endblock %}
      {% block divheader %}
      <div class="hidden-xs noprint fo2 page-header">
        {% block header %}
          {% block header.pre %}<h1>{% endblock header.pre %}{% block header.content %}
          {% endblock header.content %}{% block header.pos %}</h1>{% endblock header.pos %}
        {% endblock %}
      </div>
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>
  </main>
  {% block footer %}{% endblock %}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- <script src="js/bootstrap.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  {% block javascript %}{% endblock %}
  <script>
    var FIREFOX = /Firefox/i.test(navigator.userAgent);

    if (FIREFOX) {
      var monkey = document.getElementById("greasymonkeyverify");
    } else {
      var monkey = document.getElementById("tampermonkeyverify");
    }
    monkey.style.display="inline";

    function s_show() {
      monkey.getElementsByClassName('icon')[0].style.display="none";
      monkey.getElementsByClassName('content')[0].style.display="inline";
    }

    function s_hide() {
      monkey.getElementsByClassName('icon')[0].style.display="inline";
      monkey.getElementsByClassName('content')[0].style.display="none";
    }

  </script>
  {% block footer_space %}<p>&nbsp;</p>{% endblock %}
</body>
</html>
