{% load static %}<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- this 3 meta tags *must* come first in the head -->

  <link rel="shortcut icon" href="{% static 'favicon_tussor.ico' %}">

  <title>{% spaceless %}
    {% block title %}
      {% block title.pre %}Fo2 - {% endblock title.pre %}
      {% block title.content %}{% endblock title.content %}
      {% block title.pos %} - Tussor (cuecas D`UOMO){% endblock title.pos %}
    {% endblock title %}
  {% endspaceless %}</title>

  {% block ga %}
    {% include "layout/snippets/ga.html" %}
  {% endblock ga %}

  {% block head.loaders %}
  
  <!--Chart.js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    
  <!-- Base CSS -->
  <link href="{% static "css/base.css" %}" rel="stylesheet">

  {% endblock %}

  <style>
    body {
      padding-top: 55px;
    }
    .navbar {
      min-height: 55px;
      background-image: linear-gradient(white,#f1f1f1);
    }
  </style>
  {% block stylesheet %}
  {% endblock %}

</head>
<body>
  <header>
    {% block pageheader %}{% endblock %}
  </header>
  <main>
    <div class="fullwidth">
      {% block intranetheader %}
        <div class="noprint">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'intranet' %}"><img src="{% static "img/DUOMO_micro.png" %}" height="20" width="88" alt="Intranet cuecas D'UOMO" title="Intranet cuecas D'UOMO"></a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <!-- <li class="active"><a href="#">aLink <span class="sr-only">(current)</span></a></li> -->
                  <li><a href="{% url 'rh:index' %}"><img src="{% static "img/RH_micro.jpg" %}" alt="RH" height="22" width="22" alt="RH em ação!" title="RH em ação!"></a></li>
                  <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a> -->
                    <!-- <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul> -->
                  <!-- </li> -->
                  <li><a href="{% url 'apoio_ao_erp' %}">Apoio</a></li>
                  <li><a target="_blank" href="{% url 'systextil' %}">Systêxtil</a></li>
                </ul>
                <!-- <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form> -->
                <p class="navbar-text">
                  {% block advice %}
                    {% include 'layout/advice.html' %}
                  {% endblock %}
                </p>
                <ul class="nav navbar-nav navbar-right">
                  
                  {% if request.user.is_authenticated %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username }} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/rootadm/password_change/?next={% url 'intranet' %}">Alterar senha</a></li>
                        <li><a href="{% url 'encerrar_intranet' %}">Encerrar</a></li>
                        <!-- <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li> -->
                      </ul>
                    </li>
                  {% else %}
                    <li><a href="{% url 'login' %}?next={% url 'intranet' %}">Identificar-se</a></li>
                  {% endif %}
                  <li><a href="{% url 'base:usuarios' %}"><img title="Lista usuários logados" src="{% static "img/people.svg" %}" alt="people" height="20">{{logged_count}}</a></li>
                  {% if base_ip_interno %}
                    {% if not request.user.is_authenticated %}
                      <li><a href="{% url 'persona:cria_usuario' %}?next={% url 'intranet' %}">Criar conta</a></li>
                    {% endif %}
                  {% endif %}
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
      {% endblock %}
      {% block divheader %}
        <div class="container-fluid">
          <div class="hidden-xs fo2 page-header">
            {% block header %}
              {% block header.pre %}{% endblock header.pre %}{% block header.content %}
              {% endblock header.content %}{% block header.pos %}{% endblock header.pos %}
            {% endblock %}
          </div>
        </div>
      {% endblock %}
      <div class="container-fluid">
      {% block content %}{% endblock %}
      </div>
      <div class="container-fluid noprint">
        <hr style="margin-top: 0px; margin-bottom: 5px;">
      </div>
    </div>
  </main>
  {% block footer %}{% endblock %}
  {% block javascript %}{% endblock %}

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  {% block footer_space %}{% endblock %}
</body>
</html>
