{% load static %}<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <link rel="shortcut icon" href="{%  static 'favicon_tussor.ico' %}">

  <title>{% block title %}
  {% block title.pre %}Fo2 - {% endblock title.pre %}{% block title.content %}
  {% endblock title.content %}{% block title.pos %} - Tussor (cuecas D`UOMO){% endblock title.pos %}
  {% endblock title %}</title>

  {% block ga %}
    {% include "layout/snippets/ga.html" %}
  {% endblock ga %}

  {% block head.loaders %}

  <!--Chart.js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Base CSS -->
  <link href="{% static "css/base.css" %}" rel="stylesheet">

  {% endblock %}

  {% block stylesheet %}{% endblock %}

</head>
<body>
  <header>
    {% block pageheader %}{% endblock %}
  </header>
  <main>
    <div class="fullwidth">
      {% block intranetheader %}
      <div class="noprint">
      <div class="container-fluid"
           style="background-image: linear-gradient(white,{%if alter_db%}#ff8953{%else%}#f1f1f1{%endif%});">
        <div class="row">
          <div class="col-xs-4 col-sm-2 hidden-xs hidden-sm hidden-md">
            <div align="center">
              <img src="{% static "img/DUOMO_small.png"  height="40" width="176" %}" alt="D'UOMO">
            </div>
          </div>
          <div class="col-xs-3 col-sm-2 visible-xs visible-sm visible-md" align="center">
            <div align="center">
              <a href="{% url 'intranet' %}"><img src="{% static "img/DUOMO_micro.png"  height="20" width="88" %}" alt="D'UOMO"></a>
            </div>
          </div>
          <div class="col-xs-3 col-sm-3">
            <small>
              <span class="hidden-xs hidden-sm noprint"><a href="{% url 'intranet' %}">Intranet<span class="hidden-xs hidden-sm hidden-md noprint"></span></a></span>
              <span class="hidden-xs hidden-sm noprint">| <a href="{% url 'rh:index' %}"><img src="{% static "img/RH_micro.jpg" %}" alt="RH" height="22" width="22"><span class="hidden-xs hidden-sm hidden-md noprint"> em ação!</span></a></span>
              {% if request.user.is_authenticated or base_ip_interno %}
                <span class="hidden-xs hidden-sm noprint">|<span class="hidden-xs hidden-sm hidden-md noprint"><br /></span></span>
                <a href="{% url 'apoio_ao_erp' %}">Apoio<span class="hidden-xs hidden-sm hidden-md noprint"> ao ERP</span>{%comment%}{%if alter_db%}(local){%else%}(nuvem){%endif%}{%endcomment%}</a>
                <span class="noprint">| <a target="_blank" href="{% url 'systextil' %}"><span class="stnavbar stlogo">Systêxtil<span class="hidden-xs hidden-sm hidden-md noprint"><b>ERP</b></span></span></a>
                </span>
              {% endif %}
            </small>
          </div>
          <div class="col-sm-5 hidden-xs" align="right">
            {% block advice %}{% endblock %}
          </div>
          <div class="col-sm-2 hidden-xs hidden-sm hidden-md"
               style="text-align: right;">
            <span style="font-size: smaller;">
              {% if request.user.is_authenticated %}{{ request.user.username }} - <a href="{% url 'encerrar' %}">Encerrar</a>{% else %}<a href="{% url 'login' %}?next=/">Identificar-se</a>{% endif %}
              <a href="{% url 'base:usuarios' %}"><img title="Lista usuários logados" src="{% static "img/people.svg" %}" alt="people" height="20">{{logged_count}}</a>
              {% if base_ip_interno %}
                <br />
                {% if not request.user.is_authenticated %}<a href="{% url 'persona:cria_usuario' %}?next=/">Criar conta</a>{% endif %}
              {% endif %}
            </span>
          </div>
          <div class="col-xs-6 col-sm-2 visible-xs visible-sm visible-md"
               style="text-align: right;">
            <span style="font-size: smaller;">
              {% if request.user.is_authenticated %}{{ request.user.username }} <a href="{% url 'encerrar' %}">Logout</a>{% else %}<a href="{% url 'login' %}?next=/">Login</a>{% endif %}
            </span>
          </div>
        </div>
      </div>
      </div>
      {% endblock %}
      {% block divheader %}
      <div class="container-fluid">
      <div class="hidden-xs fo2 page-header">
        {% block header %}
          {% block header.pre %}<h3>{% endblock header.pre %}{% block header.content %}
          {% endblock header.content %}{% block header.pos %}</h3>{% endblock header.pos %}
        {% endblock %}
      </div>
      </div>
      {% endblock %}
      <div class="container-fluid">
      {% block content %}{% endblock %}
      </div>
      <div class="container-fluid noprint">
        <hr style="margin-top: 0px; margin-bottom: 5px;">
        <!-- <div style="width: 100%; text-align: right; font-size: smaller; color: gray;" title="Versão">
          Versão {{ settings.PROJ_VERSION }} ({{ settings.PROJ_VERSION_DATE }})
          <a name="versao"></a>
          <span style='display:none' id='greasymonkeyverify' title='script monkey verify'>
            <span style='font-size: 0.5em;' class='icon'>
              <a href='#versao' onclick='javascript:s_show();'>
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              </a>
            </span>
            <span style='display:none' class='content'><br />
              (<a href='#versao' onclick='javascript:s_hide();'>TI</a>: Instalar o <a href="https://addons.mozilla.org/pt-BR/firefox/addon/greasemonkey/" target="_blank">Greasemonkey</a> e o script <a href="http://intranet/Tussor_Intranet.user.js" target="_blank">"Tussor_Intranet"</a>)
            </span>
          </span>
          <span style='display:none' id='tampermonkeyverify' title='script monkey verify'>
            <span style='font-size: 0.5em;' class='icon'>
              <a href='#versao' onclick='javascript:s_show();'>
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              </a>
            </span>
            <span style='display:none' class='content'><br />
              (<a href='#versao' onclick='javascript:s_hide();'>TI</a>: Instalar o <a href="https://chrome.google.com/webstore/search/Tampermonkey?hl=pt-BR" target="_blank">Tampermonkey</a> e o script <a href="http://intranet/Tussor_Fo2_Intranet.user.js" target="_blank">"Tussor_Fo2_Intranet"</a>)
            </span>
          </span>
        </div> -->
      </div>
    </div>
  </main>
  {% block footer %}{% endblock %}
  {% block javascript %}{% endblock %}
  <script>
    // var FIREFOX = /Firefox/i.test(navigator.userAgent);

    // if (FIREFOX) {
    //   var monkey = document.getElementById("greasymonkeyverify");
    // } else {
    //   var monkey = document.getElementById("tampermonkeyverify");
    // }
    // monkey.style.display="inline";

    // function s_show() {
    //   monkey.getElementsByClassName('icon')[0].style.display="none";
    //   monkey.getElementsByClassName('content')[0].style.display="inline";
    // }

    // function s_hide() {
    //   monkey.getElementsByClassName('icon')[0].style.display="inline";
    //   monkey.getElementsByClassName('content')[0].style.display="none";
    // }

  </script>
  {% block footer_space %}{% endblock %}
</body>
</html>
