{% extends 'layout/layout.html' %}

{% block title.content %}{{ subtitulo }} - {{ titulo }} - Intranet{% endblock title.content %}
{% block header.content %}{{ subtitulo }} - <a href="{{ urltitulo }}">{{ titulo }} - Intranet</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<h3>{{ subtitulo }}</h3>
{% if mensagem %}
  <p>{{ mensagem }}</p>
{% endif %}
<table>
  {% include "layout/html_thead.html" with data=headers only %}
  {% include "layout/html_tbody.html" with fields=fields data=data only %}
</table>
{% endblock %}
