{% extends 'layout/layout.html' %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block title %}{{ subtitulo }} - {{ titulo }} - Intranet - Tussor{% endblock %}

{% block header %}
<h1>{{ subtitulo }} - {{ titulo }} - Intranet - Tussor (cuecas D`UOMO)</h1>
{% endblock %}

{% block content %}
<p><a href="{{ urltitulo }}">{{ titulo }}</a></p>
<h3>{{ subtitulo }}</h3>
{% if mensagem %}
  <p>{{ mensagem }}</p>
{% endif %}
<table>
  {% include "layout/html_thead.html" with data=headers only %}
  {% include "layout/html_tbody.html" with fields=fields data=data only %}
</table>
{% endblock %}
