{% with field|add:'|HOVER' as field_hover %}
  {% if row|get_item:field_hover %}
    <span title="{{ row|get_item:field_hover }}">
  {% endif %}
{% endwith %}

{% if field in safe %}
  {% if field in pre %}<pre>{% endif %}{{ row|get_item:field|safe }}{% if field in pre %}</pre>{% endif %}
{% else %}
  {% if field in pre %}<pre>{% endif %}{% include "layout/html_tbody_fieldlink.html" with row=row field=field count=count decimals=decimals only %}{% if field in pre %}</pre>{% endif %}
{% endif %}

{% with field|add:'|HOVER' as field_hover %}
  {% if row|get_item:field_hover %}
    </span>
  {% endif %}
{% endwith %}
