<tbody>
{% for row in data %}
  {% if not group or group|length_is:"0" %}
    <tr>
  {% else %}
    <tr class="group">
  {% endif %}
  {% for field in fields %}
    {% if group and field in group %}
      {% if row|get_item:'rowspan' != 0 %}
        <td rowspan="{{ row|get_item:'rowspan' }}"
        {% with field|add:'|STYLE' as field_style %}
          {% if row|get_item:field_style %}
            style="{{ row|get_item:field_style }}"
          {% endif %}
        {% endwith %}
        {% if style %}
          {% if style|get_item:forloop.counter %}
            style="{{ style|get_item:forloop.counter }}"
          {% endif %}
        {% endif %}
        >
          {% if field in safe %}
            {{ row|get_item:field|safe }}
          {% else %}
            {% include "layout/html_tbody_fieldlink.html" with row=row field=field only %}
          {% endif %}
        </td>
      {% endif %}
    {% else %}
      <td
      {% with field|add:'|STYLE' as field_style %}
        {% if row|get_item:field_style %}
          style="{{ row|get_item:field_style }}"
        {% endif %}
      {% endwith %}
      {% if style %}
        {% if style|get_item:forloop.counter %}
          style="{{ style|get_item:forloop.counter }}"
        {% endif %}
      {% endif %}
      >
        {% if field in safe %}
          {{ row|get_item:field|safe }}
        {% else %}
          {% include "layout/html_tbody_fieldlink.html" with row=row field=field only %}
        {% endif %}
      </td>
    {% endif %}
  {% endfor %}
  </tr>
{% endfor %}
</tbody>
