<tbody>
{% for row in data %}{% spaceless %}
  {% if not group or group|length_is:"0" %}
    <tr>
  {% else %}
    <tr class="group">
  {% endif %}
  {% for field in fields %}

    {% if group and field in group %}
      {% if row|get_item:'rowspan' != 0 %}
        <td rowspan="{{ row|get_item:'rowspan' }}"
      {% endif %}
    {% else %}
      <td
    {% endif %}
    {% if not group or field not in group or row|get_item:'rowspan' != 0 %}
      {% with field|add:'|CLASS' as field_class %}
        {% if row|get_item:field_class %}
          class="{{ row|get_item:field_class }}"
        {% endif %}
      {% endwith %}
      style="{% spaceless %}
      {% include "layout/tbody_generic_td_style.html" with count=forloop.counter style=style row=row field=field only %}
      {% endspaceless %}">{% spaceless %}
      {% include "layout/tbody_generic_td_content.html" with row=row field=field safe=safe pre=pre count=forloop.counter decimals=decimals only %}
      {% endspaceless %}</td>
    {% endif %}
  {% endfor %}
  </tr>
  {% endspaceless %}
{% endfor %}
</tbody>
