<tbody>
{% for row in data %}{% spaceless %}
  {% if not group or group|length_is:"0" %}
    <tr>
  {% else %}
    <tr class="group">
  {% endif %}
  {% for field in fields %}
    {% if group and field in group %}
      {% if row|get_item:'rowspan' != 0 %}
        <td rowspan="{{ row|get_item:'rowspan' }}" style="{% spaceless %}
          {% include "layout/tbody_generic_td_style.html" with count=forloop.counter style=style row=row field=field only %}
          {% endspaceless %}">{% spaceless %}
          {% include "layout/tbody_generic_td_content.html" with row=row field=field safe=safe only %}
          {% endspaceless %}</td>
      {% endif %}
    {% else %}
      <td style="{% spaceless %}
        {% include "layout/tbody_generic_td_style.html" with count=forloop.counter style=style row=row field=field only %}
        {% endspaceless %}">{% spaceless %}
        {% include "layout/tbody_generic_td_content.html" with row=row field=field safe=safe only %}
        {% endspaceless %}</td>
    {% endif %}
  {% endfor %}
  </tr>
  {% endspaceless %}
{% endfor %}
</tbody>
