{% extends 'produto/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'produto:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="{% url 'produto:gtin_define' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if tipo == 'busca' %}
      <input type="submit" name="busca" value="Busca"/>
    {% else %}
      <input type="submit" name="define" value="Define"/>
    {% endif %}
</form>
{% if ref %}
  <h4>Referência: {{ ref }}</h4>
  <h4>Tamanho: {{ tamanho }}</h4>
  <h4>Cor: {{ cor }}</h4>
  <h4>GTIN: {{ gtin }}</h4>
{% endif %}
{% if msg %}
  <h4>{{ msg }}</h4>
{% endif %}
{% if erro %}
  <h4>{{ erro }}</h4>
{% endif %}
{% endblock %}
