{% extends 'produto/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'produto:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  <h4>Nível: {{ nivel }}</h4>
  <h4>Referência: {{ ref }}</h4>
  <h4>Tamanho: {{ tamanho }}</h4>
  <h4>Cor: {{ cor }}</h4>
  <h4>GTIN: {{ gtin }}</h4>
  <form action="{% url 'produto:gtin_set' '1' ref tamanho cor %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="define" value="Define"/>
  </form>
  {% if prox_tamanho %}
    <p><a href="{% url 'produto:gtin_set' '1' ref prox_tamanho cor %}"><span class="glyphicon glyphicon-search"></span> Busca tamanho {{prox_tamanho}}</a></p>
  {% endif %}
  <p><a href="{% url 'produto:gtin_ref' %}"><span class="glyphicon glyphicon-search"></span> Busca outra referência ou cor</a></p>
  {% if new_gtin %}
    <h4>Novo GTIN: {{ new_gtin }}</h4>
  {% endif %}
  {% if msg %}
    <h4>{{ msg }}</h4>
  {% endif %}
  {% if erro %}
    <h4>{{ erro }}</h4>
  {% endif %}
{% endblock %}
