{% extends 'cd/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'estoque:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if ref %}
  <h4>Referência: {{ ref }}</h4>
{% endif %}
{% if erro %}
  <h4>{{ erro }}</h4>
{% endif %}
{% if ref %}
  <h4>Coleção: {{ colecao }}</h4>
  <h4>Tipo: {{ tipo|upper }}</h4>
  {% if fluxos %}
    <h4>Fluxos</h4>
    <pre>
      {{fluxos}}
    </pre>
    {% if roteiros %}
      <h4>Roteiros</h4>
      <pre>
        {{roteiros}}
      </pre>
      {% if estagios %}
        <h4>Estágios</h4>
        <pre>
          {%for roteiro in roteiros%}
            {{roteiro}}: {{estagios|get_item:roteiro}}{%spaceless%}
          {%endspaceless%}{%endfor%}
        </pre>
      {% else %}
        <h4>Sem roteiros</h4>
      {% endif %}
    {% else %}
      <h4>Sem roteiros</h4>
    {% endif %}
  {% else %}
    <h4>Sem fluxos</h4>
  {% endif %}
{% endif %}
{% endblock %}
