<ul>
  <li><a href="{% url 'produto:ref' %}">Produto</a> (nível 1)</li>
  <ul>
    <li><a href="{% url 'produto:busca' %}">Busca</a></li>
    {% if request.user.is_authenticated %}
      <li><a href="{% url 'produto:estatistica' %}">Estatística</a></li>
    {% endif %}
  </ul>
  <li><a href="{% url 'produto:modelo' %}">Modelo</a> (número do PA)</li>
  <li><a href="{% url 'produto:gtin' %}">GTIN</a></li>
  <li><a href="{% url 'produto:info_xml' %}">Informações p/ NFe XML</a></li>
  <li><a href="{% url 'produto:por_cliente' %}">Por cliente</a></li>
  <li><a href="{% url 'produto:custo' %}">Custo de item</a></li>
  <li><a href="{% url 'produto:custo_ref' %}">Custo de referência</a></li>
  <!-- <li><a href="{% url 'produto:estatistica' %}">Contagem e listagem com informações básicas</a></li>
  <li><a href="{% url 'produto:lista_item_n1_sem_preco_medio' %}">Lista itens de nível 1 sem preço médio</a></li> -->
  <li><a href="{% url 'produto:roteiros_padrao_ref' %}">Roteiros padrão de referência</a></li>
  <li>Verificações de Estruturas</li>
  <ul>
    <li><a href="{% url 'produto:estr_estagio_de_insumo' %}">Estágio de insumo</a></li>
  </ul>
</ul>
