<ul>
  <li><a href="/produto/ref/">Produto</a> (nível 1)</li>
  <ul>
    <li><a href="/produto/lista_produto/">Busca</a></li>
  </ul>
  <li><a href="/produto/modelo/">Modelo</a> (número do PA)</li>
  <!-- <li><a href="/produto/estatistica/">Contagem e listagem com informações básicas</a></li>
  <li><a href="/produto/lista_item_n1_sem_preco_medio/">Lista itens de nível 1 sem preço médio</a></li> -->
  <li>Verificações de Estruturas</li>
  <ul>
    <li><a href="/produto/estr_estagio_de_insumo/">Estágio de insumo</a></li>
  </ul>
</ul>
