<ul>
  <li><a href="{% url 'produto:ref' %}">Produto</a> (nível 1)</li>
  <ul>
    {% if perms.produto.change_fichatecnica %}
      <li><a href="{% url 'intradm:produto_fichatecnica_changelist' %}" target="_blank">Ficha técnica</a></li>
    {% else %}
      <li><a href="{% url 'produto:ficha_tecnica' %}">Ficha técnica</a></li>
    {% endif %}
    <li><a href="{% url 'produto:busca' %}">Busca</a></li>
    <li><a href="{% url 'produto:hist_narrativa' %}">Histórico de narrativa</a></li>
    {% if request.user.is_authenticated %}
      <li><a href="{% url 'produto:estatistica' %}">Estatística</a></li>
    {% endif %}
  </ul>
  <li><a href="{% url 'produto:modelo' %}">Modelo</a> (número do PA)</li>
  <ul>
    <li><a href="{% url 'produto:busca_modelo' %}">Busca</a></li>
  </ul>
  <li>GTIN (EAN13)</li>
  <ul>
    <li><a href="{% url 'produto:gtin_pesquisa' %}">Pesquisa</a></li>
    <li><a href="{% url 'produto:gtin_ref' %}">Busca/Define</a></li>
    <li><a href="{% url 'produto:gtin_log' %}">Log</a></li>
  </ul>
  <li><a href="{% url 'produto:info_xml' %}">Informações p/ NFe XML</a></li>
  <li><a href="{% url 'produto:por_cliente' %}">Por cliente</a></li>
  <li><a href="{% url 'produto:custo' %}">Custo de item</a></li>
  <li><a href="{% url 'produto:custo_ref' %}">Custo de referência</a></li>
  <!-- <li><a href="{% url 'produto:estatistica' %}">Contagem e listagem com informações básicas</a></li>
  <li><a href="{% url 'produto:lista_item_n1_sem_preco_medio' %}">Lista itens de nível 1 sem preço médio</a></li> -->
  <li><a href="{% url 'produto:roteiros_padrao_ref' %}">Roteiros padrão de referência</a></li>
  <li>Verificações de Estruturas</li>
  <ul>
    <li><a href="{% url 'produto:estr_estagio_de_insumo' %}">Estágio de insumo</a></li>
    <li><a href="{% url 'produto:multiplas_colecoes' %}">Múltiplas coleções em modelo</a></li>
  </ul>
  <li>Cadastros</li>
  <ul>
    <li><a href="{% url 'produto:gtinrange_changelist' %}">Range de GTIN</a></li>
  </ul>
</ul>
