{% extends 'layout/layout.html' %}

{% block stylesheet %}
<style>
{% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block title %}Produtos confeccionados - Produto - Intranet - Tussor{% endblock %}

{% block header %}
<h1>Produtos confeccionados - Produto - Intranet - Tussor (cuecas D`UOMO)</h1>
{% endblock %}

{% block content %}
<p><a href="/produto/">Produto</a></p>
<form action="/produto/ref/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Busca"/>
</form>
{% if ref %}
  <h2>Referência {{ ref }}</h2>
{% endif %}
{% if msg_erro %}
  <h3>{{ msg_erro }}</h3>
{% endif %}
{% if data %}
  <table>
    {% include "layout/html_thead.html" with data=headers only %}
    {% include "layout/html_tbody.html" with fields=fields data=data only %}
  </table>
{% endif %}
{% if c_data %}
  <h3>Cores</h3>
  <table>
    {% include "layout/html_thead.html" with data=c_headers only %}
    {% include "layout/html_tbody.html" with fields=c_fields data=c_data only %}
  </table>
{% endif %}
{% endblock %}
