{% extends 'persona/index.html' %}

{% block title.content %}{{ titulo }} - {{ block.super }}{% endblock title.content %}
{% block header.content %}{{ titulo }} - <a href="{% url 'persona:index' %}">{{ block.super }}</a>{% endblock header.content %}

{% block stylesheet %}
<style>
  {% include 'layout/simple_table.css' %}
</style>
{% endblock %}

{% block content %}
  <form action="{% url 'persona:cria_usuario' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {% if erro or cria %}
        <a href="{% url 'persona:cria_usuario' %}">Reinicia</a>
      {% else %}
        {% if busca %}
          <input type="submit" name="verifica" value="Verifica"/>
        {% elif verifica %}
          <input type="submit" name="cria" value="Cria usuário"/>
        {% else %}
          <input type="submit" name="busca" value="Busca"/>
        {% endif %}
      {% endif %}
  </form>
  {% if codigo %}
    <h4>Código digitado: {{ codigo }}</h4>
  {% endif %}
  {% if cpf %}
    <h4>CPF digitado: {{ cpf }}</h4>
  {% endif %}
  {% if erro %}
    <h4>{{ erro }}</h4>
  {% else %}
    {% if trabalhador %}
      <h4>Trabalhador</h4>
      <ul>
        <li>Código: {{ trabalhador.codigo }}</li>
        <li>Nome: {{ trabalhador.nome }}</li>
        <li>CPF!!!!!: {{ trabalhador.cpf }}</li>
      </ul>
    {% endif %}
    {% if cria %}
      <h3>Usuário criado!</h3>
    {% endif %}
  {% endif %}
  {% if login %}
    <h4>Usuário: {{ login }}</h4>
  {% endif %}
  {% if password %}
    <h4>Senha: {{ password }}</h4>
  {% endif %}
{% endblock %}
